Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: deploy-prow_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-genjobs_test-infra_postsubmit, pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, prow: flakey-run, post-test-infra-update-boskos-config, post-test-infra-deploy-boskos, post-test-infra-push-prowbazel, post-istio-test-infra-upload-testgrid-config

deploy-prow_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - prow
      - deploy
      - deploy-gcsweb
      - deploy-build
      - deploy-private
      image: gcr.io/istio-testing/build-tools:master-2020-01-29T14-57-32
      name: ''
  ...

push-authentikos_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - authentikos
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-01-29T14-57-32
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
  ...

push-genjobs_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - prow/genjobs
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-01-29T14-57-32
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
  ...

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20191209-e921905b4
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
      - --strict
  ...

pull-test-infra-check-testgrid-config:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - test
      - prow/config.yaml
      - prow/cluster/jobs
      - testgrid/default.yaml
      - istio

prow: flakey-run:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/test-flakey-builder:v20190611-65b6bb45
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 1000m
        limits:
  ...

post-test-infra-update-boskos-config:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20190125-cc5d6ecff3
      command:
      - make
      args:
      - -C
      - boskos
      - boskos-config

post-test-infra-deploy-boskos:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20190125-cc5d6ecff3
      command:
      - make
      args:
      - -C
      - boskos
      - deploy

post-test-infra-push-prowbazel:
  decorate: true
  labels:
    preset-prow-pusher-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/build-tools:2019-10-18T22-40-12
      command:
      - entrypoint
      args:
      - make
      - -C
      - docker/prowbazel
      - image
      - push-safe
      securityContext:
  ...

Automator: update common-files@master in istio/test-infra@master (#2433)
  Makefile
  common/.commonfiles.sha
Due: none

Disable branch protection istio/envoy@master
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Disable branch protection istio/envoy@master (#2434)
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Revert "Automator: update common-files@master in istio/test-infra@master (#2433)"
  Makefile
  common/.commonfiles.sha
Due: none

Revert "Automator: update build-tools:master (#2432)"
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Fix storage limit in istio/{proxy,envoy}
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.4.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/config/jobs/envoy.yaml
  prow/config/jobs/proxy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert "Automator: update build-tools:master (#2432)" (#2436)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Fix storage limit in istio/{proxy,envoy} (#2437)
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.4.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/config/jobs/envoy.yaml
  prow/config/jobs/proxy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Enable allow_disabled_job_policies for istio/envoy@master
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Automator: update common-files@master in istio/test-infra@master
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/test-infra@master (#2440)
  Makefile
  common/.commonfiles.sha
Due: none

automerge istio/api dependency update PRs
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.5.gen.yaml
  prow/config/jobs/api-1.5.yaml
  prow/config/jobs/api.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

automerge istio/api dependency update PRs (#2443)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.5.gen.yaml
  prow/config/jobs/api-1.5.yaml
  prow/config/jobs/api.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200225-55a0aacbd to v20200226-8b3bfc8b7
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
  prow/config/jobs/community.yaml
Due: deploy-prow_test-infra_postsubmit, pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert "Revert "migrate GitHub reporting from plank to crier (#2254)" (#2333)"
  prow/cluster/crier_deployment.yaml
  prow/cluster/plank_deployment.yaml
Due: deploy-prow_test-infra_postsubmit

Bump prow from v20200225-55a0aacbd to v20200226-8b3bfc8b7 (#2431)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
  prow/config/jobs/community.yaml
Due: deploy-prow_test-infra_postsubmit, pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200226-8b3bfc8b7 to v20200227-045f82e5a
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
  prow/config/jobs/community.yaml
Due: deploy-prow_test-infra_postsubmit, pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200226-8b3bfc8b7 to v20200227-045f82e5a (#2445)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
  prow/config/jobs/community.yaml
Due: deploy-prow_test-infra_postsubmit, pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert "Revert "migrate GitHub reporting from plank to crier (#2254)" (#2333)" (#2335)
  prow/cluster/crier_deployment.yaml
  prow/cluster/plank_deployment.yaml
Due: deploy-prow_test-infra_postsubmit

Add update commonfiles job for istio/proxy
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.5.gen.yaml
  prow/config/jobs/common-files-1.5.yaml
  prow/config/jobs/common-files.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Enable reporting of podinfo to GCS
  prow/cluster/crier_deployment.yaml
  prow/config.yaml
Due: deploy-prow_test-infra_postsubmit, pull-test-infra-prow-checkconfig

Add update commonfiles job for istio/proxy (#2384)
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.5.gen.yaml
  prow/config/jobs/common-files-1.5.yaml
  prow/config/jobs/common-files.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Enable reporting of podinfo to GCS (#2444)
  prow/cluster/crier_deployment.yaml
  prow/config.yaml
Due: deploy-prow_test-infra_postsubmit, pull-test-infra-prow-checkconfig

Enable allow_disabled_job_policies for istio/envoy@master (#2438)
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Genjobs: support reading from a yaml configuration file
  prow/genjobs/cmd/genjobs/main.go
  prow/genjobs/main_test.go
  prow/genjobs/pkg/util/os.go
  prow/genjobs/testdata/config_file/config_file_cfg.yaml
  prow/genjobs/testdata/config_file/config_file_in.yaml
  prow/genjobs/testdata/config_file/config_file_out.yaml
Due: none

Regenerate jobs
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.4.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Genjobs: add yaml configs for istio-private
  Makefile.core.mk
  prow/config/istio-private_jobs/00-clean.yaml
  prow/config/istio-private_jobs/istio.yaml
  prow/config/istio-private_jobs/istio_1.4.yaml
  prow/config/istio-private_jobs/proxy.yaml
  prow/config/istio-private_jobs/proxy_1.4.yaml
  prow/config/istio-private_jobs/release-builder.yaml
  prow/config/istio-private_jobs/release-builder_1.4.yaml
  prow/genjobs/Makefile
  prow/genjobs/gen-private-jobs.sh
Due: push-genjobs_test-infra_postsubmit

Genjobs: support reading from a yaml configuration file(s) (#2446)
  Makefile.core.mk
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.4.yaml
  prow/config/istio-private_jobs/00-clean.yaml
  prow/config/istio-private_jobs/istio.yaml
  prow/config/istio-private_jobs/istio_1.4.yaml
  prow/config/istio-private_jobs/proxy.yaml
  prow/config/istio-private_jobs/proxy_1.4.yaml
  prow/config/istio-private_jobs/release-builder.yaml
  prow/config/istio-private_jobs/release-builder_1.4.yaml
  prow/genjobs/Makefile
  prow/genjobs/cmd/genjobs/main.go
  prow/genjobs/gen-private-jobs.sh
  prow/genjobs/main_test.go
  prow/genjobs/pkg/util/os.go
  prow/genjobs/testdata/config_file/config_file_cfg.yaml
  prow/genjobs/testdata/config_file/config_file_in.yaml
  prow/genjobs/testdata/config_file/config_file_out.yaml
Due: push-genjobs_test-infra_postsubmit, pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

remove benchmark job for 1.4
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Genjobs: version bump; document verbose/configs options
  prow/genjobs/Makefile
  prow/genjobs/README.md
Due: push-genjobs_test-infra_postsubmit

remove benchmark job for 1.4 (#2449)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add experimental build cache
  prow/cluster/build/buildcache.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/generate.go
  prow/config/jobs/istio.yaml
Due: deploy-prow_test-infra_postsubmit, pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Authentikos: use Sprig as the library for template functions
  authentikos/Makefile
  authentikos/README.md
  authentikos/authentikos.go
  authentikos/examples/authentikos-deployment.yaml
  authentikos/examples/authentikos-grandmatriarch-deployment.yaml
  authentikos/go.mod
  authentikos/go.sum
Due: push-authentikos_test-infra_postsubmit

blacklist for private
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/config/istio-private_jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add experimental build cache (#2450)
  prow/cluster/build/buildcache.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/generate.go
  prow/config/istio-private_jobs/istio.yaml
  prow/config/jobs/istio.yaml
Due: deploy-prow_test-infra_postsubmit, pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Genjobs: version bump; document verbose/configs options (#2448)
  prow/genjobs/Makefile
  prow/genjobs/README.md
Due: push-genjobs_test-infra_postsubmit

Fix namespace for cache PV/PVC
  prow/cluster/build/buildcache.yaml
Due: deploy-prow_test-infra_postsubmit

Fix namespace for cache PV/PVC (#2453)
  prow/cluster/build/buildcache.yaml
Due: deploy-prow_test-infra_postsubmit

Fix gopkg path in cache
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/generate.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Authentikos: use Sprig as the library for template functions (#2452)
  authentikos/Makefile
  authentikos/README.md
  authentikos/authentikos.go
  authentikos/examples/authentikos-deployment.yaml
  authentikos/examples/authentikos-grandmatriarch-deployment.yaml
  authentikos/go.mod
  authentikos/go.sum
Due: push-authentikos_test-infra_postsubmit

Path conditions:
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|build/|private/|[^/]+\.yaml$)
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-genjobs_test-infra_postsubmit: any of: ^prow/genjobs/Makefile$
  pull-test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
  post-test-infra-update-boskos-config: any of: ^boskos/resources.yaml$
  post-test-infra-deploy-boskos: any of: ^boskos/cluster/.*\.yaml$
  post-test-infra-push-prowbazel: any of: ^docker/prowbazel/Makefile$
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
