Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, prow: flakey-run

prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml:

presubmits:
  istio/test-infra:

  - name: pull-test-infra-prow-checkconfig
    branches:
      - ^master$
    decorate: true
    run_if_changed: '^prow/(config|plugins|cluster/jobs/.*)\.yaml$'
    spec:
      containers:
      - image: gcr.io/k8s-prow/checkconfig:v20191209-e921905b4
        command:
        - /checkconfig
        args:
        - --config-path=prow/config.yaml
        - --job-config-path=prow/cluster/jobs
        - --plugin-config=prow/plugins.yaml
        - --strict
        - --exclude-warning=mismatched-tide
        - --exclude-warning=non-decorated-jobs


  - name: pull-test-infra-check-testgrid-config
    run_if_changed: '^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$'
    decorate: true
    optional: true
    branches:
    - master
    annotations:
      testgrid-create-test-group: "false"
    spec:
      containers:
      - image: gcr.io/k8s-prow/transfigure
        command:
        - /transfigure.sh
        args:
        - test
        - prow/config.yaml
        - prow/cluster/jobs
        - testgrid/default.yaml
        - istio

  - name: flakey-run
    branches:
      - ^master$
    context: "prow: flakey-run"
    run_if_changed: "flakeyTest/.*"
    optional: true
    decorate: true
    path_alias: istio.io/test-infra
    labels:
      preset-service-account: "true"
    spec:
      containers:
      - image: gcr.io/istio-testing/test-flakey-builder:v20190611-65b6bb45
        # TODO(fejta): not true, remove privileged mode unless actually required
        # Bazel needs privileged mode in order to sandbox builds.
        securityContext:
          privileged: true
        resources:
          requests:
            memory: "512Mi"
            cpu: "1000m"
          limits:
            memory: "24Gi"
            cpu: "1000m"
        command:
        - entrypoint
        - flakeyTest/daily-flakey-test.sh
      nodeSelector:
        testing: test-pool

Bump prow from v20191217-2b88bfc4b to v20191219-ecbeba384
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191217-2b88bfc4b to v20191219-ecbeba384 (#2241)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

pass string pointer to struct
  toolbox/util/githubClient.go
Due: none

Enable multi-namespace test
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/config/jobs/installer.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Change it to support multiple istiocontrolplane
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/config/jobs/installer.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Use istioctl install for standard integ tests
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Remove more removed tests
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Remove more removed tests (#2248)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Use istioctl install for standard integ tests (#2247)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Addition of io_k8s_repos and removal of vendor deps (#2150)
  .bazelversion
  .kazelcfg.json
  BUILD.bazel
  WORKSPACE
  authentikos/BUILD.bazel
  boskos/BUILD.bazel
  boskos/cmd/mason/BUILD.bazel
  boskos/cmd/mason_client/BUILD.bazel
  boskos/gcp/BUILD.bazel
  prow/config/BUILD.bazel
  prow/config/cmd/BUILD.bazel
  prow/genjobs/BUILD.bazel
  prow/genjobs/cmd/genjobs/BUILD.bazel
  prow/genjobs/pkg/util/BUILD.bazel
  repos.bzl
  testgrid/BUILD.bazel
  toolbox/branch_pr/BUILD.bazel
  toolbox/ci2gubernator/BUILD.bazel
  toolbox/deps_update/BUILD.bazel
  toolbox/errorfinder/BUILD.bazel
  toolbox/fixit/BUILD.bazel
  toolbox/githubctl/BUILD.bazel
  toolbox/metrics/BUILD.bazel
  toolbox/metrics/buildfreshness/BUILD.bazel
  toolbox/metrics/cmd/BUILD.bazel
  toolbox/metrics/coverage/BUILD.bazel
  toolbox/metrics/flakes/BUILD.bazel
  toolbox/release_note_collector/BUILD.bazel
  toolbox/timecomparer/BUILD.bazel
  toolbox/util/BUILD.bazel
  tools/github_helper/BUILD.bazel
Due: none

Require TestGrid Presubmit Test
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Add k8s oncall to rerun prow job whitelist
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Add k8s oncall to rerun prow job whitelist (#2250)
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Require TestGrid Presubmit Test (#2249)
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

using standard-32 as a perf cluster
  boskos/resources.yaml
Due: none

Bump prow from v20191219-ecbeba384 to v20191219-b8438ff62
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191219-ecbeba384 to v20191219-b8438ff62 (#2244)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Add peribolos job
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/config/jobs/community.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Inline command
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/config/jobs/community.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

migrate gcsweb
  prow/Makefile
  prow/cluster/gcsweb/README.md
  prow/cluster/gcsweb/gcsweb-istio-io_managedcertificate.yaml
  prow/cluster/gcsweb/gcsweb_deployment.yaml
  prow/cluster/gcsweb/gcsweb_ing.yaml
  prow/cluster/gcsweb/gcsweb_namespace.yaml
  prow/cluster/gcsweb/gcsweb_service.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/private/prow-private-istio-io_managedcertificate.yaml
  prow/config/generate.go
  prow/config/jobs/test-infra.yaml
  sites/istio.io/Makefile
  sites/istio.io/configmap-nginx.yaml
  sites/istio.io/deployment.yaml
  sites/istio.io/gcsweb/Makefile
  sites/istio.io/gcsweb/deployment.yaml
  sites/istio.io/gcsweb/service.yaml
  sites/istio.io/service.yaml
  sites/kube-cert-manager/README.md
  sites/kube-cert-manager/istio.io-cert.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

using standard-32 as a perf cluster (#2251)
  boskos/resources.yaml
Due: none

make gen
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

migrate gcsweb (#2226)
  prow/Makefile
  prow/cluster/gcsweb/README.md
  prow/cluster/gcsweb/gcsweb-istio-io_managedcertificate.yaml
  prow/cluster/gcsweb/gcsweb_deployment.yaml
  prow/cluster/gcsweb/gcsweb_ing.yaml
  prow/cluster/gcsweb/gcsweb_namespace.yaml
  prow/cluster/gcsweb/gcsweb_service.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/private/prow-private-istio-io_managedcertificate.yaml
  prow/config/generate.go
  prow/config/jobs/test-infra.yaml
  sites/istio.io/Makefile
  sites/istio.io/configmap-nginx.yaml
  sites/istio.io/deployment.yaml
  sites/istio.io/gcsweb/Makefile
  sites/istio.io/gcsweb/deployment.yaml
  sites/istio.io/gcsweb/service.yaml
  sites/istio.io/service.yaml
  sites/kube-cert-manager/README.md
  sites/kube-cert-manager/istio.io-cert.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

update build image for client go
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.4.gen.yaml
  prow/config/jobs/client-go-1.4.yaml
  prow/config/jobs/client-go.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

migrate GitHub reporting from plank to crier
  prow/cluster/crier_deployment.yaml
  prow/cluster/plank_deployment.yaml
Due: none

update build image for client go (#2255)
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.4.gen.yaml
  prow/config/jobs/client-go-1.4.yaml
  prow/config/jobs/client-go.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Add peribolos job (#2252)
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/config/jobs/community.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Use multiple comma-delimited dirs in COMPONENT_FILE_DIR
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Removes Cloudfoundry e2e
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Removes Cloudfoundry e2e (#2257)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Support job-level node_selector override in generated jobs
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/config/generate.go
  prow/config/jobs/test-infra.yaml
  prow/config/testdata/simple.gen.yaml
  prow/config/testdata/simple.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Enable inrepoconfig
  .prow.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

add wasm file check job to proxy
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/config/jobs/proxy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

regen
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Support job-level node_selector override in generated jobs (#2258)
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/config/generate.go
  prow/config/jobs/test-infra.yaml
  prow/config/testdata/simple.gen.yaml
  prow/config/testdata/simple.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Enable inrepoconfig (#2259)
  .prow.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Fix automator istio/api update naming
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/config/jobs/api.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Fix inrepoconfig branch declaration
  .prow.yaml
  CODEOWNERS
Due: none

Fix inrepoconfig branch declaration (#2263)
  .prow.yaml
  CODEOWNERS
Due: none
