Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, prow: flakey-run

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20191209-e921905b4
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
      - --strict
  ...

pull-test-infra-check-testgrid-config:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - test
      - prow/config.yaml
      - prow/cluster/jobs
      - testgrid/default.yaml
      - istio

prow: flakey-run:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/test-flakey-builder:v20190611-65b6bb45
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 1000m
        limits:
  ...

Automate `istio/api` cross-repo file generation (#2172)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/config/generate.go
  prow/config/jobs/api.yaml
  tools/automator/automator.sh
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update operator build tools image
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config/jobs/operator.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update operator build tools image (#2220)
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config/jobs/operator.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Authentikos: add grandmatriarch example
  authentikos/Makefile
  authentikos/README.md
  authentikos/authentikos.go
  authentikos/examples/authentikos-grandmatriarch-deployment.yaml
Due: none

Bump prow from v20191213-014dcb6ca to v20191217-e7571bd25
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

update and use gcs.istio.io hostname
  prow/config.yaml
  sites/istio.io/gcsweb/deployment.yaml
Due: pull-test-infra-prow-checkconfig

Bump prow from v20191213-014dcb6ca to v20191217-e7571bd25 (#2224)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update to latest build-tools container (#1880)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tests.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Fix lint (#1964)
  toolbox/githubctl/README.md
Due: none

add initial prow jobs (#1868)
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/config/jobs/installer.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump Prow from v20190924-cb71f84e1 to v20190926-a128cddb1. (#1847)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Kill the master release pipeline (#1955)
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Make release docker credentials not read only (#1974)
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Bump prow from v20191014-5b6eb77e5 to v20191015-68dd384c9 (#1939)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

update decoration timeout overwrite (#1962)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Ensure go.mod is up to date before checkin. (#1886)
  Makefile.core.mk
Due: none

Move remaining istio/istio jobs to the build-tools container. (#1904)
  prow/cluster/jobs/istio/istio/istio.istio.bt.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio-bt.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191015-68dd384c9 to v20191015-dfc1766ef (#1946)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update image for perf and benchmark (#1848)
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.3.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Add an e2e test for release-builder (#1883)
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/jobs/release-builder.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Use latest DIND buld-tools image for CNi (#1846)
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/config/jobs/cni.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191008-bbd30bc09 to v20191010-78fe9feb7 (#1920)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Improve job specs (#1928)
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.3.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/README.md
  prow/config/cmd/generate.go
  prow/config/generate.go
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni-1.3.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio-1.3.yaml
  prow/config/jobs/istio.io-1.3.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator-1.3.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg-1.3.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tests.yaml
  prow/config/jobs/tools.yaml
  prow/config/testdata/simple.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Migrate to default_decoration_configs (#1935)
  go.mod
  go.sum
  prow/config.yaml
  prow/config/config_test.go
Due: pull-test-infra-prow-checkconfig

Add entrypoint for installer (#1869)
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/config/jobs/installer.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191018-2ae771e3e to v20191021-d0a687bb7 (#1975)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191017-af5797562 to v20191018-2ae771e3e (#1963)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Use the DIND image recently built (#1842)
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/config/jobs/cni.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Make rebuilding of containers a bit more aggressive. (#1918)
  prow/cluster/jobs/istio/tools/istio.tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Generated jobs for release-1.4 branch (#1940)
  prow/cluster/jobs/istio/api/istio.api.release-1.4.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.4.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.4.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.4.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.4.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.release-1.4.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.4.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.4.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.release-1.4.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.4.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.4.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.4.gen.yaml
  prow/config/generate.go
  prow/config/jobs/api-1.4.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/client-go-1.4.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni-1.4.yaml
  prow/config/jobs/common-files-1.4.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/gogo-genproto-1.4.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/installer-1.4.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio-1.4.yaml
  prow/config/jobs/istio.io-1.4.yaml
  prow/config/jobs/operator-1.4.yaml
  prow/config/jobs/pkg-1.4.yaml
  prow/config/jobs/release-builder-1.4.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/tools-1.4.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Use docker-capable entrypoint (#1919)
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config/jobs/operator.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191010-78fe9feb7 to v20191011-80f304f54 (#1927)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

fix flaky metrics test (#1968)
  toolbox/metrics/metrics_test.go
Due: none

Update a few things. (#1926)
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.collab-gce-identity.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

run dockerd when building and pushing images. (#1914)
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config/jobs/operator.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Add release trigger (#1944)
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/generate.go
  prow/config/jobs/release-builder.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Trim the set of jobs on istio/istio a bit (#1903)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Add Slack reporter (#1871)
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Don't use custom trigger command (#1864)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.3.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.3.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.3.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.release-1.3.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.3.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/generate.go
  prow/config/generate_test.go
  prow/config/testdata/simple.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Explicitly use cookie-secret flag and fix warning. (#1865)
  prow/cluster/deck_deployment.yaml
Due: none

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
