Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, prow: flakey-run

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20191209-e921905b4
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
      - --strict
  ...

pull-test-infra-check-testgrid-config:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - test
      - prow/config.yaml
      - prow/cluster/jobs
      - testgrid/default.yaml
      - istio

prow: flakey-run:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/test-flakey-builder:v20190611-65b6bb45
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 1000m
        limits:
  ...

Update to latest container. (#1892)
  prow/cluster/jobs/istio/istio/istio.istio.bt.gen.yaml
  prow/config/jobs/istio-bt.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Add "crier" deployment (#1969)
  prow/cluster/crier_deployment.yaml
  prow/cluster/crier_rbac.yaml
Due: none

Use prowbazel:0.5.11 in istio/proxy master and release-1.4. (#1956)
  prow/cluster/jobs/istio/proxy/istio.proxy.master.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.4.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Move more passing jobs to the build-tools container. (#1899)
  prow/cluster/jobs/istio/istio/istio.istio.bt.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio-bt.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Add kind capabilities for multicluster/dashboard (#1897)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Get more repos on the latest container. (#1992)
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/tests.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Move remaining istio/istio jobs to the build-tools container. (#1904)
  prow/cluster/jobs/istio/istio/istio.istio.bt.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio-bt.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Add benchmark test to periodic job (#1909)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Switch all jobs that passed in pre & postsubmits to the build-tools container. (#1894)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Mount docker root (#1977)
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update prowbazel to run as "root" user (#2001)
  docker/prowbazel/Dockerfile
  docker/prowbazel/Makefile
Due: none

set proper start time for three perf related jobs (#2005)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Verify that the release scripts work in istio/proxy presubmits. (#1993)
  prow/cluster/jobs/istio/proxy/istio.proxy.master.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.4.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update this repo's dependencies (#1999)
  go.mod
  go.sum
  licenses/cloud.google.com/go/bigquery/LICENSE
  licenses/cloud.google.com/go/pubsub/LICENSE
  licenses/cloud.google.com/go/storage/LICENSE
  licenses/contrib.go.opencensus.io/exporter/prometheus/LICENSE
  licenses/contrib.go.opencensus.io/exporter/stackdriver/LICENSE
  licenses/dmitri.shuralyov.com/gpu/mtl/LICENSE
  licenses/github.com/census-instrumentation/opencensus-proto/LICENSE
  licenses/github.com/cespare/xxhash/v2/LICENSE.txt
  licenses/github.com/go-gl/glfw/LICENSE
  licenses/github.com/google/addlicense/LICENSE
  licenses/github.com/google/renameio/LICENSE
  licenses/golang.org/x/mod/LICENSE
  licenses/golang.org/x/xerrors/LICENSE
  licenses/knative.dev/pkg/LICENSE
  prow/cmd/genjobs/genjobs.go
  prow/config/config_test.go
  prow/config/generate.go
Due: none

Update perf benchmark periodic job yaml (#2003)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Automator: update istio/test-infra@master
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/.golangci.yml
  common/config/license-lint.yml
  common/scripts/check_clean_repo.sh
  common/scripts/report_build_info.sh
Due: none

Update kubernetes version tests
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Automator: update istio/test-infra@master (#2233)
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/.golangci.yml
  common/config/license-lint.yml
  common/scripts/check_clean_repo.sh
  common/scripts/report_build_info.sh
Due: none

Update release-builder build-tools
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/jobs/release-builder.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update release-builder build-tools (#2235)
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/jobs/release-builder.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update kubernetes version tests (#2234)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Automator: support multiple repos
  tools/automator/automator.sh
Due: none

add job to update commonfiles on postsubmit of common-files
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/config/jobs/common-files.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Automator: add job to update istio.io ref docs nightly
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

migrate velodrome
  prow/Makefile
  prow/cluster/velodrome/velodrome-istio-io_managedcertificate.yaml
  prow/cluster/velodrome/velodrome_ing.yaml
  prow/cluster/velodrome/velodrome_namespace.yaml
  prow/cluster/velodrome/velodrome_service.yaml
Due: none

Remove legacy integration tests
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Remove legacy integration tests (#2237)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update build tools image
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191217-e7571bd25 to v20191217-2b88bfc4b
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191217-e7571bd25 to v20191217-2b88bfc4b (#2239)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Add chases2 to CODEOWNERS
  CODEOWNERS
Due: none

Add chases2 to CODEOWNERS (#2240)
  CODEOWNERS
Due: none

Update build tools image (#2238)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

migrate velodrome (#2236)
  prow/Makefile
  prow/cluster/velodrome/velodrome-istio-io_managedcertificate.yaml
  prow/cluster/velodrome/velodrome_ing.yaml
  prow/cluster/velodrome/velodrome_namespace.yaml
  prow/cluster/velodrome/velodrome_service.yaml
Due: none

update and use gcs.istio.io hostname (#2225)
  prow/config.yaml
  sites/istio.io/gcsweb/deployment.yaml
Due: pull-test-infra-prow-checkconfig

Authentikos: add grandmatriarch example (#2221)
  authentikos/Makefile
  authentikos/README.md
  authentikos/authentikos.go
  authentikos/examples/authentikos-grandmatriarch-deployment.yaml
Due: none

Make cgroup mount readonly
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.3.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.4.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.release-1.4.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.3.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.4.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.release-1.3.gen.yaml
  prow/config/generate.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update goldens
  prow/config/testdata/simple.gen.yaml
Due: none

Make cgroup mount readonly (#2243)
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.3.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.4.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.release-1.4.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.3.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.4.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.release-1.3.gen.yaml
  prow/config/generate.go
  prow/config/testdata/simple.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
