Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, prow: flakey-run

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20191209-e921905b4
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
      - --strict
  ...

pull-test-infra-check-testgrid-config:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - test
      - prow/config.yaml
      - prow/cluster/jobs
      - testgrid/default.yaml
      - istio

prow: flakey-run:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/test-flakey-builder:v20190611-65b6bb45
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 1000m
        limits:
  ...

remove deploy/netlify context from istio-private/istio.io
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

remove deploy/netlify context from istio-private/istio.io (#2200)
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Replace istio-builder with build-tools
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

increase perf timeout for running linkerd tests (#2167)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Replace istio-builder with build-tools (#2201)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191209-e921905b4 to v20191210-5844d8374
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Fix 1.3 proxy branch spec
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.3.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191209-e921905b4 to v20191210-5844d8374 (#2202)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update build-tools to pick up debugabiltiy fixes
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update build-tools to pick up debugabiltiy fixes (#2204)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update 1.17 node image
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Update 1.17 node image (#2205)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

fix make prerequisite retrigger
  prow/Makefile
  prow/Makefile.gcloud.mk
Due: none

Bump istio image
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump istio image (#2208)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Run proxy tests only on release-1.3
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.3.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Run proxy tests only on release-1.3 (#2209)
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.3.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

fix make prerequisite retrigger (#2206)
  prow/Makefile
  prow/Makefile.gcloud.mk
Due: none

Genjobs: support lexicographical job sorting
  prow/genjobs/cmd/genjobs/main.go
  prow/genjobs/main_test.go
  prow/genjobs/testdata/sort_ascending/sort_ascending_in.yaml
  prow/genjobs/testdata/sort_ascending/sort_ascending_out.yaml
  prow/genjobs/testdata/sort_descending/sort_descending_in.yaml
  prow/genjobs/testdata/sort_descending/sort_descending_out.yaml
Due: none

Genjobs: support lexicographical job sorting (#2160)
  prow/genjobs/cmd/genjobs/main.go
  prow/genjobs/main_test.go
  prow/genjobs/testdata/sort_ascending/sort_ascending_in.yaml
  prow/genjobs/testdata/sort_ascending/sort_ascending_out.yaml
  prow/genjobs/testdata/sort_descending/sort_descending_in.yaml
  prow/genjobs/testdata/sort_descending/sort_descending_out.yaml
Due: none

Bump prow from v20191210-5844d8374 to v20191211-cf6fb4d2b
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191210-5844d8374 to v20191211-cf6fb4d2b (#2210)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Automator: simple script to automate cross-repo actions
  tools/automator/automator.sh
Due: none

Genjobs: update docs and dockerize
  Makefile.core.mk
  authentikos/README.md
  prow/Makefile
  prow/genjobs/Dockerfile
  prow/genjobs/Makefile
  prow/genjobs/README.md
  prow/genjobs/gen-private-jobs.sh
  prow/genjobs/pkg/util/strings_test.go
Due: none

Generate authentikos and genjobs image push jobs
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/config/config_test.go
  prow/config/generate.go
  prow/config/jobs/test-infra.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Automator: run for istio/api@master for client-go and istio
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/config/generate.go
  prow/config/jobs/api.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191211-cf6fb4d2b to v20191212-70b0b49fe
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191211-cf6fb4d2b to v20191212-70b0b49fe (#2214)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

fix broken recreate_prow_configmaps.py
  prow/recreate_prow_configmaps.py
Due: none

fix broken recreate_prow_configmaps.py (#2215)
  prow/recreate_prow_configmaps.py
Due: none

Align perf cluster with standard per machine type.
  boskos/resources.yaml
Due: none

add istio/bots policybot deployment postsubmit
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/config/README.md
  prow/config/jobs/bots.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

add istio/bots policybot deployment postsubmit (#2197)
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/config/README.md
  prow/config/jobs/bots.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Remove config for release-1.2
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.2.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.2.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.2.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.2.yaml
  testgrid/default.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191212-70b0b49fe to v20191213-014dcb6ca
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Bump prow from v20191212-70b0b49fe to v20191213-014dcb6ca (#2218)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Enable welcome plugin for istio/test-infra
  prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Remove config for release-1.2 (#2217)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.2.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.2.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.2.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.2.yaml
  testgrid/default.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Genjobs: update docs, create Dockerfile, autodeploy (#2163)
  Makefile.core.mk
  authentikos/README.md
  prow/Makefile
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/config/config_test.go
  prow/config/generate.go
  prow/config/jobs/test-infra.yaml
  prow/genjobs/Dockerfile
  prow/genjobs/Makefile
  prow/genjobs/README.md
  prow/genjobs/gen-private-jobs.sh
  prow/genjobs/pkg/util/strings_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
