Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, prow: flakey-run, post-test-infra-update-boskos-config, post-test-infra-deploy-boskos, post-test-infra-push-prowbazel, post-istio-test-infra-upload-testgrid-config

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
  post-test-infra-update-boskos-config: any of: ^boskos/resources.yaml$
  post-test-infra-deploy-boskos: any of: ^boskos/cluster/.*\.yaml$
  post-test-infra-push-prowbazel: any of: ^docker/prowbazel/Makefile$
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$

Security tests using istioctl (#2283)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update gke version for perf cluster
  boskos/resources.yaml
Due: post-test-infra-update-boskos-config

Update gke version for perf cluster (#2286)
  boskos/resources.yaml
Due: post-test-infra-update-boskos-config

Update build tools
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200117-6b79ed4ed to v20200117-c08038c1c
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
  prow/config/jobs/community.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200117-6b79ed4ed to v20200117-c08038c1c (#2285)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
  prow/config/jobs/community.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

update private proxy build job to use rbe instance in istio-prow-build
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/genjobs/gen-private-jobs.sh
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

update private proxy build job to use rbe instance in istio-prow-build (#2288)
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/genjobs/gen-private-jobs.sh
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

make proxy release test require gcp
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/config/jobs/proxy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update build tools (#2287)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

make proxy release test require gcp (#2290)
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/config/jobs/proxy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add conformance tests to presubmit
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

increase perf test timeout for clientsidecar mode
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

increase perf test timeout for clientsidecar mode (#2293)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add conformance tests to presubmit (#2292)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add distroless integ test, off by default
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add distroless integ test, off by default (#2295)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Remove CNI simple test job
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: keep title and body templates unmodified for subsequents PRs
  tools/automator/automator.sh
Due: none

Automator: keep title and body templates unmodified for subsequents PRs (#2296)
  tools/automator/automator.sh
Due: none

Deck: set SameSite=None on cookies in oauth proxy
  prow/cluster/deck_private_deployment.yaml
Due: none

Kill simple test
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Remove obsolete (duplicated) tests (#2289)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

remove macos as required
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

remove macos as required (#2298)
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Automator: add job to update istio.io ref docs nightly (#2232)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  LICENSE
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

prepare prow on top of master buildtool image
  prow/config/jobs/api-1.5.yaml
  prow/config/jobs/client-go-1.5.yaml
  prow/config/jobs/cni-1.5.yaml
  prow/config/jobs/common-files-1.5.yaml
  prow/config/jobs/gogo-genproto-1.5.yaml
  prow/config/jobs/installer-1.5.yaml
  prow/config/jobs/istio-1.5.yaml
  prow/config/jobs/istio.io-1.5.yaml
  prow/config/jobs/operator-1.5.yaml
  prow/config/jobs/pkg-1.5.yaml
  prow/config/jobs/release-builder-1.5.yaml
  prow/config/jobs/tools-1.5.yaml
Due: none

Run the script instead of doing stuff manually
  prow/config/jobs/api-1.5.yaml
  prow/config/jobs/client-go-1.5.yaml
  prow/config/jobs/cni-1.5.yaml
  prow/config/jobs/common-files-1.5.yaml
  prow/config/jobs/gogo-genproto-1.5.yaml
  prow/config/jobs/installer-1.5.yaml
  prow/config/jobs/istio-1.5.yaml
  prow/config/jobs/istio.io-1.5.yaml
  prow/config/jobs/operator-1.5.yaml
  prow/config/jobs/pkg-1.5.yaml
  prow/config/jobs/proxy-1.5.yaml
  prow/config/jobs/release-builder-1.5.yaml
  prow/config/jobs/tools-1.5.yaml
Due: none

removing installer and operator
  prow/config/jobs/installer-1.5.yaml
  prow/config/jobs/operator-1.5.yaml
Due: none

remove operator/installer ref
  prow/config/jobs/common-files-1.5.yaml
Due: none

run make generate-config
  prow/cluster/jobs/istio/api/istio.api.release-1.5.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.5.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.5.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.5.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.5.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.5.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.5.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.5.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.5.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.5.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

updating default.yaml
  testgrid/default.yaml
Due: pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

fixing
  testgrid/default.yaml
Due: pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

correct master
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

prepare prow on top of master buildtool image (#2301)
  prow/cluster/jobs/istio/api/istio.api.release-1.5.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.5.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.5.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.5.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.5.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.5.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.5.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.5.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.5.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.5.gen.yaml
  prow/config/jobs/api-1.5.yaml
  prow/config/jobs/client-go-1.5.yaml
  prow/config/jobs/cni-1.5.yaml
  prow/config/jobs/common-files-1.5.yaml
  prow/config/jobs/gogo-genproto-1.5.yaml
  prow/config/jobs/istio-1.5.yaml
  prow/config/jobs/istio.io-1.5.yaml
  prow/config/jobs/pkg-1.5.yaml
  prow/config/jobs/proxy-1.5.yaml
  prow/config/jobs/release-builder-1.5.yaml
  prow/config/jobs/tools-1.5.yaml
  testgrid/default.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add 1.5 branch protection
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Fix release branching image
  prow/cluster/jobs/istio/api/istio.api.release-1.5.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.5.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.5.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.5.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.5.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.5.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.5.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.5.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.5.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.5.gen.yaml
  prow/config/cmd/generate.go
  prow/config/generate.go
  prow/config/jobs/api-1.5.yaml
  prow/config/jobs/client-go-1.5.yaml
  prow/config/jobs/cni-1.5.yaml
  prow/config/jobs/common-files-1.5.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/gogo-genproto-1.5.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio-1.5.yaml
  prow/config/jobs/istio.io-1.5.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg-1.5.yaml
  prow/config/jobs/proxy-1.5.yaml
  prow/config/jobs/release-builder-1.5.yaml
  prow/config/jobs/tools-1.5.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#2300)
  LICENSE
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Fix release branching image (#2303)
  prow/cluster/jobs/istio/api/istio.api.release-1.5.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.5.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.5.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.5.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.5.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.5.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.5.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.5.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.5.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.5.gen.yaml
  prow/config/cmd/generate.go
  prow/config/generate.go
  prow/config/jobs/api-1.5.yaml
  prow/config/jobs/client-go-1.5.yaml
  prow/config/jobs/cni-1.5.yaml
  prow/config/jobs/common-files-1.5.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/gogo-genproto-1.5.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio-1.5.yaml
  prow/config/jobs/istio.io-1.5.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg-1.5.yaml
  prow/config/jobs/proxy-1.5.yaml
  prow/config/jobs/release-builder-1.5.yaml
  prow/config/jobs/tools-1.5.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config
