Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, unit-test-authentikos_test-infra, integ-test-authentikos_test-infra, deploy-prow_test-infra_postsubmit, deploy-boskos_test-infra_postsubmit, deploy-boskos-config_test-infra_postsubmit, push-mason_test-infra_postsubmit, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-genjobs_test-infra_postsubmit, pull-test-infra-check-testgrid-config, prow: flakey-run, post-test-infra-update-boskos-config, post-test-infra-deploy-boskos, post-test-infra-push-prowbazel, post-istio-test-infra-upload-testgrid-config

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210426-51fd28eca9
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
  ...

unit-test-authentikos_test-infra:
  decorate: true
  spec:
    containers:
    - command:
      - make
      - -C
      - authentikos
      - unit-test
      image: gcr.io/istio-testing/build-tools:master-2020-09-23T01-42-39
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
  ...

integ-test-authentikos_test-infra:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - authentikos
      - integ-test
      image: gcr.io/istio-testing/build-tools:master-2020-09-23T01-42-39
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

deploy-prow_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - prow
      - deploy
      - deploy-gcsweb
      - deploy-velodrome
      - deploy-monitoring
      - deploy-build
      - deploy-private
  ...

deploy-boskos_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-09-23T01-42-39
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
  ...

deploy-boskos-config_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - boskos-config
      image: gcr.io/istio-testing/build-tools:master-2020-09-23T01-42-39
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

push-mason_test-infra_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - mason-image
      image: gcr.io/istio-testing/build-tools:master-2020-09-23T01-42-39
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
  ...

push-prowbazel_test-infra_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - docker/prowbazel
      - image
      - push-safe
      image: gcr.io/istio-testing/build-tools:master-2020-09-23T01-42-39
      name: ''
      resources:
        limits:
  ...

Automator: update build-tools:master (#3382)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/envoy.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

bump kubernetes versions
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

bump kubernetes versions (#3384)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Remove private patch
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.8.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.9.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.8.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.9.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.8.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.9.gen.yaml
  prow/config/istio-private_jobs/istio.yaml
  prow/config/istio-private_jobs/istio_1.10.yml
  prow/config/istio-private_jobs/istio_1.8.yml
  prow/config/istio-private_jobs/istio_1.9.yml
  prow/config/istio-private_jobs/proxy.yaml
  prow/config/istio-private_jobs/proxy_1.10.yml
  prow/config/istio-private_jobs/proxy_1.8.yml
  prow/config/istio-private_jobs/proxy_1.9.yml
  prow/config/istio-private_jobs/release-builder.yaml
  prow/config/istio-private_jobs/release-builder_1.10.yml
  prow/config/istio-private_jobs/release-builder_1.8.yml
  prow/config/istio-private_jobs/release-builder_1.9.yml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Remove private patch (#3385)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.8.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.9.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.8.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.9.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.8.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.9.gen.yaml
  prow/config/istio-private_jobs/istio.yaml
  prow/config/istio-private_jobs/istio_1.10.yml
  prow/config/istio-private_jobs/istio_1.8.yml
  prow/config/istio-private_jobs/istio_1.9.yml
  prow/config/istio-private_jobs/proxy.yaml
  prow/config/istio-private_jobs/proxy_1.10.yml
  prow/config/istio-private_jobs/proxy_1.8.yml
  prow/config/istio-private_jobs/proxy_1.9.yml
  prow/config/istio-private_jobs/release-builder.yaml
  prow/config/istio-private_jobs/release-builder_1.10.yml
  prow/config/istio-private_jobs/release-builder_1.8.yml
  prow/config/istio-private_jobs/release-builder_1.9.yml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update to use first commit's parent sha to find file differences
  tools/check_release_notes.sh
Due: none

Update build-tools and build-tools-centos images.
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/envoy.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update build-tools and build-tools-centos images. (#3387)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/envoy.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update to use first commit's parent sha to find file differences (#3386)
  tools/check_release_notes.sh
Due: none

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/config/jobs/proxy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#3388)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fix gogo-gen automator job - update repo name
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/config/jobs/gogo-genproto.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automated merging of prow bumping PRs
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Fix gogo-gen automator job - update repo name (#3390)
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/config/jobs/gogo-genproto.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automated merging of prow bumping PRs (#3391)
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.10
  prow/cluster/jobs/istio-private/api/istio-private.api.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.10.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.10.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.10.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.10.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.10.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.10.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.10.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.10.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.10.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.10.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.10.gen.yaml
  prow/config/jobs/api-1.10.yaml
  prow/config/jobs/client-go-1.10.yaml
  prow/config/jobs/common-files-1.10.yaml
  prow/config/jobs/envoy-1.10.yaml
  prow/config/jobs/gogo-genproto-1.10.yaml
  prow/config/jobs/istio-1.10.yaml
  prow/config/jobs/istio.io-1.10.yaml
  prow/config/jobs/pkg-1.10.yaml
  prow/config/jobs/proxy-1.10.yaml
  prow/config/jobs/release-builder-1.10.yaml
  prow/config/jobs/tools-1.10.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.10 (#3392)
  prow/cluster/jobs/istio-private/api/istio-private.api.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.10.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.10.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.10.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.10.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.10.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.10.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.10.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.10.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.10.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.10.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.10.gen.yaml
  prow/config/jobs/api-1.10.yaml
  prow/config/jobs/client-go-1.10.yaml
  prow/config/jobs/common-files-1.10.yaml
  prow/config/jobs/envoy-1.10.yaml
  prow/config/jobs/gogo-genproto-1.10.yaml
  prow/config/jobs/istio-1.10.yaml
  prow/config/jobs/istio.io-1.10.yaml
  prow/config/jobs/pkg-1.10.yaml
  prow/config/jobs/proxy-1.10.yaml
  prow/config/jobs/release-builder-1.10.yaml
  prow/config/jobs/tools-1.10.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master (#3389)
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/config/jobs/proxy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#3379)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Unhide CNI presubmit jobs.
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#3393)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/test-infra@master (#3396)
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Unhide CNI presubmit jobs. (#3394)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#3397)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Bumping Prow (#3395)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#3398)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Explicitly define slack report config in each job
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.7.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.8.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.7.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.8.gen.yaml
  prow/config/generate.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#3400)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#3401)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

add a postsubmit job for security fuzz tests
  prow/config/jobs/istio.yaml
Due: none

make generate-config
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Path conditions:
  pull-test-infra-prow-checkconfig: (any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$) or (any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$)
  unit-test-authentikos_test-infra: any of: ^authentikos/(.+\.go|go\.mod)$
  integ-test-authentikos_test-infra: any of: ^authentikos/(test/.+|.+\.go|go\.mod)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|velodrome/|monitoring/|build/|private/|[^/]+\.yaml$)
  deploy-boskos_test-infra_postsubmit: any of: ^boskos/cluster/.*\.yaml$
  deploy-boskos-config_test-infra_postsubmit: any of: ^boskos/resources.yaml$
  push-mason_test-infra_postsubmit: any of: ^boskos/cmd/mason/.+
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-genjobs_test-infra_postsubmit: any of: ^prow/genjobs/Makefile$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
  post-test-infra-update-boskos-config: any of: ^boskos/resources.yaml$
  post-test-infra-deploy-boskos: any of: ^boskos/cluster/.*\.yaml$
  post-test-infra-push-prowbazel: any of: ^docker/prowbazel/Makefile$
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
