Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-prowgen_test-infra_postsubmit, push-prowtrans_test-infra_postsubmit, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: us-docker.pkg.dev/k8s-infra-prow/images/checkconfig:v20260206-85e3dda3b
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
  ...

push-prowbazel_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - docker/prowbazel
      - image
      - push-safe
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
  ...

push-authentikos_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - authentikos
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

push-prowgen_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - tools/prowgen
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

push-prowtrans_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - tools/prowtrans
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

pull-test-infra-check-testgrid-config:
  decorate: true
  spec:
    automountServiceAccountToken: false
    nodeSelector:
      kubernetes.io/arch: amd64
      testing: test-pool
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230908-12387e8f71
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
  ...

deploy-prow_test-infra_postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    automountServiceAccountToken: false
    containers:
    - command:
      - make
      - -C
      - prow
      - deploy
      - deploy-gcsweb
      - deploy-monitoring
      - deploy-build
      - deploy-private
      - deploy-arm
  ...

post-istio-test-infra-upload-testgrid-config:
  decorate: true
  spec:
    automountServiceAccountToken: false
    serviceAccountName: testgrid-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20240405-c76de01869
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
  ...

touchup
  infra/gcp/istio-prow-build/iam.tf
  infra/gcp/istio-testing/iam.tf
Due: none

fix secrets
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

lint
  tools/prowtrans/cmd/prowtrans/main.go
Due: push-prowtrans_test-infra_postsubmit

add prerelease testing to registry.istio.io
  infra/cf/cncf-istio/main.tf
Due: none

Use s3:// urls for private envoy pulls
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/config/istio-private_jobs/istio.yaml
  prow/config/istio-private_jobs/release-builder.yaml
  prow/config/jobs_test.go
  prow/config/private-presets.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

lint
  common/config/license-lint.yml
  licenses/github.com/imdario/mergo/LICENSE
  licenses/istio.io/test-infra/tools/prowgen/NONE
  licenses/knative.dev/pkg/third_party/mako/LICENSE
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

cleanup
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/config/istio-private_jobs/istio.yaml
  prow/config/istio-private_jobs/release-builder.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5923)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

update PAT expiry
  infra/gcp/istio-prow-build/secrets.tf
Due: none

update PAT expiry (#5926)
  infra/gcp/istio-prow-build/secrets.tf
Due: none

Modify Slack invite link and update comments
  infra/gcp/istio-io/run.tf
Due: none

Modify Slack invite link and update comments (#5927)
  infra/gcp/istio-io/run.tf
Due: none

Use R2 for istio private prow (#5922)
  infra/gcp/istio-prow-private/iam.tf
  prow/cluster/private/kubernetes-external-secrets_deployment.yaml
  prow/cluster/private/kubernetes-external-secrets_rbac.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit

Add R2 secrets for release and prerelease jobs (#5924)
  Makefile.core.mk
  common/config/license-lint.yml
  go.mod
  go.sum
  infra/cf/cncf-istio/main.tf
  infra/gcp/istio-prow-build/iam.tf
  infra/gcp/istio-prow-private/iam.tf
  infra/gcp/istio-testing/iam.tf
  licenses/github.com/imdario/mergo/LICENSE
  licenses/istio.io/test-infra/tools/prowgen/NONE
  licenses/knative.dev/pkg/third_party/mako/LICENSE
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/istio-private_jobs/istio.yaml
  prow/config/istio-private_jobs/release-builder.yaml
  prow/config/jobs/.base.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs_test.go
  prow/config/private-presets.yaml
  tools/prowtrans/cmd/prowtrans/main.go
  tools/prowtrans/pkg/configuration/configuration.go
Due: pull-test-infra-prow-checkconfig, push-prowtrans_test-infra_postsubmit, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5925)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

arm prow pool: drop spot to fix preemption-driven test flakes
  infra/gcp/istio-prow-build/cluster-prow-arm.tf
Due: none

Automator: update build-tools:master
  prow/cluster/cloudflare_rotator_cronjob.yaml
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master (#5933)
  prow/cluster/cloudflare_rotator_cronjob.yaml
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5930)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.29
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.29.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.29.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.29.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.29.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.29.gen.yaml
  prow/config/jobs/api-1.29.yaml
  prow/config/jobs/client-go-1.29.yaml
  prow/config/jobs/common-files-1.29.yaml
  prow/config/jobs/enhancements-1.29.yaml
  prow/config/jobs/istio-1.29.yaml
  prow/config/jobs/istio.io-1.29.yaml
  prow/config/jobs/proxy-1.29.yaml
  prow/config/jobs/release-builder-1.29.yaml
  prow/config/jobs/sail-operator-release-1.29.yaml
  prow/config/jobs/tools-1.29.yaml
  prow/config/jobs/ztunnel-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.30
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.release-1.30.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.30.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.30.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.30.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.30.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.30.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.30.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.30.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.30.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.30.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.30.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.30.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.30.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.30.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.30.gen.yaml
  prow/config/jobs/api-1.30.yaml
  prow/config/jobs/client-go-1.30.yaml
  prow/config/jobs/common-files-1.30.yaml
  prow/config/jobs/enhancements-1.30.yaml
  prow/config/jobs/istio-1.30.yaml
  prow/config/jobs/istio.io-1.30.yaml
  prow/config/jobs/proxy-1.30.yaml
  prow/config/jobs/release-builder-1.30.yaml
  prow/config/jobs/sail-operator-release-1.30.yaml
  prow/config/jobs/tools-1.30.yaml
  prow/config/jobs/ztunnel-1.30.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.30 (#5934)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.release-1.30.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.30.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.30.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.30.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.30.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.30.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.30.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.30.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.30.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.30.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.30.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.30.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.30.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.30.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.30.gen.yaml
  prow/config/jobs/api-1.30.yaml
  prow/config/jobs/client-go-1.30.yaml
  prow/config/jobs/common-files-1.30.yaml
  prow/config/jobs/enhancements-1.30.yaml
  prow/config/jobs/istio-1.30.yaml
  prow/config/jobs/istio.io-1.30.yaml
  prow/config/jobs/proxy-1.30.yaml
  prow/config/jobs/release-builder-1.30.yaml
  prow/config/jobs/sail-operator-release-1.30.yaml
  prow/config/jobs/tools-1.30.yaml
  prow/config/jobs/ztunnel-1.30.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.29 (#5935)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.29.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.29.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.29.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.29.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.29.gen.yaml
  prow/config/jobs/api-1.29.yaml
  prow/config/jobs/client-go-1.29.yaml
  prow/config/jobs/common-files-1.29.yaml
  prow/config/jobs/enhancements-1.29.yaml
  prow/config/jobs/istio-1.29.yaml
  prow/config/jobs/istio.io-1.29.yaml
  prow/config/jobs/proxy-1.29.yaml
  prow/config/jobs/release-builder-1.29.yaml
  prow/config/jobs/sail-operator-release-1.29.yaml
  prow/config/jobs/tools-1.29.yaml
  prow/config/jobs/ztunnel-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#5932)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Add integ-gateway-api-only prow job
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

make gen
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

prow: add optional IPv6 docs CI job for istio.io
  prow/config/jobs/istio.io.yaml
Due: none

remove presubmit_skipped
  prow/config/jobs/istio.io.yaml
Due: none

prow: add optional IPv6 docs CI job for istio.io (#5936)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Switch integ-gateway-api-only to presubmit_optional
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

test args from prow config instead
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

start with aws
  infra/aws/istio/eks.tf
  infra/aws/istio/iam.tf
  infra/aws/istio/main.tf
  infra/aws/istio/providers.tf
  infra/aws/istio/secrets.tf
  infra/aws/istio/vpc.tf
Due: none

Automator: update build-tools:release-1.28
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.28.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.28.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.28.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.28.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.28.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.28.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.28.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.28.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.28.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.28.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.28.gen.yaml
  prow/config/jobs/api-1.28.yaml
  prow/config/jobs/client-go-1.28.yaml
  prow/config/jobs/common-files-1.28.yaml
  prow/config/jobs/enhancements-1.28.yaml
  prow/config/jobs/istio-1.28.yaml
  prow/config/jobs/istio.io-1.28.yaml
  prow/config/jobs/proxy-1.28.yaml
  prow/config/jobs/release-builder-1.28.yaml
  prow/config/jobs/sail-operator-release-1.28.yaml
  prow/config/jobs/tools-1.28.yaml
  prow/config/jobs/ztunnel-1.28.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.28 (#5939)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.28.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.28.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.28.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.28.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.28.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.28.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.28.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.28.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.28.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.28.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.28.gen.yaml
  prow/config/jobs/api-1.28.yaml
  prow/config/jobs/client-go-1.28.yaml
  prow/config/jobs/common-files-1.28.yaml
  prow/config/jobs/enhancements-1.28.yaml
  prow/config/jobs/istio-1.28.yaml
  prow/config/jobs/istio.io-1.28.yaml
  prow/config/jobs/proxy-1.28.yaml
  prow/config/jobs/release-builder-1.28.yaml
  prow/config/jobs/sail-operator-release-1.28.yaml
  prow/config/jobs/tools-1.28.yaml
  prow/config/jobs/ztunnel-1.28.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-prowgen_test-infra_postsubmit: any of: ^tools/prowgen/.*$
  push-prowtrans_test-infra_postsubmit: any of: ^tools/prowtrans/.*$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|monitoring/|build/|private/|arm/|private-arm/|[^/]+\.yaml$)
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
