Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, unit-test-authentikos_test-infra, integ-test-authentikos_test-infra, deploy-prow_test-infra_postsubmit, deploy-boskos_test-infra_postsubmit, deploy-boskos-config_test-infra_postsubmit, push-mason_test-infra_postsubmit, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-genjobs_test-infra_postsubmit, pull-test-infra-check-testgrid-config, prow: flakey-run, post-test-infra-update-boskos-config, post-test-infra-deploy-boskos, post-test-infra-push-prowbazel, post-istio-test-infra-upload-testgrid-config

Path conditions:
  pull-test-infra-prow-checkconfig: (any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$) or (any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$)
  unit-test-authentikos_test-infra: any of: ^authentikos/(.+\.go|go\.mod)$
  integ-test-authentikos_test-infra: any of: ^authentikos/(test/.+|.+\.go|go\.mod)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|velodrome/|monitoring/|build/|private/|[^/]+\.yaml$)
  deploy-boskos_test-infra_postsubmit: any of: ^boskos/cluster/.*\.yaml$
  deploy-boskos-config_test-infra_postsubmit: any of: ^boskos/resources.yaml$
  push-mason_test-infra_postsubmit: any of: ^boskos/cmd/mason/.+
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-genjobs_test-infra_postsubmit: any of: ^prow/genjobs/Makefile$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
  post-test-infra-update-boskos-config: any of: ^boskos/resources.yaml$
  post-test-infra-deploy-boskos: any of: ^boskos/cluster/.*\.yaml$
  post-test-infra-push-prowbazel: any of: ^docker/prowbazel/Makefile$
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$

Multiple distinct gcr.io/k8s-prow/ changes: (#3330)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add a periodic job to assist in measuring test stability
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

add testgrid
  testgrid/config.yaml
Due: none

Add a periodic job to assist in measuring test stability (#3344)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
  testgrid/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update master istio.io automated job to use master istio repo.
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update master istio.io automated job to use master istio repo. (#3345)
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add periodic tests for dedicated n2 and e2 nodes
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Add periodic tests for dedicated n2 and e2 nodes (#3347)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update common-files and fix lint failure
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
  prow/config/generate.go
Due: none

Update common-files and fix lint failure (#3350)
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
  prow/config/generate.go
Due: none

Automator: update build-tools:master
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/envoy.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#3351)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master (#3349)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/envoy.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Skip release test
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Skip release test (#3352)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#3353)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#3355)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update build-tools:master (#3354)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/envoy.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert "Skip release test (#3352)"
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert "Skip release test (#3352)" (#3356)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Disable go cache
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.9.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.9.gen.yaml
  prow/config/jobs/istio-1.10.yaml
  prow/config/jobs/istio-1.9.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Disable go cache (#3357)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.9.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.9.gen.yaml
  prow/config/jobs/istio-1.10.yaml
  prow/config/jobs/istio-1.9.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert "Disable go cache (#3357)"
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.9.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.9.gen.yaml
  prow/config/jobs/istio-1.10.yaml
  prow/config/jobs/istio-1.9.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Pin IPv6 jobs to ubuntu nodes
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.9.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.9.gen.yaml
  prow/config/jobs/istio-1.10.yaml
  prow/config/jobs/istio-1.9.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

fix dupe key
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.10.gen.yaml
  prow/config/jobs/istio-1.10.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Pin IPv6 jobs to ubuntu nodes (#3359)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.9.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.9.gen.yaml
  prow/config/jobs/istio-1.10.yaml
  prow/config/jobs/istio-1.9.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert "Disable go cache (#3357)" (#3360)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.9.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.9.gen.yaml
  prow/config/jobs/istio-1.10.yaml
  prow/config/jobs/istio-1.9.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Undo some changes to test regression
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.9.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.9.gen.yaml
  prow/config/jobs/istio-1.10.yaml
  prow/config/jobs/istio-1.9.yaml
  prow/config/jobs/istio.yaml
  testgrid/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Undo some changes to test regression (#3361)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.9.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.10.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.9.gen.yaml
  prow/config/jobs/istio-1.10.yaml
  prow/config/jobs/istio-1.9.yaml
  prow/config/jobs/istio.yaml
  testgrid/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#3362)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master (#3363)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/envoy.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config
