Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-prowgen_test-infra_postsubmit, push-prowtrans_test-infra_postsubmit, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config, post-istio-test-infra-gencred-refresh-kubeconfig

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-prowgen_test-infra_postsubmit: any of: ^tools/prowgen/.*$
  push-prowtrans_test-infra_postsubmit: any of: ^tools/prowtrans/.*$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|monitoring/|build/|private/|[^/]+\.yaml$)
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  post-istio-test-infra-gencred-refresh-kubeconfig: any of: ^prow/cluster/gencred-config/

sinker: grant WI to prow-control-plane
  infra/gcp/istio-testing/iam.tf
  prow/cluster/sinker_rbac.yaml
Due: deploy-prow_test-infra_postsubmit

Use new proxy override path
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.16.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.17.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.18.gen.yaml
  prow/config/istio-private_jobs/proxy-1.16.yaml
  prow/config/istio-private_jobs/proxy-1.17.yaml
  prow/config/istio-private_jobs/proxy-1.18.yaml
  prow/config/istio-private_jobs/proxy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

infra: prow needs create access to prow buckets
  infra/gcp/istio-prow-private/storage.tf
Due: none

Private: fix envoy URL
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.18.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.16.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.17.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.18.gen.yaml
  prow/config/private-presets.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Sync old branches with new changes in release-builder
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.16.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.17.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.18.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.18.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.16.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.17.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.18.gen.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/release-builder-1.16.yaml
  prow/config/jobs/release-builder-1.17.yaml
  prow/config/jobs/release-builder-1.18.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

gen
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.16.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.17.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.18.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Sync old branches with new changes in release-builder (#4853)
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.16.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.17.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.18.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.18.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.16.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.17.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.18.gen.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/release-builder-1.16.yaml
  prow/config/jobs/release-builder-1.17.yaml
  prow/config/jobs/release-builder-1.18.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

infra: prow needs create access to prow buckets (#4858)
  infra/gcp/istio-prow-private/storage.tf
Due: none

Private: fix envoy URL (#4859)
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.18.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.16.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.17.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.18.gen.yaml
  prow/config/private-presets.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Cleanup legacy release secrets
  prow/cluster/build/kubernetes_external_secrets.yaml
  prow/config/jobs/api-1.16.yaml
  prow/config/jobs/api-1.17.yaml
  prow/config/jobs/api-1.18.yaml
  prow/config/jobs/client-go-1.16.yaml
  prow/config/jobs/client-go-1.17.yaml
  prow/config/jobs/client-go-1.18.yaml
  prow/config/jobs/common-files-1.16.yaml
  prow/config/jobs/common-files-1.17.yaml
  prow/config/jobs/common-files-1.18.yaml
  prow/config/jobs/enhancements-1.16.yaml
  prow/config/jobs/enhancements-1.17.yaml
  prow/config/jobs/enhancements-1.18.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.io-1.16.yaml
  prow/config/jobs/istio.io-1.17.yaml
  prow/config/jobs/istio.io-1.18.yaml
  prow/config/jobs/pkg-1.16.yaml
  prow/config/jobs/pkg-1.17.yaml
  prow/config/jobs/pkg-1.18.yaml
  prow/config/jobs/proxy-1.16.yaml
  prow/config/jobs/proxy-1.17.yaml
  prow/config/jobs/proxy-1.18.yaml
  prow/config/jobs/release-builder-1.16.yaml
  prow/config/jobs/release-builder-1.17.yaml
  prow/config/jobs/release-builder-1.18.yaml
  prow/config/jobs/tools-1.16.yaml
  prow/config/jobs/tools-1.17.yaml
  prow/config/jobs/tools-1.18.yaml
  prow/config/jobs/ztunnel-1.18.yaml
  prow/config/jobs_test.go
Due: deploy-prow_test-infra_postsubmit

Cleanup legacy requirements
  prow/config/jobs/api-1.16.yaml
  prow/config/jobs/api-1.17.yaml
  prow/config/jobs/api-1.18.yaml
  prow/config/jobs/client-go-1.16.yaml
  prow/config/jobs/client-go-1.17.yaml
  prow/config/jobs/client-go-1.18.yaml
  prow/config/jobs/common-files-1.16.yaml
  prow/config/jobs/common-files-1.17.yaml
  prow/config/jobs/common-files-1.18.yaml
  prow/config/jobs/enhancements-1.16.yaml
  prow/config/jobs/enhancements-1.17.yaml
  prow/config/jobs/enhancements-1.18.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.io-1.16.yaml
  prow/config/jobs/istio.io-1.17.yaml
  prow/config/jobs/istio.io-1.18.yaml
  prow/config/jobs/pkg-1.16.yaml
  prow/config/jobs/pkg-1.17.yaml
  prow/config/jobs/pkg-1.18.yaml
  prow/config/jobs/proxy-1.16.yaml
  prow/config/jobs/proxy-1.17.yaml
  prow/config/jobs/proxy-1.18.yaml
  prow/config/jobs/release-builder-1.16.yaml
  prow/config/jobs/release-builder-1.17.yaml
  prow/config/jobs/release-builder-1.18.yaml
  prow/config/jobs/tools-1.16.yaml
  prow/config/jobs/tools-1.17.yaml
  prow/config/jobs/tools-1.18.yaml
  prow/config/jobs/ztunnel-1.18.yaml
Due: none

Bumping Prow (#4861)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

fmt
  prow/config/jobs_test.go
Due: none

jobs: cleanup legacy secret-mounting job configs (#4862)
  prow/cluster/build/kubernetes_external_secrets.yaml
  prow/config/jobs/api-1.16.yaml
  prow/config/jobs/api-1.17.yaml
  prow/config/jobs/api-1.18.yaml
  prow/config/jobs/client-go-1.16.yaml
  prow/config/jobs/client-go-1.17.yaml
  prow/config/jobs/client-go-1.18.yaml
  prow/config/jobs/common-files-1.16.yaml
  prow/config/jobs/common-files-1.17.yaml
  prow/config/jobs/common-files-1.18.yaml
  prow/config/jobs/enhancements-1.16.yaml
  prow/config/jobs/enhancements-1.17.yaml
  prow/config/jobs/enhancements-1.18.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.io-1.16.yaml
  prow/config/jobs/istio.io-1.17.yaml
  prow/config/jobs/istio.io-1.18.yaml
  prow/config/jobs/pkg-1.16.yaml
  prow/config/jobs/pkg-1.17.yaml
  prow/config/jobs/pkg-1.18.yaml
  prow/config/jobs/proxy-1.16.yaml
  prow/config/jobs/proxy-1.17.yaml
  prow/config/jobs/proxy-1.18.yaml
  prow/config/jobs/release-builder-1.16.yaml
  prow/config/jobs/release-builder-1.17.yaml
  prow/config/jobs/release-builder-1.18.yaml
  prow/config/jobs/tools-1.16.yaml
  prow/config/jobs/tools-1.17.yaml
  prow/config/jobs/tools-1.18.yaml
  prow/config/jobs/ztunnel-1.18.yaml
  prow/config/jobs_test.go
Due: deploy-prow_test-infra_postsubmit

Drop github permissions
  infra/gcp/istio-testing/iam.tf
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/kubernetes_external_secrets.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Use new proxy override path (#4857)
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.16.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.17.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.18.gen.yaml
  prow/config/istio-private_jobs/proxy-1.16.yaml
  prow/config/istio-private_jobs/proxy-1.17.yaml
  prow/config/istio-private_jobs/proxy-1.18.yaml
  prow/config/istio-private_jobs/proxy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Move community job to trusted cluster
  prow/cluster/build/kubernetes_external_secrets.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Remove external secrets deployment
  prow/cluster/arm/kubernetes-external-secrets_crd.yaml
  prow/cluster/arm/kubernetes-external-secrets_deployment.yaml
  prow/cluster/arm/kubernetes-external-secrets_rbac.yaml
  prow/cluster/arm/kubernetes-external-secrets_service.yaml
  prow/cluster/arm/kubernetes_external_secrets.yaml
  prow/cluster/build/kubernetes-external-secrets_crd.yaml
  prow/cluster/build/kubernetes-external-secrets_deployment.yaml
  prow/cluster/build/kubernetes-external-secrets_rbac.yaml
  prow/cluster/build/kubernetes-external-secrets_service.yaml
  prow/cluster/build/kubernetes_external_secrets.yaml
Due: deploy-prow_test-infra_postsubmit

Move policy bot deployer to trusted cluster and scoped SA
  infra/gcp/istio-testing/iam.tf
  infra/gcp/istio-testing/main.tf
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/prowjob_service_accounts.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Drop benchmark-report service account
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Move everything off prowjob-advanced-sa
  infra/gcp/istio-prow-build/iam.tf
  prow/cluster/arm/prowjob_service_accounts.yaml
  prow/cluster/build/prowjob_service_accounts.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.18.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.16.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.17.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.18.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.18.gen.yaml
  prow/cluster/prowjob_service_accounts.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy-1.16.yaml
  prow/config/jobs/proxy-1.17.yaml
  prow/config/jobs/proxy-1.18.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/ztunnel-1.18.yaml
  prow/config/jobs/ztunnel.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Give trusted cluster access
  infra/gcp/istio-prow-build/iam.tf
  infra/gcp/modules/workload-identity-service-account/main.tf
  infra/gcp/modules/workload-identity-service-account/variables.tf
Due: none

Update accounts
  infra/gcp/istio-testing/iam.tf
  prow/cluster/arm/prowjob_service_accounts.yaml
  prow/cluster/build/prowjob_service_accounts.yaml
  prow/cluster/prowjob_service_accounts.yaml
Due: deploy-prow_test-infra_postsubmit

Fix tests
  prow/config/config_test.go
  prow/config/jobs_test.go
Due: none

Minimize GitHub permissions (#4863)
  infra/gcp/istio-testing/iam.tf
  prow/cluster/arm/kubernetes-external-secrets_crd.yaml
  prow/cluster/arm/kubernetes-external-secrets_deployment.yaml
  prow/cluster/arm/kubernetes-external-secrets_rbac.yaml
  prow/cluster/arm/kubernetes-external-secrets_service.yaml
  prow/cluster/arm/kubernetes_external_secrets.yaml
  prow/cluster/build/kubernetes-external-secrets_crd.yaml
  prow/cluster/build/kubernetes-external-secrets_deployment.yaml
  prow/cluster/build/kubernetes-external-secrets_rbac.yaml
  prow/cluster/build/kubernetes-external-secrets_service.yaml
  prow/cluster/build/kubernetes_external_secrets.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/kubernetes_external_secrets.yaml
  prow/config/config_test.go
  prow/config/jobs/community.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Cleanup obsolete target 'deploy-arm-private'
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Migrate jobs off prowjob-advanced-sa (#4864)
  infra/gcp/istio-prow-build/iam.tf
  infra/gcp/istio-testing/iam.tf
  infra/gcp/istio-testing/main.tf
  infra/gcp/modules/workload-identity-service-account/main.tf
  infra/gcp/modules/workload-identity-service-account/variables.tf
  prow/cluster/arm/prowjob_service_accounts.yaml
  prow/cluster/build/prowjob_service_accounts.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.18.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.16.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.17.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.18.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.18.gen.yaml
  prow/cluster/prowjob_service_accounts.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy-1.16.yaml
  prow/config/jobs/proxy-1.17.yaml
  prow/config/jobs/proxy-1.18.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/ztunnel-1.18.yaml
  prow/config/jobs/ztunnel.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Fix prow-controller-manager lock permission
  prow/cluster/prow-controller-manager.yaml
Due: deploy-prow_test-infra_postsubmit

tf: remove legacy ABAC
  infra/gcp/istio-testing/cluster-prow.tf
Due: none

sinker: grant WI to prow-control-plane (#4856)
  infra/gcp/istio-testing/iam.tf
  prow/cluster/sinker_rbac.yaml
Due: deploy-prow_test-infra_postsubmit

deck-private: allow prowjob watch
  prow/cluster/deck_private_rbac.yaml
Due: deploy-prow_test-infra_postsubmit

Fix prow-controller-manager lock permission (#4866)
  prow/cluster/prow-controller-manager.yaml
Due: deploy-prow_test-infra_postsubmit

Bumping Prow (#4869)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Cleanup obsolete target 'deploy-arm-private' (#4865)
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

tf: remove legacy ABAC (#4867)
  infra/gcp/istio-testing/cluster-prow.tf
Due: none

Automator: update build-tools:master
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none
