Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-prowgen_test-infra_postsubmit, push-prowtrans_test-infra_postsubmit, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config, post-istio-test-infra-gencred-refresh-kubeconfig

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20220223-a7c3ef700d
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
  ...

push-prowbazel_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - docker/prowbazel
      - image
      - push-safe
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
  ...

push-authentikos_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - authentikos
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

push-prowgen_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - tools/prowgen
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

push-prowtrans_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - tools/prowtrans
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

pull-test-infra-check-testgrid-config:
  decorate: true
  spec:
    automountServiceAccountToken: false
    nodeSelector:
      kubernetes.io/arch: amd64
      testing: test-pool
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230613-9df263832f
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
  ...

deploy-prow_test-infra_postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    automountServiceAccountToken: false
    containers:
    - command:
      - make
      - -C
      - prow
      - deploy
      - deploy-gcsweb
      - deploy-monitoring
      - deploy-build
      - deploy-private
      - deploy-arm
      - deploy-arm-private
  ...

post-istio-test-infra-upload-testgrid-config:
  decorate: true
  spec:
    serviceAccountName: testgrid-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20221102-8efc754883
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
      - --prow-config=prow/config.yaml
  ...

jobs: drop permissions on release-builder (#4805)
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.16.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.17.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.18.gen.yaml
  prow/config/jobs/release-builder-1.16.yaml
  prow/config/jobs/release-builder-1.17.yaml
  prow/config/jobs/release-builder-1.18.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Fix some incorrect job tests (#4810)
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Move release-notes job to fine scoped github token (#4809)
  infra/gcp/istio-prow-build/secrets.tf
  prow/cluster/build/prowjob_service_accounts.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.16.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.17.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.18.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.18.gen.yaml
  prow/config/jobs/.base.yaml
  prow/config/jobs/api-1.16.yaml
  prow/config/jobs/api-1.17.yaml
  prow/config/jobs/api-1.18.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs_test.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.experimental-ambient.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio-ambient.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Move to revamped release notes tool
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.16.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.17.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.18.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.18.gen.yaml
  prow/config/jobs/api-1.16.yaml
  prow/config/jobs/api-1.17.yaml
  prow/config/jobs/api-1.18.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#4814)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Move to revamped release notes tool (#4812)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.16.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.17.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.18.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.18.gen.yaml
  prow/config/jobs/api-1.16.yaml
  prow/config/jobs/api-1.17.yaml
  prow/config/jobs/api-1.18.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master (#4813)
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.experimental-ambient.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio-ambient.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Fix release notes job
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.16.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.17.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.18.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.18.gen.yaml
  prow/config/jobs/api-1.16.yaml
  prow/config/jobs/api-1.17.yaml
  prow/config/jobs/api-1.18.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Fix release notes job (#4815)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.16.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.17.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.18.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.16.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.17.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.18.gen.yaml
  prow/config/jobs/api-1.16.yaml
  prow/config/jobs/api-1.17.yaml
  prow/config/jobs/api-1.18.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/istio-1.16.yaml
  prow/config/jobs/istio-1.17.yaml
  prow/config/jobs/istio-1.18.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Move build clusters to dual ownership
  CODEOWNERS
Due: none

Drop obsolete release notes script
  tools/check_release_notes.sh
Due: none

Move build clusters to dual ownership (#4816)
  CODEOWNERS
Due: none

prow: remove authentikos (#4794)
  prow/cluster/private-arm/authentikos_deployment.yaml
  prow/cluster/private-arm/authentikos_rbac.yaml
  prow/cluster/private/authentikos_deployment.yaml
  prow/cluster/private/authentikos_rbac.yaml
Due: deploy-prow_test-infra_postsubmit

Drop obsolete release notes script (#4817)
  tools/check_release_notes.sh
Due: none

terraform: initial GKE modules
  infra/gcp/istio-prow-build/cluster-prow.tf
  infra/gcp/modules/gke-cluster/README.md
  infra/gcp/modules/gke-cluster/main.tf
  infra/gcp/modules/gke-cluster/outputs.tf
  infra/gcp/modules/gke-cluster/variables.tf
  infra/gcp/modules/gke-cluster/versions.tf
  infra/gcp/modules/gke-nodepool/README.md
  infra/gcp/modules/gke-nodepool/main.tf
  infra/gcp/modules/gke-nodepool/variables.tf
  infra/gcp/modules/gke-nodepool/versions.tf
Due: none

Optional benchmarking job
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Use updated images
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Benchmark Ztunnel Command (#4777)
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

sync policies
  infra/gcp/istio-testing/cluster-policy-bot.tf
  infra/gcp/istio-testing/iam.tf
  infra/gcp/modules/gke-cluster/versions.tf
Due: none

terraform: initial GKE modules (#4795)
  infra/gcp/istio-prow-build/cluster-prow.tf
  infra/gcp/istio-testing/cluster-policy-bot.tf
  infra/gcp/istio-testing/iam.tf
  infra/gcp/modules/gke-cluster/README.md
  infra/gcp/modules/gke-cluster/main.tf
  infra/gcp/modules/gke-cluster/outputs.tf
  infra/gcp/modules/gke-cluster/variables.tf
  infra/gcp/modules/gke-cluster/versions.tf
  infra/gcp/modules/gke-nodepool/README.md
  infra/gcp/modules/gke-nodepool/main.tf
  infra/gcp/modules/gke-nodepool/variables.tf
  infra/gcp/modules/gke-nodepool/versions.tf
Due: none

prow: move deck-private to use WI (#4790)
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/deck_private_rbac.yaml
Due: deploy-prow_test-infra_postsubmit

Flesh out prowjob-release complete IAM
  infra/gcp/istio-prow-build/iam.tf
  infra/gcp/istio-prow-build/keys.tf
  infra/gcp/istio-prow-build/storage.tf
  infra/gcp/modules/workload-identity-service-account/main.tf
  infra/gcp/modules/workload-identity-service-account/variables.tf
Due: none

Ztunnel benches only run on demand
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Ztunnel benches only run on demand (#4819)
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#4820)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Remove legacy `pkg` jobs
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/config/jobs/pkg.yaml
  testgrid/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Remove legacy `pkg` jobs (#4822)
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/config/jobs/pkg.yaml
  testgrid/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Flesh out prowjob-release complete IAM (#4818)
  infra/gcp/istio-prow-build/iam.tf
  infra/gcp/istio-prow-build/keys.tf
  infra/gcp/istio-prow-build/storage.tf
  infra/gcp/modules/workload-identity-service-account/main.tf
  infra/gcp/modules/workload-identity-service-account/variables.tf
Due: none

Refactor secrets to non-authoritative
  infra/gcp/istio-prow-build/iam.tf
  infra/gcp/istio-prow-build/secrets.tf
  infra/gcp/modules/workload-identity-service-account/main.tf
  infra/gcp/modules/workload-identity-service-account/variables.tf
Due: none

Add test for org volumes
  prow/config/jobs_test.go
Due: none

Move jobs to new account
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
Due: none

Move all jobs on master over
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/.base.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs_test.go
  tools/automator/README.md
  tools/automator/automator.sh
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add infrastructure for new istio-testing pusher github account
  infra/gcp/istio-prow-build/iam.tf
  prow/cluster/build/prowjob_service_accounts.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/jobs/.base.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

revert permission part
  prow/config/jobs/.base.yaml
Due: none

terraform: a few minor fixups
  infra/gcp/istio-prow-build/iam.tf
  infra/gcp/modules/workload-identity-service-account/main.tf
  prow/cluster/build/prowjob_service_accounts.yaml
Due: deploy-prow_test-infra_postsubmit

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-prowgen_test-infra_postsubmit: any of: ^tools/prowgen/.*$
  push-prowtrans_test-infra_postsubmit: any of: ^tools/prowtrans/.*$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|monitoring/|build/|private/|[^/]+\.yaml$)
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  post-istio-test-infra-gencred-refresh-kubeconfig: any of: ^prow/cluster/gencred-config/
