Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-prowgen_test-infra_postsubmit, push-prowtrans_test-infra_postsubmit, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config, post-istio-test-infra-gencred-refresh-kubeconfig

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20220223-a7c3ef700d
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
  ...

push-prowbazel_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - docker/prowbazel
      - image
      - push-safe
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
  ...

push-authentikos_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - authentikos
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

push-prowgen_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - tools/prowgen
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

push-prowtrans_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - tools/prowtrans
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

pull-test-infra-check-testgrid-config:
  decorate: true
  spec:
    automountServiceAccountToken: false
    nodeSelector:
      kubernetes.io/arch: amd64
      testing: test-pool
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230908-12387e8f71
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
  ...

deploy-prow_test-infra_postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    automountServiceAccountToken: false
    containers:
    - command:
      - make
      - -C
      - prow
      - deploy
      - deploy-gcsweb
      - deploy-monitoring
      - deploy-build
      - deploy-private
      - deploy-arm
  ...

post-istio-test-infra-upload-testgrid-config:
  decorate: true
  spec:
    serviceAccountName: testgrid-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20221102-8efc754883
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
      - --prow-config=prow/config.yaml
  ...

actually update branched image tag in all jobs, not just parent config (#5592)
  tools/prowgen/cmd/prowgen/main.go
Due: push-prowgen_test-infra_postsubmit

[release-1.25] Automated branching step 3
  prow/cluster/jobs/istio/api/istio.api.release-1.25.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.25.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.25.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.25.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.25.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.25.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.25.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.25.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.25.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.25.gen.yaml
  prow/config/istio-private_jobs/api-1.25.yaml
  prow/config/istio-private_jobs/istio-1.25.yaml
  prow/config/istio-private_jobs/istio.io-1.25.yaml
  prow/config/istio-private_jobs/proxy-1.25.yaml
  prow/config/istio-private_jobs/release-builder-1.25.yaml
  prow/config/jobs/api-1.25.yaml
  prow/config/jobs/client-go-1.25.yaml
  prow/config/jobs/common-files-1.25.yaml
  prow/config/jobs/enhancements-1.25.yaml
  prow/config/jobs/istio-1.25.yaml
  prow/config/jobs/istio.io-1.25.yaml
  prow/config/jobs/proxy-1.25.yaml
  prow/config/jobs/release-builder-1.25.yaml
  prow/config/jobs/tools-1.25.yaml
  prow/config/jobs/ztunnel-1.25.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

[release-1.25] Automated branching step 3
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.25.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.25.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.25.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.25.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.25.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.25.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.25.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.25.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.25.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.25.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.25.gen.yaml
  prow/config/istio-private_jobs/api-1.25.yaml
  prow/config/istio-private_jobs/istio-1.25.yaml
  prow/config/istio-private_jobs/istio.io-1.25.yaml
  prow/config/istio-private_jobs/proxy-1.25.yaml
  prow/config/istio-private_jobs/release-builder-1.25.yaml
  prow/config/jobs/api-1.25.yaml
  prow/config/jobs/client-go-1.25.yaml
  prow/config/jobs/common-files-1.25.yaml
  prow/config/jobs/enhancements-1.25.yaml
  prow/config/jobs/istio-1.25.yaml
  prow/config/jobs/istio.io-1.25.yaml
  prow/config/jobs/proxy-1.25.yaml
  prow/config/jobs/release-builder-1.25.yaml
  prow/config/jobs/tools-1.25.yaml
  prow/config/jobs/ztunnel-1.25.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

update private-presets.yaml for release-1.25
  prow/config/private-presets.yaml
Due: none

make gen
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.25.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.25.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update prow/config/jobs/release-builder-1.25.yaml
  prow/config/jobs/release-builder-1.25.yaml
Due: none

remove redundant BUILD_WITH_CONTAINER env vars manually
  prow/config/jobs/api-1.25.yaml
  prow/config/jobs/client-go-1.25.yaml
  prow/config/jobs/common-files-1.25.yaml
  prow/config/jobs/enhancements-1.25.yaml
  prow/config/jobs/istio-1.25.yaml
  prow/config/jobs/istio.io-1.25.yaml
  prow/config/jobs/proxy-1.25.yaml
  prow/config/jobs/release-builder-1.25.yaml
  prow/config/jobs/tools-1.25.yaml
  prow/config/jobs/ztunnel-1.25.yaml
Due: none

cleanup-1.22
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.22.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.22.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.22.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.22.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.22.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.22.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.22.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.22.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.22.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.22.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.22.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.22.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.22.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.22.gen.yaml
  prow/config/istio-private_jobs/api-1.22.yaml
  prow/config/istio-private_jobs/istio-1.22.yaml
  prow/config/istio-private_jobs/istio.io-1.22.yaml
  prow/config/istio-private_jobs/proxy-1.22.yaml
  prow/config/istio-private_jobs/release-builder-1.22.yaml
  prow/config/jobs/api-1.22.yaml
  prow/config/jobs/client-go-1.22.yaml
  prow/config/jobs/common-files-1.22.yaml
  prow/config/jobs/enhancements-1.22.yaml
  prow/config/jobs/istio-1.22.yaml
  prow/config/jobs/istio.io-1.22.yaml
  prow/config/jobs/proxy-1.22.yaml
  prow/config/jobs/release-builder-1.22.yaml
  prow/config/jobs/tools-1.22.yaml
  prow/config/jobs/ztunnel-1.22.yaml
  testgrid/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

cleanup-1.22 (#5600)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.22.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.22.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.22.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.22.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.22.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.22.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.22.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.22.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.22.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.22.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.22.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.22.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.22.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.22.gen.yaml
  prow/config/istio-private_jobs/api-1.22.yaml
  prow/config/istio-private_jobs/istio-1.22.yaml
  prow/config/istio-private_jobs/istio.io-1.22.yaml
  prow/config/istio-private_jobs/proxy-1.22.yaml
  prow/config/istio-private_jobs/release-builder-1.22.yaml
  prow/config/jobs/api-1.22.yaml
  prow/config/jobs/client-go-1.22.yaml
  prow/config/jobs/common-files-1.22.yaml
  prow/config/jobs/enhancements-1.22.yaml
  prow/config/jobs/istio-1.22.yaml
  prow/config/jobs/istio.io-1.22.yaml
  prow/config/jobs/proxy-1.22.yaml
  prow/config/jobs/release-builder-1.22.yaml
  prow/config/jobs/tools-1.22.yaml
  prow/config/jobs/ztunnel-1.22.yaml
  testgrid/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

[release-1.25] Semi-automated branching step 3 (#5599)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.25.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.25.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.25.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.25.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.25.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.25.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.25.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.25.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.25.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.25.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.25.gen.yaml
  prow/config/istio-private_jobs/api-1.25.yaml
  prow/config/istio-private_jobs/istio-1.25.yaml
  prow/config/istio-private_jobs/istio.io-1.25.yaml
  prow/config/istio-private_jobs/proxy-1.25.yaml
  prow/config/istio-private_jobs/release-builder-1.25.yaml
  prow/config/jobs/api-1.25.yaml
  prow/config/jobs/client-go-1.25.yaml
  prow/config/jobs/common-files-1.25.yaml
  prow/config/jobs/enhancements-1.25.yaml
  prow/config/jobs/istio-1.25.yaml
  prow/config/jobs/istio.io-1.25.yaml
  prow/config/jobs/proxy-1.25.yaml
  prow/config/jobs/release-builder-1.25.yaml
  prow/config/jobs/tools-1.25.yaml
  prow/config/jobs/ztunnel-1.25.yaml
  prow/config/private-presets.yaml
  testgrid/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#5602)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master (#5601)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.25
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.25.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.25.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.25.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.25.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.25.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.25.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.25.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.25.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.25.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.25.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.25.gen.yaml
  prow/config/jobs/api-1.25.yaml
  prow/config/jobs/client-go-1.25.yaml
  prow/config/jobs/common-files-1.25.yaml
  prow/config/jobs/enhancements-1.25.yaml
  prow/config/jobs/istio-1.25.yaml
  prow/config/jobs/istio.io-1.25.yaml
  prow/config/jobs/proxy-1.25.yaml
  prow/config/jobs/release-builder-1.25.yaml
  prow/config/jobs/tools-1.25.yaml
  prow/config/jobs/ztunnel-1.25.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.25 (#5603)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.25.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.25.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.25.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.25.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.25.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.25.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.25.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.25.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.25.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.25.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.25.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.25.gen.yaml
  prow/config/jobs/api-1.25.yaml
  prow/config/jobs/client-go-1.25.yaml
  prow/config/jobs/common-files-1.25.yaml
  prow/config/jobs/enhancements-1.25.yaml
  prow/config/jobs/istio-1.25.yaml
  prow/config/jobs/istio.io-1.25.yaml
  prow/config/jobs/proxy-1.25.yaml
  prow/config/jobs/release-builder-1.25.yaml
  prow/config/jobs/tools-1.25.yaml
  prow/config/jobs/ztunnel-1.25.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#5605)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master (#5604)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#5606)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master (#5607)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

update Envoy to pull from release/v1.33 branch for Istio 1.25
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.25.gen.yaml
  prow/config/jobs/proxy-1.25.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

update Envoy to pull from release/v1.33 branch for Istio 1.25 (#5608)
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.25.gen.yaml
  prow/config/jobs/proxy-1.25.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#5609)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master (#5610)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#5611)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#5613)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#5614)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-prowgen_test-infra_postsubmit: any of: ^tools/prowgen/.*$
  push-prowtrans_test-infra_postsubmit: any of: ^tools/prowtrans/.*$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|monitoring/|build/|private/|arm/|private-arm/|[^/]+\.yaml$)
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  post-istio-test-infra-gencred-refresh-kubeconfig: any of: ^prow/cluster/gencred-config/
