Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-prowgen_test-infra_postsubmit, push-prowtrans_test-infra_postsubmit, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-prowgen_test-infra_postsubmit: any of: ^tools/prowgen/.*$
  push-prowtrans_test-infra_postsubmit: any of: ^tools/prowtrans/.*$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|monitoring/|build/|private/|arm/|private-arm/|[^/]+\.yaml$)
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$

Automator: update build-tools:release-1.29 (#5811)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.29.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.29.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.29.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.29.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.29.gen.yaml
  prow/config/jobs/api-1.29.yaml
  prow/config/jobs/client-go-1.29.yaml
  prow/config/jobs/common-files-1.29.yaml
  prow/config/jobs/enhancements-1.29.yaml
  prow/config/jobs/istio-1.29.yaml
  prow/config/jobs/istio.io-1.29.yaml
  prow/config/jobs/proxy-1.29.yaml
  prow/config/jobs/release-builder-1.29.yaml
  prow/config/jobs/tools-1.29.yaml
  prow/config/jobs/ztunnel-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

setting Envoy update branch to 1.37 for Istio 1.29 (#5812)
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.29.gen.yaml
  prow/config/jobs/proxy-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5813)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#5814)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bumping Prow (#5816)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.29
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.29.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.29.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.29.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.29.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.29.gen.yaml
  prow/config/jobs/api-1.29.yaml
  prow/config/jobs/client-go-1.29.yaml
  prow/config/jobs/common-files-1.29.yaml
  prow/config/jobs/enhancements-1.29.yaml
  prow/config/jobs/istio-1.29.yaml
  prow/config/jobs/istio.io-1.29.yaml
  prow/config/jobs/proxy-1.29.yaml
  prow/config/jobs/release-builder-1.29.yaml
  prow/config/jobs/tools-1.29.yaml
  prow/config/jobs/ztunnel-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.29 (#5817)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.29.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.29.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.29.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.29.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.29.gen.yaml
  prow/config/jobs/api-1.29.yaml
  prow/config/jobs/client-go-1.29.yaml
  prow/config/jobs/common-files-1.29.yaml
  prow/config/jobs/enhancements-1.29.yaml
  prow/config/jobs/istio-1.29.yaml
  prow/config/jobs/istio.io-1.29.yaml
  prow/config/jobs/proxy-1.29.yaml
  prow/config/jobs/release-builder-1.29.yaml
  prow/config/jobs/tools-1.29.yaml
  prow/config/jobs/ztunnel-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master (#5815)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#5818)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master (#5819)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Always keep 1 node in the nodepool for istio/proxy jobs
  infra/gcp/istio-prow-build/cluster-prow.tf
Due: none

Always keep 1 node in the nodepool for istio/proxy jobs (#5820)
  infra/gcp/istio-prow-build/cluster-prow.tf
Due: none

Automator: update common-files@master in istio/test-infra@master (#5822)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:release-1.28
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.28.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.28.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.28.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.28.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.28.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.28.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.28.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.28.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.28.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.28.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.28.gen.yaml
  prow/config/jobs/api-1.28.yaml
  prow/config/jobs/client-go-1.28.yaml
  prow/config/jobs/common-files-1.28.yaml
  prow/config/jobs/enhancements-1.28.yaml
  prow/config/jobs/istio-1.28.yaml
  prow/config/jobs/istio.io-1.28.yaml
  prow/config/jobs/proxy-1.28.yaml
  prow/config/jobs/release-builder-1.28.yaml
  prow/config/jobs/sail-operator-release-1.28.yaml
  prow/config/jobs/tools-1.28.yaml
  prow/config/jobs/ztunnel-1.28.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.28 (#5823)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.28.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.28.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.28.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.28.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.28.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.28.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.28.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.28.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.28.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.28.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.28.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.28.gen.yaml
  prow/config/jobs/api-1.28.yaml
  prow/config/jobs/client-go-1.28.yaml
  prow/config/jobs/common-files-1.28.yaml
  prow/config/jobs/enhancements-1.28.yaml
  prow/config/jobs/istio-1.28.yaml
  prow/config/jobs/istio.io-1.28.yaml
  prow/config/jobs/proxy-1.28.yaml
  prow/config/jobs/release-builder-1.28.yaml
  prow/config/jobs/sail-operator-release-1.28.yaml
  prow/config/jobs/tools-1.28.yaml
  prow/config/jobs/ztunnel-1.28.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master (#5821)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.29 (#5824)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.29.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.29.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.29.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.29.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.29.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.29.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.29.gen.yaml
  prow/config/jobs/api-1.29.yaml
  prow/config/jobs/client-go-1.29.yaml
  prow/config/jobs/common-files-1.29.yaml
  prow/config/jobs/enhancements-1.29.yaml
  prow/config/jobs/istio-1.29.yaml
  prow/config/jobs/istio.io-1.29.yaml
  prow/config/jobs/proxy-1.29.yaml
  prow/config/jobs/release-builder-1.29.yaml
  prow/config/jobs/tools-1.29.yaml
  prow/config/jobs/ztunnel-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

add k8s 1.34 testing for release-1.29
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.29.gen.yaml
  prow/config/jobs/istio-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

add k8s 1.34 testing for release-1.29 (#5826)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.29.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.29.gen.yaml
  prow/config/jobs/istio-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#5827)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master (#5828)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.main.gen.yaml
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/sail-operator.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5825)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Add Sail Operator 1.29 jobs
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.release-1.29.gen.yaml
  prow/config/jobs/sail-operator-release-1.29.yaml
  testgrid/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add Sail Operator 1.29 jobs (#5829)
  prow/cluster/jobs/istio-ecosystem/sail-operator/istio-ecosystem.sail-operator.release-1.29.gen.yaml
  prow/config/jobs/sail-operator-release-1.29.yaml
  testgrid/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

remove old ENVOY_REPOSITORY from 1.29
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.29.gen.yaml
  prow/config/istio-private_jobs/proxy-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

remove old ENVOY_REPOSITORY from 1.29 (#5830)
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.29.gen.yaml
  prow/config/istio-private_jobs/proxy-1.29.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config
