Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-prowgen_test-infra_postsubmit, push-prowtrans_test-infra_postsubmit, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config, post-istio-test-infra-gencred-refresh-kubeconfig

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20220223-a7c3ef700d
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
  ...

push-prowbazel_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - docker/prowbazel
      - image
      - push-safe
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
  ...

push-authentikos_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - authentikos
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

push-prowgen_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - tools/prowgen
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

push-prowtrans_test-infra_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - tools/prowtrans
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-01e6fd500072380c8dd7e465d9031924f0c28ef9
      name: ''
      resources:
  ...

pull-test-infra-check-testgrid-config:
  decorate: true
  spec:
    automountServiceAccountToken: false
    nodeSelector:
      kubernetes.io/arch: amd64
      testing: test-pool
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230908-12387e8f71
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
  ...

deploy-prow_test-infra_postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    automountServiceAccountToken: false
    containers:
    - command:
      - make
      - -C
      - prow
      - deploy
      - deploy-gcsweb
      - deploy-monitoring
      - deploy-build
      - deploy-private
      - deploy-arm
  ...

post-istio-test-infra-upload-testgrid-config:
  decorate: true
  spec:
    serviceAccountName: testgrid-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20221102-8efc754883
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
      - --prow-config=prow/config.yaml
  ...

Bumping Prow (#5112)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bumping Prow
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5113)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5114)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Extend runtime for istio.io profile-none jobs
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.19.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.20.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.19.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.20.gen.yaml
  prow/config/jobs/istio.io-1.19.yaml
  prow/config/jobs/istio.io-1.20.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Extend runtime for istio.io profile-none jobs (#5115)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.19.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.20.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.19.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.20.gen.yaml
  prow/config/jobs/istio.io-1.19.yaml
  prow/config/jobs/istio.io-1.20.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5116)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/test-infra@master (#5117)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/test-infra@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#5119)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update jobs now that 1.29 is the default
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update jobs now that 1.29 is the default (#5121)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5118)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master (#5120)
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#5123)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master (#5122)
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5124)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5128)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5129)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bumping Prow (#5130)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, deploy-prow_test-infra_postsubmit, post-istio-test-infra-upload-testgrid-config

Bump github.com/go-git/go-git/v5 from 5.4.2 to 5.11.0 with gen
  go.mod
  go.sum
  licenses/dario.cat/mergo/LICENSE
  licenses/github.com/cloudflare/circl/LICENSE
  licenses/github.com/cloudflare/circl/ecc/p384/LICENSE
  licenses/github.com/cyphar/filepath-securejoin/LICENSE
  licenses/github.com/mitchellh/go-homedir/LICENSE
  licenses/github.com/pjbgf/sha1cd/LICENSE
  licenses/github.com/skeema/knownhosts/LICENSE
Due: none

Automator: update common-files@master in istio/test-infra@master (#5134)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bump github.com/go-git/go-git/v5 from 5.4.2 to 5.11.0 with gen (#5132)
  go.mod
  go.sum
  licenses/dario.cat/mergo/LICENSE
  licenses/github.com/cloudflare/circl/LICENSE
  licenses/github.com/cloudflare/circl/ecc/p384/LICENSE
  licenses/github.com/cyphar/filepath-securejoin/LICENSE
  licenses/github.com/mitchellh/go-homedir/LICENSE
  licenses/github.com/pjbgf/sha1cd/LICENSE
  licenses/github.com/skeema/knownhosts/LICENSE
Due: none

Automator: update build-tools:master (#5133)
  prow/cluster/jobs/istio-private/api/istio-private.api.master.gen.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/enhancements/istio.enhancements.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istioexperimental.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxyexperimental.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/enhancements.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
  prow/config/jobs/ztunnel.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

sort in ascending order for jobs
  tools/prowgen/Dockerfile
  tools/prowgen/cmd/prowgen/main.go
  tools/prowgen/pkg/generate.go
  tools/prowgen/pkg/testdata/.base.yaml
Due: push-prowgen_test-infra_postsubmit

Sort in order generated jobs for istio branches
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.18.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.19.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.20.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.18.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.19.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.20.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.18.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.19.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.20.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.18.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.19.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.20.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.18.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.18.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.19.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.20.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.18.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.19.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.20.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.18.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.19.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.20.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.master.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.18.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.19.gen.yaml
  prow/cluster/jobs/istio/ztunnel/istio.ztunnel.release-1.20.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

refresh goldens
  tools/prowgen/pkg/testdata/matrix.gen.yaml
  tools/prowgen/pkg/testdata/simple.gen.yaml
Due: push-prowgen_test-infra_postsubmit

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-prowgen_test-infra_postsubmit: any of: ^tools/prowgen/.*$
  push-prowtrans_test-infra_postsubmit: any of: ^tools/prowtrans/.*$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|monitoring/|build/|private/|arm/|private-arm/|[^/]+\.yaml$)
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  post-istio-test-infra-gencred-refresh-kubeconfig: any of: ^prow/cluster/gencred-config/
