Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, unit-test-authentikos_test-infra, integ-test-authentikos_test-infra, deploy-prow_test-infra_postsubmit, deploy-boskos_test-infra_postsubmit, deploy-boskos-config_test-infra_postsubmit, push-mason_test-infra_postsubmit, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-genjobs_test-infra_postsubmit, pull-test-infra-check-testgrid-config, prow: flakey-run, post-test-infra-update-boskos-config, post-test-infra-deploy-boskos, post-test-infra-push-prowbazel, post-istio-test-infra-upload-testgrid-config

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20200316-b3233486a
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
  ...

unit-test-authentikos_test-infra:
  decorate: true
  spec:
    containers:
    - command:
      - make
      - -C
      - authentikos
      - unit-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
  ...

integ-test-authentikos_test-infra:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - authentikos
      - integ-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

deploy-prow_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - prow
      - deploy
      - deploy-gcsweb
      - deploy-velodrome
      - deploy-build
      - deploy-private
  ...

deploy-boskos_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
  ...

deploy-boskos-config_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - boskos-config
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

push-mason_test-infra_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - mason-image
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
  ...

push-prowbazel_test-infra_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - docker/prowbazel
      - image
      - push-safe
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
  ...

update generated configuration
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

fix extra bracket
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Prow job multicluster istioio (#2907)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add 1.7 release preset
  prow/cluster/jobs/all-presets.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add 1.7 release preset (#2939)
  prow/cluster/jobs/all-presets.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add Kubernetes 1.20 postsubmit job
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update envoy.yaml
  prow/config/istio-private_jobs/envoy.yaml
Due: none

Add Kubernetes 1.20 postsubmit job (#2940)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Run make gen
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.release-1.7.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add 1.7 To Istio Private for Release-1.7 (#2942)
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.release-1.7.gen.yaml
  prow/config/istio-private_jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Remove perf-06 project for use due to some creation constraints
  boskos/resources.yaml
Due: deploy-boskos-config_test-infra_postsubmit, post-test-infra-update-boskos-config

update max/min count
  boskos/resources.yaml
Due: deploy-boskos-config_test-infra_postsubmit, post-test-infra-update-boskos-config

Remove perf-06 project for use due to some creation constraints (#2943)
  boskos/resources.yaml
Due: deploy-boskos-config_test-infra_postsubmit, post-test-infra-update-boskos-config

Fix --dry-run failure
  boskos/Makefile
Due: none

Fix --dry-run failure (#2944)
  boskos/Makefile
Due: none

Add 4 hour timeout for asan
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.master.gen.yaml
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.release-1.6.gen.yaml
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.release-1.7.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.6.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.7.gen.yaml
  prow/config/jobs/envoy-1.7.yaml
  prow/config/jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add 4 hour timeout for asan (#2945)
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.master.gen.yaml
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.release-1.6.gen.yaml
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.release-1.7.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.6.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.7.gen.yaml
  prow/config/jobs/envoy-1.7.yaml
  prow/config/jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add netrc for 1.6 and 1.7
  prow/config/istio-private_jobs/istio_1.6.yml
  prow/config/istio-private_jobs/istio_1.7.yml
Due: none

Ran make gen
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.6.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.7.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add netrc for 1.6 and 1.7 (#2946)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.6.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.7.gen.yaml
  prow/config/istio-private_jobs/istio_1.6.yml
  prow/config/istio-private_jobs/istio_1.7.yml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add telemetry multicluster job
  prow/config/jobs/istio.yaml
Due: none

Run make gen
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add telemetry multicluster job (#2947)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

add prow config job for update istio/proxy envoy sha
  prow/config/jobs/envoy-1.7.yaml
  prow/config/jobs/envoy.yaml
Due: none

run make gen
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.6.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.7.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add AUTOMATOR_SHA_COMMIT_DATE
  prow/config/jobs/envoy-1.7.yaml
  prow/config/jobs/envoy.yaml
  tools/automator/README.md
  tools/automator/automator.sh
  tools/automator/utils.sh
Due: none

run make gen
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.6.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.7.gen.yaml
  tools/automator/utils.sh
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

make gen and make it as periodic
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.6.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.7.gen.yaml
  prow/config/jobs/envoy-1.7.yaml
  prow/config/jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

address comment
  prow/config/jobs/envoy.yaml
Due: none

make periodic job correct and run make gen
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.6.gen.yaml
  prow/config/jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

add envoy jobs for older release and run make gen
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.6.gen.yaml
  prow/config/jobs/envoy-1.5.yaml
  prow/config/jobs/envoy-1.6.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

make gen
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio-private/envoy/istio-private.envoy.release-1.6.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.6.gen.yaml
  prow/config/jobs/envoy-1.5.yaml
  prow/config/jobs/envoy-1.6.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

make integ-pilot-multicluster-tests required
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

make integ-pilot-multicluster-tests required (#2949)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert "make integ-pilot-multicluster-tests required (#2949)"
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert "make integ-pilot-multicluster-tests required (#2949)" (#2950)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator update envoy SHA to istio/proxy + Add AUTOMATOR_SHA_COMMIT_DATE (#2938)
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/config/jobs/envoy-1.5.yaml
  prow/config/jobs/envoy-1.6.yaml
  tools/automator/README.md
  tools/automator/automator.sh
  tools/automator/utils.sh
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add istio.io to private
  prow/config/istio-private_jobs/istio.io.yaml
Due: none

Ran make gen
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.7.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add istioio17private (#2951)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.7.gen.yaml
  prow/config/istio-private_jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Path conditions:
  pull-test-infra-prow-checkconfig: (any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$) or (any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$)
  unit-test-authentikos_test-infra: any of: ^authentikos/(.+\.go|go\.mod)$
  integ-test-authentikos_test-infra: any of: ^authentikos/(test/.+|.+\.go|go\.mod)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|build/|private/|[^/]+\.yaml$)
  deploy-boskos_test-infra_postsubmit: any of: ^boskos/cluster/.*\.yaml$
  deploy-boskos-config_test-infra_postsubmit: any of: ^boskos/resources.yaml$
  push-mason_test-infra_postsubmit: any of: ^boskos/cmd/mason/.+
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-genjobs_test-infra_postsubmit: any of: ^prow/genjobs/Makefile$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
  post-test-infra-update-boskos-config: any of: ^boskos/resources.yaml$
  post-test-infra-deploy-boskos: any of: ^boskos/cluster/.*\.yaml$
  post-test-infra-push-prowbazel: any of: ^docker/prowbazel/Makefile$
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
