Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, deploy-boskos_test-infra_postsubmit, deploy-boskos-config_test-infra_postsubmit, push-mason_test-infra_postsubmit, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-genjobs_test-infra_postsubmit, pull-test-infra-check-testgrid-config, prow: flakey-run, post-test-infra-update-boskos-config, post-test-infra-deploy-boskos, post-test-infra-push-prowbazel, post-istio-test-infra-upload-testgrid-config

Path conditions:
  pull-test-infra-prow-checkconfig: (any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$) or (any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$)
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|build/|private/|[^/]+\.yaml$)
  deploy-boskos_test-infra_postsubmit: any of: ^boskos/cluster/.*\.yaml$
  deploy-boskos-config_test-infra_postsubmit: any of: ^boskos/resources.yaml$
  push-mason_test-infra_postsubmit: any of: ^boskos/cmd/mason/.+
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-genjobs_test-infra_postsubmit: any of: ^prow/genjobs/Makefile$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
  post-test-infra-update-boskos-config: any of: ^boskos/resources.yaml$
  post-test-infra-deploy-boskos: any of: ^boskos/cluster/.*\.yaml$
  post-test-infra-push-prowbazel: any of: ^docker/prowbazel/Makefile$
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$

Add perf-dashboard deploy postsubmit (#2529)
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Support kind blacklist in pruned deployments (#2551)
  prow/Makefile.gcloud.mk
  prow/api-resources.py
Due: none

Delete tmp ingresses for gcsweb and velodrome
  prow/cluster/gcsweb/gcsweb_ing_tmp.yaml
  prow/cluster/velodrome/velodrome_ing_tmp.yaml
Due: deploy-prow_test-infra_postsubmit

Update jobs for new Kubernetes version
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  Makefile
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add hidden 1.19 job
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update Kubernetes jobs (#2555)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Delete tmp ingresses for gcsweb and velodrome (#2525)
  prow/cluster/gcsweb/gcsweb_ing_tmp.yaml
  prow/cluster/velodrome/velodrome_ing_tmp.yaml
Due: deploy-prow_test-infra_postsubmit

Automator: update common-files@master in istio/test-infra@master (#2554)
  Makefile
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Remove {installer,operator}@master jobs
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/operator.yaml
  testgrid/default.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Remove {installer,operator}@master jobs (#2556)
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/operator.yaml
  testgrid/default.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Restore istio.io presubmit tests as optional
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Restore istio.io presubmit tests as optional (#2557)
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200323-ecb75feef to v20200327-2771f83dd
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
  prow/config/jobs/community.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200323-ecb75feef to v20200327-2771f83dd (#2538)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
  prow/config/jobs/community.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Cherrypicker: add "cla: yes" label to cherrypicked PRs
  prow/cluster/cherrypicker_deployment.yaml
Due: deploy-prow_test-infra_postsubmit

Use print() function in both Python 2 and Python 3
  scripts/bazel_to_go.py
Due: none

Use print() function in both Python 2 and Python 3 (#2560)
  scripts/bazel_to_go.py
Due: none

raw_input() was removed from Python on 1/1/2020
  prow/recreate_prow_configmaps.py
Due: none

raw_input() was removed from Python on 1/1/2020 (#2561)
  prow/recreate_prow_configmaps.py
Due: none

Automator: update common-files@master in istio/test-infra@master
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/test-infra@master (#2562)
  Makefile
  common/.commonfiles.sha
Due: none

Update custom values
  prow/cluster/monitoring/OWNERS
  prow/cluster/monitoring/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/grafana_deployment.yaml
  prow/cluster/monitoring/grafana_expose.yaml
Due: none

Combine istio/api dep update jobs
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/config/jobs/api.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Combine istio/api dep update jobs (#2564)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/config/jobs/api.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#2566)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update README and remove bazel and OWNERS files
  prow/cluster/monitoring/BUILD.bazel
  prow/cluster/monitoring/OWNERS
  prow/cluster/monitoring/README.md
  prow/cluster/monitoring/mixins/dashboards_out/BUILD.bazel
  prow/cluster/monitoring/mixins/grafana_dashboards/BUILD.bazel
  prow/cluster/monitoring/mixins/prometheus/BUILD.bazel
  prow/cluster/monitoring/mixins/prometheus_out/BUILD.bazel
  prow/cluster/monitoring/mixins/vendor/grafonnet/BUILD.bazel
Due: none

Remove tracing from automator
  tools/automator/automator.sh
Due: none

Remove tracing from automator (#2567)
  tools/automator/automator.sh
Due: none

Reserve rerun perms for periodics
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Fix markdown lint errors
  prow/cluster/monitoring/README.md
Due: none

Metrics (#2563)
  prow/cluster/monitoring/README.md
  prow/cluster/monitoring/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/alertmanager_expose.yaml
  prow/cluster/monitoring/alertmanager_rbac.yaml
  prow/cluster/monitoring/grafana_configmaps.yaml
  prow/cluster/monitoring/grafana_deployment.yaml
  prow/cluster/monitoring/grafana_expose.yaml
  prow/cluster/monitoring/grafana_rbac.yaml
  prow/cluster/monitoring/grafana_secret.yaml
  prow/cluster/monitoring/mixins/.gitignore
  prow/cluster/monitoring/mixins/Makefile
  prow/cluster/monitoring/mixins/grafana_dashboards/deck.jsonnet
  prow/cluster/monitoring/mixins/grafana_dashboards/ghproxy.jsonnet
  prow/cluster/monitoring/mixins/grafana_dashboards/hook.jsonnet
  prow/cluster/monitoring/mixins/grafana_dashboards/plank.jsonnet
  prow/cluster/monitoring/mixins/grafana_dashboards/prow.jsonnet
  prow/cluster/monitoring/mixins/grafana_dashboards/sinker.jsonnet
  prow/cluster/monitoring/mixins/grafana_dashboards/tide.jsonnet
  prow/cluster/monitoring/mixins/jsonnetfile.json
  prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/configmap_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/hook_alert.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prow_monitoring_absent_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prow_prometheusrule.jsonnet
  prow/cluster/monitoring/mixins/prometheus/sinker_alerts.libsonnet
  prow/cluster/monitoring/prometheus_expose.yaml
  prow/cluster/monitoring/prometheus_operator_deployment.yaml
  prow/cluster/monitoring/prometheus_operator_rbac.yaml
  prow/cluster/monitoring/prometheus_rbac.yaml
  prow/cluster/monitoring/prow_alertmanager.yaml
  prow/cluster/monitoring/prow_monitoring_namespace.yaml
  prow/cluster/monitoring/prow_prometheus.yaml
  prow/cluster/monitoring/prow_servicemonitors.yaml
Due: none

Automator: update build-tools:master (#2565)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Reserve rerun perms for periodics (#2568)
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Stop caching go build results
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/generate.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Stop caching go build results (#2571)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/generate.go
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config
