Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, unit-test-authentikos_test-infra, integ-test-authentikos_test-infra, deploy-prow_test-infra_postsubmit, deploy-boskos_test-infra_postsubmit, deploy-boskos-config_test-infra_postsubmit, push-mason_test-infra_postsubmit, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-genjobs_test-infra_postsubmit, pull-test-infra-check-testgrid-config, prow: flakey-run, post-test-infra-update-boskos-config, post-test-infra-deploy-boskos, post-test-infra-push-prowbazel, post-istio-test-infra-upload-testgrid-config

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20200316-b3233486a
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
  ...

unit-test-authentikos_test-infra:
  decorate: true
  spec:
    containers:
    - command:
      - make
      - -C
      - authentikos
      - unit-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
  ...

integ-test-authentikos_test-infra:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - authentikos
      - integ-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

deploy-prow_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - prow
      - deploy
      - deploy-gcsweb
      - deploy-velodrome
      - deploy-build
      - deploy-private
  ...

deploy-boskos_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
  ...

deploy-boskos-config_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - boskos-config
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

push-mason_test-infra_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - mason-image
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
  ...

push-prowbazel_test-infra_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - docker/prowbazel
      - image
      - push-safe
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
  ...

Automator: update build-tools:master (#2653)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.6.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni-1.6.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Support disable of release branch generation for job(s)
  prow/config/cmd/generate.go
  prow/config/generate.go
  prow/config/generate_test.go
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/tools.yaml
  prow/config/testdata/simple.gen.yaml
  prow/config/testdata/simple.yaml
Due: none

Properly set image branch and create image tag on release branching
  prow/config/cmd/generate.go
Due: none

Automator: update build-tools:release-1.6
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.6.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.6.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.6.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.6.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.6.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.6.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.6.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.6.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.6.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.6.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.6.gen.yaml
  prow/config/jobs/api-1.6.yaml
  prow/config/jobs/client-go-1.6.yaml
  prow/config/jobs/common-files-1.6.yaml
  prow/config/jobs/gogo-genproto-1.6.yaml
  prow/config/jobs/istio-1.6.yaml
  prow/config/jobs/istio.io-1.6.yaml
  prow/config/jobs/pkg-1.6.yaml
  prow/config/jobs/proxy-1.6.yaml
  prow/config/jobs/release-builder-1.6.yaml
  prow/config/jobs/tools-1.6.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.6 (#2663)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.6.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.6.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.6.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.6.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.6.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.6.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.6.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.6.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.6.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.6.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.6.gen.yaml
  prow/config/jobs/api-1.6.yaml
  prow/config/jobs/client-go-1.6.yaml
  prow/config/jobs/common-files-1.6.yaml
  prow/config/jobs/gogo-genproto-1.6.yaml
  prow/config/jobs/istio-1.6.yaml
  prow/config/jobs/istio.io-1.6.yaml
  prow/config/jobs/pkg-1.6.yaml
  prow/config/jobs/proxy-1.6.yaml
  prow/config/jobs/release-builder-1.6.yaml
  prow/config/jobs/tools-1.6.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:release-1.5
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.release-1.5.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.5.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.release-1.5.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.release-1.5.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.release-1.5.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.5.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.5.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.5.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.5.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.5.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.5.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.5.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.5.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.5.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.5.gen.yaml
  prow/config/jobs/api-1.5.yaml
  prow/config/jobs/client-go-1.5.yaml
  prow/config/jobs/cni-1.5.yaml
  prow/config/jobs/common-files-1.5.yaml
  prow/config/jobs/gogo-genproto-1.5.yaml
  prow/config/jobs/istio-1.5.yaml
  prow/config/jobs/istio.io-1.5.yaml
  prow/config/jobs/pkg-1.5.yaml
  prow/config/jobs/proxy-1.5.yaml
  prow/config/jobs/release-builder-1.5.yaml
  prow/config/jobs/tools-1.5.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Make netlify task optional in istio.io
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Make netlify task optional in istio.io (#2665)
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

use MULTICLUSTER topology in multicluster tests
  prow/config/jobs/istio.yaml
Due: none

make gen
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

use MULTICLUSTER topology in multicluster tests (#2666)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Fix docs postsubmit
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Fix docs postsubmit (#2667)
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200507-36c6a27f0 to v20200518-8da074ad4
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Allow ProwJobs to be aborted without completion time.
  prow/cluster/prowjob_customresourcedefinition.yaml
Due: deploy-prow_test-infra_postsubmit

Allow ProwJobs to be aborted without completion time. (#2668)
  prow/cluster/prowjob_customresourcedefinition.yaml
Due: deploy-prow_test-infra_postsubmit

Bump prow from v20200507-36c6a27f0 to v20200518-8da074ad4 (#2662)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Explicitly specify --github-token-path.
  prow/cluster/hook_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/tide_deployment.yaml
Due: deploy-prow_test-infra_postsubmit

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#2672)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Explicitly specify --github-token-path. (#2669)
  prow/cluster/hook_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/tide_deployment.yaml
Due: deploy-prow_test-infra_postsubmit

Automator: update build-tools:master
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.6.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni-1.6.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master (#2673)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update build-tools:master (#2671)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio.io/istio-private.istio.io.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.6.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni-1.6.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert update-ref-docs job back to using the SOURCE_BRANCH_NAME for the release
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Update to AUTOMATOR_SRC_BRANCH as in #2618
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Revert update-ref-docs job back to using the SOURCE_BRANCH_NAME for the (#2675)
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: bump k8s-prow images
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/config/jobs/community.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: bump k8s-prow images (#2670)
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/config/jobs/community.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Remove istio-releases
  prow/config.yaml
  prow/config/config_test.go
  prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

fix test
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

make controller test required
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

make controller test required (#2677)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200518-8da074ad4 to v20200526-c96f7e37b
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200518-8da074ad4 to v20200526-c96f7e37b (#2674)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: bump k8s-prow images (#2678)
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/config/jobs/community.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

100% automated release branch job generation (#2617)
  prow/config/cmd/generate.go
  prow/config/generate.go
  prow/config/generate_test.go
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/tools.yaml
  prow/config/testdata/simple.gen.yaml
  prow/config/testdata/simple.yaml
Due: none

recreated_prow_configmaps: Providing the options of only updating some of the prow configs
  prow/recreate_prow_configmaps.py
Due: none

Path conditions:
  pull-test-infra-prow-checkconfig: (any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$) or (any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$)
  unit-test-authentikos_test-infra: any of: ^authentikos/(.+\.go|go\.mod)$
  integ-test-authentikos_test-infra: any of: ^authentikos/(test/.+|.+\.go|go\.mod)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|build/|private/|[^/]+\.yaml$)
  deploy-boskos_test-infra_postsubmit: any of: ^boskos/cluster/.*\.yaml$
  deploy-boskos-config_test-infra_postsubmit: any of: ^boskos/resources.yaml$
  push-mason_test-infra_postsubmit: any of: ^boskos/cmd/mason/.+
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-genjobs_test-infra_postsubmit: any of: ^prow/genjobs/Makefile$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
  post-test-infra-update-boskos-config: any of: ^boskos/resources.yaml$
  post-test-infra-deploy-boskos: any of: ^boskos/cluster/.*\.yaml$
  post-test-infra-push-prowbazel: any of: ^docker/prowbazel/Makefile$
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
