Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, unit-test-authentikos_test-infra, integ-test-authentikos_test-infra, deploy-prow_test-infra_postsubmit, deploy-boskos_test-infra_postsubmit, deploy-boskos-config_test-infra_postsubmit, push-mason_test-infra_postsubmit, push-prowbazel_test-infra_postsubmit, push-authentikos_test-infra_postsubmit, push-genjobs_test-infra_postsubmit, pull-test-infra-check-testgrid-config, prow: flakey-run, post-test-infra-update-boskos-config, post-test-infra-deploy-boskos, post-test-infra-push-prowbazel, post-istio-test-infra-upload-testgrid-config

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20200316-b3233486a
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
  ...

unit-test-authentikos_test-infra:
  decorate: true
  spec:
    containers:
    - command:
      - make
      - -C
      - authentikos
      - unit-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
  ...

integ-test-authentikos_test-infra:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - authentikos
      - integ-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

deploy-prow_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - prow
      - deploy
      - deploy-gcsweb
      - deploy-velodrome
      - deploy-build
      - deploy-private
  ...

deploy-boskos_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
  ...

deploy-boskos-config_test-infra_postsubmit:
  decorate: true
  labels:
    preset-prow-deployer-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - boskos-config
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

push-mason_test-infra_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - make
      - -C
      - boskos
      - mason-image
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
  ...

push-prowbazel_test-infra_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - docker/prowbazel
      - image
      - push-safe
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
  ...

export bash opts to subshells (#2588)
  tools/automator/utils.sh
Due: none

automator: support set env variables in subprocess
  tools/automator/automator.sh
  tools/automator/scripts/update-images.sh
  tools/automator/utils.sh
Due: none

Add auto-deploy for monitoring objects
  prow/Makefile
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/config/jobs/test-infra.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Remove @test-infra-oncall alias
  prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
Due: none

Modernize prow monitoring README and Makefile
  prow/cluster/monitoring/README.md
  prow/cluster/monitoring/mixins/Makefile
Due: none

Use yq over gojsontoyaml
  prow/cluster/monitoring/mixins/Makefile
Due: none

Move secrets to templates/ dir
  prow/cluster/monitoring/templates/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/templates/grafana_secret.yaml
Due: none

Properly format jsonnetfile.json
  prow/cluster/monitoring/mixins/jsonnetfile.json
Due: none

Format monitoring object config yaml
  prow/cluster/monitoring/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/grafana_deployment.yaml
  prow/cluster/monitoring/grafana_expose.yaml
  prow/cluster/monitoring/grafana_secret.yaml
  prow/cluster/monitoring/prometheus_operator_deployment.yaml
  prow/cluster/monitoring/prometheus_operator_rbac.yaml
  prow/cluster/monitoring/prometheus_rbac.yaml
  prow/cluster/monitoring/prow_prometheus.yaml
  prow/cluster/monitoring/prow_servicemonitors.yaml
Due: none

Ignore vendor dir
  prow/cluster/monitoring/mixins/.gitignore
Due: none

cleanup typos
  prow/Makefile
  prow/cluster/monitoring/templates/grafana_secret.yaml
Due: none

remove obsolete istio-gke dashboard
  testgrid/default.yaml
Due: pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

remove obsolete istio-gke dashboard (#2589)
  testgrid/default.yaml
Due: pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Prow monitoring cleanup, codegen, deps, and deployment (#2570)
  prow/Makefile
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/monitoring/README.md
  prow/cluster/monitoring/grafana_deployment.yaml
  prow/cluster/monitoring/grafana_expose.yaml
  prow/cluster/monitoring/mixins/.gitignore
  prow/cluster/monitoring/mixins/Makefile
  prow/cluster/monitoring/mixins/jsonnetfile.json
  prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
  prow/cluster/monitoring/prometheus_operator_deployment.yaml
  prow/cluster/monitoring/prometheus_operator_rbac.yaml
  prow/cluster/monitoring/prometheus_rbac.yaml
  prow/cluster/monitoring/prow_prometheus.yaml
  prow/cluster/monitoring/prow_servicemonitors.yaml
  prow/cluster/monitoring/templates/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/templates/grafana_secret.yaml
  prow/config/jobs/test-infra.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Restrict periodics to test-pool
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Restrict periodics to test-pool (#2590)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Boost resources for envoy jobs
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.4.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/config/jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Boost resources for envoy jobs (#2591)
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.4.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/config/jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Increase storage limit to avg allocatable
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.4.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/config/jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Increase storage limit to avg allocatable (#2592)
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.4.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/config/jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

add presubmit for operator controller test (#2572)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add gen-check to for istio.io
  .gitignore
  prow/config/jobs/istio.io.yaml
Due: none

regen
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Add gen-check to for istio.io (#2593)
  .gitignore
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/config/jobs/istio.io.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/test-infra@master (#2595)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Increase storage limit again (w/ 2TB SSD disks)
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.4.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/config/jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Increase storage limit again (w/ 2TB SSD disks) (#2596)
  prow/cluster/jobs/istio/envoy/istio.envoy.master.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.4.gen.yaml
  prow/cluster/jobs/istio/envoy/istio.envoy.release-1.5.gen.yaml
  prow/config/jobs/envoy.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update build-tools:master (#2594)
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

automator: dry-run mode
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/istio-private_jobs/istio.yaml
  prow/config/jobs/istio.yaml
  tools/automator/automator.sh
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

not hide the controller test
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

fix issues for recreate_prow_configmaps.py
  prow/recreate_prow_configmaps.py
Due: none

remove outdated comment
  prow/recreate_prow_configmaps.py
Due: none

python3 style
  prow/recreate_prow_configmaps.py
Due: none

Some fixes and improvements to recreate_prow_configmaps.py (#2599)
  prow/recreate_prow_configmaps.py
Due: none

Bump prow from v20200413-65958d4a8 to v20200417-a6017ee5b
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Bump prow from v20200413-65958d4a8 to v20200417-a6017ee5b (#2586)
  .prow.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig, deploy-prow_test-infra_postsubmit, pull-test-infra-check-testgrid-config, post-istio-test-infra-upload-testgrid-config

Automator: update common-files@master in istio/test-infra@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/check_no_modify.sh
  common/scripts/nomodify.md5
Due: none

Automator: update common-files@master in istio/test-infra@master (#2602)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/check_no_modify.sh
  common/scripts/nomodify.md5
Due: none

Path conditions:
  pull-test-infra-prow-checkconfig: (any of: ^(\.prow|prow/(config|plugins|cluster/jobs/.*))\.yaml$) or (any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$)
  unit-test-authentikos_test-infra: any of: ^authentikos/(.+\.go|go\.mod)$
  integ-test-authentikos_test-infra: any of: ^authentikos/(test/.+|.+\.go|go\.mod)$
  deploy-prow_test-infra_postsubmit: any of: ^prow/cluster/(?:gcsweb/|build/|private/|[^/]+\.yaml$)
  deploy-boskos_test-infra_postsubmit: any of: ^boskos/cluster/.*\.yaml$
  deploy-boskos-config_test-infra_postsubmit: any of: ^boskos/resources.yaml$
  push-mason_test-infra_postsubmit: any of: ^boskos/cmd/mason/.+
  push-prowbazel_test-infra_postsubmit: any of: ^docker/prowbazel/Makefile$
  push-authentikos_test-infra_postsubmit: any of: ^authentikos/Makefile$
  push-genjobs_test-infra_postsubmit: any of: ^prow/genjobs/Makefile$
  pull-test-infra-check-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
  prow: flakey-run: any of: flakeyTest/.*
  post-test-infra-update-boskos-config: any of: ^boskos/resources.yaml$
  post-test-infra-deploy-boskos: any of: ^boskos/cluster/.*\.yaml$
  post-test-infra-push-prowbazel: any of: ^docker/prowbazel/Makefile$
  post-istio-test-infra-upload-testgrid-config: any of: ^(prow/cluster/jobs/.*\.yaml)|(testgrid/default\.yaml)$
