Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

use python3
  clang-toolchain/build_clang_llvm.sh
Due: none

readme lint
  clang-toolchain/README.md
  clang-toolchain/build_clang_llvm.sh
Due: none

build centos clang+llvm in cloud build (#1817)
  clang-toolchain/Dockerfile
  clang-toolchain/README.md
  clang-toolchain/build_clang_llvm.sh
  clang-toolchain/cloudbuild.yaml
  clang-toolchain/install_build_deps.sh
Due: none

bump to release 1.12
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

bump to release 1.12 (#1818)
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

pass env through sudo
  clang-toolchain/build_clang_llvm.sh
Due: none

pass env through sudo (#1819)
  clang-toolchain/build_clang_llvm.sh
Due: none

centos uses clang+llvm 12
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix url and comment
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

centos uses clang+llvm 12 (#1820)
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1821)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bump dependencies for 1/19
  go.mod
  go.sum
Due: none

Bump dependencies for 1/19 (#1822)
  go.mod
  go.sum
Due: none

fix regression in centos build image
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix regression in centos build image (#1824)
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1825)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

update the image of proxy
  perf/benchmark/flame/README.md
Due: benchmark_check_tools

fix the wrong resource annotations name
  perf/benchmark/flame/README.md
Due: benchmark_check_tools

fix the wrong resource annotations name (#1827)
  perf/benchmark/flame/README.md
Due: benchmark_check_tools

update the image of proxy (#1826)
  perf/benchmark/flame/README.md
Due: benchmark_check_tools

Update to go 1.17.6
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go to 1.16.13
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add k8s-sigs/bom to buildtools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add k8s-sigs/bom to buildtools (#1830)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.13] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

[release-1.13] Automated branching step 4 (#1831)
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1832)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update to go 1.17.6 (#1828)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.12 in istio/tools@release-1.12
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1833)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.13 in istio/tools@release-1.13
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.13 in istio/tools@release-1.13 (#1834)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/tools@master (#1835)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Update helm to v3.8.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update helm to v3.8.0 (#1836)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
