Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Automator: update common-files@master in istio/tools@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2666)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#2667)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
Due: none

Update misc tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update nodejs
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

CRD gen: better doc extraction
  cmd/cue-gen/genoapi.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

crd gen: hide from docs regardless of where in the comment it is
  cmd/cue-gen/genoapi.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

CRD gen: better doc extraction (#2669)
  cmd/cue-gen/genoapi.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

crd gen: hide from docs regardless of where in the comment it is (#2670)
  cmd/cue-gen/genoapi.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Run trivy on repo; update dependencies
  go.mod
  go.sum
  isotope/go.mod
  isotope/go.sum
Due: none

Run trivy on repo; update dependencies (#2671)
  go.mod
  go.sum
  isotope/go.mod
  isotope/go.sum
Due: none

Make devcontainer valid json
  .devcontainer/devcontainer.json
Due: none

html docs gen: skip codegen comments
  cmd/protoc-gen-docs/htmlGenerator.go
  go.mod
  go.sum
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

html docs gen: skip codegen comments (#2673)
  cmd/protoc-gen-docs/htmlGenerator.go
  go.mod
  go.sum
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Make devcontainer valid json (#2672)
  .devcontainer/devcontainer.json
Due: none

Initial protoc-gen-crd-
  cmd/protoc-gen-crd/README.md
  cmd/protoc-gen-crd/main.go
  cmd/protoc-gen-crd/openapiGenerator.go
  cmd/protoc-gen-crd/pkg/protocgen/generate.go
  cmd/protoc-gen-crd/pkg/protomodel/baseDesc.go
  cmd/protoc-gen-crd/pkg/protomodel/enumDescriptor.go
  cmd/protoc-gen-crd/pkg/protomodel/fileDescriptor.go
  cmd/protoc-gen-crd/pkg/protomodel/frontMatter.go
  cmd/protoc-gen-crd/pkg/protomodel/locationDescriptor.go
  cmd/protoc-gen-crd/pkg/protomodel/messageDescriptor.go
  cmd/protoc-gen-crd/pkg/protomodel/model.go
  cmd/protoc-gen-crd/pkg/protomodel/packageDescriptor.go
  cmd/protoc-gen-crd/pkg/protomodel/pathVector.go
  cmd/protoc-gen-crd/pkg/protomodel/serviceDescriptor.go
  go.mod
  go.sum
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

wip validation
  cmd/protoc-gen-crd/openapiGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Add message validation
  cmd/protoc-gen-crd/openapiGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

fix yaml
  cmd/protoc-gen-crd/openapiGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

fix oneofs
  cmd/protoc-gen-crd/openapiGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

old oneofs
  cmd/protoc-gen-crd/openapiGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

lint
  cmd/protoc-gen-crd/openapiGenerator.go
  go.sum
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

lint
  cmd/protoc-gen-crd/openapiGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

lint
  cmd/protoc-gen-crd/README.md
  licenses/github.com/getkin/kin-openapi/LICENSE
  licenses/github.com/invopop/yaml/LICENSE
  licenses/github.com/mohae/deepcopy/LICENSE
  licenses/github.com/perimeterx/marshmallow/LICENSE
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update gh and gcloud
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#2675)
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#2676)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

remove protomodel dupe
  cmd/protoc-gen-crd/main.go
  cmd/protoc-gen-crd/openapiGenerator.go
  cmd/protoc-gen-crd/pkg/protocgen/generate.go
  cmd/protoc-gen-crd/pkg/protomodel/baseDesc.go
  cmd/protoc-gen-crd/pkg/protomodel/enumDescriptor.go
  cmd/protoc-gen-crd/pkg/protomodel/fileDescriptor.go
  cmd/protoc-gen-crd/pkg/protomodel/frontMatter.go
  cmd/protoc-gen-crd/pkg/protomodel/locationDescriptor.go
  cmd/protoc-gen-crd/pkg/protomodel/messageDescriptor.go
  cmd/protoc-gen-crd/pkg/protomodel/model.go
  cmd/protoc-gen-crd/pkg/protomodel/packageDescriptor.go
  cmd/protoc-gen-crd/pkg/protomodel/pathVector.go
  cmd/protoc-gen-crd/pkg/protomodel/serviceDescriptor.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

cleanup names
  cmd/protoc-gen-crd/openapiGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Add required support
  cmd/protoc-gen-crd/openapiGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Introduce `protoc-gen-crd` (#2674)
  cmd/protoc-gen-crd/README.md
  cmd/protoc-gen-crd/main.go
  cmd/protoc-gen-crd/openapiGenerator.go
  cmd/protoc-gen-crd/pkg/protocgen/generate.go
  go.mod
  go.sum
  licenses/github.com/getkin/kin-openapi/LICENSE
  licenses/github.com/invopop/yaml/LICENSE
  licenses/github.com/mohae/deepcopy/LICENSE
  licenses/github.com/perimeterx/marshmallow/LICENSE
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#2677)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Build protoc-gen-crd in build-tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Build protoc-gen-crd in build-tools (#2678)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers
