Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Disable plaintext perf run (#1369)
  perf/benchmark/configs/run_perf_test.conf
  perf_dashboard/static/js/cpu_conn.js
  perf_dashboard/static/js/cpu_qps.js
  perf_dashboard/static/js/latency_common_func.js
  perf_dashboard/static/js/mem_conn.js
  perf_dashboard/static/js/mem_qps.js
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#1372)
  common/.commonfiles.sha
Due: none

fix a broken link at benchmark/README (#1373)
  perf/benchmark/README.md
Due: benchmark_check_tools

fix a broken link at benchmark/README
  perf/benchmark/README.md
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1374)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Update to golang 1.16
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go.mod depdencies and remove `replace`
  go.mod
  go.sum
  licenses/github.com/fsnotify/fsnotify/LICENSE
  licenses/github.com/go-logr/logr/LICENSE
  licenses/github.com/kr/pretty/License
  licenses/k8s.io/klog/v2/LICENSE
  licenses/sigs.k8s.io/structured-merge-diff/v4/LICENSE
Due: none

Update go.mod depdencies and remove `replace` (#1376)
  go.mod
  go.sum
  licenses/github.com/fsnotify/fsnotify/LICENSE
  licenses/github.com/go-logr/logr/LICENSE
  licenses/github.com/kr/pretty/License
  licenses/k8s.io/klog/v2/LICENSE
  licenses/sigs.k8s.io/structured-merge-diff/v4/LICENSE
Due: none

Fixes to annotation generator
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

updates
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Fixes to annotation generator (#1377)
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

fix lint
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update to golang 1.16 (#1375)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1378)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fix custom variable names with annotation generator
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Fix custom variable names with annotation generator (#1379)
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1380)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fix accidental /gobin removal
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Use upstream envoy build image as base for proxy build tools.
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

clean up
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

lint
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Fix accidental /gobin removal (#1381)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1383)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

cue-gen: make CRD schema creation faster
  cmd/cue-gen/build.go
  cmd/cue-gen/genoapi.go
Due: containers-test_tools, containers_tools_postsubmit

remove extra line
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

ignore lint rule
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update version of LLVM used
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update gogo proto to 1.3.2
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

cue-gen: make CRD schema creation faster (#1385)
  cmd/cue-gen/build.go
  cmd/cue-gen/genoapi.go
Due: containers-test_tools, containers_tools_postsubmit

Update gogo proto to 1.3.2 (#1387)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Make protoc plugins less sensative to inputs
  cmd/protoc-gen-deepcopy/main.go
  cmd/protoc-gen-jsonshim/main.go
Due: containers-test_tools, containers_tools_postsubmit

Add tsan instrumented libcxx into proxy build tools.
  docker/build-tools/Dockerfile
  docker/build-tools/proxy-tsan-instrumented-libcxx.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go.mod to use gogo/protobuf v1.3.2
  go.mod
  go.sum
Due: none

Update go.mod to use gogo/protobuf v1.3.2 (#1389)
  go.mod
  go.sum
Due: none
