Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Make `go list` work on a vendored tree (#1062)
  cmd/license-lint/collector.go
Due: containers-test_tools, containers_tools_postsubmit

Make cue-gen mark fields as x-kubernetes-preserve-unknown-fields
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/schema_visitor.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
  cmd/cue-gen/test/istio.io/api/foo/v1alpha3/baz.proto
  go.mod
  go.sum
Due: containers-test_tools, containers_tools_postsubmit

make gen
  licenses/github.com/gobuffalo/flect/LICENSE
  licenses/sigs.k8s.io/controller-tools/LICENSE
Due: none

Add benchstat to tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Make cue-gen mark fields as x-kubernetes-preserve-unknown-fields (#1068)
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/schema_visitor.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
  cmd/cue-gen/test/istio.io/api/foo/v1alpha3/baz.proto
  go.mod
  go.sum
  licenses/github.com/gobuffalo/flect/LICENSE
  licenses/sigs.k8s.io/controller-tools/LICENSE
Due: containers-test_tools, containers_tools_postsubmit

Add benchstat to tools (#1069)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add fortio vs nighthawk interactive page
  perf_dashboard/fortio_vs_nighthawk/__init__.py
  perf_dashboard/fortio_vs_nighthawk/admin.py
  perf_dashboard/fortio_vs_nighthawk/apps.py
  perf_dashboard/fortio_vs_nighthawk/migrations/__init__.py
  perf_dashboard/fortio_vs_nighthawk/models.py
  perf_dashboard/fortio_vs_nighthawk/templates/fortio_vs_nighthawk.html
  perf_dashboard/fortio_vs_nighthawk/tests.py
  perf_dashboard/fortio_vs_nighthawk/urls.py
  perf_dashboard/fortio_vs_nighthawk/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1071)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add allowlisted_modules and deprecate whitelisted_modules in license-lint config
  cmd/license-lint/README.md
  cmd/license-lint/config.go
  cmd/license-lint/main.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/tools@master (#1072)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Whitelist -> Allowlist
  cmd/envvarlinter/README.md
  cmd/envvarlinter/allowlist.go
  cmd/envvarlinter/main.go
  cmd/testlinter/README.md
  cmd/testlinter/allowlist.go
  cmd/testlinter/main.go
  cmd/testlinter/unittest_lint_test.go
  pkg/checker/allowlist.go
  pkg/checker/checker.go
Due: containers-test_tools, containers_tools_postsubmit

Whitelist -> Allowlist (#1074)
  cmd/envvarlinter/README.md
  cmd/envvarlinter/allowlist.go
  cmd/envvarlinter/main.go
  cmd/testlinter/README.md
  cmd/testlinter/allowlist.go
  cmd/testlinter/main.go
  cmd/testlinter/unittest_lint_test.go
  pkg/checker/allowlist.go
  pkg/checker/checker.go
Due: containers-test_tools, containers_tools_postsubmit

Create README, allow for command line arguments
  perf/benchmark/runner/generate_policies/README.md
  perf/benchmark/runner/generate_policies/generate.go
  perf/benchmark/runner/generate_policies/generate_polices.go
Due: benchmark_check_tools

Fix typo in README
  perf/benchmark/runner/generate_policies/README.md
Due: benchmark_check_tools

Add allowlisted_modules and deprecate whitelisted_modules in license-lint config (#1073)
  cmd/license-lint/README.md
  cmd/license-lint/config.go
  cmd/license-lint/main.go
Due: containers-test_tools, containers_tools_postsubmit

fix(annotations_prep): correct resources list in template
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

fix(annotations_prep): correct resources list in template (#1075)
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1076)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

add goboring/golang image option
  docker/build-tools/Dockerfile
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update README
  perf/benchmark/runner/generate_policies/README.md
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master (#1078)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Enable jitter for both fortio and nighthawk and disable burst for nighthawk
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

add self.jitter
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Update generate rules to make sure short circuits don't occur
  perf/benchmark/runner/generate_policies/generate.go
  perf/benchmark/runner/generate_policies/generate_polices.go
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master (#1080)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

make image configurable
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

make image configurable (#1081)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

moved directory
  perf/benchmark/generate_policies/README.md
  perf/benchmark/generate_policies/generate
  perf/benchmark/generate_policies/generate.go
  perf/benchmark/generate_policies/generate_polices
  perf/benchmark/generate_policies/generate_polices.go
Due: benchmark_check_tools

Create security directory
  perf/benchmark/generate_policies/generate
  perf/benchmark/generate_policies/generate_polices
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Add status field to all istio crds (#993)
  cmd/kubetype-gen/generators/types.go
  cmd/kubetype-gen/testdata/test_output/defaults/group/version/doc.go
  cmd/kubetype-gen/testdata/test_output/defaults/group/version/types.go
  cmd/kubetype-gen/testdata/test_output/defaults/group2/version2/doc.go
  cmd/kubetype-gen/testdata/test_output/defaults/group2/version2/types.go
  cmd/kubetype-gen/testdata/test_output/types/group/version/doc.go
  cmd/kubetype-gen/testdata/test_output/types/group/version/types.go
  cmd/kubetype-gen/testdata/test_output/types/group2/version/doc.go
  cmd/kubetype-gen/testdata/test_output/types/group2/version/types.go
Due: containers-test_tools, containers_tools_postsubmit

remove extra files, fix typos
  generate.go
  generate_polices.go
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Work on linter errors, use go fmt
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/run.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1083)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/run.sh
Due: none

Use MARKDOWN_LINT_ALLOWLIST instead of _WHITELIST
  Makefile.core.mk
Due: none
