Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

fix shellcheck issues
  upgrade_downgrade/common.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

fix YAML linting issue - implicit octal to explicit octal
  perf/auto-qual-test/base/qual-test-update-job.yaml
  perf/stability/redis/templates/redis.yaml
Due: none

minor fixes, remove tracing etc
  upgrade_downgrade/common.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

update README.md
  upgrade_downgrade/README.md
Due: none

tarballs downloaded for upgrade_download_test should be ignored by git. Else it causes a lot of diff noise
  .gitignore
Due: none

revert octal fix
  perf/auto-qual-test/base/qual-test-update-job.yaml
  perf/stability/redis/templates/redis.yaml
Due: none

Fix linting errors with new yamllint
  perf/auto-qual-test/base/qual-test-update-job.yaml
  perf/stability/redis/templates/redis.yaml
Due: none

add logic to write status to spanner
  go.mod
  go.sum
  perf/stability/alertmanager/Dockerfile
  perf/stability/alertmanager/templates/alertmanager-webhook.yaml
  perf/stability/alertmanager/templates/kube_state_metrics.yaml
  perf/stability/alertmanager/values.yaml
  perf/stability/alertmanager/webhook.go
  perf/stability/long_running.sh
Due: none

address comment and fix lint
  go.mod
  go.sum
  perf/stability/README.md
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/alertmanager/values.yaml
  perf/stability/alertmanager/webhook.go
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/long_running.sh
  vendors/google/long_running_asm.sh
Due: none

improve the spanner data
  perf/stability/alertmanager/templates/alertmanager-webhook.yaml
  perf/stability/alertmanager/values.yaml
  perf/stability/alertmanager/webhook.go
  perf/stability/long_running.sh
Due: none

update spanner logic
  licenses/cloud.google.com/go/bigquery/LICENSE
  licenses/cloud.google.com/go/datastore/LICENSE
  licenses/cloud.google.com/go/pubsub/LICENSE
  licenses/cloud.google.com/go/spanner/LICENSE
  licenses/cloud.google.com/go/storage/LICENSE
  licenses/cloud.google.com/go/third_party/pkgsite/LICENSE
  licenses/dmitri.shuralyov.com/gpu/mtl/LICENSE
  licenses/github.com/chzyer/logex/NONE
  licenses/github.com/chzyer/readline/LICENSE
  licenses/github.com/chzyer/test/LICENSE
  licenses/github.com/go-gl/glfw/LICENSE
  licenses/github.com/go-gl/glfw/v3.3/glfw/LICENSE
  licenses/github.com/go-gl/glfw/v3.3/glfw/glfw/LICENSE.md
  licenses/github.com/google/martian/v3/LICENSE
  licenses/github.com/google/renameio/LICENSE
  licenses/github.com/ianlancetaylor/demangle/LICENSE
  licenses/github.com/rogpeppe/go-internal/LICENSE
  licenses/github.com/yuin/goldmark/LICENSE
  licenses/google.golang.org/api/internal/third_party/uritemplates/LICENSE
  licenses/google.golang.org/protobuf/LICENSE
  licenses/honnef.co/go/tools/internal/gosmith/LICENSE
  licenses/honnef.co/go/tools/ir/LICENSE
  licenses/rsc.io/binaryregexp/LICENSE
  licenses/rsc.io/quote/v3/LICENSE
  licenses/rsc.io/sampler/LICENSE
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/alertmanager/webhook.go
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/.yamllint.yml
Due: none

Automator: update common-files@master in istio/tools@master (#1226)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/.yamllint.yml
Due: none

address code review comments - uninstall CRDs before starting the test
  upgrade_downgrade/common.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

Update Golang to 1.14.9
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix linting issue - shellcheck quoting
  upgrade_downgrade/common.sh
Due: none

fix shellcheck issue
  upgrade_downgrade/common.sh
Due: none

Update upgrade_downgrade/README.md
  upgrade_downgrade/README.md
Due: none

Change TARGET TAG -> TARGET_TAG
  upgrade_downgrade/README.md
Due: none

Dual control plane upgrade and rollback test (#1222)
  .gitignore
  upgrade_downgrade/README.md
  upgrade_downgrade/common.sh
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

fix lint again
  cmd/protoc-gen-docs/main.go
  licenses/cloud.google.com/go/LICENSE
  licenses/github.com/chzyer/logex/NONE
  licenses/github.com/chzyer/readline/LICENSE
  licenses/github.com/chzyer/test/LICENSE
  licenses/github.com/go-gl/glfw/LICENSE
  licenses/github.com/go-gl/glfw/v3.3/glfw/LICENSE
  licenses/github.com/go-gl/glfw/v3.3/glfw/glfw/LICENSE.md
  licenses/github.com/golang/groupcache/LICENSE
  licenses/github.com/google/martian/v3/LICENSE
  licenses/github.com/google/renameio/LICENSE
  licenses/github.com/googleapis/gax-go/v2/LICENSE
  licenses/github.com/ianlancetaylor/demangle/LICENSE
  licenses/github.com/yuin/goldmark/LICENSE
  licenses/go.opencensus.io/LICENSE
  licenses/golang.org/x/mod/LICENSE
  licenses/golang.org/x/oauth2/LICENSE
  licenses/google.golang.org/api/LICENSE
  licenses/google.golang.org/genproto/LICENSE
  licenses/google.golang.org/grpc/LICENSE
  licenses/honnef.co/go/tools/internal/gosmith/LICENSE
  licenses/honnef.co/go/tools/ir/LICENSE
  licenses/rsc.io/quote/v3/LICENSE
  perf/istio-install/istioctl_profiles/long-running.yaml
  perf/stability/README.md
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/alertmanager/webhook.go
  perf/stability/long_running.sh
  pkg/protocgen/generate.go
  pkg/protomodel/baseDesc.go
Due: containers-test_tools, containers_tools_postsubmit

release-qual test: add logic to publish monitor status (#1205)
  cmd/protoc-gen-docs/main.go
  go.mod
  go.sum
  licenses/cloud.google.com/go/LICENSE
  licenses/cloud.google.com/go/spanner/LICENSE
  licenses/cloud.google.com/go/third_party/pkgsite/LICENSE
  licenses/github.com/golang/groupcache/LICENSE
  licenses/github.com/googleapis/gax-go/v2/LICENSE
  licenses/go.opencensus.io/LICENSE
  licenses/golang.org/x/mod/LICENSE
  licenses/golang.org/x/oauth2/LICENSE
  licenses/google.golang.org/api/LICENSE
  licenses/google.golang.org/api/internal/third_party/uritemplates/LICENSE
  licenses/google.golang.org/genproto/LICENSE
  licenses/google.golang.org/grpc/LICENSE
  licenses/google.golang.org/protobuf/LICENSE
  perf/istio-install/istioctl_profiles/long-running.yaml
  perf/stability/README.md
  perf/stability/alertmanager/Dockerfile
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/alertmanager/templates/alertmanager-webhook.yaml
  perf/stability/alertmanager/templates/kube_state_metrics.yaml
  perf/stability/alertmanager/values.yaml
  perf/stability/alertmanager/webhook.go
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/long_running.sh
  pkg/protocgen/generate.go
  pkg/protomodel/baseDesc.go
  vendors/google/long_running_asm.sh
Due: containers-test_tools, containers_tools_postsubmit

Update Golang to 1.14.9 (#1229)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Allow unknown fields in json
  cmd/protoc-gen-jsonshim/jsonshim/plugin.go
  cmd/protoc-gen-jsonshim/test/generated/external_json.gen.go
  cmd/protoc-gen-jsonshim/test/generated/types_json.gen.go
Due: containers-test_tools, containers_tools_postsubmit

Allow unknown fields in json (#1231)
  cmd/protoc-gen-jsonshim/jsonshim/plugin.go
  cmd/protoc-gen-jsonshim/test/generated/external_json.gen.go
  cmd/protoc-gen-jsonshim/test/generated/types_json.gen.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/tools@master (#1232)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Fix dashboard server 500 error
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

fix lint error
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Fix dashboard server 500 error (#1230)
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@release-1.6 in istio/tools@release-1.6
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.6 in istio/tools@release-1.6 (#1234)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update Golang to 1.14.9 (#1228)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add modify check
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1236)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add modify check (#1235)
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

Add SD inbound/outbound Access logging in perf config files
  perf/benchmark/configs/istio/telemetryv2_sd_full/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/installation.yaml
Due: benchmark_check_tools

Avoid downloading duplicate files and Add deleting outdated files
  perf_dashboard/helpers/download.py
Due: deploy-perf-dashboard_tools_postsubmit
