Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

lint
  docker/build-tools/proxy-tsan-instrumented-libcxx.sh
Due: containers-test_tools, containers_tools_postsubmit

add protocol mode setting from configs/istio/none_tcp/latency.yaml
  perf/benchmark/configs/istio/none_tcp/latency.yaml
Due: benchmark_check_tools

Add tsan instrumented libcxx build to proxy build tools. (#1390)
  docker/build-tools/Dockerfile
  docker/build-tools/proxy-tsan-instrumented-libcxx.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#1391)
  common/.commonfiles.sha
Due: none

Make protoc plugins less sensative to inputs (#1388)
  cmd/protoc-gen-deepcopy/main.go
  cmd/protoc-gen-jsonshim/main.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1392)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

[release-1.7] Update version of LLVM used (#1386)
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Make docs plugin behave more like other plugins
  cmd/protoc-gen-docs/htmlGenerator.go
  cmd/protoc-gen-docs/main.go
  pkg/protomodel/frontMatter.go
Due: containers-test_tools, containers_tools_postsubmit

update kubetest2 version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

update kubetest2 version (#1394)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

add protocol mode setting from configs/istio/none_tcp/latency.yaml (#1384)
  perf/benchmark/configs/istio/none_tcp/latency.yaml
Due: benchmark_check_tools

update kubetest2 version (#1395)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.9] update build image for 1.9
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Set release managers as CODEOWNERS for release-1.9
  CODEOWNERS
Due: none

change from 1.8 to 1.9 RM
  CODEOWNERS
Due: none

[release-1.7] update kubetest2 version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.9] update build image for 1.9 (#1397)
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@release-1.9 in istio/tools@release-1.9
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@release-1.9 in istio/tools@release-1.9 (#1400)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@release-1.9 in istio/tools@release-1.9
  common/.commonfiles.sha
Due: none

run UPDATE_BRANCH=release-1.9 make update-common
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

run UPDATE_BRANCH=release-1.9 make update-common (#1402)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Make docs plugin behave more like other plugins (#1393)
  cmd/protoc-gen-docs/htmlGenerator.go
  cmd/protoc-gen-docs/main.go
  pkg/protomodel/frontMatter.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@release-1.9 in istio/tools@release-1.9
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.9 in istio/tools@release-1.9 (#1403)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

run UPDATE_BRANCH=release-1.9 make update-common
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: none

run UPDATE_BRANCH=release-1.9 make update-common (#1404)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: none

update common file for 1.9
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: none

update to point to release 1.9
  perf/other/multicluster-vpc/setup.sh
  perf/stability/istio-chaos-partial/values.yaml
  perf/stability/istio-chaos-total/values.yaml
  perf/stability/istio-upgrader/values.yaml
  perf/stability/looper/templates/client.yaml
  setup/stability-extra/multicluster-vpn/setup.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1408)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update docs plugin to output to correct directory
  cmd/protoc-gen-docs/htmlGenerator.go
Due: containers-test_tools, containers_tools_postsubmit

Update docs plugin to output to correct directory (#1409)
  cmd/protoc-gen-docs/htmlGenerator.go
Due: containers-test_tools, containers_tools_postsubmit

Pin kuberntes/test-infra version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.6] update kubetest2 version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Pin kuberntes/test-infra version (#1410)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.7] update kubetest2 version (#1399)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
