Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Updates for shellcheck
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add Trivy (#1586)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update kubetest2 to the latest version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update kubetest2 to the latest version (#1587)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update LLVM/clang to 10.0 for centos
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update LLVM/clang to 10.0 for centos (#1589)
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update kubetest2 to the latest version (#1590)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[Release-1.10] Update kubetest2 to the latest version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[Release-1.10] Update kubetest2 to the latest version (#1591)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1592)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

build: added arm64 supports for build-tools
  docker/build-tools/Dockerfile
  docker/build-tools/proxy-tsan-instrumented-libcxx.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/tools@master (#1593)
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

build: added arm64 supports for build-tools (#1346)
  docker/build-tools/Dockerfile
  docker/build-tools/proxy-tsan-instrumented-libcxx.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add "file"
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add "file" (#1594)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Skip unsupported KPT for arm
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

containers test for both archs and release multi-arch build-tools
  Makefile.core.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1597)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add buf back to build-tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

More fixes
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add buf back to build-tools (#1598)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add gcloud beta component back which was accidentally removed
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add gcloud beta component back which was accidentally removed (#1599)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Fix protoc arm64 build
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Do not build the centos build-tools container for Arm
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Fix protoc arm64 build (#1601)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Do not build the centos build-tools container for Arm (#1600)
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

update gh version to the latest
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

update gh version to the latest (#1602)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add Trivy
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
