Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: TRIALRUN
        value: 'True'
  ...

containers-test_tools:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
        limits:
  ...

containers-test-arm64_tools:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
        limits:
  ...

containers_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - ../test-infra/tools/automator/automator.sh
      - --org=istio
      - --repo=common-files
      - '--title=Automator: update build-tools image@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH'
  ...

containers-arm64_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: MANIFEST_ARCH
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Bmup gcloud to fix kubectl
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Bmup gcloud to fix kubectl (#2314)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

benchmark: add cluster create/delete to benchmark script
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

benchmark: cleanup the cluster creation and add delete
  perf/istio-install/cluster.sh
Due: none

benchmark: cleanup and add cluster create/delete (#2312)
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/cluster.sh
Due: benchmark_check_tools

Add ingressgateway_tls config and changes to the benchmark runner.
  perf/benchmark/configs/istio/ingressgateway_tls/cpu_mem.yaml
  perf/benchmark/configs/istio/ingressgateway_tls/installation.yaml
  perf/benchmark/configs/istio/ingressgateway_tls/latency.yaml
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/none_tcp/cpu_mem.yaml
  perf/benchmark/configs/istio/none_tcp/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/security_authz_dry_run/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_dry_run/latency.yaml
  perf/benchmark/configs/istio/security_authz_ip/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_ip/latency.yaml
  perf/benchmark/configs/istio/security_authz_jwt/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_jwt/latency.yaml
  perf/benchmark/configs/istio/security_authz_path/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_path/latency.yaml
  perf/benchmark/configs/istio/security_peer_authn/cpu_mem.yaml
  perf/benchmark/configs/istio/security_peer_authn/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
  perf/benchmark/setup_test.sh
  perf/benchmark/templates/fortio.yaml
  perf/benchmark/values.yaml
Due: benchmark_check_tools

Update some tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update some tools (#2316)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Fix dependency guard lint and common-files update
  cmd/protoc-gen-golang-jsonshim/test/jsonshim_test.go
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/setup_env.sh
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/setup_env.sh
Due: none

Fix dependency guard lint and common-files update (#2317)
  cmd/protoc-gen-golang-jsonshim/test/jsonshim_test.go
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/setup_env.sh
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2318)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

[release-1.17] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

feat: extend trace propagation to include cloud-specific headers & OTEL
  isotope/service/pkg/srv/header.go
Due: containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

[release-1.17] Automated branching step 4 (#2320)
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

feat: extend trace propagation to include cloud-specific headers & OTEL (#2321)
  isotope/service/pkg/srv/header.go
Due: containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@release-1.17 in istio/tools@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.17 in istio/tools@release-1.17 (#2322)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2323)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update various tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.17 in istio/tools@release-1.17 (#2325)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update various tools (#2324)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update git
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update various tools (#2326)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.17 in istio/tools@release-1.17 (#2328)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2329)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

add cargodeny to dockerfile
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

add targetarch
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

minor changes to docker-ce and patch update for rust
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update buf
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

minor changes to docker-ce and patch update for rust (#2331)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Fix runner.py lint issues.
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

move cargo deny curl up
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
