Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

fix latency prometheusrule (#1250)
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/logs-checker/templates/check_k8s_logs.yaml
Due: none

fix linting error
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

fix dual control plane test - discovery address verification and README (#1251)
  upgrade_downgrade/README.md
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

Add GH to the build tools image
  docker/build-tools/Dockerfile
  go.mod
  go.sum
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Remove go.mod changes
  go.mod
  go.sum
Due: none

Add GH to the build tools image (#1252)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1253)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1254)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fix gh being in the final image
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Fix gh being in the final image (#1255)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump golang version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1257)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Cleanup deprecated wg in CODEOWNERS
  CODEOWNERS
Due: none

Cleanup deprecated wg in CODEOWNERS (#1258)
  CODEOWNERS
Due: none

Bump golang version (#1256)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Upgrade Prometheus and add PodMonitor
  perf/istio-install/base/templates/prometheus-install.yaml
Due: none

Fix incorrect ordering of generated docs
  pkg/protomodel/packageDescriptor.go
Due: none

Add and improve certmanager install
  perf/istio-install/addons/cert-manager.yaml
  perf/istio-install/base/templates/cert-manager.yaml
  perf/istio-install/base/templates/istio-gateway.yaml
  perf/istio-install/base/values.yaml
  perf/istio-install/setup_istio.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1263)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Fix incorrect ordering of generated docs (#1261)
  pkg/protomodel/packageDescriptor.go
Due: none

Upgrade Prometheus and add PodMonitor (#1260)
  perf/istio-install/base/templates/prometheus-install.yaml
Due: none

Add and improve certmanager install (#1262)
  perf/istio-install/addons/cert-manager.yaml
  perf/istio-install/base/templates/cert-manager.yaml
  perf/istio-install/base/templates/istio-gateway.yaml
  perf/istio-install/base/values.yaml
  perf/istio-install/setup_istio.sh
Due: none

[release-1.8] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

[release-1.8] Automated branching step 4 (#1265)
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@release-1.8 in istio/tools@release-1.8
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.8 in istio/tools@release-1.8 (#1266)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add gen-release-notes to tools dockerfile
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add gen-release-notes to tools dockerfile (#1268)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add the release note template files
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

chore: add meshery in perf-tools/
  perf/README.md
Due: none

Add the release note template files (#1269)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1271)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1272)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

add version flags
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/templates/minorReleaseNotes.md
  cmd/gen-release-notes/templates/releaseNotes.md
  cmd/gen-release-notes/templates/upgradeNotes.md
Due: containers-test_tools, containers_tools_postsubmit

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
