Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: TRIALRUN
        value: 'True'
  ...

containers-test_tools:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
        limits:
  ...

containers-test-arm64_tools:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
        limits:
  ...

containers_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - ../test-infra/tools/automator/automator.sh
      - --org=istio
      - --repo=common-files
      - '--title=Automator: update build-tools image@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH'
  ...

containers-arm64_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: MANIFEST_ARCH
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2351)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update misc tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update misc tools (#2352)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2353)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

go 1.20
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update golangci-lint
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update docker
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update docker/build-tools/Dockerfile
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update docker (#2355)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2356)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Revert "update docker (#2355)"
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Add PyGithub to python dependencies
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

go 1.20 (#2354)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

[release-1.17] go 1.20 (#2359)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Revert "update docker (#2355)" (#2357)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.17 in istio/tools@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.17 in istio/tools@release-1.17 (#2361)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2362)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add PyGithub to python dependencies (#2358)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update the md linter (mdl) version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update the md linter (mdl) version (#2363)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2364)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
Due: none

Fix lint markdown errors
  cmd/evaluate-docs/README.md
  cmd/gen-release-notes/README.md
  cmd/goc/README.md
  perf/benchmark/configs/README.md
  perf/benchmark/configs/istio/ext_authz/README.md
  perf/benchmark/linkerd/README.md
  perf/load/pilot/README.md
  perf/stability/http10/README.md
  perf/stability/istio-upgrader/README.md
  perf/stability/looper/README.md
  perf/stability/wasm-extensions/README.md
Due: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Fix lint markdown errors (#2366)
  cmd/evaluate-docs/README.md
  cmd/gen-release-notes/README.md
  cmd/goc/README.md
  perf/benchmark/configs/README.md
  perf/benchmark/configs/istio/ext_authz/README.md
  perf/benchmark/linkerd/README.md
  perf/load/pilot/README.md
  perf/stability/http10/README.md
  perf/stability/istio-upgrader/README.md
  perf/stability/looper/README.md
  perf/stability/wasm-extensions/README.md
Due: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#2365)
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#2367)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

update misc tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update Dockerfile
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update misc tools (#2368)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2369)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
