Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Update README
  cmd/gen-release-notes/README.md
Due: containers-test_tools, containers_tools_postsubmit

Update README.md
  cmd/gen-release-notes/README.md
Due: containers-test_tools, containers_tools_postsubmit

add release flags (#1273)
  cmd/gen-release-notes/README.md
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/templates/minorReleaseNotes.md
  cmd/gen-release-notes/templates/releaseNotes.md
  cmd/gen-release-notes/templates/upgradeNotes.md
Due: containers-test_tools, containers_tools_postsubmit

Refactor to support multiple release notes directories. In the process remove notes files since that can be done based on the branch and it simplifies code
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

Update readme
  cmd/gen-release-notes/README.md
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

Refactor to support multiple release notes directories. (#1274)
  cmd/gen-release-notes/README.md
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

Add certManager enable check in cert-manager yaml
  perf/istio-install/base/templates/cert-manager.yaml
Due: none

add new line
  perf/istio-install/base/templates/cert-manager.yaml
Due: none

Add certManager enable check in base/cert-manager yaml (#1275)
  perf/istio-install/base/templates/cert-manager.yaml
Due: none

update clang
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

update clang (#1276)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

update cmake
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

lint
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update cmake for proxy build (#1278)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1279)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Make helm3 binary available also as helm
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Make helm3 binary available also as helm (#1280)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Make helm3 binary available also as helm (#1281)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add support for generating labels to annotations_prep
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Add support for generating labels to annotations_prep (#1277)
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1282)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1283)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fixes to annotation generation
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Install tshark in istio proxy build tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Fixes to annotation generation (#1284)
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1286)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Minor cleanup to annotation HTML
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Minor cleanup to annotation HTML (#1287)
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Update Dockerfile
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix lint from unrelated helm charts
  perf/stability/sds-certmanager/crds/certmanager.yaml
  perf/stability/sds-certmanager/templates/certmanager.yaml
Due: none

Install tshark in istio proxy build tools (#1285)
  docker/build-tools/Dockerfile
  perf/stability/sds-certmanager/crds/certmanager.yaml
  perf/stability/sds-certmanager/templates/certmanager.yaml
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix discovery address verification and some refactoring
  upgrade_downgrade/common.sh
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1289)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.8 in istio/tools@release-1.8
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
