Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Update docker buildx
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Add GCR *and* AR authentication (#2570)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Add GCR *and* AR authentication (#2571)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Add GCR *and* AR authentication (#2569)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update misc tools (#2553)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Retain switch to newer fork of `su-exec`
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Revert "Change su-exec to static binary (#2515)" (#2572)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2573)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Variablize GCP registries
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Variablize GCP registries (#2574)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#2575)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.17 in istio/tools@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.18 in istio/tools@release-1.18
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.17 in istio/tools@release-1.17 (#2576)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.18 in istio/tools@release-1.18 (#2577)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.16 in istio/tools@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.16 in istio/tools@release-1.16 (#2578)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fix html indent of annotation_prep
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Fix html indent of annotation_prep (#2579)
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update golang to 1.20.6
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

[release-1.16] update golang
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update golang to 1.20.6 (#2580)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

[release-1.16] update golang (#2581)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.16 in istio/tools@release-1.16 (#2584)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update golang to 1.20.6 (#2582)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update golang to 1.20.6 (#2583)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2585)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.17 in istio/tools@release-1.17 (#2586)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.18 in istio/tools@release-1.18 (#2587)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update misc tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update gh and yq
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update buf, hugo, helm
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers
