Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Update various build tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update various build tools (#1450)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Use the same version of helm that is istio/istio dependency
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Use the same version of helm that is istio/istio dependency (#1451)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update golangcli-lint
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update golangcli-lint (#1452)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update kubetest2 version to include the change in https://github.com/kubernetes-sigs/kubetest2/pull/93
  cmd/envvarlinter/rules/no_os_env.go
  cmd/envvarlinter/rules_matcher.go
  cmd/testlinter/rules_matcher.go
  docker/build-tools/Dockerfile
  perf/benchmark/security/generate_policies/generate.go
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, tools-containers

Update kubetest2 version to include the change in https://github.com/kubernetes-sigs/kubetest2/pull/93 (#1453)
  cmd/envvarlinter/rules/no_os_env.go
  cmd/envvarlinter/rules_matcher.go
  cmd/testlinter/rules_matcher.go
  docker/build-tools/Dockerfile
  perf/benchmark/security/generate_policies/generate.go
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1454)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1455)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Revert "Revert cue-gen move to v1, move back to v1beta1 (#1138)"
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1456)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

format
  cmd/cue-gen/crd.go
  cmd/cue-gen/test/crdgen_test.go
Due: containers-test_tools, containers_tools_postsubmit

fix dockerfile lints
  docker/build-tools/Dockerfile
  docker/build-tools/Dockerfile.centos
  perf/docker/Dockerfile.rabbitmq
  perf/docker/Dockerfile.redis
  perf/load/auto-mtls/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix lint
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

disable lint for now
  Makefile.core.mk
Due: none

fix dockerfile lints (#1458)
  Makefile.core.mk
  docker/build-tools/Dockerfile
  docker/build-tools/Dockerfile.centos
  perf/docker/Dockerfile.rabbitmq
  perf/docker/Dockerfile.redis
  perf/load/auto-mtls/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Revert "Revert cue-gen move to v1, move back to v1beta1 (#1138)" (#1457)
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1459)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

> fix selector and icon
  perf/load/auto-mtls/Chart.yaml
  perf/load/templates/h2upgrade.yaml
  perf/security/workload-deployments/templates/httpbin_template.yaml
  perf/stability/gateway-bouncer/templates/fortio-client.yaml
  perf/stability/gateway-bouncer/templates/fortio-server.yaml
  perf/stability/mysql/templates/client.yaml
  perf/stability/sds-certmanager/templates/certmanager.yaml
  perf/stability/sds-certmanager/templates/fortio-client.yaml
  perf/stability/sds-certmanager/templates/fortio-server.yaml
Due: none

- remove comment
  perf/load/templates/h2upgrade.yaml
Due: none

Attempt to fix automator
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1462)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Attempt to fix automator (#1461)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump Fortio version to solve func arg issue in go deps
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update kubetest2 to the latest version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update kubetest2 to the latest version (#1464)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update to golang 1.16.1
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update to golang 1.16.1 (#1465)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to 1.16.2 and golangci-lint to 1.38.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to 1.16.2 and golangci-lint to 1.38.0 (#1466)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to 1.15.10
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Fixup lint error for new golangci
  cmd/goc/instrument.go
  go.mod
  go.sum
Due: containers-test_tools, containers_tools_postsubmit

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
