Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Add VM test
  perf/load/bootstrap-vm.sh
  perf/load/common.sh
  perf/load/templates/service-graph.gen.yaml
  perf/load/values.yaml
Due: none

Fix local perf dir
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Fix local perf dir (#1433)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Update kubectl to the latest version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update kubectl to the latest version (#1435)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Move back to Golang 1.15.7 - 1.16 not released
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Additional Golang 1.16 changes reverted (see #1375 and #1381)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

One more change
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.9] Move back to Golang 1.15.7 - 1.16 not released (#1436)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.9 in istio/tools@release-1.9
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.9 in istio/tools@release-1.9 (#1437)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

ignore when process already dead
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

ignore when process already dead (#1438)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

ignore when process already dead (#1439)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

add version
  perf/load/bootstrap-vm.sh
Due: none

Add VM test (#1432)
  perf/load/bootstrap-vm.sh
  perf/load/common.sh
  perf/load/templates/service-graph.gen.yaml
  perf/load/values.yaml
Due: none

Update Golang to 1.15.8
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Also remove fortio (see #1423 for merge in main branch)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.8] Update Golang to 1.15.8 (#1441)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.8 in istio/tools@release-1.8
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.8 in istio/tools@release-1.8 (#1442)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update kubectl to the latest version (#1435) (#1443)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

ignore when process already dead (#1440)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

bump perf dashboard page to 1.9
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

bump perf dashboard page to 1.9 (#1444)
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

Add extensibility area to release notes template.
  cmd/gen-release-notes/templates/minorReleaseNotes.md
Due: containers-test_tools, containers_tools_postsubmit

Add extensibility area to release notes template. (#1445)
  cmd/gen-release-notes/templates/minorReleaseNotes.md
Due: containers-test_tools, containers_tools_postsubmit

Ad fmt to gen to check go and python formatting
  Makefile.core.mk
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/schema_visitor.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/envvarlinter/envvar_test.go
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/note.go
  cmd/goc/main.go
  cmd/kubetype-gen/generators/register.go
  cmd/kubetype-gen/generators/types.go
  cmd/kubetype-gen/main.go
  cmd/kubetype-gen/metadata/metadata.go
  cmd/kubetype-gen/scanner/scanner.go
  cmd/license-lint/collector.go
  cmd/license-lint/main.go
  cmd/protoc-gen-deepcopy/deepcopy/plugin.go
  cmd/protoc-gen-docs/htmlGenerator.go
  cmd/protoc-gen-jsonshim/test/jsonshim_test.go
  cmd/testlinter/e2etest_lint_test.go
  cmd/testlinter/integtest_lint_test.go
  cmd/testlinter/unittest_lint_test.go
  perf/benchmark/security/generate_policies/generate_policies.go
  perf/benchmark/security/generate_policies/jwt.go
  perf/stability/looper/main.go
  pkg/checker/checker.go
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit

Ad fmt to gen to check go and python formatting (#1446)
  Makefile.core.mk
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/schema_visitor.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/envvarlinter/envvar_test.go
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/note.go
  cmd/goc/main.go
  cmd/kubetype-gen/generators/register.go
  cmd/kubetype-gen/generators/types.go
  cmd/kubetype-gen/main.go
  cmd/kubetype-gen/metadata/metadata.go
  cmd/kubetype-gen/scanner/scanner.go
  cmd/license-lint/collector.go
  cmd/license-lint/main.go
  cmd/protoc-gen-deepcopy/deepcopy/plugin.go
  cmd/protoc-gen-docs/htmlGenerator.go
  cmd/protoc-gen-jsonshim/test/jsonshim_test.go
  cmd/testlinter/e2etest_lint_test.go
  cmd/testlinter/integtest_lint_test.go
  cmd/testlinter/unittest_lint_test.go
  perf/benchmark/security/generate_policies/generate_policies.go
  perf/benchmark/security/generate_policies/jwt.go
  perf/stability/looper/main.go
  pkg/checker/checker.go
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1434)
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Bump golang to 1.16
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump golang to 1.16 (#1447)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump golangci-lint version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump golangci-lint version (#1448)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1449)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none
