Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

[master] bump golang version 1.26.4 (#3415)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

[release-1.30] bump golang version to 1.26.4 (#3418)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

[release-1.29] bump golang version to 1.25.11 (#3417)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#3419)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

protoc-gen-golang-jsonshim: mark optional as supported
  cmd/protoc-gen-golang-jsonshim/main.go
  cmd/protoc-gen-golang-jsonshim/test/generated/external.pb.go
  cmd/protoc-gen-golang-jsonshim/test/generated/types.pb.go
  cmd/protoc-gen-golang-jsonshim/test/types.proto
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

protoc-gen-golang-jsonshim: mark optional as supported (#3420)
  cmd/protoc-gen-golang-jsonshim/main.go
  cmd/protoc-gen-golang-jsonshim/test/generated/external.pb.go
  cmd/protoc-gen-golang-jsonshim/test/generated/types.pb.go
  cmd/protoc-gen-golang-jsonshim/test/types.proto
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#3421)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

gen-release-notes: fix pagination when listing PR files
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Bump Golang to 1.26.5
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

[release-1.29] Bump Golang to 1.25.12
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

[release-1.30] Bump go to 1.26.5
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Bump Golang to 1.26.5 (#3426)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Fix rangeint, stringsseq, stringscut/stringscutprefix
  cmd/protoc-gen-alias/main.go
  cmd/protoc-gen-crd/main.go
  cmd/protoc-gen-crd/openapiGenerator.go
  cmd/protoc-gen-docs/main.go
  perf/benchmark/security/generate_policies/generate.go
  pkg/protomodel/frontMatter.go
Due: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

[release-1.30] Bump go to 1.26.5 (#3428)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

[release-1.29] Bump Golang to 1.25.12 (#3427)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.30 in istio/tools@release-1.30
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.30 in istio/tools@release-1.30 (#3429)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.29 in istio/tools@release-1.29
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.29 in istio/tools@release-1.29 (#3430)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#3431)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

stuff
  cmd/protoc-gen-docs/main.go
  go.mod
  go.sum
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

stuff
  cmd/protoc-gen-docs/htmlGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Enabled modernize linter configuration.
  cmd/protoc-gen-alias/main.go
  cmd/protoc-gen-crd/main.go
  cmd/protoc-gen-crd/openapiGenerator.go
  cmd/protoc-gen-docs/main.go
  common/config/.golangci.yml
  perf/benchmark/security/generate_policies/generate.go
  pkg/protomodel/frontMatter.go
Due: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

slices.Contains
  cmd/kubetype-gen/generators/package.go
  cmd/kubetype-gen/generators/register.go
  cmd/protoc-gen-crd/openapiGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update to networking.istio.io/v1 instead of v1alpha3
  ambient-tests/scripts/fortio/results_to_csv.py
  ambient-tests/scripts/netperf/results_to_csv.py
  examples/luacheck/templates/filter.yaml
  isotope/local_gateways.yaml
  perf/benchmark/configs/istio/plaintext/prerun.sh
  perf/benchmark/templates/fortio.yaml
  perf/benchmark/templates/mtls.yaml
  perf/istio-install/base/templates/istio-gateway.yaml
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/load/auto-mtls/templates/ingress.yaml
  perf/load/bootstrap-vm.sh
  perf/load/pilot/templates/service-entries.yaml
  perf/load/templates/config-map.yaml
  perf/load/templates/h2upgrade.yaml
  perf/load/templates/istio-ingress.gen.yaml
  perf/load/templates/service-graph.gen.yaml
  perf/load/templates/sidecar.yaml
  perf/security/sds-tests/egress-sds/setup_destinationrule.sh
  perf/security/sds-tests/egress-sds/setup_gateway.sh
  perf/security/sds-tests/egress-sds/setup_virtualservice.sh
  perf/security/sds-tests/ingress-sds/setup_gateway.sh
  perf/security/sds-tests/ingress-sds/setup_virtualservice.sh
Due: benchmark_check_tools

Update to use security.istio.io/v1
  perf/benchmark/configs/istio/ext_authz/policy.yaml
  perf/benchmark/configs/istio/plaintext/prerun.sh
  perf/benchmark/security/generate_policies/README.md
  perf/load/templates/strict.yaml
Due: benchmark_check_tools

Update to use security.istio.io/v1 (#3434)
  perf/benchmark/configs/istio/ext_authz/policy.yaml
  perf/benchmark/configs/istio/plaintext/prerun.sh
  perf/benchmark/security/generate_policies/README.md
  perf/load/templates/strict.yaml
Due: benchmark_check_tools

Update to networking.istio.io/v1 instead of v1alpha3 (#3433)
  ambient-tests/scripts/fortio/results_to_csv.py
  ambient-tests/scripts/netperf/results_to_csv.py
  examples/luacheck/templates/filter.yaml
  isotope/local_gateways.yaml
  perf/benchmark/configs/istio/plaintext/prerun.sh
  perf/benchmark/templates/fortio.yaml
  perf/benchmark/templates/mtls.yaml
  perf/istio-install/base/templates/istio-gateway.yaml
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/load/auto-mtls/templates/ingress.yaml
  perf/load/bootstrap-vm.sh
  perf/load/pilot/templates/service-entries.yaml
  perf/load/templates/config-map.yaml
  perf/load/templates/h2upgrade.yaml
  perf/load/templates/istio-ingress.gen.yaml
  perf/load/templates/service-graph.gen.yaml
  perf/load/templates/sidecar.yaml
  perf/security/sds-tests/egress-sds/setup_destinationrule.sh
  perf/security/sds-tests/egress-sds/setup_gateway.sh
  perf/security/sds-tests/egress-sds/setup_virtualservice.sh
  perf/security/sds-tests/ingress-sds/setup_gateway.sh
  perf/security/sds-tests/ingress-sds/setup_virtualservice.sh
Due: benchmark_check_tools

Update remnant networking/security.istio.io to v1
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
  perf/benchmark/templates/mtls.yaml
  perf/security/sds-tests/workload-sds/workload.yaml
Due: benchmark_check_tools

Update remnant networking/security.istio.io to v1 (#3435)
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
  perf/benchmark/templates/mtls.yaml
  perf/security/sds-tests/workload-sds/workload.yaml
Due: benchmark_check_tools

[release-1.31] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update build-tools-proxy image for LLVM 22
  docker/build-tools/Dockerfile
  docker/build-tools/install-python.sh
  docker/build-tools/proxy-tsan-instrumented-libcxx.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

aws entrypoint
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

aws entrypoint (#3439)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update build-tools-proxy image for LLVM 22 (#3438)
  docker/build-tools/Dockerfile
  docker/build-tools/install-python.sh
  docker/build-tools/proxy-tsan-instrumented-libcxx.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers
