Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

diable jitter in nighthawk run (#921)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Add centos build-tools image
  docker/build-tools/Dockerfile.centos
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add centos build-tools image (#922)
  docker/build-tools/Dockerfile.centos
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix typo in centos
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Stop using deprecated Policy
  perf/benchmark/configs/istio/plaintext/prerun.sh
  perf/benchmark/templates/mtls.yaml
Due: benchmark_check_tools

Remove allconfig test
  perf/stability/allconfig/Chart.yaml
  perf/stability/allconfig/setup.sh
  perf/stability/allconfig/templates/app-a.yaml
  perf/stability/allconfig/templates/app-b-headless.yaml
  perf/stability/allconfig/templates/app-c-split.yaml
  perf/stability/allconfig/templates/app-d-explicit-mtls.yaml
  perf/stability/allconfig/templates/app-e-authexcluded-noistio.yaml
  perf/stability/allconfig/templates/app-t-noistio.yaml
  perf/stability/allconfig/templates/badhealth.yaml
  perf/stability/allconfig/templates/fortio-cli.yaml
  perf/stability/allconfig/templates/fortio-headless.yaml
  perf/stability/allconfig/templates/fortio-master.yaml
  perf/stability/allconfig/templates/fortio-noistio.yaml
  perf/stability/allconfig/templates/fortio-tls.yaml
  perf/stability/allconfig/templates/fortio-ttls-small.yaml
  perf/stability/allconfig/templates/fortio-ttls.yaml
  perf/stability/allconfig/templates/fortio.yaml
  perf/stability/allconfig/templates/gateway.yaml
  perf/stability/allconfig/templates/gateway2.yaml
  perf/stability/allconfig/templates/ingress.yaml
  perf/stability/allconfig/templates/iperf3-noistio.yaml
  perf/stability/allconfig/templates/iperf3-tls.yaml
  perf/stability/allconfig/templates/iperf3.yaml
  perf/stability/allconfig/templates/service-externalname-httpbin.yaml
  perf/stability/allconfig/templates/service-externalname-wikipedia.yaml
  perf/stability/allconfig/templates/virtual_service.yaml
  perf/stability/allconfig/values.yaml
Due: none

Remove allconfig test (#925)
  perf/stability/allconfig/Chart.yaml
  perf/stability/allconfig/setup.sh
  perf/stability/allconfig/templates/app-a.yaml
  perf/stability/allconfig/templates/app-b-headless.yaml
  perf/stability/allconfig/templates/app-c-split.yaml
  perf/stability/allconfig/templates/app-d-explicit-mtls.yaml
  perf/stability/allconfig/templates/app-e-authexcluded-noistio.yaml
  perf/stability/allconfig/templates/app-t-noistio.yaml
  perf/stability/allconfig/templates/badhealth.yaml
  perf/stability/allconfig/templates/fortio-cli.yaml
  perf/stability/allconfig/templates/fortio-headless.yaml
  perf/stability/allconfig/templates/fortio-master.yaml
  perf/stability/allconfig/templates/fortio-noistio.yaml
  perf/stability/allconfig/templates/fortio-tls.yaml
  perf/stability/allconfig/templates/fortio-ttls-small.yaml
  perf/stability/allconfig/templates/fortio-ttls.yaml
  perf/stability/allconfig/templates/fortio.yaml
  perf/stability/allconfig/templates/gateway.yaml
  perf/stability/allconfig/templates/gateway2.yaml
  perf/stability/allconfig/templates/ingress.yaml
  perf/stability/allconfig/templates/iperf3-noistio.yaml
  perf/stability/allconfig/templates/iperf3-tls.yaml
  perf/stability/allconfig/templates/iperf3.yaml
  perf/stability/allconfig/templates/service-externalname-httpbin.yaml
  perf/stability/allconfig/templates/service-externalname-wikipedia.yaml
  perf/stability/allconfig/templates/virtual_service.yaml
  perf/stability/allconfig/values.yaml
Due: none

Stop using deprecated Policy (#924)
  perf/benchmark/configs/istio/plaintext/prerun.sh
  perf/benchmark/templates/mtls.yaml
Due: benchmark_check_tools

fix typo in centos (#923)
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Properly shutdown benchmark job
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

fix lint error
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Amend handling of modes in runner.py (#919)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

add go template logic to handle both fortio and nighthawk test setup
  perf/benchmark/README.md
  perf/benchmark/setup_test.sh
  perf/benchmark/templates/fortio.yaml
  perf/benchmark/values.yaml
Due: benchmark_check_tools

fix doc lint error
  perf/benchmark/Pipfile
  perf/benchmark/README.md
Due: benchmark_check_tools

Delete Pipfile
  perf/benchmark/Pipfile
Due: benchmark_check_tools

Sync up with the latest changes
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

linting fixes + fix in fortio.yaml
  perf/benchmark/runner/runner.py
  perf/benchmark/templates/fortio.yaml
Due: benchmark_check_tools

Changes ot minimize the diff
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master (#920)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Properly shutdown benchmark job (#926)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#928)
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Fix perf test labelling issues
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

add go template logic to handle both fortio and nighthawk test setup (#927)
  perf/benchmark/README.md
  perf/benchmark/setup_test.sh
  perf/benchmark/templates/fortio.yaml
  perf/benchmark/values.yaml
Due: benchmark_check_tools

Fix perf test labelling issues (#929)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

add load_gen_type to perf pipeline
  perf/benchmark/configs/istio/mixer/cpu_mem.yaml
  perf/benchmark/configs/istio/mixer/latency.yaml
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

add load_gen_type in trialrun
  perf/benchmark/configs/trialrun.yaml
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

add both nighthawk and fortio run
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/tools@master (#930)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Support multiple upgrade and downgrade test scenarios
  upgrade/README.md
  upgrade/run_upgrade_test.sh
  upgrade/test_crossgrade.sh
Due: none

Small fixes
  upgrade/README.md
  upgrade/run_upgrade_test.sh
  upgrade/test_crossgrade.sh
Due: none

Support multiple upgrade and downgrade test scenarios (#931)
  upgrade/README.md
  upgrade/run_upgrade_test.sh
  upgrade/test_crossgrade.sh
Due: none

Build release-1.6 build-tools image
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Build release-1.6 build-tools image (#932)
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

add burst-size flag for nighthawk
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

add burst-size flag for nighthawk (#933)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Update to kind v0.8.0
  docker/build-tools/Dockerfile
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers
