Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

fix typo
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1037)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

disable serveronly for nologging mode
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
Due: benchmark_check_tools

Update golangci-lint
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update golangci-lint (#1038)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1039)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Remove counterfeiter (#1033)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

disable debug
  perf_dashboard/perf_dashboard/settings.py
Due: deploy-perf-dashboard_tools_postsubmit

Disable DEBUG for dashboard (#1016)
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/runner/runner.py
  perf_dashboard/perf_dashboard/settings.py
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/fix_copyright_banner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1040)
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/fix_copyright_banner.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/tools@master (#1043)
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Fix artifacts page data rendering issue
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/artifacts/views.py
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
  perf_dashboard/helpers/download.py
Due: deploy-perf-dashboard_tools_postsubmit

remove extra lines
  perf_dashboard/helpers/download.py
Due: deploy-perf-dashboard_tools_postsubmit

Move CRD gen to generate v1 CRDs
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
  cmd/cue-gen/test/istio.io/api/foo/v1alpha3/baz.proto
  go.mod
  go.sum
  tiller-hack/tiller-hack.go
Due: containers-test_tools, containers_tools_postsubmit

go mod
  go.mod
  go.sum
Due: none

Automator: update common-files@master in istio/tools@master (#1047)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Deprecate Mixer in perf pipeline and dashboard
  perf/benchmark/configs/istio/mixer/cpu_mem.yaml
  perf/benchmark/configs/istio/mixer/installation.yaml
  perf/benchmark/configs/istio/mixer/latency.yaml
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_memory.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/views.py
  perf_dashboard/regression_pattern/views.py
  perf_dashboard/static/js/configuration.js
  perf_dashboard/static/js/pattern_common_func.js
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Deprecate Mixer in perf pipeline and dashboard (#1045)
  perf/benchmark/configs/istio/mixer/cpu_mem.yaml
  perf/benchmark/configs/istio/mixer/installation.yaml
  perf/benchmark/configs/istio/mixer/latency.yaml
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_memory.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/views.py
  perf_dashboard/regression_pattern/views.py
  perf_dashboard/static/js/configuration.js
  perf_dashboard/static/js/pattern_common_func.js
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

fix for-endfor
  perf_dashboard/artifacts/templates/artifact.html
Due: deploy-perf-dashboard_tools_postsubmit

Fix artifacts page data rendering issue (#1044)
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/artifacts/views.py
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
  perf_dashboard/helpers/download.py
Due: deploy-perf-dashboard_tools_postsubmit

Fix benchmark data parsing issue and update history page
  perf_dashboard/artifacts/views.py
  perf_dashboard/benchmarks/views.py
  perf_dashboard/helpers/download.py
  perf_dashboard/history/templates/history.html
Due: deploy-perf-dashboard_tools_postsubmit

fix lint error
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Fix benchmark data parsing issue for latency and update history page (#1048)
  perf_dashboard/artifacts/views.py
  perf_dashboard/benchmarks/views.py
  perf_dashboard/helpers/download.py
  perf_dashboard/history/templates/history.html
Due: deploy-perf-dashboard_tools_postsubmit

Collect istio-proxy CPU and memory usage by pod name
  perf/benchmark/README.md
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
  perf/benchmark/runner/prom.py
Due: benchmark_check_tools

make method from function and fix lint error
  perf/benchmark/runner/prom.py
Due: benchmark_check_tools

Collect istio-proxy CPU and memory usage by pod name (#1049)
  perf/benchmark/README.md
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
  perf/benchmark/runner/prom.py
Due: benchmark_check_tools

Add files via upload
  generate.go
  generate_polices.go
Due: none

created generate policies folder
  perf/benchmark/runner/generate_policies/generate
  perf/benchmark/runner/generate_policies/generate.go
  perf/benchmark/runner/generate_policies/generate_polices
  perf/benchmark/runner/generate_policies/generate_polices.go
Due: benchmark_check_tools

Add benchmarkjunt
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add benchmarkjunt (#1050)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Fix unrecognize argument issue
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/test-graph.ipynb
Due: benchmark_check_tools

Fix unrecognize argument issue (#1051)
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/test-graph.ipynb
Due: benchmark_check_tools
