Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Install using istioctl install for 1.8
  perf/benchmark/README.md
  perf/istio-install/setup_istio.sh
Due: benchmark_check_tools

Install using istioctl install for 1.8 (#1116)
  perf/benchmark/README.md
  perf/istio-install/setup_istio.sh
Due: benchmark_check_tools

Remove deprecated telemetry addon fields
  perf/benchmark/runner/runner.py
  perf/istio-install/istioctl_profiles/default-overlay.yaml
  perf/istio-install/setup_istio.sh
Due: benchmark_check_tools

Add more flexiblity to generate_policy
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

fix lint
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: none

Add flame graph links
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Add flame graph links (#1102)
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@release-1.7 in istio/tools@release-1.7
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: none

Automator: update common-files@release-1.7 in istio/tools@release-1.7 (#1119)
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1118)
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: none

Update golangci-lint to 1.30
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

address suggestions
  perf/security/sds-tests/egress-sds/README.md
  perf/security/sds-tests/egress-sds/setup_nginx.sh
Due: none

Update golangci-lint to 1.30 (#1120)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

indent
  perf/security/sds-tests/egress-sds/cleanup.sh
Due: none

Egress SDS Perf Test (#1108)
  perf/security/sds-tests/egress-sds/README.md
  perf/security/sds-tests/egress-sds/cleanup.sh
  perf/security/sds-tests/egress-sds/request_script.sh
  perf/security/sds-tests/egress-sds/setup_client.sh
  perf/security/sds-tests/egress-sds/setup_destinationrule.sh
  perf/security/sds-tests/egress-sds/setup_gateway.sh
  perf/security/sds-tests/egress-sds/setup_nginx.sh
  perf/security/sds-tests/egress-sds/setup_test.sh
  perf/security/sds-tests/egress-sds/setup_virtualservice.sh
Due: none

solve comments
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

fix lint
  perf/benchmark/security/generate_policies/generate.go
Due: benchmark_check_tools

Add more flexibility to generate_policies (#1117)
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1122)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add prometheus pod debugging info
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Add prometheus pod debugging info (#1123)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Add prometheus pod debugging info (#1124)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Update shellcheck URL
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update shellcheck URL (#1125)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1128)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

List pods in istio-system namespace
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

add list pods in istio-prometheus namespace
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

List pods in istio-system namespace (#1129)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

[release-1.7] List pods in istio-system namespace (#1130)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Update shellcheck URL (#1126)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix prometheus namespace
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
