Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1855)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

added tests for control-plane stability testing (#1799)
  perf/stability/control-plane/README.md
  perf/stability/control-plane/config.json
  perf/stability/control-plane/config_100.json
  perf/stability/control-plane/config_1000.json
  perf/stability/control-plane/config_update_ns.json
  perf/stability/control-plane/config_update_paths.json
  perf/stability/control-plane/samples/httpbin.yaml
  perf/stability/control-plane/samples/sleep.yaml
  perf/stability/control-plane/test.sh
Due: none

Automator: update common-files@release-1.13 in istio/tools@release-1.13
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.13 in istio/tools@release-1.13 (#1857)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update golang linter
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update golang linter (#1858)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.13 in istio/tools@release-1.13 (#1859)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fixes for linting with new common-files update
  cmd/annotations_prep/main.go
  cmd/cue-gen/assets.gen.go
  cmd/cue-gen/genoapi.go
  cmd/gen-release-notes/main.go
  cmd/kubetype-gen/metadata/metadata.go
  cmd/license-lint/main.go
  cmd/mvpage/mover.go
  isotope/convert/cmd/graphviz.go
  isotope/convert/cmd/kubernetes.go
  isotope/convert/pkg/graph/script/request_command.go
  isotope/convert/pkg/graph/svc/unmarshal.go
  isotope/convert/pkg/kubernetes/kubernetes.go
  isotope/service/main.go
  isotope/service/pkg/srv/executable.go
  isotope/service/pkg/srv/graph.go
  isotope/service/pkg/srv/handler.go
  isotope/service/pkg/srv/prometheus/handler.go
Due: containers-test_tools, containers_tools_postsubmit

Fixes for linting with new common-files update (#1860)
  cmd/annotations_prep/main.go
  cmd/cue-gen/assets.gen.go
  cmd/cue-gen/genoapi.go
  cmd/gen-release-notes/main.go
  cmd/kubetype-gen/metadata/metadata.go
  cmd/license-lint/main.go
  cmd/mvpage/mover.go
  isotope/convert/cmd/graphviz.go
  isotope/convert/cmd/kubernetes.go
  isotope/convert/pkg/graph/script/request_command.go
  isotope/convert/pkg/graph/svc/unmarshal.go
  isotope/convert/pkg/kubernetes/kubernetes.go
  isotope/service/main.go
  isotope/service/pkg/srv/executable.go
  isotope/service/pkg/srv/graph.go
  isotope/service/pkg/srv/handler.go
  isotope/service/pkg/srv/prometheus/handler.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@release-1.13 in istio/tools@release-1.13 (#1861)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update to Golang 1.17.7
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update to Golang 1.17.7 (#1863)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update golang to 1.16.14
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update to Golang 1.17.7 (#1865)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.13 in istio/tools@release-1.13 (#1867)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1868)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

bump perf to release 1.13
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

bump perf to release 1.13 (#1869)
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

Update to Golang 1.17.7 (#1864)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

bump perf to release 1.13 (#1870)
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@release-1.12 in istio/tools@release-1.12
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1871)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update golang to 1.16.14 (#1866)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.11 in istio/tools@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.11 in istio/tools@release-1.11 (#1872)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Remove legacy upgrade/downgrade jobs
  upgrade_downgrade/README.md
  upgrade_downgrade/common.sh
  upgrade_downgrade/fortio_utils.sh
  upgrade_downgrade/kind.sh
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/templates/boutique/istio-manifests.yaml
  upgrade_downgrade/templates/boutique/k8s-adservice.yaml
  upgrade_downgrade/templates/boutique/k8s-cartservice.yaml
  upgrade_downgrade/templates/boutique/k8s-checkoutservice.yaml
  upgrade_downgrade/templates/boutique/k8s-currencyservice.yaml
  upgrade_downgrade/templates/boutique/k8s-emailservice.yaml
  upgrade_downgrade/templates/boutique/k8s-frontend.yaml
  upgrade_downgrade/templates/boutique/k8s-loadgenerator.yaml
  upgrade_downgrade/templates/boutique/k8s-paymentservice.yaml
  upgrade_downgrade/templates/boutique/k8s-productcatalogservice.yaml
  upgrade_downgrade/templates/boutique/k8s-recommendationservice.yaml
  upgrade_downgrade/templates/boutique/k8s-redis-cart.yaml
  upgrade_downgrade/templates/boutique/k8s-shippingservice.yaml
  upgrade_downgrade/templates/fortio-cli.yaml
  upgrade_downgrade/templates/fortio.yaml
  upgrade_downgrade/templates/gateway.yaml
  upgrade_downgrade/templates/iop-control-plane.yaml
  upgrade_downgrade/templates/iop-gateways.yaml
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade_boutique.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

Remove legacy upgrade/downgrade jobs (#1873)
  upgrade_downgrade/README.md
  upgrade_downgrade/common.sh
  upgrade_downgrade/fortio_utils.sh
  upgrade_downgrade/kind.sh
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/templates/boutique/istio-manifests.yaml
  upgrade_downgrade/templates/boutique/k8s-adservice.yaml
  upgrade_downgrade/templates/boutique/k8s-cartservice.yaml
  upgrade_downgrade/templates/boutique/k8s-checkoutservice.yaml
  upgrade_downgrade/templates/boutique/k8s-currencyservice.yaml
  upgrade_downgrade/templates/boutique/k8s-emailservice.yaml
  upgrade_downgrade/templates/boutique/k8s-frontend.yaml
  upgrade_downgrade/templates/boutique/k8s-loadgenerator.yaml
  upgrade_downgrade/templates/boutique/k8s-paymentservice.yaml
  upgrade_downgrade/templates/boutique/k8s-productcatalogservice.yaml
  upgrade_downgrade/templates/boutique/k8s-recommendationservice.yaml
  upgrade_downgrade/templates/boutique/k8s-redis-cart.yaml
  upgrade_downgrade/templates/boutique/k8s-shippingservice.yaml
  upgrade_downgrade/templates/fortio-cli.yaml
  upgrade_downgrade/templates/fortio.yaml
  upgrade_downgrade/templates/gateway.yaml
  upgrade_downgrade/templates/iop-control-plane.yaml
  upgrade_downgrade/templates/iop-gateways.yaml
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade_boutique.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

clean up
  cmd/gen-release-notes/templates/releaseNotes.md
Due: containers-test_tools, containers_tools_postsubmit

add trailing newline before exit
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

add trailing newline before exit (#1875)
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1876)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none
