Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

create_cluster.sh update with correct env var. (#1663)
  perf/istio-install/create_cluster.sh
Due: none

set default container of kubectl to uncaptured
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Install alpha component in gcloud so alpha
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.10] install gcloud alpha command group
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

add a blank line for better markdown format
  perf/benchmark/README.md
Due: benchmark_check_tools

add a blank line for better markdown format (#1667)
  perf/benchmark/README.md
Due: benchmark_check_tools

Install alpha component in gcloud so alpha (#1665)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.10] install gcloud alpha command group (#1666)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump golang to 1.16.7
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang will updating the script to no override it unless set
  docker/build-tools/Dockerfile
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Remove extra parameter
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Update Golang while updating the script to not override it unless set (#1669)
  docker/build-tools/Dockerfile
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1671)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

[release-1.11] Update Golang while updating the script to not override it unless set (#1670)
  docker/build-tools/Dockerfile
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.11 in istio/tools@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.11 in istio/tools@release-1.11 (#1672)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

use new recommended gateway install method
  perf/istio-install/README.md
  perf/istio-install/istioctl_profiles/long-running-gateway.yaml
  perf/istio-install/istioctl_profiles/long-running.yaml
  perf/istio-install/setup_istio.sh
Due: none

use new recommended gateway install method (#1673)
  perf/istio-install/README.md
  perf/istio-install/istioctl_profiles/long-running-gateway.yaml
  perf/istio-install/istioctl_profiles/long-running.yaml
  perf/istio-install/setup_istio.sh
Due: none

Update go to 1.15.15; see https://groups.google.com/g/golang-announce/c/uHACNfXAZqk
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Build with go 1.16.7
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go to 1.15.15; see https://groups.google.com/g/golang-announce/c/uHACNfXAZqk (#1674)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.9 in istio/tools@release-1.9
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.9 in istio/tools@release-1.9 (#1676)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Build with go 1.16.7 (#1675)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.10 in istio/tools@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.10 in istio/tools@release-1.10 (#1677)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bump golang to 1.17
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

mess around with graph plotter
  perf/benchmark/graph_plotter/grouped_bar_plotter.py
Due: benchmark_check_tools

Delete isotope/runner
  isotope/runner/README.md
  isotope/runner/__init__.py
  isotope/runner/cluster.py
  isotope/runner/config.py
  isotope/runner/consts.py
  isotope/runner/entrypoint.py
  isotope/runner/entrypoint_test.py
  isotope/runner/istio.py
  isotope/runner/kubectl.py
  isotope/runner/md5.py
  isotope/runner/mesh.py
  isotope/runner/mesh_test.py
  isotope/runner/pipeline.py
  isotope/runner/prometheus.py
  isotope/runner/prometheus_test.py
  isotope/runner/requirements.txt
  isotope/runner/resources/.gitignore
  isotope/runner/resources/__init__.py
  isotope/runner/resources/helm-service-account.yaml
  isotope/runner/resources/persistent-volume.yaml
  isotope/runner/sh.py
  isotope/runner/wait.py
Due: none

Delete isotope/runner (#1680)
  isotope/runner/README.md
  isotope/runner/__init__.py
  isotope/runner/cluster.py
  isotope/runner/config.py
  isotope/runner/consts.py
  isotope/runner/entrypoint.py
  isotope/runner/entrypoint_test.py
  isotope/runner/istio.py
  isotope/runner/kubectl.py
  isotope/runner/md5.py
  isotope/runner/mesh.py
  isotope/runner/mesh_test.py
  isotope/runner/pipeline.py
  isotope/runner/prometheus.py
  isotope/runner/prometheus_test.py
  isotope/runner/requirements.txt
  isotope/runner/resources/.gitignore
  isotope/runner/resources/__init__.py
  isotope/runner/resources/helm-service-account.yaml
  isotope/runner/resources/persistent-volume.yaml
  isotope/runner/sh.py
  isotope/runner/wait.py
Due: none

fix templates
  perf/benchmark/setup_test.sh
  perf/benchmark/templates/fortio.yaml
  perf/benchmark/values.yaml
Due: benchmark_check_tools

cleanup runner
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

default to captured
  perf/benchmark/runner/runner.py
  perf/benchmark/templates/fortio.yaml
Due: benchmark_check_tools

baseline for grpc xds
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Added ppc64le architecture support
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

bumptorelease1.11
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

bumptorelease1.11 (#1682)
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
