Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#1683)
  common/.commonfiles.sha
Due: none

Allow specifying additional docker buildx arguments
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Allow specifying additional docker buildx arguments (#1684)
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

there is a wrong command for this readme
  cmd/gen-release-notes/README.md
Due: containers-test_tools, containers_tools_postsubmit

there is a wrong command for this readme (#1685)
  cmd/gen-release-notes/README.md
Due: containers-test_tools, containers_tools_postsubmit

Changes to allow build-and-push.sh to create images on a Mac
  docker/build-tools/Dockerfile
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Changes to allow build-and-push.sh to create images on a Mac (#1686)
  docker/build-tools/Dockerfile
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fixed issues for generation of releasenotes
  cmd/gen-release-notes/README.md
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

fixed issues for generation of releasenotes (#1687)
  cmd/gen-release-notes/README.md
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

Update goc replacing use of deprecated go/loader
  cmd/goc/instrument.go
Due: containers-test_tools, containers_tools_postsubmit

Revert "fixed issues for generation of releasenotes (#1687)"
  cmd/gen-release-notes/README.md
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

Revert "fixed issues for generation of releasenotes (#1687)" (#1688)
  cmd/gen-release-notes/README.md
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

Update goc replacing use of deprecated go/loader (#1689)
  cmd/goc/instrument.go
Due: containers-test_tools, containers_tools_postsubmit

update gcloud SDK to the newest version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

update gcloud SDK to the newest version (#1690)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update gh to latest 2.0.0. Also add less as a dependency.
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update gh to latest 2.0.0. Also add less as a dependency. (#1691)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Manual cherry-pick of 1691, update gh
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Manual cherry-pick of #1691, update gh
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update gh to latest 2.0.0. Also add less as a dependency. (#1692)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1695)
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1696)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Manual cherry-pick of 1691, update gh (#1694)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update containerd to 1.4.4
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update containerd to 1.4.4 (#1697)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Manual cherry-pick of #1691, update gh (#1693)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.10 in istio/tools@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.10 in istio/tools@release-1.10 (#1698)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add docs evaluation tooling
  cmd/evaluate-docs/README.md
  cmd/evaluate-docs/main.go
  cmd/evaluate-docs/scorer.go
  cmd/evaluate-docs/scorer_hits.go
Due: containers-test_tools, containers_tools_postsubmit

Update Golang to 1.16.8
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to 1.16.8 (#1700)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to 1.16.8 (#1702)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to 1.16.8 (#1701)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add docs evaluation tooling (#1699)
  cmd/evaluate-docs/README.md
  cmd/evaluate-docs/main.go
  cmd/evaluate-docs/scorer.go
  cmd/evaluate-docs/scorer_hits.go
Due: containers-test_tools, containers_tools_postsubmit
