Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Skip cosign install for non-amd64 platform
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Upgrade cosign to support other platforms
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Upgrade cosign to support other platforms (#1741)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1742)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Automator: update common-files@master in istio/tools@master (#1743)
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Update Golang to 1.17.3
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update hadolint version plus lint fixes
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to 1.17.3 (#1744)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update gcloud to 362 (#1737)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update hadolint to 2.8.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add crane to docker image
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add crane to docker image (#1747)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update hadolint version plus lint fixes (#1745)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1748)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Use golang 1.17.3
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update to golang 1.16.10
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go to 1.16.10
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Use golang 1.17.3 (#1749)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go to 1.16.10 (#1751)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.12 in istio/tools@release-1.12
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1752)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Always enable ipv6 sysctl
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Always enable ipv6 sysctl (#1753)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1754)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update to golang 1.16.10 (#1750)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1755)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#1756)
  Makefile
  common/.commonfiles.sha
Due: none

Use sigs.k8s.io/yaml instead of ghodss
  cmd/annotations_prep/main.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/gen-release-notes/main.go
  cmd/license-lint/config.go
  go.mod
  isotope/convert/cmd/graphviz.go
  isotope/convert/cmd/kubernetes.go
  isotope/convert/pkg/graph/script/command.go
  isotope/convert/pkg/kubernetes/kubernetes.go
  isotope/go.mod
  isotope/go.sum
  isotope/service/pkg/srv/graph.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit

Run make gen:
  go.mod
  go.sum
Due: none

Use sigs.k8s.io/yaml instead of ghodss (#1757)
  cmd/annotations_prep/main.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/gen-release-notes/main.go
  cmd/license-lint/config.go
  go.mod
  go.sum
  isotope/convert/cmd/graphviz.go
  isotope/convert/cmd/kubernetes.go
  isotope/convert/pkg/graph/script/command.go
  isotope/convert/pkg/kubernetes/kubernetes.go
  isotope/go.mod
  isotope/go.sum
  isotope/service/pkg/srv/graph.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit

Update gcloud to 362
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update gcloud to 362 (#1758)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update gcloud to 362 (#1737) (#1759)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
