Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Make load test and flame graph (when --perf enabled) running in parallel (#1011)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Fix flame graph README (#1013)
  perf/benchmark/flame/README.md
Due: benchmark_check_tools

Make load test and flame graph (when --perf enabled) running in parallel (#1011) (#1014)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Revert "make trace back days configurable on perf site (#881)"
  perf_dashboard/benchmarks/templates/cpu_memory.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Revert "make trace back days configurable on perf site (#881)" (#1015)
  perf_dashboard/benchmarks/templates/cpu_memory.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Fix --perf for baseline mode
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Add flame graph --perf run into perf pipeline
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Add perf record enabling to run benchmark job
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Fix --perf for baseline mode (#1017)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Add flame graph --perf run into perf pipeline (#1018)
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

[release-1.6] Add flame graph --perf run into perf pipeline (#1020)
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Collect istio-proxy CPU and memory usage for perf test
  perf/benchmark/runner/prom.py
Due: benchmark_check_tools

Update fortio.py to fetch_istio_proxy_cpu_and_mem
  perf/benchmark/runner/fortio.py
  perf/benchmark/runner/prom.py
Due: benchmark_check_tools

Update collected metrics name
  perf/benchmark/README.md
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
  perf/benchmark/runner/prom.py
Due: benchmark_check_tools

Remove enable_perf record
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

make perf_record to be true for trialrun
  perf/benchmark/configs/trialrun.yaml
Due: benchmark_check_tools

test collect flame graph in trialrun
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

remove enable perf record
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Remove enable_perf record (#1022)
  perf/benchmark/configs/trialrun.yaml
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

[release-1.6] Remove enable_perf record (#1023)
  perf/benchmark/configs/trialrun.yaml
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Fix --perf for baseline mode (#1019)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/copyright-banner-go.txt
  common/scripts/fix_copyright_banner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1024)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/copyright-banner-go.txt
  common/scripts/fix_copyright_banner.sh
Due: none

Allow cue-gen to generate validation schema for status
  cmd/cue-gen/Makefile
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/test/Makefile
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
  cmd/cue-gen/test/istio.io/api/cue.mod
  cmd/cue-gen/test/istio.io/api/cue.yaml
  cmd/cue-gen/test/istio.io/api/foo/v1alpha3/bar.proto
  cmd/cue-gen/test/istio.io/api/foo/v1beta1/bar.proto
  cmd/cue-gen/test/istio.io/api/meta/v1beta1/status.proto
  go.mod
  go.sum
Due: containers-test_tools, containers_tools_postsubmit

Fix GCS bucket copy path for flamegraphs
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Fix GCS bucket copy path for flamegraphs (#1026)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

add script to generate flamegraph for pilot/istiod
  perf/benchmark/flame/flame.sh
  perf/benchmark/flame/get_istiod_pprof.sh
Due: benchmark_check_tools

Allow cue-gen to generate validation schema for status (#1025)
  cmd/cue-gen/Makefile
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/test/Makefile
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
  cmd/cue-gen/test/istio.io/api/cue.mod
  cmd/cue-gen/test/istio.io/api/cue.yaml
  cmd/cue-gen/test/istio.io/api/foo/v1alpha3/bar.proto
  cmd/cue-gen/test/istio.io/api/foo/v1beta1/bar.proto
  cmd/cue-gen/test/istio.io/api/meta/v1beta1/status.proto
  go.mod
  go.sum
Due: containers-test_tools, containers_tools_postsubmit

cleaup extraneous changes
  perf/benchmark/flame/get_istiod_pprof.sh
Due: benchmark_check_tools

update readme
  perf/benchmark/flame/README.md
Due: benchmark_check_tools

find istiod pod by default
  perf/benchmark/flame/README.md
  perf/benchmark/flame/get_istiod_pprof.sh
Due: benchmark_check_tools

Bump kind version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers
