Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Automator: update common-files@release-1.8 in istio/tools@release-1.8 (#1290)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/tools@master (#1291)
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Remove helm2 and fix helm issue
  docker/build-tools/Dockerfile
  perf/benchmark/run_benchmark_job.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, tools-containers

Remove helm2 and fix helm issue (#1292)
  docker/build-tools/Dockerfile
  perf/benchmark/run_benchmark_job.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, tools-containers

Fix race in grafana install
  perf/istio-install/setup_istio.sh
Due: none

Fix race in grafana install (#1294)
  perf/istio-install/setup_istio.sh
Due: none

Remove helm2 and fix helm issue
  docker/build-tools/Dockerfile
  perf/benchmark/run_benchmark_job.sh
  upgrade/test_crossgrade.sh
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, tools-containers

Remove helm2 and fix helm issue (#1295)
  docker/build-tools/Dockerfile
  perf/benchmark/run_benchmark_job.sh
  upgrade/test_crossgrade.sh
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, tools-containers

address comment
  perf/stability/canary-upgrader/values.yaml
Due: none

add new monitors for release qual test
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/canary-upgrader/values.yaml
Due: none

add cpu/memory profile work to cronjob
  perf/stability/alertmanager/templates/kube_state_metrics.yaml
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/canary-upgrader/templates/canary-upgrader-cron.yaml
  perf/stability/long_running.sh
Due: none

Install a few Go tools for testing of our internal projects
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Install a few Go tools for testing of our internal projects (#1296)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix discovery address verification and some refactoring (#1288)
  upgrade_downgrade/common.sh
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

Install a few test infra tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

install a few test infra tools for release-1.8 branch
  docker/build-tools/Dockerfile
  perf/stability/sds-certmanager/crds/certmanager.yaml
  perf/stability/sds-certmanager/templates/certmanager.yaml
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

install a few test infra tools for release-1.8 branch (#1300)
  docker/build-tools/Dockerfile
  perf/stability/sds-certmanager/crds/certmanager.yaml
  perf/stability/sds-certmanager/templates/certmanager.yaml
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump certmanager CRD version and fix ordering
  perf/istio-install/base/templates/cert-manager.yaml
  perf/istio-install/setup_istio.sh
Due: none

Bump certmanager CRD version and fix ordering (#1301)
  perf/istio-install/base/templates/cert-manager.yaml
  perf/istio-install/setup_istio.sh
Due: none

Remove helm2 and fix helm issue (#1302)
  docker/build-tools/Dockerfile
  perf/benchmark/run_benchmark_job.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, tools-containers

first [incomplete] implementation of dual control plane upgrade with boutique shop application
  upgrade_downgrade/common.sh
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_boutique.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

Install a few test infra tools (#1299)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

working version of boutique app upgrade (without check on fail percentage in internal traffic)
  upgrade_downgrade/common.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_boutique.sh
Due: none

fix other issues
  perf/stability/README.md
  perf/stability/alertmanager/webhook.go
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/canary-upgrader/templates/canary-upgrader-cron.yaml
  perf/stability/long_running.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1304)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Install a few Go tools for testing of our internal projects (#1298)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1305)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

add new monitors for release qual test (#1267)
  perf/stability/README.md
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/alertmanager/templates/kube_state_metrics.yaml
  perf/stability/alertmanager/webhook.go
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/canary-upgrader/templates/canary-upgrader-cron.yaml
  perf/stability/canary-upgrader/values.yaml
  perf/stability/long_running.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1306)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Fix spell issue
  Makefile
  docker/build-tools/Dockerfile
  isotope/README.md
  isotope/helm-values.yaml
  isotope/runner/kubectl.py
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/security/generate_policies/README.md
  perf/istio-install/create_cluster.sh
  perf/load/loadclient/values.yaml
  perf/load/pilot/README.md
  perf/load/values-istio-auth.yaml
  perf/other/multicluster-vpc/setup.sh
  perf_dashboard/static/css/style.blue.css
  setup/ipv6/calico.yaml
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Install the latest gcloud tool and its beta components
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Install the latest gcloud tool and its beta components (#1307)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Fix spell issue (#1308)
  Makefile
  docker/build-tools/Dockerfile
  isotope/README.md
  isotope/helm-values.yaml
  isotope/runner/kubectl.py
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/security/generate_policies/README.md
  perf/istio-install/create_cluster.sh
  perf/load/loadclient/values.yaml
  perf/load/pilot/README.md
  perf/load/values-istio-auth.yaml
  perf/other/multicluster-vpc/setup.sh
  perf_dashboard/static/css/style.blue.css
  setup/ipv6/calico.yaml
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers
