Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

mkdir the file before attempting to write
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Drop obsolete schema validator (#2533)
  cmd/schema-validator/testdata/features.yaml
  cmd/schema-validator/testdata/features_broken.yaml
  cmd/schema-validator/testdata/features_schema.json
  cmd/schema-validator/validate.go
  cmd/schema-validator/validate_test.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

GCP_SECRETS: allow writing to file as well (#2538)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Allow reading GCP secrets in prow job (#2526)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Release notes: skip batch jobs (#2539)
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Fix GCP_SECRETS leaking data (#2528)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

mkdir the file before attempting to write (#2541)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Revamp release-notes tool (#2531)
  cmd/gen-release-notes/main.go
  cmd/schema-validator/validate.go
  pkg/schemavalidation/validation.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

1.18: sync build-tools with master (#2542)
  cmd/gen-release-notes/main.go
  cmd/schema-validator/testdata/features.yaml
  cmd/schema-validator/testdata/features_broken.yaml
  cmd/schema-validator/testdata/features_schema.json
  cmd/schema-validator/validate.go
  cmd/schema-validator/validate_test.go
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2545)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

1.16: sync build-tools with master (#2544)
  cmd/gen-release-notes/main.go
  cmd/schema-validator/testdata/features.yaml
  cmd/schema-validator/testdata/features_broken.yaml
  cmd/schema-validator/testdata/features_schema.json
  cmd/schema-validator/validate.go
  cmd/schema-validator/validate_test.go
  docker/build-tools/prow-entrypoint.sh
  pkg/schemavalidation/validation.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@release-1.18 in istio/tools@release-1.18
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.18 in istio/tools@release-1.18 (#2546)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.16 in istio/tools@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.16 in istio/tools@release-1.16 (#2547)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

1.17: sync build-tools with master (#2543)
  cmd/gen-release-notes/main.go
  cmd/schema-validator/testdata/features.yaml
  cmd/schema-validator/testdata/features_broken.yaml
  cmd/schema-validator/testdata/features_schema.json
  cmd/schema-validator/validate.go
  cmd/schema-validator/validate_test.go
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update cosign
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.17 in istio/tools@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.17 in istio/tools@release-1.17 (#2548)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

build: drop CentOS 7 builder
  clang-toolchain/Dockerfile
  clang-toolchain/README.md
  clang-toolchain/build_clang_llvm.sh
  clang-toolchain/cloudbuild.yaml
  clang-toolchain/install_build_deps.sh
  docker/build-tools/Dockerfile.centos
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update trivy
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update buf
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update protoc-gen-go
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

build: drop CentOS 7 builder (#2549)
  clang-toolchain/Dockerfile
  clang-toolchain/README.md
  clang-toolchain/build_clang_llvm.sh
  clang-toolchain/cloudbuild.yaml
  clang-toolchain/install_build_deps.sh
  docker/build-tools/Dockerfile.centos
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2551)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update hugo
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update misc tools (#2525)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2552)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update misc tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers
