Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Avoid downloading duplicate files and Add deleting outdated files (#1238)
  perf_dashboard/helpers/download.py
Due: deploy-perf-dashboard_tools_postsubmit

Remove unused metrics field and fix P99.9 csv construction issue
  perf/benchmark/README.md
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

update prometheus namespace
  perf/benchmark/README.md
Due: benchmark_check_tools

Remove unused metrics field and fix P99.9 csv construction issue (#1239)
  perf/benchmark/README.md
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Fix dashboard QPS query list to make it consistent with master change
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Fix dashboard QPS query list to make it consistent with master change (#1240)
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

add new line
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/installation.yaml
Due: benchmark_check_tools

do not need logging field
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/installation.yaml
Due: benchmark_check_tools

Add SD inbound/outbound access logging in perf config files (#1237)
  perf/benchmark/configs/istio/telemetryv2_sd_full/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/installation.yaml
Due: benchmark_check_tools

update spanner schema and fix kube_state_metrics
  perf/istio-install/addons/servicemonitors.yaml
  perf/istio-install/setup_istio.sh
  perf/stability/alertmanager/templates/alertmanager-webhook.yaml
  perf/stability/alertmanager/templates/kube_state_metrics.yaml
  perf/stability/alertmanager/values.yaml
  perf/stability/alertmanager/webhook.go
  perf/stability/long_running.sh
Due: none

fix lint
  perf/stability/alertmanager/webhook.go
Due: none

[release-qual] update spanner schema and fix kube_state_metrics (#1241)
  perf/istio-install/addons/servicemonitors.yaml
  perf/istio-install/setup_istio.sh
  perf/stability/alertmanager/templates/alertmanager-webhook.yaml
  perf/stability/alertmanager/templates/kube_state_metrics.yaml
  perf/stability/alertmanager/values.yaml
  perf/stability/alertmanager/webhook.go
  perf/stability/long_running.sh
Due: none

keep copy of the grafana cm
  perf/istio-install/addons/grafana-cm.yaml
  perf/istio-install/setup_istio.sh
Due: none

No namespace for prometheus service monitor deployment
  perf/istio-install/setup_istio.sh
Due: none

No namespace for prometheus service monitor deployment (#1243)
  perf/istio-install/setup_istio.sh
Due: none

keep copy of the grafana cm (#1242)
  perf/istio-install/addons/grafana-cm.yaml
  perf/istio-install/setup_istio.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/tools@master (#1244)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Add benchmark CSV graph plotter
  perf/benchmark/graph_plotter/Pipfile
  perf/benchmark/graph_plotter/README.md
  perf/benchmark/graph_plotter/example_plot/benchmark.csv
  perf/benchmark/graph_plotter/example_plot/plotter_output.png
  perf/benchmark/graph_plotter/graph_plotter.py
Due: benchmark_check_tools

clean up old graph plot related file
  perf/benchmark/README.md
  perf/benchmark/graphoutput/istio_p90.png
  perf/benchmark/runner/Pipfile
  perf/benchmark/runner/graph.py
Due: benchmark_check_tools

add license
  perf/benchmark/graph_plotter/graph_plotter.py
Due: benchmark_check_tools

fix lint error
  perf/benchmark/README.md
  perf/benchmark/graph_plotter/README.md
Due: benchmark_check_tools

fix a typo
  perf/benchmark/graph_plotter/README.md
  perf/benchmark/graph_plotter/myfig.png
Due: benchmark_check_tools

fix lint error
  perf/benchmark/graph_plotter/README.md
Due: benchmark_check_tools

Add graph plotter (#1233)
  perf/benchmark/README.md
  perf/benchmark/graph_plotter/Pipfile
  perf/benchmark/graph_plotter/README.md
  perf/benchmark/graph_plotter/example_plot/benchmark.csv
  perf/benchmark/graph_plotter/example_plot/plotter_output.png
  perf/benchmark/graph_plotter/graph_plotter.py
  perf/benchmark/graph_plotter/myfig.png
  perf/benchmark/graphoutput/istio_p90.png
  perf/benchmark/runner/graph.py
Due: benchmark_check_tools

Put all env prepare file in one place
  perf/benchmark/Pipfile
  perf/benchmark/README.md
  perf/benchmark/graph_plotter/graph_plotter.py
  perf/benchmark/graph_plotter/myfig.png
  perf/benchmark/runner/Pipfile
Due: benchmark_check_tools

fix lint error
  perf/benchmark/README.md
Due: benchmark_check_tools

change pipenv install folder
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Put all env prepare file in one place (#1245)
  perf/benchmark/Pipfile
  perf/benchmark/README.md
  perf/benchmark/graph_plotter/graph_plotter.py
  perf/benchmark/graph_plotter/myfig.png
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/Pipfile
Due: benchmark_check_tools

increase timeout and use upgraded istioctl binary for uninstalling
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

fix uninstall command - 1.6 should use manifest generation and deletion, >= 1.7 should use "x uninstall"
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

Allow unknown fields in json
  cmd/protoc-gen-jsonshim/jsonshim/plugin.go
  cmd/protoc-gen-jsonshim/test/generated/external_json.gen.go
  cmd/protoc-gen-jsonshim/test/generated/types_json.gen.go
Due: containers-test_tools, containers_tools_postsubmit

Allow unknown fields in json (#1247)
  cmd/protoc-gen-jsonshim/jsonshim/plugin.go
  cmd/protoc-gen-jsonshim/test/generated/external_json.gen.go
  cmd/protoc-gen-jsonshim/test/generated/types_json.gen.go
Due: containers-test_tools, containers_tools_postsubmit

dual control plane test minor fixes - increase timeout and use upgraded istioctl binary for uninstalling (#1246)
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

Automator: update common-files@release-1.7 in istio/tools@release-1.7
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.7 in istio/tools@release-1.7 (#1248)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Remove python version hard requirement, depend on what build-tools provide
  perf/benchmark/Pipfile
Due: benchmark_check_tools

Remove python version hard requirement, depend on what build-tools provide (#1249)
  perf/benchmark/Pipfile
Due: benchmark_check_tools

fix latency prometheusrule
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/logs-checker/templates/check_k8s_logs.yaml
Due: none

fix dual control plane test - discovery address verification and README
  upgrade_downgrade/README.md
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none
