Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

ran make fmt
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Create security directory
  perf/benchmark/generate_policies/generate
  perf/benchmark/generate_policies/generate_polices
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

remove extra files, fix typos
  generate.go
  generate_polices.go
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Work on linter errors
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Work on linter errors, use go fmt
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

allow for unique paths, solve review comments
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Add istio-proxy CPU usages by pod_name into dashboard (#1092)
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_memory.html
  perf_dashboard/benchmarks/templates/cpu_usage_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_usage_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/benchmarks/urls.py
  perf_dashboard/benchmarks/views.py
  perf_dashboard/graph_plotting/templates/graph_plotting.html
  perf_dashboard/graph_plotting/views.py
  perf_dashboard/history/templates/history.html
  perf_dashboard/regression_pattern/templates/cur_pattern.html
  perf_dashboard/regression_pattern/templates/master_pattern.html
  perf_dashboard/static/js/cpu_conn.js
  perf_dashboard/static/js/cpu_qps.js
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Add istio-proxy memory usages by pod_name into dashboard
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/benchmarks/urls.py
  perf_dashboard/benchmarks/views.py
  perf_dashboard/graph_plotting/templates/graph_plotting.html
  perf_dashboard/history/templates/history.html
  perf_dashboard/regression_pattern/templates/cur_pattern.html
  perf_dashboard/regression_pattern/templates/master_pattern.html
  perf_dashboard/static/js/mem_conn.js
  perf_dashboard/static/js/mem_qps.js
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

fix bugs and lint errors
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/urls.py
  perf_dashboard/benchmarks/views.py
  perf_dashboard/static/js/cpu_qps.js
Due: deploy-perf-dashboard_tools_postsubmit

Add /home/.cache as a volume mount in the image
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add istio-proxy memory usages by pod_name into dashboard (#1093)
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/benchmarks/urls.py
  perf_dashboard/benchmarks/views.py
  perf_dashboard/graph_plotting/templates/graph_plotting.html
  perf_dashboard/history/templates/history.html
  perf_dashboard/regression_pattern/templates/cur_pattern.html
  perf_dashboard/regression_pattern/templates/master_pattern.html
  perf_dashboard/static/js/mem_conn.js
  perf_dashboard/static/js/mem_qps.js
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Adding generate_policies files
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Set release managers as CODEOWNERS for release-1.7
  CODEOWNERS
Due: none

Set release managers as CODEOWNERS for release-1.7 (#1097)
  CODEOWNERS
Due: none

Resolve comments
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

update common
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: none

s/master/release-1.7/
  docker/build-tools/build-and-push.sh
  examples/luacheck/templates/meshPolicy.yaml
  isotope/runner/pipeline.py
  perf/benchmark/README.md
  perf/benchmark/configs/README.md
  perf/benchmark/linkerd/README.md
  perf/istio-install/create_cluster.sh
  perf_dashboard/templates/index.html
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit

Updates for 1.7 (#1098)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
  docker/build-tools/build-and-push.sh
  examples/luacheck/templates/meshPolicy.yaml
  isotope/runner/pipeline.py
  perf/benchmark/README.md
  perf/benchmark/configs/README.md
  perf/benchmark/linkerd/README.md
  perf/istio-install/create_cluster.sh
  perf_dashboard/templates/index.html
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit

Fix flame graph svg label
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Fix flame graph svg label (#1099)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1101)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Add /home/.cache as a volume mount in the image (#1095)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update dashboard overview page to have prow job and slack notification included
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Fix for cpu and memory page
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

Fix for cpu and memory page (#1104)
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@release-1.7 in istio/tools@release-1.7
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.7 in istio/tools@release-1.7 (#1105)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

fix lint error
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Deprecate graph plotting page
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/graph_plotting/__init__.py
  perf_dashboard/graph_plotting/admin.py
  perf_dashboard/graph_plotting/apps.py
  perf_dashboard/graph_plotting/migrations/__init__.py
  perf_dashboard/graph_plotting/models.py
  perf_dashboard/graph_plotting/templates/graph_plotting.html
  perf_dashboard/graph_plotting/tests.py
  perf_dashboard/graph_plotting/urls.py
  perf_dashboard/graph_plotting/views.py
  perf_dashboard/history/templates/history.html
  perf_dashboard/perf_dashboard/settings.py
  perf_dashboard/perf_dashboard/urls.py
  perf_dashboard/regression_pattern/templates/cur_pattern.html
  perf_dashboard/regression_pattern/templates/master_pattern.html
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1107)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

add egress sds perf test
  perf/security/sds-tests/egress-sds/cleanup.sh
  perf/security/sds-tests/egress-sds/setup_client.sh
  perf/security/sds-tests/egress-sds/setup_destinationrule.sh
  perf/security/sds-tests/egress-sds/setup_gateway.sh
  perf/security/sds-tests/egress-sds/setup_nginx.sh
  perf/security/sds-tests/egress-sds/setup_test.sh
  perf/security/sds-tests/egress-sds/setup_virtualservice.sh
Due: none

fix lint issues
  perf/security/sds-tests/egress-sds/cleanup.sh
  perf/security/sds-tests/egress-sds/setup_client.sh
  perf/security/sds-tests/egress-sds/setup_nginx.sh
  perf/security/sds-tests/egress-sds/setup_test.sh
  perf/security/utils/get_release.sh
Due: none

run make gen
  licenses/dmitri.shuralyov.com/gpu/mtl/LICENSE
  licenses/github.com/cpuguy83/go-md2man/v2/LICENSE.md
  licenses/github.com/fsnotify/fsnotify/LICENSE
  licenses/github.com/go-gl/glfw/v3.3/glfw/LICENSE
  licenses/github.com/go-gl/glfw/v3.3/glfw/glfw/LICENSE.md
  licenses/github.com/nxadm/tail/LICENSE
  licenses/github.com/nxadm/tail/ratelimiter/Licence
  licenses/github.com/sclevine/agouti/LICENSE
  licenses/google.golang.org/protobuf/LICENSE
  licenses/istio.io/gogo-genproto/LICENSE
Due: none
