Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Deprecate graph plotting page (#1106)
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/graph_plotting/__init__.py
  perf_dashboard/graph_plotting/admin.py
  perf_dashboard/graph_plotting/apps.py
  perf_dashboard/graph_plotting/migrations/__init__.py
  perf_dashboard/graph_plotting/models.py
  perf_dashboard/graph_plotting/templates/graph_plotting.html
  perf_dashboard/graph_plotting/tests.py
  perf_dashboard/graph_plotting/urls.py
  perf_dashboard/graph_plotting/views.py
  perf_dashboard/history/templates/history.html
  perf_dashboard/perf_dashboard/settings.py
  perf_dashboard/perf_dashboard/urls.py
  perf_dashboard/regression_pattern/templates/cur_pattern.html
  perf_dashboard/regression_pattern/templates/master_pattern.html
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

this works
  perf/security/sds-tests/egress-sds/setup_client.sh
  perf/security/sds-tests/egress-sds/setup_gateway.sh
  perf/security/sds-tests/egress-sds/setup_nginx.sh
  perf/security/sds-tests/egress-sds/setup_test.sh
  perf/security/sds-tests/egress-sds/setup_virtualservice.sh
Due: none

add readme
  perf/security/sds-tests/egress-sds/README.md
  perf/security/sds-tests/egress-sds/setup_client.sh
  perf/security/sds-tests/egress-sds/setup_test.sh
Due: none

Introduce gci tool
  cmd/gci/README.md
  cmd/gci/main.go
  cmd/gci/pkg.go
  cmd/gci/util.go
Due: containers-test_tools, containers_tools_postsubmit

fix license banner
  cmd/gci/main.go
  cmd/gci/pkg.go
  cmd/gci/util.go
Due: containers-test_tools, containers_tools_postsubmit

fix doc issue
  cmd/gci/README.md
Due: containers-test_tools, containers_tools_postsubmit

add examples
  cmd/gci/README.md
Due: containers-test_tools, containers_tools_postsubmit

this works
  perf/security/sds-tests/egress-sds/request_script.sh
  perf/security/sds-tests/egress-sds/setup_client.sh
Due: none

add copyrights
  perf/security/sds-tests/egress-sds/request_script.sh
Due: none

skip unnecessary sleeps
  perf/security/sds-tests/egress-sds/setup_gateway.sh
  perf/security/sds-tests/egress-sds/setup_nginx.sh
  perf/security/sds-tests/egress-sds/setup_virtualservice.sh
Due: none

add above line comment examples
  cmd/gci/README.md
Due: containers-test_tools, containers_tools_postsubmit

Remove deprecated controlPlaneSecurityEnabled field in globalConfig
  isotope/helm-values.yaml
  perf/benchmark/values-istio-auth.yaml
  perf/istio-install/istioctl_profiles/default-overlay.yaml
  perf/istio-install/istioctl_profiles/istio-non-sds.yaml
  perf/istio-install/istioctl_profiles/multi-citadel-non-sds.yaml
  perf/istio-install/istioctl_profiles/sds-auth.yaml
  perf/load/values-istio-auth.yaml
  upgrade/test_crossgrade.sh
Due: benchmark_check_tools

add test
  perf/security/sds-tests/egress-sds/request_script.sh
  perf/security/sds-tests/egress-sds/setup_destinationrule.sh
  perf/security/sds-tests/egress-sds/setup_gateway.sh
  perf/security/sds-tests/egress-sds/setup_nginx.sh
Due: none

fix lint error
  perf/benchmark/values-istio-auth.yaml
Due: benchmark_check_tools

Remove deprecated controlPlaneSecurityEnabled field in GlobalConfig (#1110)
  isotope/helm-values.yaml
  perf/benchmark/values-istio-auth.yaml
  perf/istio-install/istioctl_profiles/default-overlay.yaml
  perf/istio-install/istioctl_profiles/istio-non-sds.yaml
  perf/istio-install/istioctl_profiles/multi-citadel-non-sds.yaml
  perf/istio-install/istioctl_profiles/sds-auth.yaml
  perf/load/values-istio-auth.yaml
  upgrade/test_crossgrade.sh
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1112)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

integrate generate policy with runner.py
  perf/benchmark/runner/runner.py
  perf/benchmark/security/generate_policies/generate_policies.go
  perf/benchmark/security/generate_policies/policies/generated_policy.yaml
Due: benchmark_check_tools

resolve comments
  perf/security/sds-tests/egress-sds/README.md
  perf/security/sds-tests/egress-sds/request_script.sh
  perf/security/sds-tests/egress-sds/setup_destinationrule.sh
  perf/security/sds-tests/egress-sds/setup_gateway.sh
Due: none

undo amd64 change
  perf/security/utils/get_release.sh
Due: none

fix lint
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

fix lint in runner.py
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

add some alerting rules
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/istio-install/base/templates/prometheus-operator.yaml
  perf/stability/alertmanager/Dockerfile
  perf/stability/alertmanager/alertmanagerconfig.yaml
Due: none

add skeleon for automated stability test
  go.mod
  go.sum
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/istio-install/base/templates/prometheus-operator.yaml
  perf/load/loadclient/setup_test.sh
  perf/stability/alertmanager/Chart.yaml
  perf/stability/alertmanager/templates/alertmanager-service.yaml
  perf/stability/alertmanager/templates/alertmanager.yaml
  perf/stability/alertmanager/templates/alertmanagerconfig.yaml
  perf/stability/alertmanager/values.yaml
  perf/stability/alertmanager/webhook.go
  perf/stability/canary-upgrader/Chart.yaml
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/canary-upgrader/templates/canary-upgrader-cron.yaml
  perf/stability/canary-upgrader/values.yaml
  perf/stability/long_running.sh
  perf/stability/setup_test.sh
Due: none

update readme
  perf/istio-install/base/templates/prometheus-operator.yaml
  perf/stability/README.md
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/long_running.sh
Due: none

clean up
  perf/stability/README.md
  perf/stability/long_running.sh
  perf/stability/metrics-and-rules.md
Due: none

add readme, slack, webhook configuration
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/istio-install/base/templates/prometheus-operator.yaml
  perf/istio-install/istioctl_profiles/long-running.yaml
  perf/istio-install/setup_istio.sh
  perf/stability/README.md
  perf/stability/alertmanager/Dockerfile
  perf/stability/alertmanager/templates/alertmanager-webhook.yaml
  perf/stability/alertmanager/templates/alertmanagerconfig.yaml
  perf/stability/alertmanager/webhook.go
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/long_running.sh
  perf/stability/metrics-and-rules.md
Due: none

address comments
  go.sum
  perf/load/templates/strict.yaml
  perf/stability/README.md
  perf/stability/alertmanager/Dockerfile
  perf/stability/alertmanager/alertmanagerconfig.yaml
  perf/stability/alertmanager/templates/alertmanagerconfig.yaml
  perf/stability/alertmanager/values.yaml
  perf/stability/long_running.sh
Due: none

Install using istioctl install for 1.8
  perf/benchmark/README.md
  perf/istio-install/setup_istio.sh
Due: benchmark_check_tools

Install using istioctl install for 1.8 (#1114)
  perf/benchmark/README.md
  perf/istio-install/setup_istio.sh
Due: benchmark_check_tools

Fix benchmark links in config and measurements page
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/urls.py
Due: deploy-perf-dashboard_tools_postsubmit

Fix benchmark links in config and measurements page (#1115)
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/urls.py
Due: deploy-perf-dashboard_tools_postsubmit

Resolve comments
  perf/benchmark/runner/runner.py
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate_policies.go
  perf/benchmark/security/generate_policies/policies/generated_policy.yaml
Due: benchmark_check_tools

Update README.md
  perf/security/sds-tests/egress-sds/README.md
Due: none

lint
  perf/security/sds-tests/egress-sds/README.md
Due: none

work on comments
  perf/benchmark/runner/runner.py
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

fix lint error in README
  perf/benchmark/security/generate_policies/README.md
Due: benchmark_check_tools

fix lint and gencheck
  licenses/github.com/armon/go-metrics/LICENSE
  licenses/github.com/armon/go-radix/LICENSE
  licenses/github.com/cenkalti/backoff/LICENSE
  licenses/github.com/cespare/xxhash/v2/LICENSE.txt
  licenses/github.com/hashicorp/errwrap/LICENSE
  licenses/github.com/hashicorp/go-immutable-radix/LICENSE
  licenses/github.com/hashicorp/go-msgpack/LICENSE
  licenses/github.com/hashicorp/go-multierror/LICENSE
  licenses/github.com/hashicorp/go-sockaddr/LICENSE
  licenses/github.com/hashicorp/go-uuid/LICENSE
  licenses/github.com/hashicorp/memberlist/LICENSE
  licenses/github.com/jessevdk/go-flags/LICENSE
  licenses/github.com/miekg/dns/LICENSE
  licenses/github.com/mitchellh/cli/LICENSE
  licenses/github.com/mitchellh/go-wordwrap/LICENSE.md
  licenses/github.com/oklog/run/LICENSE
  licenses/github.com/pascaldekloe/goe/LICENSE
  licenses/github.com/posener/complete/LICENSE.txt
  licenses/github.com/prometheus/alertmanager/LICENSE
  licenses/github.com/rs/cors/LICENSE
  licenses/github.com/ryanuber/columnize/COPYING
  licenses/github.com/satori/go.uuid/LICENSE
  licenses/github.com/sean-/seed/LICENSE
  licenses/github.com/shurcooL/httpfs/LICENSE
  licenses/github.com/shurcooL/vfsgen/LICENSE
  licenses/github.com/xlab/treeprint/LICENSE
  perf/stability/README.md
  perf/stability/alertmanager/webhook.go
  perf/stability/canary-upgrader/Chart.yaml
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/long_running.sh
Due: none

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
