Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2022-04-13T06-06-40
      name: ''
      resources:
        limits:
  ...

containers-test_tools:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2022-04-13T06-06-40
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
          cpu: '8'
  ...

containers_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - ../test-infra/tools/automator/automator.sh
      - --org=istio
      - --repo=common-files
      - '--title=Automator: update build-tools image@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH'
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2022-04-13T06-06-40
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1953)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update some tools - also fix git warning
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add `v` to yq release url
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update some tools - also fix git warning (#1954)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1955)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update build-tools to ubuntu:jammy
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update build-tools to ubuntu:jammy (#1956)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

update build image for release-1.14
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Set release managers as CODEOWNERS for release-1.14
  CODEOWNERS
Due: none

Automator: update common-files@master in istio/tools@master (#1958)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

update build image for release-1.14 (#1957)
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

[release-1.14] Automated branching step 4
  CODEOWNERS
Due: none

[release-1.14] Automated branching step 4 (#1960)
  CODEOWNERS
Due: none

Automator: update common-files@release-1.14 in istio/tools@release-1.14
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@release-1.14 in istio/tools@release-1.14 (#1961)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Update script comment to force image build
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Update script comment to force image build (#1962)
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Move UPDATE_BRANCH to release-1.14
  common/Makefile.common.mk
Due: none

Move UPDATE_BRANCH to release-1.14 (#1963)
  common/Makefile.common.mk
Due: none

Docker not start as part of prow jobs
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.14 in istio/tools@release-1.14
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.14 in istio/tools@release-1.14 (#1965)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Docker not start as part of prow jobs (#1964)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1966)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Docker not start as part of prow jobs (#1967)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Always run gcloud auth configure-docker in prow entrypoint
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Always run gcloud auth configure-docker in prow entrypoint (#1968)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1970)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1971)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.14 in istio/tools@release-1.14
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@release-1.14 in istio/tools@release-1.14 (#1972)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

added analysis in readme
  perf/stability/control-plane/README.md
  perf/stability/control-plane/testdata/cpu_load.png
  perf/stability/control-plane/testdata/memory_usage.png
  perf/stability/control-plane/testdata/xds_req_size.png
Due: none

added analysis in readme (#1973)
  perf/stability/control-plane/README.md
  perf/stability/control-plane/testdata/cpu_load.png
  perf/stability/control-plane/testdata/memory_usage.png
  perf/stability/control-plane/testdata/xds_req_size.png
Due: none

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
