Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Dashboard should take release version as priority not dates (#1176)
  perf_dashboard/helpers/download.py
Due: deploy-perf-dashboard_tools_postsubmit

Add RequestAuthentication flexibility to generate_policies
  go.sum
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Fix lint, run make gen
  go.mod
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Handle JSON decoding exception while getting fortio pods specs
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Revert cue-gen move to v1, move back to v1beta1 (#1138)
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1181)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

address comment
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

refactor jwt jwks, fix comments
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

add jwt_jwks.go
  perf/benchmark/security/generate_policies/generate_policies.go
  perf/benchmark/security/generate_policies/jwt_jwks.go
Due: benchmark_check_tools

update capitalization
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

resolve comments, rename jwt_jwks.go
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
  perf/benchmark/security/generate_policies/jwt.go
Due: benchmark_check_tools

Rename upgrade to cross grade
  crossgrade/README.md
  crossgrade/run_crossgrade_test.sh
  crossgrade/templates/fortio-cli.yaml
  crossgrade/templates/fortio.yaml
  crossgrade/templates/gateway.yaml
  crossgrade/test_crossgrade.sh
Due: none

rename upgrade to upgrade_downgrade
  upgrade_downgrade/README.md
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/templates/fortio-cli.yaml
  upgrade_downgrade/templates/fortio.yaml
  upgrade_downgrade/templates/gateway.yaml
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

update test script
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

Rename upgrade to upgrade_downgrade (#1182)
  upgrade_downgrade/README.md
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/templates/fortio-cli.yaml
  upgrade_downgrade/templates/fortio.yaml
  upgrade_downgrade/templates/gateway.yaml
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

Support for branches
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit

Purge gogo!!
  docker/build-tools/Dockerfile
  go.sum
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add support for area in format as well and order release notes by area
  cmd/gen-release-notes/README.md
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/templates/minorReleaseNotes.md
  cmd/gen-release-notes/templates/releaseNotes.md
Due: containers-test_tools, containers_tools_postsubmit

Add RequestAuthentication flexibility to generate_policies (#1179)
  go.mod
  go.sum
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
  perf/benchmark/security/generate_policies/jwt.go
Due: benchmark_check_tools

address comment
  perf/load/templates/service-graph.gen.yaml
  perf/stability/README.md
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/canary-upgrader/canary_upgrade.sh
  vendors/google/README.md
  vendors/google/long_running_asm.sh
  vendors/google/setup_workload.sh
Due: none

improve release qual test (#1121)
  perf/istio-install/addons/servicemonitors.yaml
  perf/istio-install/setup_istio.sh
  perf/load/templates/service-graph.gen.yaml
  perf/load/values.yaml
  perf/stability/README.md
  perf/stability/alertmanager/prometheusrule.yaml
  perf/stability/alertmanager/templates/alertmanagerconfig.yaml
  perf/stability/alertmanager/templates/kube_state_metrics.yaml
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/logs-checker/Chart.yaml
  perf/stability/logs-checker/check_k8s_logs.sh
  perf/stability/logs-checker/templates/check_k8s_logs.yaml
  perf/stability/logs-checker/values.yaml
  vendors/google/README.md
  vendors/google/install_asm.sh
  vendors/google/istioctl_profiles/long-running-asm.yaml
  vendors/google/long_running_asm.sh
  vendors/google/setup_workload.sh
Due: none

Update bucket resolution to make it suitable for the actual perf number
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Update resolution number
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Added updated to templates
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/templates/minorReleaseNotes.md
  cmd/gen-release-notes/templates/releaseNotes.md
Due: containers-test_tools, containers_tools_postsubmit

clean up code, add validation
  cmd/gen-release-notes/README.md
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/note.go
  cmd/gen-release-notes/template.go
  cmd/gen-release-notes/templates/minorReleaseNotes.md
Due: containers-test_tools, containers_tools_postsubmit

Release notes work (#1184)
  cmd/gen-release-notes/README.md
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/note.go
  cmd/gen-release-notes/template.go
  cmd/gen-release-notes/templates/minorReleaseNotes.md
  cmd/gen-release-notes/templates/releaseNotes.md
Due: containers-test_tools, containers_tools_postsubmit

Add generated DeepCopyInterface method
  cmd/protoc-gen-deepcopy/deepcopy/plugin.go
Due: containers-test_tools, containers_tools_postsubmit

Further cleanup, ability to specify output directory, ability to add docs, make no docs found not an error, update templates with warnings
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/note.go
  cmd/gen-release-notes/templates/minorReleaseNotes.md
  cmd/gen-release-notes/templates/releaseNotes.md
  cmd/gen-release-notes/templates/upgradeNotes.md
Due: containers-test_tools, containers_tools_postsubmit

Updates to clean up code, remove specific release numbers from templates, change mkdir to mkdirall
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/templates/minorReleaseNotes.md
  cmd/gen-release-notes/templates/releaseNotes.md
  cmd/gen-release-notes/templates/upgradeNotes.md
Due: containers-test_tools, containers_tools_postsubmit

Additional release notes work (#1186)
  cmd/gen-release-notes/main.go
  cmd/gen-release-notes/note.go
  cmd/gen-release-notes/templates/minorReleaseNotes.md
  cmd/gen-release-notes/templates/releaseNotes.md
  cmd/gen-release-notes/templates/upgradeNotes.md
Due: containers-test_tools, containers_tools_postsubmit

Update test
  cmd/protoc-gen-deepcopy/test/deepcopy_test.go
  cmd/protoc-gen-deepcopy/test/generated/types.pb.go
  cmd/protoc-gen-deepcopy/test/generated/types_deepcopy.gen.go
Due: containers-test_tools, containers_tools_postsubmit

Add generated DeepCopyInterface method (#1187)
  cmd/protoc-gen-deepcopy/deepcopy/plugin.go
  cmd/protoc-gen-deepcopy/test/deepcopy_test.go
  cmd/protoc-gen-deepcopy/test/generated/types.pb.go
  cmd/protoc-gen-deepcopy/test/generated/types_deepcopy.gen.go
Due: containers-test_tools, containers_tools_postsubmit

Add AccessLogPolicy Config as a selective perf test run
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/latency.yaml
Due: benchmark_check_tools

add v2-sd-full-nullvm-accesslog into run_perf_test config file
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

Add AccessLogPolicy Config as a selective perf test run (#1188)
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/latency.yaml
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/gobuild.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1191)
  common/.commonfiles.sha
  common/scripts/gobuild.sh
  common/scripts/setup_env.sh
Due: none

Pin GN version
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix order
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers
