Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

cue-gen: update deprecated syntax (#959)
  cmd/cue-gen/assets.gen.go
  cmd/cue-gen/doc.cue
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@release-1.5 in istio/tools@release-1.5
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.5 in istio/tools@release-1.5 (#960)
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

revise
  perf/security/sds-tests/ingress-sds/README.md
  perf/security/sds-tests/ingress-sds/setup_test.sh
Due: none

lint
  perf/security/sds-tests/ingress-sds/setup_test.sh
Due: none

network flakes in Ci: Add hard coded single retry per test execution
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Remove line of code for debugging
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Add perf test for Ingress sds (#953)
  perf/security/sds-tests/ingress-sds/README.md
  perf/security/sds-tests/ingress-sds/cleanup_ingress_secrets.sh
  perf/security/sds-tests/ingress-sds/setup_client.sh
  perf/security/sds-tests/ingress-sds/setup_gateway.sh
  perf/security/sds-tests/ingress-sds/setup_test.sh
  perf/security/sds-tests/ingress-sds/setup_virtualservice.sh
  perf/security/sds-tests/ingress-sds/templates/deploy_gateway.yaml
  perf/security/sds-tests/workload-sds/templates/workload_rotate.yaml
Due: none

Tweaks for bleeding edge istio
  perf/benchmark/flame/README.md
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Refactor istio-install setup (#916) (#958)
  perf/istio-install/README.md
  perf/istio-install/base/templates/als.yaml
  perf/istio-install/base/templates/istio-gateway.yaml
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/istio-install/base/templates/prometheus-operator.yaml
  perf/istio-install/base/values.yaml
  perf/istio-install/istio_operator.sha
  perf/istio-install/setup_istio.sh
  perf/istio-install/setup_istio_operator.sh
  perf/istio-install/setup_istio_release.sh
  perf/istio-install/setup_prometheus.sh
  perf/istio-install/values-istio-postsubmit.yaml
  perf/istio-install/values-istio-sds-auth.yaml
  perf/istio-install/values-large.yaml
  perf/istio-install/values-multi-citadel-non-sds.yaml
  perf/istio-install/values-new-installer.yaml
  perf/istio-install/values.yaml
  perf/prometheus-install/.gitignore
  perf/prometheus-install/ssd-storage-class.yaml
Due: none

Remove deprecated field certmanager
  perf/istio-install/istioctl_profiles/default.yaml
Due: none

Remove deprecated field certmanager (#961)
  perf/istio-install/istioctl_profiles/default.yaml
Due: none

[release-1.6] disable plaintext run
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

[release-1.6] disable plaintext run (#964)
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

update default profile
  perf/istio-install/istioctl_profiles/default.yaml
Due: none

[release-1.6]Fix fortio.py data conversion issue
  perf/benchmark/runner/fortio.py
Due: benchmark_check_tools

update config dump name to have load_gen_type
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

[release-1.6] Update 1.6 istio install default profile + Fix fortio.py data conversion issue + Update configdump name (#965)
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
  perf/istio-install/istioctl_profiles/default.yaml
Due: benchmark_check_tools

Dockerfile: Add PyYAML to build container.
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Dockerfile: Add PyYAML to build container. (#966)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.6] Update default.yaml to default-overlay.yaml with removing some deprecated field
  perf/benchmark/README.md
  perf/benchmark/configs/README.md
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/README.md
  perf/istio-install/istioctl_profiles/default-overlay.yaml
  perf/istio-install/istioctl_profiles/default.yaml
Due: benchmark_check_tools

[release-1.6] Update default.yaml to default-overlay.yaml with removing some deprecated field (#967)
  perf/benchmark/README.md
  perf/benchmark/configs/README.md
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/README.md
  perf/istio-install/istioctl_profiles/default-overlay.yaml
  perf/istio-install/istioctl_profiles/default.yaml
Due: benchmark_check_tools

Remove cp: preserving times for '/home/.kube': Read-only file system
  docker/build-tools/docker-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Remove cp: preserving times for '/home/.kube': Read-only file system (#968)
  docker/build-tools/docker-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Re-enable CentOS build
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Re-enable CentOS build (#969)
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#970)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update python3 symlink to point to python3.7
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Fix linter
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update python3 symlink to point to python3.7 (#971)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Rename default.yaml to default-overlay.yaml to avoid confusion and remove deprecated field
  perf/benchmark/README.md
  perf/benchmark/configs/README.md
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/README.md
  perf/istio-install/istioctl_profiles/default-overlay.yaml
Due: benchmark_check_tools

Disable plaintext run
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

Add LOAD_GEN_TYPE for envoy dump
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Fix fortio.py data conversion issue
  perf/benchmark/runner/fortio.py
Due: benchmark_check_tools

Disable plaintext, Add LOAD_GEN_TYPE in envoy dump, and Fix fortio.py data conversion issue (#963)
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
Due: benchmark_check_tools

Rename default.yaml to default-overlay.yaml to avoid confusion and remove deprecated field (#962)
  perf/benchmark/README.md
  perf/benchmark/configs/README.md
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/README.md
  perf/istio-install/istioctl_profiles/default-overlay.yaml
Due: benchmark_check_tools
