Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Automator: update common-files@release-1.10 in istio/tools@release-1.10 (#1486)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1487)
  common/.commonfiles.sha
Due: none

Add home to centos (#1483)
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.9 in istio/tools@release-1.9
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.8 in istio/tools@release-1.8
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.9 in istio/tools@release-1.9 (#1488)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.8 in istio/tools@release-1.8 (#1489)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

fix security perf test issue and disable security_authz_jwt first
  perf/benchmark/configs/istio/security_authz_jwt/prerun.sh
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

Fix common files in master branch
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: none

Fix common files in master branch (#1491)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: none

fix security perf test issue and disable security_authz_jwt first (#1490)
  perf/benchmark/configs/istio/security_authz_jwt/prerun.sh
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/gobuild.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1492)
  common/.commonfiles.sha
  common/scripts/gobuild.sh
Due: none

fix: graph plotter cpu and mem graph error
  perf/benchmark/graph_plotter/graph_plotter.py
Due: benchmark_check_tools

edit running config
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

edit running config (#1494)
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

Security RequestAuthz perf test
  perf/benchmark/configs/istio/security_authz_jwt/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_jwt/postrun.sh
  perf/benchmark/configs/istio/security_authz_jwt/prerun.sh
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

Security RequestAuthz perf test (#1496)
  perf/benchmark/configs/istio/security_authz_jwt/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_jwt/postrun.sh
  perf/benchmark/configs/istio/security_authz_jwt/prerun.sh
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

fix: graph plotter cpu and mem graph error (#1493)
  perf/benchmark/graph_plotter/graph_plotter.py
Due: benchmark_check_tools

Update clang version to 11.0.1
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update clang version to 11.0.1 (#1497)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1498)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update go to 1.15.11
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go to 1.15.11 (#1499)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.10 in istio/tools@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.10 in istio/tools@release-1.10 (#1500)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

gobin no longer needed as of go1.16; can use go install instead
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

gobin no longer needed as of go1.16; can use go install instead (#1501)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.9 in istio/tools@release-1.9 (#1502)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/tools@master (#1503)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

enable telemetry test and normalize security conn and qps usage
  perf/benchmark/configs/istio/security_authz_ip/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_ip/latency.yaml
  perf/benchmark/configs/istio/security_authz_jwt/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_jwt/latency.yaml
  perf/benchmark/configs/istio/security_authz_path/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_path/latency.yaml
  perf/benchmark/configs/istio/security_peer_authn/cpu_mem.yaml
  perf/benchmark/configs/istio/security_peer_authn/latency.yaml
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

enable telemetry test and normalize security conn and qps usage (#1504)
  perf/benchmark/configs/istio/security_authz_ip/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_ip/latency.yaml
  perf/benchmark/configs/istio/security_authz_jwt/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_jwt/latency.yaml
  perf/benchmark/configs/istio/security_authz_path/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_path/latency.yaml
  perf/benchmark/configs/istio/security_peer_authn/cpu_mem.yaml
  perf/benchmark/configs/istio/security_peer_authn/latency.yaml
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

update README for stability test
  perf/stability/README.md
  perf/stability/long_running.sh
Due: none

add more description, clean up logs checker job
  perf/stability/README.md
  perf/stability/logs-checker/check_k8s_logs.sh
  perf/stability/logs-checker/templates/check_k8s_logs.yaml
Due: none

update README for stability test (#1505)
  perf/stability/README.md
  perf/stability/logs-checker/check_k8s_logs.sh
  perf/stability/logs-checker/templates/check_k8s_logs.yaml
  perf/stability/long_running.sh
Due: none

fix type in the check logs script
  perf/stability/README.md
  perf/stability/logs-checker/check_k8s_logs.sh
Due: none

fix type in the check logs script (#1506)
  perf/stability/README.md
  perf/stability/logs-checker/check_k8s_logs.sh
Due: none

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
