Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Add PeerAuthN functionality to generate_policies (#1160)
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/generate.go
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Bump golang to 1.15.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump golang to 1.15.0 (#1164)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Use kube DNS pod/svc name via env variable
  perf/benchmark/setup_test.sh
Due: benchmark_check_tools

Use kube DNS pod/svc name via env variable (#1165)
  perf/benchmark/setup_test.sh
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1166)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

update upgrade test
  upgrade/run_upgrade_test.sh
  upgrade/test_crossgrade.sh
Due: none

typo
  upgrade/run_upgrade_test.sh
Due: none

Update upgrade test to use latest version (#1167)
  upgrade/run_upgrade_test.sh
  upgrade/test_crossgrade.sh
Due: none

change version
  upgrade/run_upgrade_test.sh
Due: none

update to use dev build
  upgrade/run_upgrade_test.sh
Due: none

version update
  upgrade/run_upgrade_test.sh
Due: none

use upgrade cmd
  upgrade/test_crossgrade.sh
Due: none

change from 1169
  upgrade/test_crossgrade.sh
Due: none

more change from master
  upgrade/test_crossgrade.sh
Due: none

fix lint
  upgrade/run_upgrade_test.sh
Due: none

use the correct upgrade cmd as we ask users to do (#1169)
  upgrade/run_upgrade_test.sh
  upgrade/test_crossgrade.sh
Due: none

Update fortio image to use the latest release
  perf/benchmark/setup_test.sh
  perf/benchmark/values.yaml
Due: benchmark_check_tools

Update fortio image to use the latest release (#1170)
  perf/benchmark/setup_test.sh
  perf/benchmark/values.yaml
Due: benchmark_check_tools

Update fortio image to use the latest release (#1171)
  perf/benchmark/setup_test.sh
  perf/benchmark/values.yaml
Due: benchmark_check_tools

[release-1.7] Update upgrade test to use latest version (#1168)
  upgrade/run_upgrade_test.sh
  upgrade/test_crossgrade.sh
Due: none

Fix upgrade SOURCE_TAG issue
  upgrade/run_upgrade_test.sh
Due: none

Fixes cue-gen default all? v1alpha1 version string
  cmd/cue-gen/doc.cue
Due: containers-test_tools, containers_tools_postsubmit

Fixes cue-gen default all? v1alpha1 version string (#1173)
  cmd/cue-gen/doc.cue
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1174)
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: none

Fix upgrade SOURCE_TAG issue (#1172)
  upgrade/run_upgrade_test.sh
Due: none

fix bugs
  perf/stability/canary-upgrader/canary_upgrade.sh
  perf/stability/logs-checker/check_k8s_logs.sh
  perf/stability/long_running.sh
  vendors/google/install_asm.sh
Due: none

[release-1.7] Fix upgrade job issue
  upgrade/run_upgrade_test.sh
Due: none

[release-1.7] Fix upgrade job issue (#1175)
  upgrade/run_upgrade_test.sh
Due: none

Dashboard should take release version as priority not dates
  perf_dashboard/helpers/download.py
Due: deploy-perf-dashboard_tools_postsubmit

Remove duplicated value in overlay yaml
  perf/istio-install/istioctl_profiles/default-overlay.yaml
Due: none

Remove duplicated value in overlay yaml (#1177)
  perf/istio-install/istioctl_profiles/default-overlay.yaml
Due: none

Remove duplicated value in overlay yaml (#1178)
  perf/istio-install/istioctl_profiles/default-overlay.yaml
Due: none
