Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

fix lint error
  perf_dashboard/regressions/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1207)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Add performance trending (#1206)
  perf_dashboard/README.md
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/history/templates/history.html
  perf_dashboard/perf_dashboard/urls.py
  perf_dashboard/regression_pattern/views.py
  perf_dashboard/regressions/__init__.py
  perf_dashboard/regressions/admin.py
  perf_dashboard/regressions/apps.py
  perf_dashboard/regressions/migrations/__init__.py
  perf_dashboard/regressions/models.py
  perf_dashboard/regressions/templates/cur_regression.html
  perf_dashboard/regressions/templates/master_regression.html
  perf_dashboard/regressions/templates/monitoring_overview.html
  perf_dashboard/regressions/tests.py
  perf_dashboard/regressions/urls.py
  perf_dashboard/regressions/views.py
  perf_dashboard/static/js/cur_pattern.js
  perf_dashboard/static/js/cur_regression.js
  perf_dashboard/static/js/master_pattern.js
  perf_dashboard/static/js/master_regression.js
  perf_dashboard/static/js/pattern_common_func.js
  perf_dashboard/static/js/regression_common_func.js
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1208)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Make testing qps range within the system's maximum qps
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf_dashboard/benchmarks/views.py
  perf_dashboard/static/js/cpu_qps.js
  perf_dashboard/static/js/latency_qps.js
  perf_dashboard/static/js/mem_qps.js
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Make testing qps range within the system's maximum qps (#1209)
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full_accesslogpolicy/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf_dashboard/benchmarks/views.py
  perf_dashboard/static/js/cpu_qps.js
  perf_dashboard/static/js/latency_qps.js
  perf_dashboard/static/js/mem_qps.js
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Upgrade to kind v0.9.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Upgrade to kind v0.9.0 (#1210)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1212)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1213)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1214)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1215)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Refine license linter import scope
  cmd/license-lint/collector.go
Due: containers-test_tools, containers_tools_postsubmit

Remove deprecated grafana and tracing fields
  perf/istio-install/istioctl_profiles/default-overlay.yaml
Due: none

Add locales and make sure to upgrade packages
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Remove deprecated grafana and tracing fields (#1217)
  perf/istio-install/istioctl_profiles/default-overlay.yaml
Due: none

Add locales and make sure to upgrade packages (#1218)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Properly set -y for dist upgrade
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Properly set -y for dist upgrade (#1219)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Fix dashboard app delopyment and add invalid qps check
  perf/benchmark/runner/runner.py
  perf_dashboard/perf_dashboard/settings.py
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Fix dashboard app delopyment and add invalid qps check (#1220)
  perf/benchmark/runner/runner.py
  perf_dashboard/perf_dashboard/settings.py
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Refine license linter import scope (#1216)
  cmd/license-lint/collector.go
Due: containers-test_tools, containers_tools_postsubmit

bare bones implementation of control-plane canary upgrade
  upgrade_downgrade/test_canary_upgrade_downgrade.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1223)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1224)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

refine dual control plane test - parameterize upgrade and downgrade and start moving common things to common.sh for reusability
  upgrade_downgrade/common.sh
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

restore source tag
  upgrade_downgrade/run_upgrade_downgrade_test.sh
Due: none

move generic functions to common.sh so that it can be reused across upgrade-downgrade tests
  upgrade_downgrade/common.sh
  upgrade_downgrade/run_upgrade_downgrade_test.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

refactor tests - move more functions to common from both sides
  upgrade_downgrade/common.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
  upgrade_downgrade/test_upgrade_downgrade.sh
Due: none

add dual-control-plane-rollback test
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none
