Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Remove one command for the build tools image that was mistakenly submitted
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[Cherrypick]Install the latest gcloud tool and its beta components in the build-tools image
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

make deployment of boutique more robust (and less flaky) and add some checks
  upgrade_downgrade/common.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_boutique.sh
Due: none

Remove one command for the build tools image that was mistakenly submitted (#1309)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[Cherrypick]Install the latest gcloud tool and its beta components in the build-tools image (#1310)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

raw implementation of boutique-rollback scenario
  upgrade_downgrade/test_dual_control_plane_upgrade_boutique.sh
Due: none

[Cherrypick]Install the latest gcloud tool and its beta components in the build-tools image (#1312)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update dashboard overview page with benchmarks and test configs
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/benchmarks/urls.py
  perf_dashboard/benchmarks/views.py
  perf_dashboard/history/templates/history.html
  perf_dashboard/regressions/templates/cur_regression.html
  perf_dashboard/regressions/templates/master_regression.html
  perf_dashboard/regressions/templates/monitoring_overview.html
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Bump current release to 1.8 and update history page
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
  perf_dashboard/history/templates/history.html
Due: deploy-perf-dashboard_tools_postsubmit

Update dashboard overview page with benchmarks and test configs (#1259)
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/benchmarks/urls.py
  perf_dashboard/benchmarks/views.py
  perf_dashboard/history/templates/history.html
  perf_dashboard/regressions/templates/cur_regression.html
  perf_dashboard/regressions/templates/master_regression.html
  perf_dashboard/regressions/templates/monitoring_overview.html
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Switch perf dashboard deploy to use helm3
  perf_dashboard/Makefile
Due: deploy-perf-dashboard_tools_postsubmit

use template
  perf_dashboard/Makefile
Due: deploy-perf-dashboard_tools_postsubmit

Switch perf dashboard deploy to use helm3 (#1313)
  perf_dashboard/Makefile
Due: deploy-perf-dashboard_tools_postsubmit

Optimize collect_metrics part for benchmark test
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Update graph plotter example benchmark csv
  perf/benchmark/graph_plotter/example_plot/benchmark.csv
  perf/benchmark/graph_plotter/example_plot/plotter_output.png
Due: benchmark_check_tools

revert collect_metrics update
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Update example benchmark CSV (#1264)
  perf/benchmark/graph_plotter/example_plot/benchmark.csv
  perf/benchmark/graph_plotter/example_plot/plotter_output.png
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1314)
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

prometheus: add more customization to deployment
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/istio-install/base/values.yaml
Due: none

separate installation of gateway and control plane so that uninstallation does not bring down gateway and block all external traffic. And then some fixes and refactoring
  upgrade_downgrade/common.sh
  upgrade_downgrade/templates/iop-control-plane.yaml
  upgrade_downgrade/templates/iop-gateways.yaml
  upgrade_downgrade/test_dual_control_plane_upgrade_boutique.sh
Due: none

prometheus: add more customization to deployment (#1317)
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/istio-install/base/values.yaml
Due: none

Remove helm dependency from dual control plane upgrade downgrade tests
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

Remove helm dependency from dual control plane upgrade downgrade tests (#1318)
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

Reduce 503 threshold on dual control plane upgrade downgrade tests
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

Reduce 503 threshold on dual control plane upgrade downgrade tests (#1319)
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

Add option to run upgrade_downgrade tests in kind
  upgrade_downgrade/kind.sh
  upgrade_downgrade/run_upgrade_downgrade_test.sh
Due: none

Add option to run upgrade_downgrade tests in kind (#1320)
  upgrade_downgrade/kind.sh
  upgrade_downgrade/run_upgrade_downgrade_test.sh
Due: none

address code review comments and refactor fortio related functions to fortio_utils.sh
  upgrade_downgrade/common.sh
  upgrade_downgrade/fortio_utils.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_boutique.sh
  upgrade_downgrade/test_dual_control_plane_upgrade_downgrade.sh
Due: none

Update Golang to pick up CVE
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang for CVE
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to pick up CVE (#1321)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to pick up CVE (#1324)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.8 in istio/tools@release-1.8
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.8 in istio/tools@release-1.8 (#1325)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update Golang for CVE (#1322)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
