Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Automator: update common-files@master in istio/tools@master (#1877)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Automator: update common-files@master in istio/tools@master (#1878)
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Log total runtime in standard prow logger
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Log total runtime in standard prow logger (#1879)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@release-1.12 in istio/tools@release-1.12
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1880)
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1881)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update to golang 1.18rc1
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Upgrade to go 1.18
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Upgrade to go 1.18 (#1883)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1884)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Update tooling to latest versions for cosign, trivy, containerd and docker
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Do not lint strings.Title
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Fix linting
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Fix build error
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Do not lint strings.Title (#1887)
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1885)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Update tooling
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Take main.go from istio/tools
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers_tools_postsubmit

Update tooling to latest versions for cosign, trivy, containerd and d… (#1886)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update the kubernetes/test-infra tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1888)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Use latest golang 1.16.15
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update golang
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update the kubernetes/test-infra tools (#1889)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump to more recent git version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update golang (#1891)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update golang (#1892)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Use latest golang 1.16.15 (#1890)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.13 in istio/tools@release-1.13
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1894)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.13 in istio/tools@release-1.13 (#1895)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.12 in istio/tools@release-1.12
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none
