Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

fix security perf test issue and disable security_authz_jwt first (#1490) (#1526)
  perf/benchmark/configs/istio/security_authz_ip/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_ip/installation.yaml
  perf/benchmark/configs/istio/security_authz_ip/latency.yaml
  perf/benchmark/configs/istio/security_authz_jwt/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_jwt/installation.yaml
  perf/benchmark/configs/istio/security_authz_jwt/latency.yaml
  perf/benchmark/configs/istio/security_authz_jwt/postrun.sh
  perf/benchmark/configs/istio/security_authz_jwt/prerun.sh
  perf/benchmark/configs/istio/security_authz_path/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_path/installation.yaml
  perf/benchmark/configs/istio/security_authz_path/latency.yaml
  perf/benchmark/configs/istio/security_peer_authn/cpu_mem.yaml
  perf/benchmark/configs/istio/security_peer_authn/installation.yaml
  perf/benchmark/configs/istio/security_peer_authn/latency.yaml
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/views.py
  perf_dashboard/regressions/templates/cur_regression.html
  perf_dashboard/regressions/templates/master_regression.html
  perf_dashboard/regressions/views.py
  perf_dashboard/requirements.txt
  perf_dashboard/static/js/cpu_conn.js
  perf_dashboard/static/js/cpu_qps.js
  perf_dashboard/static/js/cur_regression.js
  perf_dashboard/static/js/latency_common_func.js
  perf_dashboard/static/js/master_regression.js
  perf_dashboard/static/js/mem_conn.js
  perf_dashboard/static/js/mem_qps.js
  perf_dashboard/static/js/regression_common_func.js
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

isotope: trace errors via request body
  isotope/service/Dockerfile
  isotope/service/main.go
  isotope/service/pkg/srv/executable.go
  isotope/service/pkg/srv/handler.go
  perf/load/values.yaml
Due: none

bump perf dashboard page to 1.10
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

bump perf dashboard page to 1.10 (#1528)
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

isotope: trace errors via request body (#1527)
  isotope/service/Dockerfile
  isotope/service/main.go
  isotope/service/pkg/srv/executable.go
  isotope/service/pkg/srv/handler.go
  perf/load/values.yaml
Due: none

Automator: update common-files@release-1.10 in istio/tools@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.10 in istio/tools@release-1.10 (#1529)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update some tools to latest version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.9 in istio/tools@release-1.9
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Automator: update common-files@release-1.9 in istio/tools@release-1.9 (#1530)
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Add validator
  cmd/schema-validator/testdata/features.yaml
  cmd/schema-validator/testdata/features_broken.yaml
  cmd/schema-validator/testdata/features_schema.json
  cmd/schema-validator/validate.go
  cmd/schema-validator/validate_test.go
  go.mod
  go.sum
  licenses/github.com/xeipuuv/gojsonpointer/NONE
  licenses/github.com/xeipuuv/gojsonreference/NONE
  licenses/github.com/xeipuuv/gojsonschema/NONE
Due: containers-test_tools, containers_tools_postsubmit

Add validator (#1531)
  cmd/schema-validator/testdata/features.yaml
  cmd/schema-validator/testdata/features_broken.yaml
  cmd/schema-validator/testdata/features_schema.json
  cmd/schema-validator/validate.go
  cmd/schema-validator/validate_test.go
  go.mod
  go.sum
  licenses/github.com/xeipuuv/gojsonpointer/NONE
  licenses/github.com/xeipuuv/gojsonreference/NONE
  licenses/github.com/xeipuuv/gojsonschema/NONE
Due: containers-test_tools, containers_tools_postsubmit

Add release notes schema
  cmd/gen-release-notes/release_notes_schema.json
Due: containers-test_tools, containers_tools_postsubmit

Add release notes schema (#1532)
  cmd/gen-release-notes/release_notes_schema.json
Due: containers-test_tools, containers_tools_postsubmit

protoc-gen-validate: bump to 0.6.1
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

protoc-gen-validate: bump to 0.6.1 (#1533)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Revert "bump perf dashboard page to 1.10 (#1528)"
  perf_dashboard/docker-compose.yml
  perf_dashboard/dockerfile
Due: deploy-perf-dashboard_tools_postsubmit

Add override for golang image used in build-tools
  docker/build-tools/Dockerfile
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Set default for image in Dockerfile
  docker/build-tools/Dockerfile
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Remove build-arg from centos image
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Fix unbound variable
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Add override for Golang image used in build-tools (#1535)
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Update kind to 0.11
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update kind to 0.11 (#1536)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update some tools to latest version (#1537)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1538)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Revert "Update kind to 0.11 (#1536)"
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Revert "Update kind to 0.11 (#1536)" (#1540)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1541)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add comment about updating linter config if updating linter version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump docker version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump docker version (#1543)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1544)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

add exportloopref to linters
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

deps: use cuelang.org/go@v0.4.0
  cmd/cue-gen/build.go
  cmd/cue-gen/genoapi.go
  go.mod
  go.sum
  licenses/github.com/google/uuid/LICENSE
  licenses/github.com/protocolbuffers/txtpbfmt/LICENSE
Due: containers-test_tools, containers_tools_postsubmit

deps: use cuelang.org/go@v0.4.0 (#1539)
  cmd/cue-gen/build.go
  cmd/cue-gen/genoapi.go
  go.mod
  go.sum
  licenses/github.com/google/uuid/LICENSE
  licenses/github.com/protocolbuffers/txtpbfmt/LICENSE
Due: containers-test_tools, containers_tools_postsubmit
