Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/gobuild.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1131)
  common/.commonfiles.sha
  common/scripts/gobuild.sh
  common/scripts/setup_env.sh
Due: none

fix prometheus namespace (#1132)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

fix prometheus namespace
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

fix prometheus namespace (#1133)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Remove Prometheus debug
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Remove Prometheus debug (#1134)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Remove Prometheus debug (#1135)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Enable WASM telemetry for perf
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

Bump golang
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Revert cue-gen move to v1, move back to v1beta1
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
Due: containers-test_tools, containers_tools_postsubmit

Fix linter error for unused parameter
  cmd/cue-gen/crd.go
  cmd/cue-gen/genoapi.go
Due: containers-test_tools, containers_tools_postsubmit

fix master job
  perf/istio-install/istioctl_profiles/default-overlay.yaml
  perf/istio-install/setup_istio.sh
Due: none

fix master job (#1139)
  perf/istio-install/istioctl_profiles/default-overlay.yaml
  perf/istio-install/setup_istio.sh
Due: none

Enable WASM telemetry for perf (#1136)
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

Enable WASM telemetry for perf (#1140)
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

make the presubmit job shorter
  perf/benchmark/configs/trialrun.yaml
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
  perf/istio-install/istioctl_profiles/default-overlay.yaml
  perf/istio-install/istioctl_profiles/long-running.yaml
Due: benchmark_check_tools

undo jitter change
  perf/benchmark/configs/trialrun.yaml
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

make the presubmit job shorter (#1142)
  perf/benchmark/configs/trialrun.yaml
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/istioctl_profiles/default-overlay.yaml
  perf/istio-install/istioctl_profiles/long-running.yaml
Due: benchmark_check_tools

Bump golang (#1141)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump golang (#1143)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.6] Bump golang
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.5] Bump golang
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.5] Bump golang (#1145)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update common files and fix lint
  bin/root-transition.sh
  common/.commonfiles.sha
  common/scripts/setup_env.sh
  perf/load/common.sh
  perf/security/sds-tests/egress-sds/setup_test.sh
  perf/security/sds-tests/ingress-sds/setup_test.sh
Due: none

Automator: update common-files@release-1.7 in istio/tools@release-1.7
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.7 in istio/tools@release-1.7 (#1148)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.7 in istio/tools@release-1.7
  common/.commonfiles.sha
  common/scripts/gobuild.sh
  common/scripts/setup_env.sh
Due: none

Update common files and fix lint (#1147)
  bin/root-transition.sh
  common/.commonfiles.sha
  common/scripts/setup_env.sh
  perf/load/common.sh
  perf/security/sds-tests/egress-sds/setup_test.sh
  perf/security/sds-tests/ingress-sds/setup_test.sh
Due: none

clean up mixer in benchmark tests
  perf/benchmark/README.md
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/installation.yaml
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/runner/prom.py
  perf/benchmark/runner/runner.py
  perf/benchmark/update_mesh_config.py
Due: benchmark_check_tools

[release-1.7] Update common and fix lint
  Makefile.core.mk
  bin/root-transition.sh
  common/.commonfiles.sha
  common/scripts/gobuild.sh
  common/scripts/setup_env.sh
  perf/load/common.sh
  perf/security/sds-tests/ingress-sds/setup_test.sh
Due: none

Fix lint-yaml
  Makefile.core.mk
Due: none

Fix lint-yaml (#1153)
  Makefile.core.mk
Due: none

[release-1.7] Update common and fix lint (#1152)
  Makefile.core.mk
  bin/root-transition.sh
  common/.commonfiles.sha
  common/scripts/gobuild.sh
  common/scripts/setup_env.sh
  perf/load/common.sh
  perf/security/sds-tests/ingress-sds/setup_test.sh
Due: none

add k8s servicemonitor
  perf/istio-install/addons/servicemonitors.yaml
  perf/istio-install/setup_istio.sh
Due: none

add k8s servicemonitor (#1154)
  perf/istio-install/addons/servicemonitors.yaml
  perf/istio-install/setup_istio.sh
Due: none

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
