Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2022-01-27T14-05-07
      name: ''
      resources:
        limits:
  ...

containers-test_tools:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2022-01-27T14-05-07
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
          cpu: '8'
  ...

containers_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - ../test-infra/tools/automator/automator.sh
      - --org=istio
      - --repo=common-files
      - '--title=Automator: update build-tools image@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH'
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2022-01-27T14-05-07
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1896)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.11 in istio/tools@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.11 in istio/tools@release-1.11 (#1897)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

lint
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump to more recent git version (#1893)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add grpc protoc generator
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Dockerfile
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add grpc protoc generator (#1898)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1899)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bump kind to v0.12.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump kind to v0.12.0 (#1900)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1901)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update various tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update various tools (#1902)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Issues with goimports with gci linter; revert
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Issues with goimports with gci linter; revert (#1903)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1904)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

build-tools/Dockerfile: install zlib1g-dev
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

build-tools/Dockerfile: install zlib1g-dev (#1905)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1906)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/check_clean_repo.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1907)
  common/.commonfiles.sha
  common/scripts/check_clean_repo.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1908)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Switch to Golang 1.18.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Install gogo and golang protobuf protoc plugins
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update scripts to pass linter
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/create_cluster.sh
  perf/load/run_servicegraph_job.sh
  perf/other/multicluster-vpc/setup.sh
  setup/ipv6/wait_for_control_plane.sh
  setup/stability-extra/multicluster-vpn/setup.sh
  vendors/google/install_asm.sh
Due: benchmark_check_tools

Update scripts to pass linter (#1911)
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/create_cluster.sh
  perf/load/run_servicegraph_job.sh
  perf/other/multicluster-vpc/setup.sh
  setup/ipv6/wait_for_control_plane.sh
  setup/stability-extra/multicluster-vpn/setup.sh
  vendors/google/install_asm.sh
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/tools@master (#1912)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Install gogo and golang protobuf protoc plugins (#1910)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Disable intra-word emphasis in protoc-gen-docs (#1767)
  cmd/protoc-gen-docs/htmlGenerator.go
  cmd/protoc-gen-docs/testdata/test1.proto
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1913)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

buf: upgrade to v1.1.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
