Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Pin GN version (#1192)
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1193)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add automated security policy tests, update README
  go.mod
  go.sum
  licenses/google.golang.org/protobuf/LICENSE
  perf/benchmark/security/generate_policies/README.md
  perf/benchmark/security/generate_policies/testCases/Pipfile
  perf/benchmark/security/generate_policies/testCases/authZPaths.sh
  perf/benchmark/security/generate_policies/testCases/authZPathsVariablePolicies.sh
  perf/benchmark/security/generate_policies/testCases/authZSourceIP.sh
  perf/benchmark/security/generate_policies/testCases/authZSourceIPVariablePolicies.sh
  perf/benchmark/security/generate_policies/testCases/requestAuthN.sh
Due: benchmark_check_tools

update position of Test Cases in README
  perf/benchmark/security/generate_policies/README.md
Due: benchmark_check_tools

Add jq to build-tools-proxy
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add jq to build-tools-proxy (#1195)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update bucket resolution to make it suitable for the actual perf number (#1185)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Add the user in docker-entrypoint.sh
  docker/build-tools/docker-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Remove policy and telemetry fields in overlay
  perf/istio-install/istioctl_profiles/default-overlay.yaml
Due: none

Add the user in docker-entrypoint.sh (#1196)
  docker/build-tools/docker-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Remove policy and telemetry fields in overlay (#1197)
  perf/istio-install/istioctl_profiles/default-overlay.yaml
Due: none

Clarify action requirement
  cmd/gen-release-notes/note.go
Due: containers-test_tools, containers_tools_postsubmit

Make linter happy
  cmd/gen-release-notes/note.go
Due: containers-test_tools, containers_tools_postsubmit

Update cmd/gen-release-notes/note.go
  cmd/gen-release-notes/note.go
Due: containers-test_tools, containers_tools_postsubmit

Update note.go
  cmd/gen-release-notes/note.go
Due: containers-test_tools, containers_tools_postsubmit

Break up over multiple lines
  cmd/gen-release-notes/note.go
Due: containers-test_tools, containers_tools_postsubmit

Clarify action requirement (#1198)
  cmd/gen-release-notes/note.go
Due: containers-test_tools, containers_tools_postsubmit

Add notes for how to test system Maximum QPS and update README to the latest
  perf/benchmark/README.md
  perf/benchmark/runner/runner.py
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Add p99.9 in benchmark data fetching script and dashboard
  perf/benchmark/README.md
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/views.py
  perf_dashboard/perf_dashboard/settings.py
  perf_dashboard/static/js/latency_common_func.js
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Fix lint error
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1200)
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: none

refactor code
  perf_dashboard/benchmarks/views.py
  perf_dashboard/perf_dashboard/settings.py
Due: deploy-perf-dashboard_tools_postsubmit

Remove telemetry field in v1alpha1.IstioComponentSetSpec
  perf/benchmark/configs/istio/none/installation.yaml
  perf/benchmark/configs/istio/plaintext/installation.yaml
Due: benchmark_check_tools

Add p99.9 in benchmark data fetching script and dashboard (#1199)
  perf/benchmark/README.md
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/views.py
  perf_dashboard/static/js/latency_common_func.js
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Add enabling jitter check and suppress scientific notation
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Remove telemetry field in v1alpha1.IstioComponentSetSpec (#1201)
  perf/benchmark/configs/istio/none/installation.yaml
  perf/benchmark/configs/istio/plaintext/installation.yaml
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master (#1202)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add enabling jitter check and suppress scientific notation (#1190)
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Add notes for how to test system Maximum QPS and update README to the latest (#1189)
  perf/benchmark/README.md
  perf/benchmark/runner/runner.py
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
Due: benchmark_check_tools, deploy-perf-dashboard_tools_postsubmit

Update README.md
  cmd/gen-release-notes/README.md
Due: containers-test_tools, containers_tools_postsubmit

Update README.md (#1203)
  cmd/gen-release-notes/README.md
Due: containers-test_tools, containers_tools_postsubmit

Bump golang version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump golang version (#1204)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add performance trending
  perf_dashboard/README.md
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/benchmarks/templates/benchmarks_overview.html
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/history/templates/history.html
  perf_dashboard/perf_dashboard/urls.py
  perf_dashboard/regression_pattern/views.py
  perf_dashboard/regressions/__init__.py
  perf_dashboard/regressions/admin.py
  perf_dashboard/regressions/apps.py
  perf_dashboard/regressions/migrations/__init__.py
  perf_dashboard/regressions/models.py
  perf_dashboard/regressions/templates/cur_regression.html
  perf_dashboard/regressions/templates/master_regression.html
  perf_dashboard/regressions/templates/monitoring_overview.html
  perf_dashboard/regressions/tests.py
  perf_dashboard/regressions/urls.py
  perf_dashboard/regressions/views.py
  perf_dashboard/static/js/cur_pattern.js
  perf_dashboard/static/js/cur_regression.js
  perf_dashboard/static/js/master_pattern.js
  perf_dashboard/static/js/master_regression.js
  perf_dashboard/static/js/pattern_common_func.js
  perf_dashboard/static/js/regression_common_func.js
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit
