Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Update go to 1.17.0 (#1719)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

cue-gen: do not panic when package does not have `.` (#1718)
  cmd/cue-gen/build.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1720)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/gobuild.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1721)
  common/.commonfiles.sha
  common/scripts/gobuild.sh
Due: none

Fix some doc links for stability test README
  perf/stability/README.md
Due: none

Fix some doc links for stability test README (#1722)
  perf/stability/README.md
Due: none

Fix typo for prometheusrule.yaml
  perf/stability/alertmanager/prometheusrule.yaml
Due: none

Fix typo for prometheusrule.yaml (#1723)
  perf/stability/alertmanager/prometheusrule.yaml
Due: none

Update go from 1.17.1 to 1.17.2
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go from 1.17.1 to 1.17.2 (#1724)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1725)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bump go to 1.16.9
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to 1.16.9
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update Golang to 1.16.9 (#1727)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.11 in istio/tools@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.11 in istio/tools@release-1.11 (#1728)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update golang to 1.16.9 for Istio 1.10
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update golang to 1.16.9 for Istio 1.10 (#1729)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.10 in istio/tools@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.10 in istio/tools@release-1.10 (#1730)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

update gcloud SDK to the newest version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

update gcloud SDK to the newest version (#1731)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.12] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

[release-1.12] Automated branching step 4 (#1733)
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

update prometheus operator for perf pipeline
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/istio-install/base/templates/prometheus-operator.yaml
Due: benchmark_check_tools

update prometheus operator for perf pipeline (#1732)
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/istio-install/base/templates/prometheus-operator.yaml
Due: benchmark_check_tools

Automator: update common-files@release-1.12 in istio/tools@release-1.12
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1734)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.12 in istio/tools@release-1.12
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1735)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fix common-files
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: none

Fix common-files (#1736)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: none

Update gcloud to 362
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update gcloud to 362 (#1737)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1738)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Docker scan shows OS has outdated packages
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers
