Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Update a few tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update a few tools (#2256)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2257)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fix dashboard build
  perf_dashboard/Dockerfile
  perf_dashboard/Makefile
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/analyze_perf_issues/urls.py
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/artifacts/urls.py
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/benchmarks/urls.py
  perf_dashboard/history/templates/history.html
  perf_dashboard/history/urls.py
  perf_dashboard/perf_dashboard/urls.py
  perf_dashboard/regressions/apps.py
  perf_dashboard/regressions/templates/cur_regression.html
  perf_dashboard/regressions/templates/master_regression.html
  perf_dashboard/regressions/templates/monitoring_overview.html
  perf_dashboard/regressions/urls.py
  perf_dashboard/requirements.txt
  perf_dashboard/templates/base.html
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Fix dashboard build (#2238)
  perf_dashboard/Dockerfile
  perf_dashboard/Makefile
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/analyze_perf_issues/urls.py
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/artifacts/urls.py
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/templates/micro_benchmarks.html
  perf_dashboard/benchmarks/urls.py
  perf_dashboard/history/templates/history.html
  perf_dashboard/history/urls.py
  perf_dashboard/perf_dashboard/urls.py
  perf_dashboard/regressions/apps.py
  perf_dashboard/regressions/templates/cur_regression.html
  perf_dashboard/regressions/templates/master_regression.html
  perf_dashboard/regressions/templates/monitoring_overview.html
  perf_dashboard/regressions/urls.py
  perf_dashboard/requirements.txt
  perf_dashboard/templates/base.html
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Add bucket configuration settings
  perf_dashboard/Dockerfile
  perf_dashboard/README.md
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/artifacts/views.py
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/views.py
  perf_dashboard/helpers/download.py
  perf_dashboard/history/templates/history.html
  perf_dashboard/perf_dashboard/settings.py
  perf_dashboard/perf_dashboard/urls.py
  perf_dashboard/regressions/templates/cur_regression.html
  perf_dashboard/regressions/templates/master_regression.html
  perf_dashboard/regressions/templates/monitoring_overview.html
  perf_dashboard/regressions/views.py
  perf_dashboard/requirements.txt
  perf_dashboard/settings/__init__.py
  perf_dashboard/settings/admin.py
  perf_dashboard/settings/apps.py
  perf_dashboard/settings/models.py
  perf_dashboard/settings/templates/settings.html
  perf_dashboard/settings/tests.py
  perf_dashboard/settings/urls.py
  perf_dashboard/settings/views.py
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Add bucket configuration settings (#2258)
  perf_dashboard/Dockerfile
  perf_dashboard/README.md
  perf_dashboard/analyze_perf_issues/templates/analyze_perf_issues.html
  perf_dashboard/artifacts/templates/artifact.html
  perf_dashboard/artifacts/views.py
  perf_dashboard/benchmarks/templates/cpu_vs_conn.html
  perf_dashboard/benchmarks/templates/cpu_vs_qps.html
  perf_dashboard/benchmarks/templates/flame_graph.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/templates/mem_vs_conn.html
  perf_dashboard/benchmarks/templates/mem_vs_qps.html
  perf_dashboard/benchmarks/views.py
  perf_dashboard/helpers/download.py
  perf_dashboard/history/templates/history.html
  perf_dashboard/perf_dashboard/settings.py
  perf_dashboard/perf_dashboard/urls.py
  perf_dashboard/regressions/templates/cur_regression.html
  perf_dashboard/regressions/templates/master_regression.html
  perf_dashboard/regressions/templates/monitoring_overview.html
  perf_dashboard/regressions/views.py
  perf_dashboard/requirements.txt
  perf_dashboard/settings/__init__.py
  perf_dashboard/settings/admin.py
  perf_dashboard/settings/apps.py
  perf_dashboard/settings/models.py
  perf_dashboard/settings/templates/settings.html
  perf_dashboard/settings/tests.py
  perf_dashboard/settings/urls.py
  perf_dashboard/settings/views.py
  perf_dashboard/templates/index.html
Due: deploy-perf-dashboard_tools_postsubmit

Update Golang to 1.19.4
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update golang 1.18.9
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update Golang to 1.19.4 (#2260)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update golang 1.18.9 (#2261)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update Golang to 1.19.4 (#2263)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2264)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.14 in istio/tools@release-1.14
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.14 in istio/tools@release-1.14 (#2265)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.16 in istio/tools@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.16 in istio/tools@release-1.16 (#2266)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update Golang to 1.19.4 (#2262)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.15 in istio/tools@release-1.15
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.15 in istio/tools@release-1.15 (#2267)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bump k8s tooling to 1.26.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Bump k8s tooling to 1.26.0 (#2268)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update k8s deps to 1.26
  go.mod
  go.sum
Due: none

Fix lint and make gen
  cmd/cue-gen/schema_visitor.go
  licenses/github.com/PuerkitoBio/purell/LICENSE
  licenses/github.com/fsnotify/fsnotify/LICENSE
  licenses/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/LICENSE
  licenses/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/LICENSE
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update k8s deps to 1.26 (#2269)
  cmd/cue-gen/schema_visitor.go
  go.mod
  go.sum
  licenses/github.com/PuerkitoBio/purell/LICENSE
  licenses/github.com/fsnotify/fsnotify/LICENSE
  licenses/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/LICENSE
  licenses/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/LICENSE
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#2270)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Add the gke-gcloud-auth-plugin to build-tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Add the gke-gcloud-auth-plugin to build-tools (#2273)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

dashboard: switch using GCS bucket API
  .gitignore
  perf_dashboard/Dockerfile
  perf_dashboard/artifacts/views.py
  perf_dashboard/benchmarks/views.py
  perf_dashboard/helpers/bucket.py
  perf_dashboard/perf_data/master_temp.csv
  perf_dashboard/regressions/views.py
  perf_dashboard/requirements.txt
  perf_dashboard/settings/migrations/__init__.py
  perf_dashboard/settings/templates/settings.html
  perf_dashboard/settings/views.py
Due: deploy-perf-dashboard_tools_postsubmit

dashboard: switch using GCS bucket API (#2271)
  .gitignore
  perf_dashboard/Dockerfile
  perf_dashboard/artifacts/views.py
  perf_dashboard/benchmarks/views.py
  perf_dashboard/helpers/bucket.py
  perf_dashboard/perf_data/master_temp.csv
  perf_dashboard/regressions/views.py
  perf_dashboard/requirements.txt
  perf_dashboard/settings/migrations/__init__.py
  perf_dashboard/settings/templates/settings.html
  perf_dashboard/settings/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#2274)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  .gitattributes
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#2275)
  .gitattributes
  common/.commonfiles.sha
Due: none
