Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2021-01-14T20-42-32
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

fix: ubuntu downgrade to bionic for arm64 build-tools-proxy
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

build 1.11 release
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Set release managers as CODEOWNERS for release-1.11
  CODEOWNERS
Due: none

build 1.11 release (#1623)
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Set release managers as CODEOWNERS for release-1.11.
  CODEOWNERS
Due: none

Set release managers as CODEOWNERS for release-1.11. (#1626)
  CODEOWNERS
Due: none

test
  README.md
Due: none

Use go 1.6.6 in the actual build script
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

Use go 1.6.6 in the actual build script (#1628)
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

fix: ubuntu downgrade to bionic for arm64 build-tools-proxy (#1622)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.11] Automated branching step 4
  common/Makefile.common.mk
Due: none

[release-1.11] Automated branching step 4 (#1629)
  common/Makefile.common.mk
Due: none

Automator: update common-files@release-1.11 in istio/tools@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.11 in istio/tools@release-1.11 (#1630)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Install alpha component in gcloud so alpha
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Install alpha component in gcloud so alpha (#1631)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/tools@master (#1632)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/tools@master (#1633)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Update kubetest2 to the latest version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update kubetest2 to the latest version (#1634)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.10] Update kubetest2 to the latest version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update gcloud version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update gcloud version (#1637)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update kubetest2 to the latest version (#1635)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.10] Update kubetest2 to the latest version (#1636)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix prometheusrule.yaml
  perf/stability/alertmanager/prometheusrule.yaml
Due: none

fix prometheusrule.yaml (#1640)
  perf/stability/alertmanager/prometheusrule.yaml
Due: none

Replace KUBE_DNS config with DNS_SVC and DNS_POD
  perf/benchmark/setup_test.sh
Due: benchmark_check_tools

Bump kind version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump kind version (#1642)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Add Hadolint support for arm64 build
  docker/build-tools/Dockerfile
  docker/build-tools/hadolint-build-src.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Replace KUBE_DNS config with DNS_SVC and DNS_POD (#1641)
  perf/benchmark/setup_test.sh
Due: benchmark_check_tools

Automator: update common-files@release-1.10 in istio/tools@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.10 in istio/tools@release-1.10 (#1644)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

[release-1.10] Update gcloud version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

format
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.11] Update gcloud version
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
