Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Revert "show progress"
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Revert "Bump to 9.0.1"
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

9.0.1
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Back to 9.0.0
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update build-and-push.sh
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit

delete collect_metrics part
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

TAG should be INSTALL_VERSION
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

remove GIT_SHA
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Revert LLVM change (#947)
  docker/build-tools/Dockerfile
  docker/build-tools/Dockerfile.centos
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

add collect_metrics back and revert fortio.py file change
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
Due: benchmark_check_tools

Add status to validation schema (#945)
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  go.mod
  go.sum
  licenses/k8s.io/klog/v2/LICENSE
  licenses/k8s.io/utils/inotify/LICENSE
Due: containers-test_tools, containers_tools_postsubmit

[release-1.6] Add status to validation schema
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  go.mod
  go.sum
  licenses/k8s.io/klog/v2/LICENSE
  licenses/k8s.io/utils/inotify/LICENSE
Due: containers-test_tools, containers_tools_postsubmit

add report_port logic for handle both fortio and nighthawk
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#949)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Make perf test run with clear setup/run steps and some cleanups (#943)
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
Due: benchmark_check_tools

runner.py: add --envoy_profiler option
  perf/benchmark/README.md
  perf/benchmark/flame/README.md
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Lint fixes
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Markdown lint fixes
  perf/benchmark/README.md
  perf/benchmark/flame/README.md
Due: benchmark_check_tools

[release-1.6] Add status to validation schema (#948)
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  go.mod
  go.sum
  licenses/k8s.io/klog/v2/LICENSE
  licenses/k8s.io/utils/inotify/LICENSE
Due: containers-test_tools, containers_tools_postsubmit

[release-1.6] cherry-pick perf test update master PR-943
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
Due: benchmark_check_tools

add permission for rotator
  perf/security/sds-tests/workload-sds/templates/workload_rotate.yaml
Due: none

[release-1.6] cherry-pick perf test update master PR-943 (#950)
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/fortio.py
Due: benchmark_check_tools

Fix GCS URL
  perf/istio-install/setup_istio.sh
Due: none

Update envoy dump info name and add pod spec
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

revise
  perf/security/sds-tests/ingress-sds/README.md
  perf/security/sds-tests/ingress-sds/cleanup_ingress_secrets.sh
  perf/security/sds-tests/ingress-sds/setup_client.sh
  perf/security/sds-tests/ingress-sds/setup_test.sh
  perf/security/sds-tests/ingress-sds/setup_virtualservice.sh
  perf/security/sds-tests/ingress-sds/workload.yaml
Due: none

lint
  perf/security/sds-tests/ingress-sds/cleanup_ingress_secrets.sh
  perf/security/sds-tests/ingress-sds/setup_client.sh
  perf/security/sds-tests/ingress-sds/setup_test.sh
Due: none

lint fix
  perf/security/sds-tests/ingress-sds/README.md
Due: none

Automator: update common-files@release-1.6 in istio/tools@release-1.6
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.6 in istio/tools@release-1.6 (#954)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Allow unknown fields in unmarshaler generation
  cmd/protoc-gen-jsonshim/jsonshim/plugin.go
  cmd/protoc-gen-jsonshim/test/generated/external_json.gen.go
  cmd/protoc-gen-jsonshim/test/generated/types_json.gen.go
Due: containers-test_tools, containers_tools_postsubmit

Allow unknown fields in unmarshaler generation (#955)
  cmd/protoc-gen-jsonshim/jsonshim/plugin.go
  cmd/protoc-gen-jsonshim/test/generated/external_json.gen.go
  cmd/protoc-gen-jsonshim/test/generated/types_json.gen.go
Due: containers-test_tools, containers_tools_postsubmit

fix lint
  perf/benchmark/README.md
Due: benchmark_check_tools

[release-1.4] Allow unknown fields in unmarshaler generation (#956)
  cmd/protoc-gen-jsonshim/jsonshim/plugin.go
  cmd/protoc-gen-jsonshim/test/generated/external_json.gen.go
  cmd/protoc-gen-jsonshim/test/generated/types_json.gen.go
  perf/benchmark/README.md
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit

Deprecate --wait flag in install
  perf/istio-install/setup_istio.sh
Due: none

Add scrape annotations for prom. node exporter
  perf/benchmark/templates/fortio.yaml
Due: benchmark_check_tools

Refactor istio-install setup (#916)
  perf/istio-install/README.md
  perf/istio-install/base/templates/als.yaml
  perf/istio-install/base/templates/istio-gateway.yaml
  perf/istio-install/base/templates/prometheus-install.yaml
  perf/istio-install/base/templates/prometheus-operator.yaml
  perf/istio-install/base/values.yaml
  perf/istio-install/istio_operator.sha
  perf/istio-install/setup_istio.sh
  perf/istio-install/setup_istio_operator.sh
  perf/istio-install/setup_istio_release.sh
  perf/istio-install/setup_prometheus.sh
  perf/istio-install/values-istio-postsubmit.yaml
  perf/istio-install/values-istio-sds-auth.yaml
  perf/istio-install/values-large.yaml
  perf/istio-install/values-multi-citadel-non-sds.yaml
  perf/istio-install/values-new-installer.yaml
  perf/istio-install/values.yaml
  perf/prometheus-install/.gitignore
  perf/prometheus-install/ssd-storage-class.yaml
Due: none

Deprecate --wait flag in install (#957)
  perf/istio-install/setup_istio.sh
Due: none

cue-gen: update deprecated syntax
  cmd/cue-gen/assets.gen.go
  cmd/cue-gen/doc.cue
Due: containers-test_tools, containers_tools_postsubmit
