Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Automator: update common-files@master in istio/tools@master (#935)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/tools@master (#936)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Tweak flamegraph file naming
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Fix NH-mode --ingress option
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

add test
  perf/security/sds-tests/ingress-sds/setup_client.sh
  perf/security/sds-tests/ingress-sds/setup_gateway.sh
  perf/security/sds-tests/ingress-sds/setup_test.sh
  perf/security/sds-tests/ingress-sds/setup_virtualservice.sh
  perf/security/sds-tests/ingress-sds/templates/deploy_gateway.yaml
  perf/security/sds-tests/ingress-sds/workload.yaml
Due: none

Lint fix
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Small enhancenments/fixes
  perf/benchmark/README.md
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Update to kind v0.8.0 (#934)
  docker/build-tools/Dockerfile
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Allow cue-gen to generate field preserveUnknownFields in CRD
  cmd/cue-gen/build.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#939)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Allow cue-gen to generate field preserveUnknownFields in CRD (#938)
  cmd/cue-gen/build.go
Due: containers-test_tools, containers_tools_postsubmit

Allow cue-gen to generate field preserveUnknownFields in CRD (#940)
  cmd/cue-gen/build.go
Due: containers-test_tools, containers_tools_postsubmit

make fortio run through perf pipeline via LOAD_GEN_TYPE env var
  perf/benchmark/configs/istio/mixer/cpu_mem.yaml
  perf/benchmark/configs/istio/mixer/latency.yaml
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

make fortio run through perf pipeline via LOAD_GEN_TYPE env var (#937)
  perf/benchmark/configs/istio/mixer/cpu_mem.yaml
  perf/benchmark/configs/istio/mixer/latency.yaml
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Fix hang, improve error handling. Doc enhancements.
  perf/benchmark/README.md
  perf/benchmark/flame/README.md
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Lint change in runner.py
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Flag for allowing short runs. Doc pagefault flamgraphing.
  perf/benchmark/README.md
  perf/benchmark/flame/README.md
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master (#941)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.6 in istio/tools@release-1.6
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.6 in istio/tools@release-1.6 (#942)
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Make perf test run with clear setup/run steps and some cleanups
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

fix lint error
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

[relase-1.6] Add recent perf benchmark test changes
  perf/benchmark/README.md
  perf/benchmark/configs/istio/mixer/cpu_mem.yaml
  perf/benchmark/configs/istio/mixer/latency.yaml
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
  perf/benchmark/setup_test.sh
  perf/benchmark/templates/fortio.yaml
  perf/benchmark/templates/mtls.yaml
  perf/benchmark/values.yaml
Due: benchmark_check_tools

enable telemetryv2 statswasm run
  perf/benchmark/configs/run_perf_test.conf
Due: benchmark_check_tools

Add status to validation schema
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  go.mod
  go.sum
Due: containers-test_tools, containers_tools_postsubmit

make gen
  licenses/k8s.io/klog/v2/LICENSE
  licenses/k8s.io/utils/inotify/LICENSE
Due: none

[relase-1.6] Add recent perf benchmark test changes (#944)
  perf/benchmark/README.md
  perf/benchmark/configs/istio/mixer/cpu_mem.yaml
  perf/benchmark/configs/istio/mixer/latency.yaml
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/installation.yaml
  perf/benchmark/configs/istio/telemetryv2_statswasm/latency.yaml
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
  perf/benchmark/setup_test.sh
  perf/benchmark/templates/fortio.yaml
  perf/benchmark/templates/mtls.yaml
  perf/benchmark/values.yaml
Due: benchmark_check_tools

Update LLVM version
  docker/build-tools/Dockerfile
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

update ubuntu version for llvm install
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

update download address
  docker/build-tools/Dockerfile
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update LLVM version (#946)
  docker/build-tools/Dockerfile
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Revert "Update LLVM version (#946)"
  docker/build-tools/Dockerfile
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

show progress
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump to 9.0.1
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

ignore lint error
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Revert "ignore lint error"
  docker/build-tools/Dockerfile.centos
Due: containers-test_tools, containers_tools_postsubmit, tools-containers
