Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2021-07-20T19-29-39
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Automator: update common-files@master in istio/tools@master (#1837)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update golang linter
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update golang linter (#1838)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump versions for helm lint
  perf/auto-qual-test/base/qual-test-update-job.yaml
  perf/load/templates/config-changer.yaml
  perf/stability/canary-upgrader/templates/canary-upgrader-cron.yaml
  perf/stability/gateway-bouncer/templates/bouncer.yaml
  perf/stability/graceful-shutdown/templates/redeployer-cron.yaml
  perf/stability/istio-chaos-partial/templates/chaos-cron.yaml
  perf/stability/istio-chaos-total/templates/chaos-cron.yaml
  perf/stability/istio-upgrader/templates/redeployer-cron.yaml
  perf/stability/logs-checker/templates/check_k8s_logs.yaml
  perf_dashboard/deploy/perf-dashboard/templates/ingress.yaml
Due: deploy-perf-dashboard_tools_postsubmit

Bump versions for helm lint (#1839)
  perf/auto-qual-test/base/qual-test-update-job.yaml
  perf/load/templates/config-changer.yaml
  perf/stability/canary-upgrader/templates/canary-upgrader-cron.yaml
  perf/stability/gateway-bouncer/templates/bouncer.yaml
  perf/stability/graceful-shutdown/templates/redeployer-cron.yaml
  perf/stability/istio-chaos-partial/templates/chaos-cron.yaml
  perf/stability/istio-chaos-total/templates/chaos-cron.yaml
  perf/stability/istio-upgrader/templates/redeployer-cron.yaml
  perf/stability/logs-checker/templates/check_k8s_logs.yaml
  perf_dashboard/deploy/perf-dashboard/templates/ingress.yaml
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/lint_go.sh
  common/scripts/setup_env.sh
Due: none

Update go to 1.16.13 (#1829)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.11 in istio/tools@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.11 in istio/tools@release-1.11 (#1841)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fixes for linting with new common-files update
  cmd/annotations_prep/main.go
  cmd/cue-gen/assets.gen.go
  cmd/cue-gen/genoapi.go
  cmd/gen-release-notes/main.go
  cmd/kubetype-gen/metadata/metadata.go
  cmd/license-lint/main.go
  cmd/mvpage/mover.go
  isotope/convert/cmd/graphviz.go
  isotope/convert/cmd/kubernetes.go
  isotope/convert/pkg/graph/script/request_command.go
  isotope/convert/pkg/graph/svc/unmarshal.go
  isotope/convert/pkg/kubernetes/kubernetes.go
  isotope/service/main.go
  isotope/service/pkg/srv/executable.go
  isotope/service/pkg/srv/graph.go
  isotope/service/pkg/srv/handler.go
  isotope/service/pkg/srv/prometheus/handler.go
Due: containers-test_tools, containers_tools_postsubmit

Fixes for linting with new common-files update (#1842)
  cmd/annotations_prep/main.go
  cmd/cue-gen/assets.gen.go
  cmd/cue-gen/genoapi.go
  cmd/gen-release-notes/main.go
  cmd/kubetype-gen/metadata/metadata.go
  cmd/license-lint/main.go
  cmd/mvpage/mover.go
  isotope/convert/cmd/graphviz.go
  isotope/convert/cmd/kubernetes.go
  isotope/convert/pkg/graph/script/request_command.go
  isotope/convert/pkg/graph/svc/unmarshal.go
  isotope/convert/pkg/kubernetes/kubernetes.go
  isotope/service/main.go
  isotope/service/pkg/srv/executable.go
  isotope/service/pkg/srv/graph.go
  isotope/service/pkg/srv/handler.go
  isotope/service/pkg/srv/prometheus/handler.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1840)
  common/.commonfiles.sha
  common/scripts/lint_go.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1843)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update bom dependency to v0.2.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update bom dependency to v0.2.0 (#1844)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1845)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bump sigs.k8s.io/bom to v0.2.1
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Bump sigs.k8s.io/bom to v0.2.1 (#1846)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1847)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Always log boskos failures
  bin/setup_cluster.sh
Due: none

Always log boskos failures (#1848)
  bin/setup_cluster.sh
Due: none

add perf tests for authz dry-run (#1781)
  perf/benchmark/configs/istio/security_authz_dry_run/config.json
  perf/benchmark/configs/istio/security_authz_dry_run/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_dry_run/installation.yaml
  perf/benchmark/configs/istio/security_authz_dry_run/latency.yaml
  perf/benchmark/configs/istio/security_authz_dry_run/postrun.sh
  perf/benchmark/configs/istio/security_authz_dry_run/prerun.sh
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Update bom to 0.2.2
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update bom to 0.2.2 (#1849)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1850)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

added sleep and httpbin in the test directory
  perf/stability/control-plane/samples/httpbin.yaml
  perf/stability/control-plane/samples/sleep.yaml
  perf/stability/control-plane/test.sh
Due: none

Update to buf `v1.0.0-rc12`
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update to buf `v1.0.0-rc12` (#1851)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1853)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update bom dependency to v0.2.0 (#1852)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

refactored some code
  perf/stability/control-plane/test.sh
Due: none

Always enable ipv6 sysctl
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Always enable ipv6 sysctl (#1854)
  docker/build-tools/prow-entrypoint.sh
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@release-1.12 in istio/tools@release-1.12
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
