Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Automator: update common-files@release-1.31 in istio/tools@release-1.31 (#3479)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
Due: none

remove ignore_autogenerated build tag from generated types (#3480)
  cmd/kubetype-gen/scanner/scanner.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#3481)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

skip Go type aliases and fix comment pollution from gengo v2
  cmd/kubetype-gen/scanner/scanner.go
  cmd/kubetype-gen/testdata/test_output/defaults/group/version/register.go
  cmd/kubetype-gen/testdata/test_output/defaults/group/version/types.go
  cmd/kubetype-gen/testdata/test_output/defaults/group2/version2/register.go
  cmd/kubetype-gen/testdata/test_output/defaults/group2/version2/types.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

skip Go type aliases and fix comment pollution from gengo v2 (#3482)
  cmd/kubetype-gen/scanner/scanner.go
  cmd/kubetype-gen/testdata/test_output/defaults/group/version/register.go
  cmd/kubetype-gen/testdata/test_output/defaults/group/version/types.go
  cmd/kubetype-gen/testdata/test_output/defaults/group2/version2/register.go
  cmd/kubetype-gen/testdata/test_output/defaults/group2/version2/types.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#3483)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/tools@master (#3484)
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: none

Automator: update common-files@master in istio/tools@master (#3485)
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: none

Automator: update common-files@release-1.31 in istio/tools@release-1.31
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: none

Automator: update common-files@release-1.31 in istio/tools@release-1.31 (#3486)
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/tools@master (#3487)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

deps: upgrade kind to v0.32.0
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

deps: upgrade kind to v0.32.0 (#3488)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#3490)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

deps: upgrade kind to v0.32.0 (#3489)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.31 in istio/tools@release-1.31
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.31 in istio/tools@release-1.31 (#3491)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  .gitattributes
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#3492)
  .gitattributes
  common/.commonfiles.sha
Due: none

[release-1.32] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

[release-1.32] Automated branching step 4 (#3493)
  CODEOWNERS
  common/Makefile.common.mk
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Automator: update common-files@release-1.32 in istio/tools@release-1.32
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.32 in istio/tools@release-1.32 (#3494)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

go: bump to 1.27.2
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers
