Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Automator: update common-files@release-1.12 in istio/tools@release-1.12
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1760)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

[WIP] TEST DO NOT MERGE
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@release-1.11 in istio/tools@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.11 in istio/tools@release-1.11 (#1762)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1763)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

docs gen: allow mix of `<mode>` and `none`
  cmd/protoc-gen-docs/htmlGenerator.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#1765)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

docs gen: allow mix of `<mode>` and `none` (#1764)
  cmd/protoc-gen-docs/htmlGenerator.go
Due: containers-test_tools, containers_tools_postsubmit

Automator: update common-files@master in istio/tools@master (#1766)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Disable intra-word emphasis in protoc-gen-docs
  cmd/protoc-gen-docs/htmlGenerator.go
  cmd/protoc-gen-docs/testdata/test1.proto
Due: containers-test_tools, containers_tools_postsubmit

Update go-junit-report to the new commit
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go-junit-report to the new commit (#1768)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

drain before response.Body.Close()
  isotope/service/pkg/srv/executable.go
Due: none

[release-1.9] Update go-junit-report to the new commit
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

drain before response.Body.Close() (#1772)
  isotope/service/pkg/srv/executable.go
Due: none

Update go-junit-report to the new commit (#1770)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go-junit-report to the new commit (#1771)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update go-junit-report to the new commit (#1769)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#1774)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Revert "Update go-junit-report to the new commit (#1769)"
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Revert "Update go-junit-report to the new commit (#1769)" (#1775)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

include DNS_CAPTURE in stability test
  perf/istio-install/istioctl_profiles/long-running.yaml
Due: none

include DNS_CAPTURE in stability test (#1776)
  perf/istio-install/istioctl_profiles/long-running.yaml
Due: none

Automator: update common-files@master in istio/tools@master (#1777)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.12 in istio/tools@release-1.12 (#1778)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update go to 1.17.4
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update to golang 1.16.11
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

[release-1.9] Update go-junit-report to the new commit (#1773)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

add perf tests for authz dry-run
  perf/benchmark/configs/istio/security_authz_dry_run/config.json
  perf/benchmark/configs/istio/security_authz_dry_run/cpu_mem.yaml
  perf/benchmark/configs/istio/security_authz_dry_run/installation.yaml
  perf/benchmark/configs/istio/security_authz_dry_run/latency.yaml
  perf/benchmark/configs/istio/security_authz_dry_run/postrun.sh
  perf/benchmark/configs/istio/security_authz_dry_run/prerun.sh
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/security/generate_policies/generate_policies.go
Due: benchmark_check_tools

Fix release notes generation
  cmd/gen-release-notes/main.go
Due: containers-test_tools, containers_tools_postsubmit
