Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: TRIALRUN
        value: 'True'
  ...

containers-test_tools:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
        limits:
  ...

containers-test-arm64_tools:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
        limits:
  ...

containers_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - ../test-infra/tools/automator/automator.sh
      - --org=istio
      - --repo=common-files
      - '--title=Automator: update build-tools image@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH'
  ...

containers-arm64_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: MANIFEST_ARCH
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

suggestion from PR
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update tools (#3239)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Adds MinGW gcc and Windows target for Ztunnel (#3238)
  docker/build-tools/Dockerfile
  docker/build-tools/build-and-push.sh
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.27 in istio/tools@release-1.27
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.27 in istio/tools@release-1.27 (#3241)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#3242)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.26 in istio/tools@release-1.26
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@release-1.26 in istio/tools@release-1.26 (#3243)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

tool updates
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update dependencies
  go.mod
  go.sum
Due: none

update deps
  isotope/go.mod
  isotope/go.sum
Due: none

run make gen
  licenses/go.yaml.in/yaml/v2/LICENSE
  licenses/go.yaml.in/yaml/v3/LICENSE
Due: none

Update tools (#3244)
  docker/build-tools/Dockerfile
  go.mod
  go.sum
  isotope/go.mod
  isotope/go.sum
  licenses/go.yaml.in/yaml/v2/LICENSE
  licenses/go.yaml.in/yaml/v3/LICENSE
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#3245)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

update tools (#3246)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Dockerfile: removed babel dependency and svgstore cli from dockerfile
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

remove unused node_modules copy from build-tools Dockerfile
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Dockerfile: cleanup in tools (#3247)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#3248)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/tools@master (#3249)
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/tools@master (#3250)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

update gh
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update various tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.27 in istio/tools@release-1.27
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.27 in istio/tools@release-1.27 (#3252)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

update more tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

fix gh
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update tools (#3251)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#3253)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bump go modules
  go.mod
  go.sum
Due: none

Bump go modules (#3254)
  go.mod
  go.sum
Due: none

more updates
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
