Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Update latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/metallb-native.yaml
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@master in istio/tools@master (#2737)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/metallb-native.yaml
  common/scripts/metallb.yaml
Due: none

Cleanup: remove unused cue-gen tool
  .gitignore
  cmd/cue-gen/Makefile
  cmd/cue-gen/README.md
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/doc.cue
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/schema_visitor.go
  cmd/cue-gen/test/Makefile
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
  cmd/cue-gen/test/istio.io/api/cue.mod
  cmd/cue-gen/test/istio.io/api/cue.yaml
  cmd/cue-gen/test/istio.io/api/foo/v1alpha3/bar.proto
  cmd/cue-gen/test/istio.io/api/foo/v1alpha3/baz.proto
  cmd/cue-gen/test/istio.io/api/foo/v1beta1/bar.proto
  cmd/cue-gen/test/istio.io/api/meta/v1beta1/status.proto
  docker/build-tools/Dockerfile
  go.mod
  go.sum
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Revert Hugo version to see if it helps the istio.io lint flake
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

drop licenses
  licenses/cuelang.org/go/LICENSE
  licenses/cuelang.org/go/internal/third_party/yaml/LICENSE
  licenses/github.com/cockroachdb/apd/v2/LICENSE
  licenses/github.com/emicklei/proto/LICENSE
  licenses/github.com/gobuffalo/flect/LICENSE
  licenses/github.com/google/uuid/LICENSE
  licenses/github.com/kr/pretty/License
  licenses/github.com/kr/text/License
  licenses/github.com/mitchellh/go-wordwrap/LICENSE.md
  licenses/github.com/mpvl/unique/LICENSE
  licenses/github.com/protocolbuffers/txtpbfmt/LICENSE
  licenses/github.com/rogpeppe/go-internal/LICENSE
Due: none

Revert Hugo version to see if it helps the istio.io lint flake (#2739)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Cleanup: remove unused cue-gen tool (#2738)
  .gitignore
  cmd/cue-gen/Makefile
  cmd/cue-gen/README.md
  cmd/cue-gen/build.go
  cmd/cue-gen/crd.go
  cmd/cue-gen/doc.cue
  cmd/cue-gen/genoapi.go
  cmd/cue-gen/schema_visitor.go
  cmd/cue-gen/test/Makefile
  cmd/cue-gen/test/crdgen_test.go
  cmd/cue-gen/test/generated/kubernetes/customresourcedefinitions.gen.yaml
  cmd/cue-gen/test/istio.io/api/cue.mod
  cmd/cue-gen/test/istio.io/api/cue.yaml
  cmd/cue-gen/test/istio.io/api/foo/v1alpha3/bar.proto
  cmd/cue-gen/test/istio.io/api/foo/v1alpha3/baz.proto
  cmd/cue-gen/test/istio.io/api/foo/v1beta1/bar.proto
  cmd/cue-gen/test/istio.io/api/meta/v1beta1/status.proto
  docker/build-tools/Dockerfile
  go.mod
  go.sum
  licenses/cuelang.org/go/LICENSE
  licenses/cuelang.org/go/internal/third_party/yaml/LICENSE
  licenses/github.com/cockroachdb/apd/v2/LICENSE
  licenses/github.com/emicklei/proto/LICENSE
  licenses/github.com/gobuffalo/flect/LICENSE
  licenses/github.com/google/uuid/LICENSE
  licenses/github.com/kr/pretty/License
  licenses/github.com/kr/text/License
  licenses/github.com/mitchellh/go-wordwrap/LICENSE.md
  licenses/github.com/mpvl/unique/LICENSE
  licenses/github.com/protocolbuffers/txtpbfmt/LICENSE
  licenses/github.com/rogpeppe/go-internal/LICENSE
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2740)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2741)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: none

crd: add default values for enums
  cmd/protoc-gen-crd/main.go
  cmd/protoc-gen-crd/openapiGenerator.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update Go to 1.21.5
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update Go to 1.20.12
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update Go to 1.21.5 (#2743)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update Go to 1.21.5 (#2745)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2747)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update Go to 1.20.12 (#2746)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update Go to 1.21.5 (#2744)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.19 in istio/tools@release-1.19
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.19 in istio/tools@release-1.19 (#2748)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.20 in istio/tools@release-1.20
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.18 in istio/tools@release-1.18
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.20 in istio/tools@release-1.20 (#2749)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.18 in istio/tools@release-1.18 (#2750)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Brings back runner to enable run_tests.py
  isotope/runner/README.md
  isotope/runner/__init__.py
  isotope/runner/cluster.py
  isotope/runner/config.py
  isotope/runner/consts.py
  isotope/runner/entrypoint.py
  isotope/runner/entrypoint_test.py
  isotope/runner/istio.py
  isotope/runner/kubectl.py
  isotope/runner/md5.py
  isotope/runner/mesh.py
  isotope/runner/mesh_test.py
  isotope/runner/pipeline.py
  isotope/runner/prometheus.py
  isotope/runner/prometheus_test.py
  isotope/runner/requirements.txt
  isotope/runner/resources/.gitignore
  isotope/runner/resources/__init__.py
  isotope/runner/resources/helm-service-account.yaml
  isotope/runner/resources/persistent-volume.yaml
  isotope/runner/sh.py
  isotope/runner/test.heap
  isotope/runner/wait.py
Due: none

run_tests.py can run and produce an output now.
  isotope/runner/cluster.py
  isotope/runner/consts.py
  isotope/runner/istio.py
  isotope/runner/kubectl.py
  isotope/runner/pipeline.py
  isotope/runner/wait.py
Due: none

Update versions in example-config.toml
  isotope/example-config.toml
Due: none

update patch releasenotes format
  cmd/gen-release-notes/templates/releaseNotes.md
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

test allowlist
  Makefile.core.mk
Due: none

define findfiles
  Makefile.core.mk
Due: none

delete extra releasenote
  cmd/gen-release-notes/templates/minorReleaseNotes.md
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

make gen/lint and unnecessary sleep removal
  isotope/runner/istio.py
  isotope/runner/pipeline.py
Due: none

revise
  Makefile.core.mk
Due: none

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/tools@master (#2753)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none
