Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: TRIALRUN
        value: 'True'
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
  ...

containers-test_tools:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

containers_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      image: gcr.io/istio-testing/build-tools:master-2020-04-09T21-48-25
      name: ''
      resources:
        limits:
          cpu: '3'
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

add load_gen_type flag into perf runner
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

fix unbound variable issue of config_name
  perf/benchmark/configs/istio/mixer/cpu_mem.yaml
  perf/benchmark/configs/istio/mixer/latency.yaml
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
Due: benchmark_check_tools

fix unbound variable issue of config_name
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

add load_gen_type flag into perf runner (#883)
  perf/benchmark/configs/istio/mixer/cpu_mem.yaml
  perf/benchmark/configs/istio/mixer/latency.yaml
  perf/benchmark/configs/istio/none/cpu_mem.yaml
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/plaintext/cpu_mem.yaml
  perf/benchmark/configs/istio/plaintext/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_full/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_sd_nologging/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/cpu_mem.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

make trace back days configurable on perf site (#881)
  perf_dashboard/benchmarks/templates/cpu_memory.html
  perf_dashboard/benchmarks/templates/latency_vs_conn.html
  perf_dashboard/benchmarks/templates/latency_vs_qps.html
  perf_dashboard/benchmarks/views.py
Due: deploy-perf-dashboard_tools_postsubmit

Automator: update common-files@master in istio/tools@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Use full GIT_SHA to make it consumable by perf site
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master (#884)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

remove duration label from gen_test_label
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Use full GIT_SHA to make it consumable by perf site (#885)
  perf/benchmark/run_benchmark_job.sh
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Automator: update common-files@master in istio/tools@master (#887)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

[release-1.5] cherry-pick recent master perf pipeline changes
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

fix file not found issue
  perf_dashboard/helpers/download.py
Due: deploy-perf-dashboard_tools_postsubmit

change perf benchmark data output dir name to use the full TAG
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

change perf benchmark data output dir name to use the full TAG (#886)
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

make benchmark data dir name consumable by perf site
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

[release-1.5] cherry-pick recent master perf pipeline changes (#888)
  perf/benchmark/configs/run_perf_test.conf
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

Custom profiling commands & flamegraphs
  perf/benchmark/README.md
  perf/benchmark/runner/runner.py
  perf/benchmark/templates/fortio.yaml
  perf/benchmark/values.yaml
  perf/docker/Dockerfile.profiling
  perf/docker/perf/setup-node-for-profiling.sh
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit

fix file not found issue (#889)
  perf_dashboard/helpers/download.py
Due: deploy-perf-dashboard_tools_postsubmit

Exclude outbound ports to prevent bad gateway error (#592)
  perf/benchmark/templates/fortio.yaml
Due: benchmark_check_tools

Correct graph script to print mixer values (#593)
  perf/benchmark/runner/graph.py
Due: benchmark_check_tools

Docker linting, fix TODO
  perf/benchmark/runner/runner.py
  perf/docker/Dockerfile.profiling
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit

Docker lint tweak
  perf/docker/Dockerfile.profiling
Due: containers-test_tools, containers_tools_postsubmit

Add perf label to flamegraph filename
  perf/benchmark/runner/runner.py
  perf/docker/Dockerfile.profiling
  perf/docker/profiling/setup-node-for-profiling.sh
Due: benchmark_check_tools, containers-test_tools, containers_tools_postsubmit

fix Asset charts not found when installing istio
  perf/istio-install/setup_istio.sh
Due: none

fix the command
  perf/istio-install/setup_istio.sh
Due: none

fix Asset charts not found when installing istio (#892)
  perf/istio-install/setup_istio.sh
Due: none

Update K8S_CODE_GENERATOR_VERSION to 1.18.1
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

Update K8S_CODE_GENERATOR_VERSION to 1.18.1 (#894)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers_tools_postsubmit, tools-containers

fix INSTALL_WITH_ISTIOCTL charts issue
  perf/istio-install/setup_istio.sh
Due: none

Deduplicate redundant functionality
  perf/benchmark/flame/README.md
  perf/benchmark/flame/flame.sh
  perf/benchmark/flame/get_perfdata.sh
  perf/benchmark/flame/get_proxy_perf.sh
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

recursively copy manifests
  perf/istio-install/setup_istio.sh
Due: none

Automator: update common-files@master in istio/tools@master (#895)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

delete apply in cmd
  perf/istio-install/setup_istio.sh
Due: none

fix charts in run perf benchmark
  perf/benchmark/run_benchmark_job.sh
Due: benchmark_check_tools

fix INSTALL_WITH_ISTIOCTL charts issue (#893)
  perf/benchmark/run_benchmark_job.sh
  perf/istio-install/setup_istio.sh
Due: benchmark_check_tools

add sidecar_mode into sidecar_mode_func
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

fix lint error
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
