Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile

Update patch releasenotes format (#2751)
  Makefile.core.mk
  cmd/gen-release-notes/templates/minorReleaseNotes.md
  cmd/gen-release-notes/templates/releaseNotes.md
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update various tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Revert go-bindata - newer release not found
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update rust
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update Google cloud SDK
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update various tools (#2754)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2755)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

update go deps
  go.mod
  go.sum
Due: none

update code gen/kubectl
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

update containerd
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

run make gen
  licenses/github.com/felixge/httpsnoop/LICENSE.txt
  licenses/github.com/go-logr/stdr/LICENSE
  licenses/github.com/google/gnostic-models/LICENSE
  licenses/github.com/matttproud/golang_protobuf_extensions/v2/LICENSE
  licenses/github.com/pelletier/go-toml/v2/LICENSE
  licenses/github.com/sagikazarmark/slog-shim/LICENSE
  licenses/github.com/spf13/jwalterweatherman/LICENSE
  licenses/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/LICENSE
  licenses/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/LICENSE
  licenses/go.opentelemetry.io/otel/LICENSE
  licenses/go.opentelemetry.io/otel/metric/LICENSE
  licenses/go.opentelemetry.io/otel/trace/LICENSE
  licenses/golang.org/x/time/LICENSE
  licenses/sigs.k8s.io/yaml/goyaml.v2/LICENSE
  licenses/sigs.k8s.io/yaml/goyaml.v3/LICENSE
Due: none

Update to k8s 1.29 for go.mod and tooling (#2756)
  docker/build-tools/Dockerfile
  go.mod
  go.sum
  licenses/github.com/felixge/httpsnoop/LICENSE.txt
  licenses/github.com/go-logr/stdr/LICENSE
  licenses/github.com/google/gnostic-models/LICENSE
  licenses/github.com/matttproud/golang_protobuf_extensions/v2/LICENSE
  licenses/github.com/pelletier/go-toml/v2/LICENSE
  licenses/github.com/sagikazarmark/slog-shim/LICENSE
  licenses/github.com/spf13/jwalterweatherman/LICENSE
  licenses/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/LICENSE
  licenses/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/LICENSE
  licenses/go.opentelemetry.io/otel/LICENSE
  licenses/go.opentelemetry.io/otel/metric/LICENSE
  licenses/go.opentelemetry.io/otel/trace/LICENSE
  licenses/golang.org/x/time/LICENSE
  licenses/sigs.k8s.io/yaml/goyaml.v2/LICENSE
  licenses/sigs.k8s.io/yaml/goyaml.v3/LICENSE
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2757)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bump oc
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Bump oc (#2760)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Bump github.com/go-git/go-git/v5 from 5.4.2 to 5.11.0 with gen
  go.mod
  go.sum
  licenses/dario.cat/mergo/LICENSE
  licenses/github.com/cyphar/filepath-securejoin/LICENSE
  licenses/github.com/mitchellh/go-homedir/LICENSE
  licenses/github.com/pjbgf/sha1cd/LICENSE
  licenses/github.com/skeema/knownhosts/LICENSE
Due: none

Automator: update common-files@master in istio/tools@master (#2763)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Bump github.com/go-git/go-git/v5 from 5.4.2 to 5.11.0 with gen (#2762)
  go.mod
  go.sum
  licenses/dario.cat/mergo/LICENSE
  licenses/github.com/cyphar/filepath-securejoin/LICENSE
  licenses/github.com/mitchellh/go-homedir/LICENSE
  licenses/github.com/pjbgf/sha1cd/LICENSE
  licenses/github.com/skeema/knownhosts/LICENSE
Due: none

Update rustc
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update rustc (#2764)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2765)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

changed telemetry mode baseline and v2-stats-nullvm to no_istio and istio_with_stat respectively
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/graph_plotter/README.md
  perf/benchmark/graph_plotter/graph_plotter.py
  perf/benchmark/runner/fortio.py
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

improve resource annotation table UX
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

make gen output
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Update golang to 1.21.6
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Renamed perf graph labels (#2769)
  perf/benchmark/configs/istio/none/latency.yaml
  perf/benchmark/configs/istio/telemetryv2_stats/latency.yaml
  perf/benchmark/graph_plotter/README.md
  perf/benchmark/graph_plotter/graph_plotter.py
  perf/benchmark/runner/fortio.py
  perf/benchmark/runner/runner.py
Due: benchmark_check_tools

Update golang to 1.21.6 (#2771)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2774)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update golang to 1.21.6 (#2772)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update golang to 1.21.6 (#2773)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

improve resource annotation table UX (#2770)
  cmd/annotations_prep/main.go
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit
