Repository istio/tools: changes, and which Prow jobs are due for each by the changed paths.
All: benchmark_check_tools, containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, deploy-perf-dashboard_tools_postsubmit, tools-containers

benchmark_check_tools:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - entrypoint
      - ./perf/benchmark/run_benchmark_job.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: TRIALRUN
        value: 'True'
  ...

containers-test_tools:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
        limits:
  ...

containers-test-arm64_tools:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers-test
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
        limits:
  ...

containers_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - ../test-infra/tools/automator/automator.sh
      - --org=istio
      - --repo=common-files
      - '--title=Automator: update build-tools image@$AUTOMATOR_SRC_BRANCH in $AUTOMATOR_ORG/$AUTOMATOR_REPO@$AUTOMATOR_BRANCH'
  ...

containers-arm64_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - containers
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: MANIFEST_ARCH
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
  ...

deploy-perf-dashboard_tools_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - make
      - -C
      - perf_dashboard
      - deploy
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-459dbc9f643e8c59aa0b7f3d5434dce29f2d62f8
      name: ''
      resources:
  ...

tools-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190807-7d818206
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 2Gi
          cpu: 3000m
        limits:
          memory: 24Gi
  ...

Update misc tools (#2719)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Add oc to the builder image
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  LICENSE
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/tools@master (#2720)
  LICENSE
  common/.commonfiles.sha
Due: none

Add oc to the builder image (#2718)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/tools@master (#2721)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update misc tools
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update node for latest lts
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Drop IBM cluster storage
  perf/istio-install/base/templates/prometheus-install.yaml
Due: none

Drop IBM cluster storage (#2724)
  perf/istio-install/base/templates/prometheus-install.yaml
Due: none

fix link when generating releasenotes
  cmd/gen-release-notes/templates/minorReleaseNotes.md
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

fix link when generating releasenotes (#2725)
  cmd/gen-release-notes/templates/minorReleaseNotes.md
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit

Update docker/build-tools/Dockerfile
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update trivy
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

fix nodejs
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update misc tools (#2722)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update golang
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

[release-1.18] update golang
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update golang (#2726)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update golang (#2729)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@release-1.19 in istio/tools@release-1.19
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.19 in istio/tools@release-1.19 (#2730)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update cosign
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

fix cosign download
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

[release-1.18] update golang (#2727)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update cosign (#2732)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2733)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update golang (#2728)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update some tool versions
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Update some tool versions (#2734)
  docker/build-tools/Dockerfile
Due: containers-test_tools, containers-test-arm64_tools, containers_tools_postsubmit, containers-arm64_tools_postsubmit, tools-containers

Automator: update common-files@master in istio/tools@master (#2735)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.20 in istio/tools@release-1.20
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.20 in istio/tools@release-1.20 (#2736)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update latency.yaml
  perf/benchmark/configs/istio/none/latency.yaml
Due: benchmark_check_tools

Path conditions:
  benchmark_check_tools: any of: ^perf/benchmark/
  containers-test_tools: any of: docker/.+|cmd/.+
  containers-test-arm64_tools: any of: docker/.+|cmd/.+|pkg/.+
  containers_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  containers-arm64_tools_postsubmit: any of: docker/.+|cmd/.+|pkg/.+
  deploy-perf-dashboard_tools_postsubmit: any of: ^perf_dashboard/
  tools-containers: any of: docker/build-tools/Dockerfile
