Repository istio-releases/pipeline: changes, and which Prow jobs are due for each by the changed paths.
All: release-daily, perf-for-daily-release, release-monthly

release-daily:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    nodeSelector:
      testing: build-pool
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190531-aba3be6
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
  ...

perf-for-daily-release:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190603-0df7dcf1
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
        limits:
          memory: 24Gi
  ...

release-monthly:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    nodeSelector:
      testing: build-pool
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20190531-aba3be6
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
  ...

Build 1.2.0rc2
  monthly/release_params.sh
Due: release-monthly

Build 1.2.0rc2 (#753)
  monthly/release_params.sh
Due: release-monthly

release_1560590153891470686
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560590157745925990
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560590159497979597
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560590160073449694
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560590160073449694 (#757)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560590153891470686 (#754)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560590157745925990 (#755)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560590159497979597 (#756)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560676555310730224
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560676558312418107
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560676557908999898
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560676558800007338
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560676555310730224 (#758)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560676558800007338 (#761)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560676558312418107 (#760)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560676557908999898 (#759)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560762956560884472
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560762959140588077
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560762959496539895
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560762958876391107
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560762956560884472 (#762)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560762959496539895 (#765)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560762959140588077 (#763)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560762958876391107 (#764)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

Fix the tag
  scripts/build_test_presubmit.sh
Due: none

Fix tag2
  scripts/build_test_presubmit.sh
Due: none

just to trigger test
  scripts/build_test_presubmit.sh
Due: none

Deleting e2e
  scripts/build_test_presubmit.sh
Due: none

try out with shorter tag
  scripts/build_test_presubmit.sh
Due: none

Delete trailing -
  scripts/build_test_presubmit.sh
Due: none

Make the tag shorter for test
  scripts/build_test_presubmit.sh
Due: none

Make the tag shorter for test (#766)
  scripts/build_test_presubmit.sh
Due: none

Always build images for every test invocation.
  scripts/build_test_presubmit.sh
Due: none

Building release-1.2-rc3
  monthly/release_params.sh
Due: release-monthly

Fix build&test script. (#768)
  scripts/build_test_presubmit.sh
Due: none

Building release-1.2-rc3 (#767)
  monthly/release_params.sh
Due: release-monthly

Path conditions:
  release-daily: any of: daily/.*
  perf-for-daily-release: any of: daily/.*
  release-monthly: any of: monthly/.*
