Repository istio-releases/pipeline: changes, and which Prow jobs are due for each by the changed paths.
All: release-daily, perf-for-daily-release, release-monthly

Path conditions:
  release-daily: any of: daily/.*
  perf-for-daily-release: any of: daily/.*
  release-monthly: any of: monthly/.*

Release 1.3
  monthly/release_params.sh
Due: release-monthly

release_1560811561402798334
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560812066527201248
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560813027878285568
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

Release 1.3 (#769)
  monthly/release_params.sh
Due: release-monthly

release_1560813027878285568 (#772)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560849352132334078
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560849352871422743
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560849356649758597
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560849357203905597
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560849357203905597 (#776)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560849356649758597 (#775)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560849352132334078 (#773)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560849352871422743 (#774)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

Add a build&test script
  scripts/build_test_presubmit.sh
Due: none

Building release 1.2.0
  monthly/release_params.sh
Due: release-monthly

Add a build&test script (#779)
  scripts/build_test_presubmit.sh
Due: none

Add a build&test script (#778)
  scripts/build_test_presubmit.sh
Due: none

Add a build&test script (#777)
  scripts/build_test_presubmit.sh
Due: none

Building release 1.2.0 (#780)
  monthly/release_params.sh
Due: release-monthly

release_1560935750529864344
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560935753642817110
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560935754985929722
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560935755612949624
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560935750529864344 (#781)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560935755612949624 (#784)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560935754985929722 (#783)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1560985164110159219
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

Add the right permission
  scripts/build_test_presubmit.sh
Due: none

Add the presubmit config
  scripts/augmented_params.sh
Due: none

Add the right permission (#786)
  scripts/augmented_params.sh
  scripts/build_test_presubmit.sh
Due: none

Add the right script permission (#788)
  scripts/augmented_params.sh
  scripts/build_test_presubmit.sh
Due: none

release_1561022152154373385
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1561022154162661204
  daily/release_params.sh
Due: release-daily, perf-for-daily-release
