Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29 (#2250)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger another RC for 1.28.4 (#2251)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.29.0-rc2 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.29.0-rc2 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.29.0-rc2 build (#2252)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.29.0-rc2 publish (#2253)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[Release-1.29] Trigger 1.29 RC 3 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.29] Publish 1.29 RC 3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[Release-1.29] Trigger 1.29 RC 3 build (#2256)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.29] Publish 1.29 RC 3 (#2257)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] build 1.27.7
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] build 1.27.7 (#2258)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2259)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.27] publish 1.27.7
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

build 1.29.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish 1.29.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish job for 1.28.4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

build 1.29.0 (#2261)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] publish 1.27.7 (#2260)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish job for 1.28.4 (#2263)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.29.0 (#2262)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Adding AGENTS.md to provide a better multi AI cover in the project
  .claude/commands/istio-release-status.md
  AGENTS.md
Due: none

Fix lint
  AGENTS.md
Due: none

Automator: update common-files@master in istio/release-builder@master (#2264)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2265)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.27 in istio/release-builder@release-1.27
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.27 in istio/release-builder@release-1.27 (#2267)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2269)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.28 in istio/release-builder@release-1.28
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.28 in istio/release-builder@release-1.28 (#2271)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29 (#2272)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

publish 1.29.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.27.8
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit
