Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17 (#1449)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1450)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1451)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update various go modules
  go.mod
  go.sum
Due: none

Run `make gen`
  licenses/cloud.google.com/go/compute/metadata/LICENSE
  licenses/cloud.google.com/go/longrunning/LICENSE
  licenses/github.com/google/s2a-go/LICENSE.md
  licenses/github.com/klauspost/compress/internal/lz4ref/LICENSE
  licenses/google.golang.org/appengine/LICENSE
Due: none

Update various go modules (#1452)
  go.mod
  go.sum
  licenses/cloud.google.com/go/compute/metadata/LICENSE
  licenses/cloud.google.com/go/longrunning/LICENSE
  licenses/github.com/google/s2a-go/LICENSE.md
  licenses/github.com/klauspost/compress/internal/lz4ref/LICENSE
  licenses/google.golang.org/appengine/LICENSE
Due: none

Update deps 2023-04-10
  go.mod
  go.sum
Due: none

make gen
  go.mod
  go.sum
  licenses/gopkg.in/natefinch/lumberjack.v2/LICENSE
Due: none

Update istio.io/pkg
  go.mod
  go.sum
Due: none

Update deps 2023-04-10 (#1453)
  go.mod
  go.sum
  licenses/gopkg.in/natefinch/lumberjack.v2/LICENSE
Due: none

drop kustomize from helm chart
  pkg/build/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix cosign signing
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Using digests rather than image tags for cosign signatures.
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

drop kustomize from helm chart (#1456)
  pkg/build/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fixing bad signature change
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix cosign signing (#1455)
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Switching to recursively signing the combined manifest.
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Signing top level manifests recursively, using digests.
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

drop kustomize from helm chart (#1459)
  pkg/build/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

drop kustomize from helm chart (#1458)
  pkg/build/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16 (#1460)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Reusing index for hash of multiarch image
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Using digests rather than image tags for cosign signatures. (#1457)
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1461)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Triggering alpha build to test new release-builder code.
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Triggering alpha build to test new release-builder code. (#1462)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish of 1.18.0-alpha.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

test commit
  release/trigger-branch
Due: none

Debug
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

More debug
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Debug for segfault on mac
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix segfault on Mac
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
