Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#904)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

filter output
  pkg/publish/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

helm: publish to OCI registry (#903)
  pkg/publish/cmd.go
  pkg/publish/helm.go
  release/build.sh
  release/publish.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix typo in ext check
  pkg/publish/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix typo in ext check (#905)
  pkg/publish/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/lint_go.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Allow specifying a VERSION override (#889)
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.11 in istio/release-builder@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix lint errors for new common-files update
  pkg/branch/branch.go
  pkg/build/grafana.go
  pkg/source.go
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.11 in istio/release-builder@release-1.11 (#908)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix lint errors for new common-files update (#909)
  pkg/branch/branch.go
  pkg/build/grafana.go
  pkg/source.go
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#907)
  common/.commonfiles.sha
  common/scripts/lint_go.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#910)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#911)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build 1.13 alpha.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.13 beta.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.13 beta.0 (#913)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish 1.13 beta 0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.13 beta 0 (#914)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#915)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Generate SBOM for istio repository
  pkg/build/build.go
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add sbom for release artifacts
  pkg/build/build.go
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add spdx document name
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix linting
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Use k8s/bom instead of spdx-sbom-generator
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add --image-archive for docker image bom generation with bom@0.2.0
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.11.6 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.11.6 build (#916)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.11.6 build (#917)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.11.6 build (#918)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.11.6 build (#919)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit
