Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Udpate golang.org/x/net
  go.mod
  go.sum
Due: none

Update grpc-go
  go.mod
  go.sum
Due: none

Trigger build for 1.17.8
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build for 1.18.4
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build for 1.19.3
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build for 1.18.5
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update golang.org/x/net (#1656)
  go.mod
  go.sum
Due: none

Automator: update common-files@master in istio/release-builder@master (#1661)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.19 in istio/release-builder@release-1.19
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.19 in istio/release-builder@release-1.19 (#1664)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17 (#1665)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.18 in istio/release-builder@release-1.18
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.18 in istio/release-builder@release-1.18 (#1666)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build for 1.19.3 (#1659)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build for 1.18.5 (#1658)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build for 1.17.8 (#1657)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish for 1.17.8
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish for 1.18.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish for 1.19.3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish for 1.18.5 (#1662)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish for 1.19.3 (#1663)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish for 1.17.8 (#1660)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update base image code to check correct base image
  release/build-base-images.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update base image code to check correct base image (#1667)
  release/build-base-images.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

remove envoy dependency
  release/branch.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

remove envoy dependency (#1668)
  release/branch.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix envoy repo in automation step 2
  example/manifest_branch.yaml
  pkg/model/model.go
  pkg/source.go
  release/trigger-branch
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

step 4 (#1670)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1671)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.20 in istio/release-builder@release-1.20
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger a 1.20.0-beta.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.20 in istio/release-builder@release-1.20 (#1672)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1674)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1675)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
