Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/build-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

dry-run_release-builder:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/publish-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: COSIGN_KEY
  ...

Make release-builder s3-backend-neutral (#2311)
  go.mod
  go.sum
  licenses/github.com/aws/aws-sdk-go-v2/config/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/feature/ec2/imds/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/signin/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/sso/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/ssooidc/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/sts/LICENSE.txt
  pkg/publish/cmd.go
  pkg/publish/helm.go
  pkg/publish/s3.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix release hub
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.30.0-alpha3
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Fix release hub (#2313)
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.30.0-beta.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.30.0-beta.0 build (#2317)
  release/build.sh
  release/trigger-build
Due: build-warning_release-builder, dry-run_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit

trigger publish 1.30.0-beta.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger publish 1.30.0-beta.0 (#2318)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.30 in istio/release-builder@release-1.30
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@release-1.30 in istio/release-builder@release-1.30 (#2319)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

trigger 1.30.0-rc.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.30.0-rc.0 build (#2320)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger publish 1.30.0-rc.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger publish 1.30.0-rc.0 (#2321)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[Release-1.28] Trigger build 1.28.7 release
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.28] Trigger build 1.28.7 release (#2322)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger (#2323)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Add CF env vars
  release/build-warning.sh
  release/build.sh
  release/publish-warning.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add CF env vars
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Move to Helm v4
  go.mod
  go.sum
  pkg/build/helm.go
  pkg/build/helm_test.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[Release-1.28] Trigger publish 1.28.7
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[Release-1.29] Publish 1.29.3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

build 1.30.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

build 1.30.0 (#2329)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.28] Trigger publish 1.28.7 (#2327)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[Release-1.29] Publish 1.29.3 (#2328)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.30.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.30.0 (#2330)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Release on r2 (#2325)
  release/build-warning.sh
  release/build.sh
  release/publish-warning.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2332)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.30 in istio/release-builder@release-1.30
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.30 in istio/release-builder@release-1.30 (#2333)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29 (#2334)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
