Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

[release-1.27] publish 1.27.0-rc.0 (#2153)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] build 1.27.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] build 1.27.0 (#2154)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] publish 1.27.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] publish 1.27.0 (#2155)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.25 in istio/release-builder@release-1.25
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.25 in istio/release-builder@release-1.25 (#2157)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.26 in istio/release-builder@release-1.26
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.26 in istio/release-builder@release-1.26 (#2158)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.27] build 1.27.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.26] build 1.26.4
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.25] build 1.25.5
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.26] build 1.26.4 (#2160)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] build 1.27.1 (#2159)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.25] build 1.25.5 (#2161)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.25] publish 1.25.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.26] publish 1.26.4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] publish 1.27.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.25] publish 1.25.5 (#2164)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] publish 1.27.1 (#2162)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.26] publish 1.26.4 (#2163)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.27] build 1.27.2
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] build 1.27.2 (#2165)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.26 in istio/release-builder@release-1.26 (#2166)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.27 in istio/release-builder@release-1.27
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.27 in istio/release-builder@release-1.27 (#2167)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.27] rebuild 1.27.2
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.27 in istio/release-builder@release-1.27 (#2169)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.26 in istio/release-builder@release-1.26 (#2170)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.27] rebuild 1.27.2 (#2168)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.26.5 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.26.5 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.26.5 build (#2171)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Bump fake gcs server
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
