Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

trigger 1.29 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

fix version number
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.28.6 build (#2294)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.29 build (#2295)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.28] Trigger publish 1.28.6
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[Release-1.29] Trigger publish 1.29.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger build 1.30.0-alpha.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger build 1.30.0-alpha.0 (#2299)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

update default hub to registry.istio.io/testing
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

revert examples
  example/manifest.yaml
  example/manifest_branch.yaml
Due: none

fix hub replacement
  pkg/build/helm.go
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

add registry.istio.io to allowed hubs, remove publish from build
  pkg/build/helm.go
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

use correct docker hub
  pkg/build/helm.go
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Cloudflare helm (#2291)
  go.mod
  go.sum
  licenses/github.com/aws/aws-sdk-go-v2/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/aws/protocol/eventstream/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/credentials/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/internal/configsources/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/internal/endpoints/v2/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/internal/sync/singleflight/LICENSE
  licenses/github.com/aws/aws-sdk-go-v2/internal/v4a/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/internal/accept-encoding/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/internal/checksum/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/internal/presigned-url/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/internal/s3shared/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/s3/LICENSE.txt
  licenses/github.com/aws/smithy-go/LICENSE
  licenses/github.com/aws/smithy-go/internal/sync/singleflight/LICENSE
  pkg/build/helm.go
  pkg/publish/cmd.go
  pkg/publish/helm.go
  pkg/publish/r2.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[Release-1.29] Trigger publish 1.29.2 (#2297)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[Release-1.28] Trigger publish 1.28.6 (#2298)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Use correct docker registry (#2301)
  pkg/build/helm.go
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger build 1.30.0-alpha.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger build 1.30.0-alpha.1 (#2302)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger publish 1.30.0-alpha.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger publish 1.30.0-alpha.1 (#2303)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.30] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.30] Automated branching step 4 (#2304)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.30 in istio/release-builder@release-1.30
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.30 in istio/release-builder@release-1.30 (#2305)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2289)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger build 1.30.0-alpha.2
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger build 1.30.0-alpha.2 (#2306)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger publish 1.30.0-alpha.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger publish 1.30.0-alpha.2 (#2307)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

fix env var name
  pkg/publish/r2.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix env var name (#2308)
  pkg/publish/r2.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2310)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Pass in session token when publishing to R2
  pkg/publish/r2.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Make implementation s3 neutral
  go.mod
  go.sum
  pkg/publish/cmd.go
  pkg/publish/helm.go
  pkg/publish/s3.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

lint
  licenses/github.com/aws/aws-sdk-go-v2/config/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/feature/ec2/imds/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/signin/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/sso/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/ssooidc/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/sts/LICENSE.txt
Due: none

some comments
  pkg/publish/s3.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

make gen
  pkg/publish/s3.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
