Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13 (#1174)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.15.0-beta.1 build (#1172)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.15.0-beta.1 publish (#1173)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger release 1.15.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1176)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger release 1.15.0 build (#1175)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger 1.15.0-rc.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger 1.15.0-rc.0 build (#1177)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1178)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Publish 1.15.0-rc.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.15.0-rc.0 (#1179)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.15.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger release 1.15.0 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.15.0 build (#1180)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger 1.15.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger 1.15.0 build (#1182)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger release 1.15.0 publish (#1181)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1183)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger the build for release 1.14.4
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger the publish of release 1.14.4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger the build for release 1.13.8
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger the publish of release 1.13.8
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger the build for release 1.14.4 (#1184)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger the build for release 1.13.8 (#1186)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger a new build for Istio 1.14.4 release
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger a new build for Istio 1.14.4 release (#1188)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15 (#1189)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger a new build for release 1.13.8
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14 (#1192)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1193)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15 (#1194)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger a new build for release 1.13.8 (#1191)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit
