Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1486)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1487)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16 (#1488)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.18 in istio/release-builder@release-1.18
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.18 in istio/release-builder@release-1.18 (#1489)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build of 1.16.5
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build of 1.16.5 (#1490)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger Publish for 1.16.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix dry-run test (remove pkg as it's no longer used)
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger Publish for 1.16.5 (#1491)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Remove isito/pkg from more placecs
  example/manifest.yaml
  example/manifest_branch.yaml
  pkg/model/model.go
  release/branch.sh
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Further move from istio/pkg to istio/istio /pkg
  README.md
  go.mod
  go.sum
  pkg/branch/branch.go
  pkg/branch/cmd.go
  pkg/branch/createBranches.go
  pkg/branch/createToolImages.go
  pkg/branch/istioReleaseBuilderUpdates.go
  pkg/branch/setupProw.go
  pkg/branch/stopPublishingLatest.go
  pkg/branch/updateCodeOwners.go
  pkg/branch/updateCommonFiles.go
  pkg/branch/updateCommonFilesCommon.go
  pkg/branch/updateDependencies.go
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/helm.go
  pkg/build/sbom.go
  pkg/build/scanner.go
  pkg/manifest.go
  pkg/publish/cmd.go
  pkg/publish/docker.go
  pkg/publish/gcs.go
  pkg/publish/github.go
  pkg/publish/grafana.go
  pkg/publish/helm.go
  pkg/source.go
  pkg/util/command.go
  pkg/util/files.go
  pkg/util/git.go
  pkg/validate/cmd.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove istio.io/pkg from the manifest
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Run make gen
  licenses/istio.io/istio/LICENSE
Due: none

Fix dry-run test (remove pkg as it's no longer used) (#1493)
  README.md
  example/manifest.yaml
  example/manifest_branch.yaml
  go.mod
  go.sum
  licenses/istio.io/istio/LICENSE
  pkg/branch/branch.go
  pkg/branch/cmd.go
  pkg/branch/createBranches.go
  pkg/branch/createToolImages.go
  pkg/branch/istioReleaseBuilderUpdates.go
  pkg/branch/setupProw.go
  pkg/branch/stopPublishingLatest.go
  pkg/branch/updateCodeOwners.go
  pkg/branch/updateCommonFiles.go
  pkg/branch/updateCommonFilesCommon.go
  pkg/branch/updateDependencies.go
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/helm.go
  pkg/build/sbom.go
  pkg/build/scanner.go
  pkg/manifest.go
  pkg/model/model.go
  pkg/publish/cmd.go
  pkg/publish/docker.go
  pkg/publish/gcs.go
  pkg/publish/github.go
  pkg/publish/grafana.go
  pkg/publish/helm.go
  pkg/source.go
  pkg/util/command.go
  pkg/util/files.go
  pkg/util/git.go
  pkg/validate/cmd.go
  pkg/validate/validate.go
  release/branch.sh
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1492)
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17 (#1495)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.18 in istio/release-builder@release-1.18 (#1496)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16 (#1497)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Step 2 - build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Step 3 - publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Step 2 - build (#1498)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Step 3 - publish (#1499)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger release-1.17.3 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger release-1.17.3 build (#1500)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger release-1.17.3 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Retrigger a 1.17.3 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger a 1.17.3 build (#1502)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger 1.17.3 biuld - pick up new BASE_IMAGE
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger 1.17.3 biuld - pick up new BASE_IMAGE (#1503)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1504)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger release-1.17.3 publish (#1501)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit
