Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

helm publish: dump versions
  pkg/publish/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

lint
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

lint
  pkg/branch/branch.go
  pkg/build/build.go
  pkg/build/grafana.go
  pkg/build/helm.go
  pkg/manifest.go
  pkg/publish/cmd.go
  pkg/publish/docker.go
  pkg/publish/gcs.go
  pkg/publish/github.go
  pkg/publish/grafana.go
  pkg/publish/helm.go
  pkg/util/files.go
  pkg/util/git.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Support publishing multi-arch images
  go.mod
  go.sum
  pkg/manifest.go
  pkg/model/model.go
  pkg/publish/docker.go
  pkg/util/command.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

gen
  licenses/cloud.google.com/go/compute/LICENSE
  licenses/cloud.google.com/go/iam/LICENSE
  licenses/github.com/containerd/stargz-snapshotter/estargz/LICENSE
  licenses/github.com/docker/cli/LICENSE
  licenses/github.com/docker/distribution/LICENSE
  licenses/github.com/docker/docker-credential-helpers/LICENSE
  licenses/github.com/docker/docker/LICENSE
  licenses/github.com/docker/docker/contrib/busybox/LICENSE
  licenses/github.com/docker/go-connections/LICENSE
  licenses/github.com/docker/go-units/LICENSE
  licenses/github.com/gogo/protobuf/LICENSE
  licenses/github.com/google/go-containerregistry/LICENSE
  licenses/github.com/google/uuid/LICENSE
  licenses/github.com/googleapis/enterprise-certificate-proxy/LICENSE
  licenses/github.com/googleapis/go-type-adapters/LICENSE
  licenses/github.com/klauspost/compress/LICENSE
  licenses/github.com/klauspost/compress/gzhttp/LICENSE
  licenses/github.com/klauspost/compress/internal/snapref/LICENSE
  licenses/github.com/klauspost/compress/s2/LICENSE
  licenses/github.com/klauspost/compress/s2/cmd/internal/filepathx/LICENSE
  licenses/github.com/klauspost/compress/s2/cmd/internal/readahead/LICENSE
  licenses/github.com/klauspost/compress/snappy/LICENSE
  licenses/github.com/klauspost/compress/zstd/internal/xxhash/LICENSE.txt
  licenses/github.com/opencontainers/go-digest/LICENSE
  licenses/github.com/opencontainers/image-spec/LICENSE
  licenses/github.com/pkg/errors/LICENSE
  licenses/github.com/sirupsen/logrus/LICENSE
  licenses/github.com/vbatts/tar-split/LICENSE
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

helm publish: dump versions (#1156)
  pkg/publish/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

helm publish: dump versions (#1158)
  pkg/publish/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15 (#1159)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update in-repo config to use architectures
  example/manifest.yaml
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update in-repo config to use architectures (#1160)
  example/manifest.yaml
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Run `make gen`
  licenses/github.com/klauspost/compress/s2/cmd/internal/readahead/LICENSE
Due: none

Trigger 1.15-beta.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update in-repo config to use architectures (#1162)
  example/manifest.yaml
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.15-beta.0 build (#1161)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.15-beta.0 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.15-beta.0 publish (#1163)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger release 1.15.0-beta.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.15.0-beta.0 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger release 1.15.0-beta.0 build (#1164)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.15.0-beta.0 publish (#1165)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1166)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14 (#1167)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15 (#1168)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1169)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15 (#1170)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/check_clean_repo.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1171)
  common/.commonfiles.sha
  common/scripts/check_clean_repo.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.15.0-beta.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.15.0-beta.1 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
