Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

remove GITHUB_TOKEN_FILE
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#958)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fixing error check in SBOM (can segfault if not handled). (#959)
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fixing error check in SBOM (can segfault if not handled).
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fixing error check in SBOM (can segfault if not handled). (#960)
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.11] build: do not require github token (#957)
  pkg/build/build.go
  pkg/build/cmd.go
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#961)
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

build: do not require github token (#956)
  pkg/build/build.go
  pkg/build/cmd.go
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.12 in istio/release-builder@release-1.12
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Automator: update common-files@release-1.12 in istio/release-builder@release-1.12 (#962)
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#964)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Converting SBOM error into warning -- lack of BOM should not be fatal.
  pkg/build/build.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Converting SBOM error into warning -- lack of BOM should not be fatal. (#963)
  pkg/build/build.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Converting SBOM error into warning -- lack of BOM should not be fatal. (#965)
  pkg/build/build.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Support labels on PR creation and add auto-merge to base image PR
  pkg/branch/branch.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Support labels on PR creation and add auto-merge to base image PR (#966)
  pkg/branch/branch.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Support labels on PR creation and add auto-merge to base image PR (#968)
  pkg/branch/branch.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Support labels on PR creation and add auto-merge to base image PR (#967)
  pkg/branch/branch.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.12.5 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.12.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.12.5 build (#969)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#971)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#972)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Re build 1.12.5
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Build 1.11.8
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.11.8
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Build 1.13.2
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Build 1.13.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#978)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
