Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Rebuild 1.12.2 (#883)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

all force building base image
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

all force building base image (#884)
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Return error from cmd.Run when running with output
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Return error from cmd.Run when running with output (#885)
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add back info output for failure since it's no longer part of the returned err.
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add back info output for failure since it's no longer part of the (#886)
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Allow specifying a VERSION override
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Allow specifying a VERSION override (#887)
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update go modules
  go.mod
  go.sum
  licenses/golang.org/x/xerrors/LICENSE
Due: none

docker: allow loading into local context instead of targz
  pkg/build/docker.go
  pkg/manifest.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Docker/allow load (#890)
  go.mod
  go.sum
  licenses/golang.org/x/xerrors/LICENSE
  pkg/build/docker.go
  pkg/manifest.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Return error from cmd.Run when running with output (#891)
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Allow specifying a VERSION override (#888)
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add back info output for failure since it's no longer part of the returned err. (#892)
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Re-trigger 1.12.2 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Re-trigger 1.12.2 build (#882)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish 1.12.2 (#880)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#894)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#895)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

setup prow on release-1.13
  release/trigger-branch
Due: none

fix prow gen path
  pkg/branch/setupProw.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix prow gen path (#897)
  pkg/branch/setupProw.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.13] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.13] Automated branching step 4 (#898)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#899)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.12 in istio/release-builder@release-1.12
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.12 in istio/release-builder@release-1.12 (#900)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13 (#901)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#902)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

helm: publish to OCI registry
  pkg/publish/cmd.go
  pkg/publish/helm.go
  release/build.sh
  release/publish.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
