Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Only copy actual dashboards for grafana
  pkg/build/grafana.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Only copy actual dashboards for grafana (#1860)
  pkg/build/grafana.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.20.7 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.21.3 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.22.1 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.21.3 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.21.3 publish (#1863)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.20.7 publish (#1862)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.22.1 publish (#1864)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.20 in istio/release-builder@release-1.20
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.20 in istio/release-builder@release-1.20 (#1866)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix versioning issues
  example/manifest.yaml
  release/build-base-images.sh
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix versioning issues (#1867)
  example/manifest.yaml
  release/build-base-images.sh
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.21 in istio/release-builder@release-1.21
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.22 in istio/release-builder@release-1.22
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1861)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.21 in istio/release-builder@release-1.21 (#1868)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.22 in istio/release-builder@release-1.22 (#1869)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1870)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fixup
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update go.mod
  go.mod
Due: none

Update dependencies (#1855)
  go.mod
  go.sum
  licenses/go.uber.org/zap/LICENSE
Due: none

version validate by json marshal
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

version validate by json marshal (#1872)
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.20.8 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.20.8 build (#1873)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

brancher: fix base image update
  pkg/branch/istioReleaseBuilderUpdates.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix branch for 1.22 base images
  release/build-base-images.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix branch for 1.22 base images (#1877)
  release/build-base-images.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

brancher: fix base image update (#1874)
  pkg/branch/istioReleaseBuilderUpdates.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.21.4 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.22.2 with datadog CVE fix
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.22.2 with datadog CVE fix (#1878)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.21.4 build (#1879)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.22] publish 1.22.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.22] publish 1.22.2 (#1880)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/check_clean_repo.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
