Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/build-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

dry-run_release-builder:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/publish-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: COSIGN_KEY
  ...

publish 1.28.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

publish 1.29.1 (#2273)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.27.8 (#2274)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.28.5 (#2275)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2276)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2277)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Adding AGENTS.md file and introducing Release Management Agent to check health of a current Istio release (#2235)
  AGENTS.md
Due: none

fix: add --plain-http for localhost OCI push
  pkg/publish/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix: add --plain-http for localhost OCI push (#2280)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
  pkg/publish/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/.hadolint.yml
  common/scripts/kind_provisioner.sh
  common/scripts/metallb-native.yaml
  common/scripts/report_build_info.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2281)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/.hadolint.yml
  common/scripts/kind_provisioner.sh
  common/scripts/metallb-native.yaml
  common/scripts/report_build_info.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2282)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.27] build 1.27.8
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

should be 1.27.9
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#2284)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

[release-1.27] build 1.27.9 (#2283)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] publish 1.27.9
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29 (#2288)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

[release-1.27] publish 1.27.9 (#2287)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

first pass are r2 support
  example/manifest.yaml
  example/manifest_branch.yaml
  go.mod
  go.sum
  pkg/publish/cmd.go
  pkg/publish/helm.go
  pkg/publish/r2.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

cleanup
  pkg/publish/cmd.go
  pkg/publish/helm.go
  pkg/publish/r2.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

retires
  pkg/publish/r2.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29 (#2290)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

revert example files
  example/manifest.yaml
  example/manifest_branch.yaml
Due: none

trim deps and add aliases
  go.mod
  go.sum
  pkg/publish/r2.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.28 in istio/release-builder@release-1.28
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.28 in istio/release-builder@release-1.28 (#2293)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

lint and gen
  example/manifest.yaml
  example/manifest_branch.yaml
  licenses/github.com/aws/aws-sdk-go-v2/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/aws/protocol/eventstream/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/credentials/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/internal/configsources/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/internal/endpoints/v2/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/internal/sync/singleflight/LICENSE
  licenses/github.com/aws/aws-sdk-go-v2/internal/v4a/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/internal/accept-encoding/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/internal/checksum/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/internal/presigned-url/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/internal/s3shared/LICENSE.txt
  licenses/github.com/aws/aws-sdk-go-v2/service/s3/LICENSE.txt
  licenses/github.com/aws/smithy-go/LICENSE
  licenses/github.com/aws/smithy-go/internal/sync/singleflight/LICENSE
  pkg/publish/helm.go
  pkg/publish/r2.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix hub replacement
  pkg/build/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

lint
  pkg/publish/r2.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.28 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
