Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Trigger 1.8.4 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-build (#582)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.8.4 build again
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.8.4 build again (#583)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Add automated base image creation when base image scan fails
  pkg/build/build.go
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix lint errors
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Change to call build-base-images script instead of make
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add automated base image creation when base image scan fails (#584)
  pkg/build/build.go
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.10.0-alpha.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.10.0-alpha.0 build (#585)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish Istio 1.8.4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish Istio 1.8.4 (#586)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Add pkg/util/git.go to fix lint error
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.8] Add automated base image creation when base image scan fails (#588)
  pkg/build/build.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.9] Add automated base image creation when base image scan fails (#587)
  pkg/build/build.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9 (#589)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#590)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Build 1.9.2
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.9.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Build 1.9.2 (#591)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger build at Jacob's request
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger build at Jacob's request (#593)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.9.2 (#592)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Add GitHub token to to allow commits in build subcommand
  pkg/branch/branch.go
  pkg/branch/cmd.go
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/publish/cmd.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add GitHub token to to allow commits in build subcommand (#594)
  pkg/branch/branch.go
  pkg/branch/cmd.go
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/publish/cmd.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

CP #594 - Add GitHub token to to allow commits in build subcommand
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/publish/cmd.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

CP #594 - Add GitHub token to to allow commits in build subcommand (#595)
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/publish/cmd.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

CP #594 - Add GitHub token to to allow commits in build subcommand (#596)
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/publish/cmd.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix bug causing incorrect version parsing from envvar
  release/branch.sh
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
