Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
          cpu: '5'
          memory: 3Gi
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
          cpu: '5'
          memory: 3Gi
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: COSIGN_KEY
        valueFrom:
          secretKeyRef:
            key: key
            name: cosign-key
      - name: DOCKER_CONFIG
        value: /etc/rel-pipeline-docker-config
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: COSIGN_KEY
        valueFrom:
          secretKeyRef:
            key: key
            name: cosign-key
      - name: DOCKER_CONFIG
        value: /etc/rel-pipeline-docker-config
  ...

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build a new beta off of go 1.20
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish a new beta off of go 1.20
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1368)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build a new beta off of go 1.20 (#1369)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish a new beta off of go 1.20 (#1370)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1371)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#1372)
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#1373)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.17] Trigger 1.17.0-rc.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.17] Trigger 1.17.0-rc.0 build (#1374)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.17] Trigger 1.17.0-rc-1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update release/trigger-build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger the 1.17.0-rc.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger the 1.17.0-rc.0 build (#1377)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger the publish of 1.17.0-rc.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger the publish of 1.17.0-rc.0 (#1378)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1379)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger a build of 1.17.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger a 1.17.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger a 1.17.0 build (#1381)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger a build of 1.17.0 (#1380)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Fix helm hub release
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix helm hub release (#1383)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[master] Fix helm hub release (#1384)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1385)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix gcr mirror
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix gcr mirror (#1386)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix gcr mirror (#1387)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
