Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

[release-1.14] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix automation step 3: prowgen wd (#1035)
  .gitignore
  pkg/branch/setupProw.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.14] Automated branching step 4 (#1037)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14 (#1038)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Move UPDATE_BRANCH to release-1.14
  common/Makefile.common.mk
Due: none

Move UPDATE_BRANCH to release-1.14 (#1039)
  common/Makefile.common.mk
Due: none

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14 (#1040)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1041)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1042)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1043)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14 (#1044)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14 (#1045)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

scanner: do not panic when there is no error
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

scanner: do not panic when there is no error (#1046)
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#1047)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14 (#1048)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger a 1.14 alpha build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger a 1.14 alpha build (#1049)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Always run scripts from repo root
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Always run scripts from repo root (#1050)
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.12.7 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.12.7
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.12.7 build (#1051)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

build another alpha candidate
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .gitattributes
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#1054)
  .gitattributes
  common/.commonfiles.sha
Due: none

build another alpha candidate (#1053)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger publish of alpha 1.14
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger publish of alpha 1.14 (#1055)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

helm repo: push only to GCR
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
