Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/build-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

dry-run_release-builder:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/publish-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: COSIGN_KEY
  ...

Automator: update common-files@master in istio/release-builder@master (#2372)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.31] Automated branching step 4 (#2371)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.31 in istio/release-builder@release-1.31
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.31 in istio/release-builder@release-1.31 (#2373)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.31 in istio/release-builder@release-1.31
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.31 in istio/release-builder@release-1.31 (#2374)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2375)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2376)
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.31 in istio/release-builder@release-1.31
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.31 in istio/release-builder@release-1.31 (#2377)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.31 in istio/release-builder@release-1.31
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/kind_provisioner.sh
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.31 in istio/release-builder@release-1.31 (#2378)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/kind_provisioner.sh
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build 1.31.0-alpha.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build 1.31.0-alpha.1 (#2380)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish 1.31.0-alpha.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish 1.31.0-alpha.1 (#2381)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger build 1.31.0-alpha.2
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build 1.31.0-alpha.2 (#2382)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish 1.31.0-alpha.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish 1.31.0-alpha.2 (#2383)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger build 1.31.0-beta.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build 1.31.0-beta.0 (#2384)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish istio 1.31.0-beta.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish istio 1.31.0-beta.0 (#2385)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger build 1.31.0-beta.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build 1.31.0-beta.1 (#2386)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish 1.31.0-beta.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish 1.31.0-beta.1 (#2387)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger build 1.31.0-beta.2
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build 1.31.0-beta.2 (#2388)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish 1.31.0-beta.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish 1.31.0-beta.2 (#2389)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

remove som gcp-isms
  release/build-base-images.sh
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build 1.31.0-rc.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build 1.31.0-rc.0 (#2391)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish 1.31.0-rc.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish 1.31.0-rc.0 (#2392)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

remove som gcp-isms (#2390)
  release/build-base-images.sh
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
