Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Trigger publish for beta.1 (#1616)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1617)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build for rc.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish for rc.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger build for rc.0 (#1618)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1620)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger publish for rc.0 (#1619)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger build for 1.19.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish for 1.19.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1623)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.18.3 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.18.3 build (#1624)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1625)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1626)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build for 1.19.0 (#1621)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish for 1.19.0 (#1622)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1627)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.19 in istio/release-builder@release-1.19
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.19 in istio/release-builder@release-1.19 (#1628)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.18 in istio/release-builder@release-1.18
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.18 in istio/release-builder@release-1.18 (#1629)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17 (#1630)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.18.3 publish step
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.18.3 publish step (#1631)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1632)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

TagRepo(): Explicitly do not sign
  pkg/source.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

TagRepo(): Explicitly do not sign (#1633)
  pkg/source.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.17.6 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update dependencies and move go.mod to match istio/istio
  go.mod
  go.sum
Due: none

run make gen
  licenses/cloud.google.com/go/longrunning/LICENSE
  licenses/dario.cat/mergo/LICENSE
  licenses/github.com/cyphar/filepath-securejoin/LICENSE
  licenses/go.uber.org/atomic/LICENSE.txt
  licenses/golang.org/x/mod/LICENSE
  licenses/google.golang.org/genproto/googleapis/api/LICENSE
  licenses/google.golang.org/genproto/googleapis/rpc/LICENSE
Due: none

Fix linter
  go.mod
  go.sum
  licenses/github.com/rogpeppe/go-internal/LICENSE
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update dependencies and move go.mod to match istio/istio (#1635)
  go.mod
  go.sum
  licenses/cloud.google.com/go/longrunning/LICENSE
  licenses/dario.cat/mergo/LICENSE
  licenses/github.com/cyphar/filepath-securejoin/LICENSE
  licenses/go.uber.org/atomic/LICENSE.txt
  licenses/golang.org/x/mod/LICENSE
  licenses/google.golang.org/genproto/googleapis/api/LICENSE
  licenses/google.golang.org/genproto/googleapis/rpc/LICENSE
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
