Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Add return
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.11] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Build release 1.10.3
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Add return (#708)
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Build release 1.10.3 (#712)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Add return (#709)
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.11] stop publishing latest tags
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.11] Automated branching step 4 (#710)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.11 in istio/release-builder@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.11 in istio/release-builder@release-1.11 (#713)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.11.0-beta.0 bulid
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.11.0-beta.0 bulid (#714)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Fix issue where manifest dependencies are SHAs during build
  pkg/branch/branch.go
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix envoy location
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix envoy locatiion
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix envoy location (#715)
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix envoy locatiion (#716)
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.11.0-beta.0 bulid (again)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Fix lint/gen
  pkg/build/build.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.11.0-beta.0 bulid (again) (#719)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Fix issue where manifest dependencies are SHAs during build (#718)
  pkg/branch/branch.go
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add return (#717)
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.11.0-beta.0 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.11.0-beta.0 publish (#722)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Manual cherry-pick of #721 Fix issue where manifest dependencies are SHAs during build
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[master] Fix issue where manifest dependencies are SHAs during build (#721)
  pkg/branch/branch.go
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.11] Fix issue where manifest dependencies are SHAs during build (#720)
  pkg/branch/branch.go
  pkg/build/build.go
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.10.3 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.10.3 publish (#725)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#726)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#727)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Trigger beta1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
