Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-4c71169512fe79b59b89664ef1b273da813d1c93
      name: ''
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/build-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-4c71169512fe79b59b89664ef1b273da813d1c93
      name: ''
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/publish-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-4c71169512fe79b59b89664ef1b273da813d1c93
      name: ''
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-4c71169512fe79b59b89664ef1b273da813d1c93
      name: ''
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-4c71169512fe79b59b89664ef1b273da813d1c93
      name: ''
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: COSIGN_KEY
  ...

Automator: update common-files@master in istio/release-builder@master (#1759)
  common/.commonfiles.sha
  common/config/.hadolint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1760)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.21 in istio/release-builder@release-1.21
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.21 in istio/release-builder@release-1.21 (#1761)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

rc-0 build for 1.21
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

rc-0 build for 1.21 (#1762)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish rc.0 for 1.21
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish rc.0 for 1.21 (#1763)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1764)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Specify go 1.22 (#1751)
  go.mod
  go.sum
Due: none

Automator: update common-files@master in istio/release-builder@master (#1765)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/metallb-native.yaml
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1766)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/metallb-native.yaml
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.20 in istio/release-builder@release-1.20
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.20 in istio/release-builder@release-1.20 (#1767)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1768)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix release test
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix release test (#1769)
  pkg/build/archive.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1770)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#1771)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#1772)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1773)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.21 in istio/release-builder@release-1.21 (#1774)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.20 in istio/release-builder@release-1.20 (#1775)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.19 in istio/release-builder@release-1.19
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.19 in istio/release-builder@release-1.19 (#1776)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.19.8 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.20.4 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

rc.1 build for 1.21.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

rc.1 build for 1.21
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
