Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

fix lint
  pkg/build/rpm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

make deb/rpm support multi arch (#1255)
  pkg/build/debian.go
  pkg/build/rpm.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix-publish-vars - added HELM_BUCKET_RELEASE
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.15.3 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1257)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

update
  pkg/build/debian.go
  pkg/build/rpm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

make deb/rpm support multi arch
  pkg/build/debian.go
  pkg/build/rpm.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.16] make deb/rpm support multi arch (#1258)
  pkg/build/debian.go
  pkg/build/rpm.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16 (#1259)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix-publish-vars (#1254)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.16.0-beta.2 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.16.0-beta.2 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.16.0-beta.2 build (#1260)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.16.0-beta.2 publish (#1261)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.15] make deb/rpm support multi arch (#1262)
  pkg/build/debian.go
  pkg/build/rpm.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.15.3 publish (#1256)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1263)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16 (#1264)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15 (#1265)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1266)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1267)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1268)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1269)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1270)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1271)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
