Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-4c71169512fe79b59b89664ef1b273da813d1c93
      name: ''
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/build-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-4c71169512fe79b59b89664ef1b273da813d1c93
      name: ''
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/publish-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-4c71169512fe79b59b89664ef1b273da813d1c93
      name: ''
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-4c71169512fe79b59b89664ef1b273da813d1c93
      name: ''
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-4c71169512fe79b59b89664ef1b273da813d1c93
      name: ''
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: COSIGN_KEY
  ...

Automator: update common-files@release-1.20 in istio/release-builder@release-1.20 (#1802)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.golangci-format.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#1803)
  common/.commonfiles.sha
  common/config/.golangci-format.yml
Due: none

Automator: update common-files@release-1.21 in istio/release-builder@release-1.21 (#1801)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.21.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.20.5 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.19.9 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.21.1 build (#1804)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.19 in istio/release-builder@release-1.19
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.19 in istio/release-builder@release-1.19 (#1807)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.19.9 build (#1806)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.20.5 build (#1805)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.19.9 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.20.5 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.21.1 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.19.9 publish (#1808)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.20.5 publish (#1809)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.21.1 publish (#1810)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1811)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1812)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Build initial 1.22.0-alpha.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Build initial 1.22.0-alpha.0 (#1813)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1814)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.21.2 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1816)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.19.10 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.20.6 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.20.6 build (#1818)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.21.2 build (#1815)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.20.6 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.21.2 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger a new build for 1.22.0-alpha.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.19.10 build (#1817)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.19.10 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger a new build for 1.22.0-alpha.1 (#1822)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish of 1.22.0-alpha.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
