Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Trigger 1.9.9 build (#802)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Fix duplicating tagging in publish
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix duplicating tagging in publish (#806)
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add separate flag for building base images (#799)
  example/manifest.yaml
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/manifest.go
  pkg/model/model.go
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Re build 1.9.9
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#805)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/gobuild.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#808)
  common/.commonfiles.sha
  common/scripts/gobuild.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.9.9 publish (#803)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Re build 1.9.9 (#807)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Fixes to base image builder
  pkg/branch/branch.go
  pkg/build/scanner.go
  pkg/util/files.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

better formatting for trivy GH body
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

lint
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fixes to base image builder (#809)
  pkg/branch/branch.go
  pkg/build/scanner.go
  pkg/util/files.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.10.5 publish (#804)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger build of 1.12.0-alpha.3
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build of 1.12.0-alpha.3 (#810)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build of 1.12.0-alpha.4
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build of 1.12.0-alpha.4 (#811)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Fix base image builder error code
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix base image builder error code (#812)
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Building 1.12.0-alpha.5
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Building 1.12.0-alpha.5 (#813)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.12.0-alpha.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.12.0-alpha.5 (#798)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Re publish 1.9.9
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Re publish 1.9.9 (#814)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#815)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.11 in istio/release-builder@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.11 in istio/release-builder@release-1.11 (#816)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger a 1.11.4 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger a 1.11.4 build (#817)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Remove the requirement of specifying a GH token for a branch dryrun
  pkg/util/git.go
  release/trigger-branch
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove the requirement of specifying a GH token for a branch dryrun (#818)
  pkg/util/git.go
  release/trigger-branch
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger publish of 1.11.4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10 (#820)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger publish of 1.11.4 (#819)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit
