Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

remove som gcp-isms
  release/build-base-images.sh
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Don't publish to gcp
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2395)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build 1.31.0-rc.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish 1.31.0-rc.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger build 1.31.0-rc.1 (#2396)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

helmhub release to ghcr
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

update build.sh
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

push oci helm charts to ghcr
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

push oci helm charts to ghcr (#2398)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2399)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.31 in istio/release-builder@release-1.31
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.30 in istio/release-builder@release-1.30
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.30 in istio/release-builder@release-1.30 (#2402)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

remove som gcp-isms (#2393)
  release/build-base-images.sh
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

push oci helm charts to ghcr (#2398) (#2400)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger istio 1.31.0 rc.2 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger istio 1.31.0 rc.2 build (#2403)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.31 in istio/release-builder@release-1.31 (#2401)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

publish istio 1.31.0-rc.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish istio 1.31.0-rc.2 (#2404)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29 (#2405)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger publish for 1.29.7
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

fix release-builder hardcoded url
  pkg/publish/cmd.go
  pkg/publish/helm.go
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger publish for 1.30.4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

fix release-builder hardcoded url (#2406)
  pkg/publish/cmd.go
  pkg/publish/helm.go
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger rc3
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

fix release-builder hardcoded url (#2409)
  pkg/publish/cmd.go
  pkg/publish/helm.go
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger rc3 (#2411)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2412)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger publish 1.31.0-rc.3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish 1.31.0-rc.3 (#2413)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit
