Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/build-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

dry-run_release-builder:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/publish-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: COSIGN_KEY
  ...

Address changes from review
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Adding test for review scenario
  pkg/util/git_test.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fix: avoid duplicate base-image PRs by reusing stable branch (#2439)
  pkg/build/scanner.go
  pkg/build/scanner_test.go
  pkg/util/git.go
  pkg/util/git_test.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build 1.32.0-alpha.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

use prow/aws paths and --skip-image-tagging in setupProw
  pkg/branch/setupProw.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

use prow/aws paths and --skip-image-tagging in setupProw (#2445)
  pkg/branch/setupProw.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build 1.32.0-alpha.0 (#2444)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish 1.32.0-alpha.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish 1.32.0-alpha.0 (#2446)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.29] Build release 1.29.9
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.32] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.32] Automated branching step 4 (#2448)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

use crane to find build-tools tag in step 5
  pkg/branch/updateCommonFilesCommon.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

use crane to find build-tools tag in step 5 (#2449)
  pkg/branch/updateCommonFilesCommon.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.32 in istio/release-builder@release-1.32
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.32 in istio/release-builder@release-1.32 (#2450)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
