Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Trigger 1.11.6 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.11.6 build (#920)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.11.6 build (#921)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger build: 1.13.0-beta.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger build: 1.13.0-beta.1 (#922)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger publish: 1.13.0-beta.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger publish: 1.13.0-beta.1 (#923)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#924)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Publish 1.11.6
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.11.6 (#925)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update the dry-run version for main branch to 1.14
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Generate SBOM for istio repository (#893)
  pkg/build/build.go
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add spdx document name
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add sbom for release artifacts
  pkg/build/build.go
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix linting
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Generate SBOM for istio repository
  pkg/build/build.go
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Use k8s/bom instead of spdx-sbom-generator
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add --image-archive for docker image bom generation with bom@0.2.0
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update the dry-run version for main branch to 1.14 (#926)
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Make bom log-level to error
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Make bom log-level to error (#928)
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build for 1.12.3
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish of 1.12.3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger build for 1.12.3 (#929)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#931)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.12 in istio/release-builder@release-1.12
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.12 in istio/release-builder@release-1.12 (#932)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build 1.13.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

build 1.13.0 (#933)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

build 1.13.0 (#934)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13 (#935)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13 (#936)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix lint errors for new common-files update
  pkg/branch/branch.go
  pkg/build/grafana.go
  pkg/source.go
  pkg/util/files.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
