Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Automator: update common-files@master in istio/release-builder@master (#786)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.11 in istio/release-builder@release-1.11
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.11 in istio/release-builder@release-1.11 (#787)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10 (#788)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Build 1.11.3
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Build 1.11.3 (#789)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Build 1.11.3 (#791)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.11.3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.11.3 (#792)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Skip helm charts for CI builds
  pkg/build/build.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

keep charts sane
  pkg/build/build.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Skip helm charts for CI builds (#793)
  pkg/build/build.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.10.5 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.10.5 build (#794)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger second 1.10.5 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Add cosign image signing support
  pkg/publish/cmd.go
  pkg/publish/docker.go
  release/publish.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Switching how cosignkey is called
  release/build.sh
  release/publish.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Also sigining prerelease images and dockerhub images.
  release/build.sh
  release/publish.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Logging error if key is not accessible
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger second 1.10.5 build (#795)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Add cosign image signing support to release-builder (#790)
  pkg/publish/cmd.go
  pkg/publish/docker.go
  release/build.sh
  release/publish.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Triggering build 1.12.0-alpha.2
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Triggering build 1.12.0-alpha.2 (#797)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Updates for new tagging scheme
  pkg/publish/docker.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Updates for new tagging scheme (#796)
  pkg/publish/docker.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix build release tag
  pkg/build/docker.go
  pkg/util/command.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix build release tag (#800)
  pkg/build/docker.go
  pkg/util/command.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Skip validate when version is not semver
  pkg/build/build.go
  pkg/util/command.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Skip validate when version is not semver (#801)
  pkg/build/build.go
  pkg/util/command.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.9.9 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.9.9 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.10.5 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Add --build-base-image flag to build command
  pkg/build/cmd.go
  pkg/build/scanner.go
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove IgnoreVulnerability
  example/manifest.yaml
  pkg/build/cmd.go
  pkg/build/scanner.go
  pkg/manifest.go
  pkg/model/model.go
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix time format
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add back removed script
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add multiarch support
  pkg/build/scanner.go
  pkg/manifest.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove dummy values from manifest
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
