Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/build-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

dry-run_release-builder:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/publish-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: COSIGN_KEY
  ...

Fix lint
  README.md
Due: none

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.29 in istio/release-builder@release-1.29 (#2234)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Adding claude slash command to check health of a current Istio release
  .claude/commands/istio-release-status.md
Due: none

Fix lint issues
  .claude/commands/istio-release-status.md
Due: none

Fix linter errores
  .claude/commands/istio-release-status.md
Due: none

Linter nested list
  .claude/commands/istio-release-status.md
Due: none

Fix all the remaining lint issues
  .claude/commands/istio-release-status.md
Due: none

Adding some improvements to the command
  .claude/commands/istio-release-status.md
Due: none

[Release-1.29] Trigger build Beta release
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.29] Trigger build Beta release (#2236)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.29.0] Trigger publish Beta 0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[Release-1.29.0] Trigger publish Beta 0 (#2237)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Improves the release automation tool (#2231)
  README.md
  pkg/branch/branch.go
  pkg/branch/cmd.go
  pkg/branch/createBranches.go
  pkg/build/cmd.go
  pkg/publish/cmd.go
  pkg/util/git.go
  release/branch.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2238)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[Release-1.29] Trigger 1.29 RC 0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.29] Trigger 1.29 RC 0 build (#2239)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.29] Trigger publish rc.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.29] Trigger publish rc.0 (#2240)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] build 1.27.6
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] build 1.27.6 (#2241)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.29] Trigger 1.29 RC 1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.29] Trigger publish 1.29 RC 1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[Release-1.29] Trigger 1.29 RC 1 build (#2242)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[Release-1.29] Trigger publish 1.29 RC 1 (#2243)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

retrigger
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

retrigger (#2244)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

update
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] retrigger 1.27.6 (#2245)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] publish 1.27.6
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2247)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.28 in istio/release-builder@release-1.28
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build job for 1.28.4
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

build job for 1.28.4 (#2249)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.28 in istio/release-builder@release-1.28 (#2248)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.27] publish 1.27.6 (#2246)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger another RC for 1.28.4
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
