Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

publish 1.27.0-alpha.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

build 1.27.0-alpha.0 (#2131)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish 1.27.0-alpha.0 (#2132)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.27] Automated branching step 4 (#2133)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

allow create PR from a fork repo target istio org
  pkg/branch/branch.go
  pkg/branch/cmd.go
  pkg/build/scanner.go
  pkg/util/git.go
  release/branch.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

allow create PR from a fork repo target istio org (#2134)
  pkg/branch/branch.go
  pkg/branch/cmd.go
  pkg/build/scanner.go
  pkg/util/git.go
  release/branch.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.27 in istio/release-builder@release-1.27
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.27 in istio/release-builder@release-1.27 (#2135)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2136)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.26 in istio/release-builder@release-1.26
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.26 in istio/release-builder@release-1.26 (#2137)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2139)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2140)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/.golangci.yml
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

update dependencies
  go.mod
  go.sum
  licenses/cel.dev/expr/LICENSE
  licenses/cloud.google.com/go/monitoring/LICENSE
  licenses/github.com/GoogleCloudPlatform/opentelemetry-operations-go/detectors/gcp/LICENSE
  licenses/github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/metric/LICENSE
  licenses/github.com/GoogleCloudPlatform/opentelemetry-operations-go/internal/resourcemapping/LICENSE
  licenses/github.com/census-instrumentation/opencensus-proto/LICENSE
  licenses/github.com/cespare/xxhash/v2/LICENSE.txt
  licenses/github.com/cncf/xds/go/LICENSE
  licenses/github.com/envoyproxy/go-control-plane/LICENSE
  licenses/github.com/envoyproxy/protoc-gen-validate/LICENSE
  licenses/go.opentelemetry.io/contrib/detectors/gcp/LICENSE
  licenses/go.opentelemetry.io/otel/sdk/LICENSE
  licenses/go.opentelemetry.io/otel/sdk/metric/LICENSE
Due: none

make gen
  go.mod
  go.sum
  licenses/cel.dev/expr/LICENSE
  licenses/cloud.google.com/go/monitoring/LICENSE
  licenses/github.com/GoogleCloudPlatform/opentelemetry-operations-go/detectors/gcp/LICENSE
  licenses/github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/metric/LICENSE
  licenses/github.com/GoogleCloudPlatform/opentelemetry-operations-go/internal/resourcemapping/LICENSE
  licenses/github.com/cespare/xxhash/v2/LICENSE.txt
  licenses/github.com/cncf/xds/go/LICENSE
  licenses/github.com/containerd/errdefs/LICENSE
  licenses/github.com/containerd/errdefs/pkg/LICENSE
  licenses/github.com/docker/cli/cli/connhelper/internal/syntax/LICENSE
  licenses/github.com/envoyproxy/go-control-plane/envoy/LICENSE
  licenses/github.com/envoyproxy/protoc-gen-validate/LICENSE
  licenses/github.com/go-jose/go-jose/v4/LICENSE
  licenses/github.com/go-jose/go-jose/v4/json/LICENSE
  licenses/github.com/spiffe/go-spiffe/v2/LICENSE
  licenses/github.com/zeebo/errs/LICENSE
  licenses/go.opentelemetry.io/contrib/detectors/gcp/LICENSE
  licenses/go.opentelemetry.io/otel/sdk/LICENSE
  licenses/go.opentelemetry.io/otel/sdk/metric/LICENSE
  licenses/go.yaml.in/yaml/v2/LICENSE
  licenses/gopkg.in/natefinch/lumberjack.v2/LICENSE
  licenses/sigs.k8s.io/yaml/goyaml.v3/LICENSE
Due: none

Automator: update common-files@master in istio/release-builder@master (#2142)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.26.3 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger publish 1.26.3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.26.3 build (#2143)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.25.4 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.25.4 build (#2145)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] trigger build beta.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] trigger build beta.0 (#2146)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] trigger publish beta.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] trigger publish beta.0 (#2147)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger publish 1.26.3 (#2144)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update deps (#2141)
  go.mod
  go.sum
  licenses/github.com/containerd/errdefs/LICENSE
  licenses/github.com/containerd/errdefs/pkg/LICENSE
  licenses/github.com/docker/cli/cli/connhelper/internal/syntax/LICENSE
  licenses/github.com/envoyproxy/go-control-plane/envoy/LICENSE
  licenses/github.com/go-jose/go-jose/v4/LICENSE
  licenses/github.com/go-jose/go-jose/v4/json/LICENSE
  licenses/github.com/spiffe/go-spiffe/v2/LICENSE
  licenses/github.com/zeebo/errs/LICENSE
  licenses/go.yaml.in/yaml/v2/LICENSE
  licenses/gopkg.in/natefinch/lumberjack.v2/LICENSE
  licenses/sigs.k8s.io/yaml/goyaml.v3/LICENSE
Due: none

Automator: update common-files@release-1.27 in istio/release-builder@release-1.27
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.27 in istio/release-builder@release-1.27 (#2149)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger publish 1.25.4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger publish 1.25.4 (#2151)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] build 1.27.0-rc.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] build 1.27.0-rc.0 (#2152)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] publish 1.27.0-rc.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit
