Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Automator: update common-files@master in istio/release-builder@master (#1016)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1017)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1018)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1019)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix helm chart changes changing latest to release
  pkg/build/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix helm chart changes changing latest to release (#1020)
  pkg/build/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix helm chart changes changing latest to release (#1021)
  pkg/build/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Publish 1.12.6 (#1013)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1022)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

replace golint with revive
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

replace golint with revive (#1023)
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1024)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#1025)
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1026)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1027)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13 (#1028)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.12 in istio/release-builder@release-1.12
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.12 in istio/release-builder@release-1.12 (#1029)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build 1.13.3
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

build 1.13.3 (#1030)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

clean golint
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

clean golint (#1031)
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger publish 1.13.3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger publish 1.13.3 (#1032)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1033)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Set release managers as CODEOWNERS for release-1.14
  CODEOWNERS
Due: none

fix automation step 3: prowgen wd
  .gitignore
  pkg/branch/setupProw.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1034)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
