Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Additional logging
  pkg/publish/gcs.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

More logging
  pkg/publish/helm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.27] publish 1.27.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] publish 1.27.2 (#2174)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.26.5 publish (#2172)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger for 1.28.alpha.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish job for 1.28
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

use errors.Is
  pkg/publish/gcs.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Rerun gofmt
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

fixing linter
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix dry run (#2173)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
  pkg/publish/docker.go
  pkg/publish/gcs.go
  pkg/publish/helm.go
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build 1.28.alpha.0 (#2178)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish job for 1.28 (#2176)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[Release-1.28] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[Release-1.28] Automated branching step 4 (#2179)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.28 in istio/release-builder@release-1.28
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.28 in istio/release-builder@release-1.28 (#2180)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

run make gen
  go.mod
  go.sum
  licenses/github.com/cyphar/filepath-securejoin/LICENSE
  licenses/github.com/cyphar/filepath-securejoin/NONE
  licenses/github.com/gogo/protobuf/LICENSE
  licenses/github.com/klauspost/cpuid/v2/LICENSE
  licenses/go.opentelemetry.io/contrib/detectors/gcp/LICENSE
  licenses/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/LICENSE
  licenses/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/LICENSE
  licenses/go.opentelemetry.io/otel/LICENSE
  licenses/go.opentelemetry.io/otel/metric/LICENSE
  licenses/go.opentelemetry.io/otel/sdk/LICENSE
  licenses/go.opentelemetry.io/otel/sdk/metric/LICENSE
  licenses/go.opentelemetry.io/otel/trace/LICENSE
Due: none

update go version
  go.mod
Due: none

update all dependencies (#2181)
  go.mod
  go.sum
  licenses/github.com/cyphar/filepath-securejoin/LICENSE
  licenses/github.com/cyphar/filepath-securejoin/NONE
  licenses/github.com/gogo/protobuf/LICENSE
  licenses/github.com/klauspost/cpuid/v2/LICENSE
  licenses/go.opentelemetry.io/contrib/detectors/gcp/LICENSE
  licenses/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/LICENSE
  licenses/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/LICENSE
  licenses/go.opentelemetry.io/otel/LICENSE
  licenses/go.opentelemetry.io/otel/metric/LICENSE
  licenses/go.opentelemetry.io/otel/sdk/LICENSE
  licenses/go.opentelemetry.io/otel/sdk/metric/LICENSE
  licenses/go.opentelemetry.io/otel/trace/LICENSE
Due: none

[release-1.26] build 1.26.6
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.27.3 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.26] build 1.26.6 (#2182)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger 1.27.3 build (#2183)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.27] publish 1.27.3
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.26.6 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.26.6 publish (#2185)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.27] publish 1.27.3 (#2184)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger build 1.28.beta.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger beta build Release 1.28
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger beta build Release 1.28 (#2188)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publsih Beta 0 for release 1.28
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publsih Beta 0 for release 1.28 (#2189)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

1.28 beta 1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

1.28 beta 1 (#2190)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish Release-1.28.beta.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish Release-1.28.beta.1 (#2191)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

[release-1.28] build trigger for 1.28.0-rc.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit
