Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
          cpu: '5'
          memory: 3Gi
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
          cpu: '5'
          memory: 3Gi
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: COSIGN_KEY
        valueFrom:
          secretKeyRef:
            key: key
            name: cosign-key
      - name: DOCKER_CONFIG
        value: /etc/rel-pipeline-docker-config
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: COSIGN_KEY
        valueFrom:
          secretKeyRef:
            key: key
            name: cosign-key
      - name: DOCKER_CONFIG
        value: /etc/rel-pipeline-docker-config
  ...

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@master in istio/release-builder@master (#1234)
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1235)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Test - Add semver err to log
  common/.commonfiles.sha
  common/scripts/setup_env.sh
  pkg/util/command.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Test - Add semver err to log (#1237)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
  pkg/util/command.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.16] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.16] Automated branching step 4 (#1238)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.15] Build 1.15.3
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.15] Build 1.15.3 (#1239)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16 (#1240)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#1241)
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.16.0-beta.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.16.0-beta.0 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1242)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Manual update-common
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Manual update-common (#1246)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1247)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/gobuild.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1248)
  common/.commonfiles.sha
  common/scripts/gobuild.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.16.0-beta.0 build (#1243)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.16.0-beta.0 publish (#1244)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update dependencies
  go.mod
  go.sum
  licenses/github.com/googleapis/go-type-adapters/LICENSE
  licenses/go.uber.org/multierr/LICENSE.txt
  licenses/istio.io/pkg/LICENSE
Due: none

Update dependencies (#1249)
  go.mod
  go.sum
  licenses/github.com/googleapis/go-type-adapters/LICENSE
  licenses/go.uber.org/multierr/LICENSE.txt
  licenses/istio.io/pkg/LICENSE
Due: none

Automator: update common-files@master in istio/release-builder@master (#1250)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger beta1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger beta1 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger beta1 build (#1251)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger beta1 publish (#1252)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

fix-publish-vars - replaced hard coded helm & dockerhub
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

make deb/rpm support multi arch
  pkg/build/debian.go
  pkg/build/rpm.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

update
  pkg/build/debian.go
  pkg/build/rpm.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
