Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
          cpu: '5'
          memory: 3Gi
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2022-06-13T19-37-37
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
          cpu: '5'
          memory: 3Gi
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: COSIGN_KEY
        valueFrom:
          secretKeyRef:
            key: key
            name: cosign-key
      - name: DOCKER_CONFIG
        value: /etc/rel-pipeline-docker-config
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: COSIGN_KEY
        valueFrom:
          secretKeyRef:
            key: key
            name: cosign-key
      - name: DOCKER_CONFIG
        value: /etc/rel-pipeline-docker-config
  ...

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1428)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@master in istio/release-builder@master (#1429)
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Run SBOM for 'context' mode
  pkg/build/build.go
  pkg/build/sbom.go
  pkg/manifest.go
  pkg/model/model.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16 (#1432)
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15 (#1431)
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

fix lint
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17 (#1433)
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Add version prefix
  pkg/build/sbom.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1434)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Use `ISTIO_BASE_REGISTRY` to scan base image when it is set
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Use `ISTIO_BASE_REGISTRY` to scan base image when it is set (#1435)
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17 (#1436)
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15 (#1437)
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16 (#1438)
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Add sbom uri to build.sh
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#1439)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/.golangci.yml
Due: none

fix image pushing
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Push to correct registry
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.15.7 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.15.7 publish (#1442)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.16.4 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.16.4 publish (#1443)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update trigger-build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

[release-1.17] Trigger 1.17.2 publish (#1427)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1446)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#1447)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Manual update of common-files
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Manual update of common-files (#1448)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
