Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Fix timeout retry and don't fail with error if ignoring vulnerabilties
  pkg/build/build.go
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix lint
  pkg/build/build.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

return err instead of breaking out of loop
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#676)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10 (#677)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#678)
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#679)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix timeout retry and don't fail with error if ignoring vulnerabilties (#675)
  pkg/build/build.go
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Code review comment
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

replace github commands with go-git (#674)
  go.mod
  go.sum
  licenses/github.com/ProtonMail/go-crypto/LICENSE
  licenses/github.com/emirpasic/gods/LICENSE
  licenses/github.com/go-git/gcfg/LICENSE
  licenses/github.com/go-git/go-billy/v5/LICENSE
  licenses/github.com/go-git/go-git/v5/LICENSE
  licenses/github.com/imdario/mergo/LICENSE
  licenses/github.com/jbenet/go-context/LICENSE
  licenses/github.com/kevinburke/ssh_config/LICENSE
  licenses/github.com/mitchellh/go-homedir/LICENSE
  licenses/github.com/sergi/go-diff/LICENSE
  licenses/github.com/xanzy/ssh-agent/LICENSE
  licenses/gopkg.in/warnings.v0/LICENSE
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Release 1.10.2.
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Release 1.9.6
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Release 1.9.6 (#681)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Release 1.10.2. (#680)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#682)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#683)
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Branch Enhancements
  example/manifest_branch.yaml
  pkg/model/model.go
  release/branch.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Print Error when sanitize charts fails
  pkg/build/build.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update build.go
  pkg/build/build.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#686)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Print Error when sanitize charts fails (#685)
  pkg/build/build.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update to use Trivy
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Replace IBM scanner with Trivy
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Manual cherry pick of #674 to replace github commands with go-git
  go.mod
  go.sum
  licenses/github.com/ProtonMail/go-crypto/LICENSE
  licenses/github.com/emirpasic/gods/LICENSE
  licenses/github.com/go-git/gcfg/LICENSE
  licenses/github.com/go-git/go-billy/v5/LICENSE
  licenses/github.com/go-git/go-git/v5/LICENSE
  licenses/github.com/google/go-github/v35/LICENSE
  licenses/github.com/imdario/mergo/LICENSE
  licenses/github.com/jbenet/go-context/LICENSE
  licenses/github.com/kevinburke/ssh_config/LICENSE
  licenses/github.com/mitchellh/go-homedir/LICENSE
  licenses/github.com/sergi/go-diff/LICENSE
  licenses/github.com/xanzy/ssh-agent/LICENSE
  licenses/gopkg.in/warnings.v0/LICENSE
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.9] Fix timeout retry and don't fail with error if ignoring vulnerabilties (#689)
  pkg/build/build.go
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Manual cherry pick of #674 to replace github commands with go-git (#690)
  go.mod
  go.sum
  licenses/github.com/ProtonMail/go-crypto/LICENSE
  licenses/github.com/emirpasic/gods/LICENSE
  licenses/github.com/go-git/gcfg/LICENSE
  licenses/github.com/go-git/go-billy/v5/LICENSE
  licenses/github.com/go-git/go-git/v5/LICENSE
  licenses/github.com/google/go-github/v35/LICENSE
  licenses/github.com/imdario/mergo/LICENSE
  licenses/github.com/jbenet/go-context/LICENSE
  licenses/github.com/kevinburke/ssh_config/LICENSE
  licenses/github.com/mitchellh/go-homedir/LICENSE
  licenses/github.com/sergi/go-diff/LICENSE
  licenses/github.com/xanzy/ssh-agent/LICENSE
  licenses/gopkg.in/warnings.v0/LICENSE
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
