Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, dry-run_release-builder, publish-warning_release-builder, build-release_release-builder_postsubmit, dry-run_release-builder_postsubmit, publish-release_release-builder_postsubmit

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/build-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

dry-run_release-builder:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/publish-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: GOMAXPROCS
        value: '3'
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-a45db55f6be0f98a625f52e3b58564dd1568b75b
      name: ''
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: COSIGN_KEY
  ...

trigger 1.24.6 release (#2109)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2111)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2112)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2113)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2114)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.26.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.26.1 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.26.1 build (#2115)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

rebuild 1.26.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

rebuild 1.26.1 (#2117)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.26.1 publish (#2116)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2118)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2119)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2120)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

bumping release to 1.26.2
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger publish for 1.26.2
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

bumping release to 1.26.2 (#2122)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.24 in istio/release-builder@release-1.24
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.24 in istio/release-builder@release-1.24 (#2124)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.25 in istio/release-builder@release-1.25
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.25 in istio/release-builder@release-1.25 (#2125)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2126)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2127)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger publish for 1.26.2 (#2123)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.26 in istio/release-builder@release-1.26
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.26 in istio/release-builder@release-1.26 (#2128)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2129)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#2130)
  common/.commonfiles.sha
  common/scripts/kind_provisioner.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build 1.27.0-alpha.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  dry-run_release-builder: any of: \.go$|\.sh$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
