Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14 (#1213)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

trigger 1.14.5 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger publish of Istio 1.14.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger 1.14.5 build (#1214)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.15 in istio/release-builder@release-1.15 (#1216)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  LICENSE
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#1218)
  LICENSE
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

trigger build (#1215)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger the build for Istio 1.13.9
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger the publish of Istio 1.13.9
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger the build for Istio 1.13.9 (#1219)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger rebuild
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

trigger rebuild (#1221)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger a new build for Istio 1.13.9
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1223)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger a new build for Istio 1.14.5
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger a new build for Istio 1.14.5 (#1224)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger a new build for Istio 1.13.9 (#1222)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger 1.15.2 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger 1.15.2 build (#1226)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#1227)
  common/.commonfiles.sha
  common/config/.golangci.yml
Due: none

trigger publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger the publish of Istio 1.13.9 (#1220)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish of Istio 1.14.5 (#1217)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

trigger publish (#1228)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

helm publish: disable caching
  pkg/publish/gcs.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

helm publish: disable caching (#1229)
  pkg/publish/gcs.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

helm publish: disable caching (#1231)
  pkg/publish/gcs.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

helm publish: disable caching (#1232)
  pkg/publish/gcs.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

helm publish: disable caching (#1230)
  pkg/publish/gcs.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none

Automator: update common-files@master in istio/release-builder@master (#1233)
  common/.commonfiles.sha
  common/scripts/metallb.yaml
Due: none
