Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2022-04-13T06-06-40
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
          cpu: '5'
          memory: 3Gi
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2022-04-13T06-06-40
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2022-04-13T06-06-40
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2022-04-13T06-06-40
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
          cpu: '5'
          memory: 3Gi
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: COSIGN_KEY
        valueFrom:
          secretKeyRef:
            key: key
            name: cosign-key
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: COSIGN_KEY
        valueFrom:
          secretKeyRef:
            key: key
            name: cosign-key
  ...

helm repo: push only to GCR (#1056)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

helm repo: push only to GCR
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

helm repo: push only to GCR (#1057)
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update cosign flag
  pkg/publish/cmd.go
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update cosign flag (#1058)
  pkg/publish/cmd.go
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update cosign flag (#1059)
  pkg/publish/cmd.go
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

retrigger alpha publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

retrigger alpha publish (#1060)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.12.7 (#1052)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.14.0-alpha.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1062)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1063)
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Build 1.14.beta.0
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.14 in istio/release-builder@release-1.14 (#1064)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Build 1.14.beta.0 (#1065)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.13 in istio/release-builder@release-1.13 (#1066)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1067)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build 1.13.4
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

build 1.13.4 (#1068)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish of 1.14.0.beta
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish of 1.14.0.beta (#1069)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1070)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

build 1.13.4 (#1071)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

publish 1.13.4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

publish 1.13.4 (#1072)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1073)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger build of release 1.14.0-beta.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger build of release 1.14.0-beta.1 (#1074)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish release 1.14.0.beta.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1076)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
