Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Use the GITHUB_TOKEN_FILE specified in the build containerx
  release/branch.sh
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger publish for 1.10.0-alpha.0
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish for 1.10.0-alpha.0 (#618)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Use the GITHUB_TOKEN_FILE specified in the build containerx (#617)
  release/branch.sh
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Manual CP of #615 - Add GH token
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Manual CP of #615 - Add GH token (#619)
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Manual CP of #615 - Add GH token (#620)
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#621)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

skip envoy in branch cut step
  pkg/branch/createBranches.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

skip envoy in branch cut step (#622)
  pkg/branch/createBranches.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update trigger-publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.8.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Update trigger-publish (#624)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.8.5 (#625)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.10.0-alpha.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.10.0-alpha.1 build (#626)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 2nd 1.10.0-alpha.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 2nd 1.10.0-alpha.1 build (#627)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish for 1.10.0-alpha.1
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger third 1.10.0-alpha.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger third 1.10.0-alpha.1 build (#629)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Point release-1.10 branch back to istio/envoy
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger a fourth 1.10.0-alpha.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Point release-1.10 branch back to istio/envoy (#623)
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger a fourth 1.10.0-alpha.1 build (#630)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10 (#631)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger publish for 1.10.0-alpha.1 (#628)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9 (#632)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Point 1.10 branch to envoyproxy/envoy for envoy commits
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Point 1.10 branch to envoyproxy/envoy for envoy commits (#633)
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#634)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Build 1.9.4
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.9.4
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Build 1.9.4 (#635)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.10.0-rc.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit
