Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-cc8d9caebe583f65880346fd7e3bd68dc67ea9ea
      name: ''
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/build-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-cc8d9caebe583f65880346fd7e3bd68dc67ea9ea
      name: ''
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - release/publish-warning.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-cc8d9caebe583f65880346fd7e3bd68dc67ea9ea
      name: ''
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      image: gcr.io/istio-testing/build-tools:master-cc8d9caebe583f65880346fd7e3bd68dc67ea9ea
      name: ''
  ...

build-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/build.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: COSIGN_KEY
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  spec:
    automountServiceAccountToken: false
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      env:
      - name: BUILD_WITH_CONTAINER
        value: '0'
      - name: COSIGN_KEY
  ...

Disable secret scanning in trivy (#1542)
  pkg/build/scanner.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Allow inline docker configuration (#1535)
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1543)
  .devcontainer/devcontainer.json
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.18 in istio/release-builder@release-1.18
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.18 in istio/release-builder@release-1.18 (#1544)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Revert "Allow inline docker configuration (#1532)"
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Revert "Allow inline docker configuration (#1537)"
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Revert "Allow inline docker configuration (#1536)"
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Revert "Allow inline docker configuration (#1535)"
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

publish: push to target repo, not original repo
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

publish: push to target repo, not original repo (#1549)
  pkg/publish/docker.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Revert "Allow inline docker configuration (#1532)" (#1545)
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Revert "Allow inline docker configuration (#1537)" (#1546)
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.16 in istio/release-builder@release-1.16 (#1550)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Revert "Allow inline docker configuration (#1536)" (#1547)
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Revert "Allow inline docker configuration (#1535)" (#1548)
  release/build.sh
  release/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Retrigger 1.19 alpha with fixed pushing logic
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Retrigger 1.19 alpha with fixed pushing logic (#1551)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Remove DOCKER_CONFIG_DATA from build-base-images.sh as well
  release/build-base-images.sh
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Publish 1.19.0-alpha.0 build
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove DOCKER_CONFIG_DATA from build-base-images.sh as well (#1552)
  release/build-base-images.sh
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Publish 1.19.0-alpha.0 build (#1553)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17 (#1554)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Build 1.19.0-alpha.1
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Build 1.19.0-alpha.1 (#1555)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Update trigger-publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Stop hardcoding github token file (#1534)
  release/build.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Allow GH_TOKEN and GITHUB_TOKEN (#1538)
  README.md
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Cleanup base image building to use explicit script (#1539)
  release/build-base-images.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
