Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

dry-run_release-builder:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/publish-warning.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: '1'
          memory: 3Gi
  ...

dry-run_release-builder_postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - test/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

build-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/build.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

publish-release_release-builder_postsubmit:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    containers:
    - command:
      - entrypoint
      - release/publish.sh
      image: gcr.io/istio-testing/build-tools:master-2021-03-01T22-30-49
      name: ''
      resources:
        limits:
          cpu: '8'
          memory: 24Gi
        requests:
  ...

Trigger 1.10.0-rc.0 build (#637)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.10.0-rc.0 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.9.4 (#636)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.10.0-rc.0 publish (#638)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.10.0-rc.1 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9 (#640)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#641)
  Makefile
  common/.commonfiles.sha
Due: none

Trigger 1.10.0-rc.1 build (#639)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger 1.10.0-rc.1 publish
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger 1.10.0-rc.1 publish (#642)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10 (#643)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Run go mod tidy
  go.sum
Due: none

Update dependencies to latest versions
  go.mod
Due: none

Update imports for yaml dependency
  pkg/build/build.go
  pkg/build/helm.go
  pkg/manifest.go
  pkg/publish/github.go.orig
  pkg/util/command.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Run make gen
  licenses/cloud.google.com/go/logging/LICENSE
  licenses/cloud.google.com/go/storage/LICENSE
  licenses/cloud.google.com/go/third_party/pkgsite/LICENSE
  licenses/github.com/go-logr/logr/LICENSE
  licenses/github.com/golang/groupcache/LICENSE
  licenses/github.com/google/go-cmp/LICENSE
  licenses/github.com/google/go-github/v35/LICENSE
  licenses/github.com/googleapis/gax-go/v2/LICENSE
  licenses/github.com/hashicorp/golang-lru/LICENSE
  licenses/golang.org/x/sync/LICENSE
  licenses/google.golang.org/api/googleapi/internal/uritemplates/LICENSE
  licenses/google.golang.org/api/internal/third_party/uritemplates/LICENSE
  licenses/google.golang.org/protobuf/LICENSE
  licenses/k8s.io/klog/v2/LICENSE
  licenses/sigs.k8s.io/yaml/LICENSE
Due: none

Bad rebase
  pkg/publish/github.go.orig
Due: none

Fix bad imports
  pkg/branch/branch.go
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Update dependencies to latest versions (#644)
  go.mod
  go.sum
  licenses/cloud.google.com/go/logging/LICENSE
  licenses/cloud.google.com/go/storage/LICENSE
  licenses/cloud.google.com/go/third_party/pkgsite/LICENSE
  licenses/github.com/go-logr/logr/LICENSE
  licenses/github.com/golang/groupcache/LICENSE
  licenses/github.com/google/go-cmp/LICENSE
  licenses/github.com/google/go-github/v35/LICENSE
  licenses/github.com/googleapis/gax-go/v2/LICENSE
  licenses/github.com/hashicorp/golang-lru/LICENSE
  licenses/golang.org/x/sync/LICENSE
  licenses/google.golang.org/api/googleapi/internal/uritemplates/LICENSE
  licenses/google.golang.org/api/internal/third_party/uritemplates/LICENSE
  licenses/google.golang.org/protobuf/LICENSE
  licenses/k8s.io/klog/v2/LICENSE
  licenses/sigs.k8s.io/yaml/LICENSE
  pkg/branch/branch.go
  pkg/build/build.go
  pkg/build/helm.go
  pkg/manifest.go
  pkg/publish/github.go
  pkg/util/command.go
  pkg/util/git.go
  pkg/validate/validate.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#645)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9 (#646)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.10.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Publish 1.9.5
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.8.6
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.8.6 (#649)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.8
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.8 (#651)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Publish 1.9.5 (#648)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@release-1.10 in istio/release-builder@release-1.10 (#652)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Automator: update common-files@release-1.9 in istio/release-builder@release-1.9 (#653)
  common/.commonfiles.sha
  common/config/.golangci-format.yml
  common/config/.golangci.yml
Due: none

Trigger 1.10.0 build (#647)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger second release 1.10.0 build to capture dep update
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger second release 1.10.0 build to capture dep update (#654)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$
