Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: dry-run_release-builder, build-warning_release-builder, publish-warning_release-builder, dry-run_release-builder_postsubmit, build-release_release-builder_postsubmit, publish-release_release-builder_postsubmit

Path conditions:
  dry-run_release-builder: any of: \.go$|\.sh$
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
  dry-run_release-builder_postsubmit: any of: \.go$|\.sh$
  build-release_release-builder_postsubmit: any of: ^release/trigger-build$
  publish-release_release-builder_postsubmit: any of: ^release/trigger-publish$

Update message
  pkg/branch/updateDependencies.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add dir to cmd
  pkg/branch/updateDependencies.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Add additional item to the Step=1 branch cut process (#1332)
  pkg/branch/updateDependencies.go
  release/trigger-branch
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix branch commits not being created by user
  go.mod
  go.sum
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

make gen to do licenses
  licenses/github.com/cloudflare/circl/LICENSE
  licenses/github.com/cloudflare/circl/ecc/p384/LICENSE
  licenses/github.com/pjbgf/sha1cd/NONE
  licenses/github.com/skeema/knownhosts/LICENSE
Due: none

common-files config update for license
  common/config/license-lint.yml
Due: none

Fix license lint
  common/config/license-lint.yml
Due: none

Move to later commit of sha1cd which has LICENSE file
  common/config/license-lint.yml
  go.mod
  go.sum
  licenses/github.com/pjbgf/sha1cd/LICENSE
  licenses/github.com/pjbgf/sha1cd/NONE
Due: none

Fix branch commits not being created by user (#1333)
  go.mod
  go.sum
  licenses/github.com/cloudflare/circl/LICENSE
  licenses/github.com/cloudflare/circl/ecc/p384/LICENSE
  licenses/github.com/pjbgf/sha1cd/LICENSE
  licenses/github.com/skeema/knownhosts/LICENSE
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Also create a new branch in istio/repo (need in step 4)
  pkg/branch/createBranches.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Also create a new branch in istio/repo (need in step 4) (#1334)
  pkg/branch/createBranches.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.17] Automated branching step 4
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

MOve the CODEOWNERS change from step 4 to step 5 for common-files
  pkg/branch/updateCodeOwners.go
  pkg/branch/updateCommonFilesCommon.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.17] Automated branch step4 (#1335)
  CODEOWNERS
  common/Makefile.common.mk
  example/manifest.yaml
  go.mod
  go.sum
  licenses/github.com/cloudflare/circl/LICENSE
  licenses/github.com/cloudflare/circl/ecc/p384/LICENSE
  licenses/github.com/pjbgf/sha1cd/LICENSE
  licenses/github.com/skeema/knownhosts/LICENSE
  pkg/util/git.go
  release/build.sh
  test/publish.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

MOve the CODEOWNERS change from step 4 to step 5 for common-files (#1336)
  pkg/branch/updateCodeOwners.go
  pkg/branch/updateCommonFilesCommon.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17 (#1337)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1338)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove the arm64 and amd64 images while searching for new image
  pkg/branch/updateCommonFilesCommon.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.17.0-beta.0 build
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17 (#1339)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Remove the arm64 and amd64 images while searching for new image (#1340)
  pkg/branch/updateCommonFilesCommon.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix for base image update missing Author in commit
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@release-1.17 in istio/release-builder@release-1.17 (#1342)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix import
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1343)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Fix for base image update missing Author in commit (#1344)
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

[release-1.17] Fix for base image update missing Author in commit (#1345)
  pkg/util/git.go
Due: dry-run_release-builder, dry-run_release-builder_postsubmit

Trigger 1.17.0-beta.0 build (#1341)
  release/trigger-build
Due: build-warning_release-builder, build-release_release-builder_postsubmit

Trigger publish of release-1.17
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Trigger publish of release-1.17 (#1346)
  release/trigger-publish
Due: publish-warning_release-builder, publish-release_release-builder_postsubmit

Automator: update common-files@master in istio/release-builder@master (#1347)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: dry-run_release-builder, dry-run_release-builder_postsubmit
